.clone-jetpack__keep .tile-grid__image img {
	width: 40%;
	margin: 15% auto 20%;
	padding-left: 7%;
}

.clone-jetpack__migrate .tile-grid__image img {
	width: 76%;
	margin: 21% auto 26%;
	padding-left: 3%;
}
