.backup-activity-log .filterbar .filterbar__wrap.card {
	display: flex;
}

.backup-activity-log__content {
	margin-top: 32px;
	margin-bottom: 32px;
}

.backup-activity-log__header {
	& > * {
		&:not( :first-child ) {
			margin-top: 16px;
		}
	}

	// use sub-section styling at mobile sizes
	@include breakpoint( '<660px' ) {
		h2 {
			font-size: 16px;
			font-weight: 600;
			line-height: 23px;
		}
	}
}
