.backup-storage-space {
	margin-top: 1rem;
	padding: 16px 32px;
	background: #fff;
	box-shadow: 0 0 0 1px var( --color-neutral-5 );

	&__loading {
		@include placeholder( --color-neutral-10 );
		height: 24px;
		box-shadow: none;
	}
}

.backup-storage-space__progress-bar-container {
	display: flex;
	flex-direction: column;
	column-gap: 24px;

	@include breakpoint-deprecated( '>960px' ) {
		flex-direction: row;
	}
}

.backup-storage-space__progress-bar {
	flex-grow: 1;

	.progress-bar {
		&.no-warning {
			.progress-bar__progress {
				background-color: var( --studio-gray-80 );
			}
		}

		&.yellow-warning {
			.progress-bar__progress {
				background-color: var( --studio-yellow-30 );
			}
		}

		&.red-warning {
			.progress-bar__progress {
				background-color: var( --studio-red-40 );
			}
		}
	}
}

.backup-storage-space__divider {
	margin: 16px -32px;
	border-bottom: 1px solid var( --color-neutral-10 );
}

.backup-storage-space__progress-heading {
	font-weight: 600;
	margin-block-end: 8px;

	@include breakpoint-deprecated( '>960px' ) {
		margin-block-end: initial;
	}
}

.backup-storage-space__progress-usage-text {
	color: var( --color-text-subtle );
}
