@import '@wordpress/base-styles/_breakpoints.scss';
@import '@wordpress/base-styles/_mixins.scss';

.seller-upgrade-modal {
    display: flex;
    flex-direction: column;

    @include break-medium() {
        flex-direction: row;
    }

    .seller-upgrade-modal__heading {
        @extend .wp-brand-font;
        font-size: $font-headline-medium;
    }
    .seller-upgrade-modal__price {
        font-size: $font-headline-small;
    }
}