@import '@wordpress/base-styles/mixins';
@import '@wordpress/base-styles/variables';

.commissions-info {
	color: var(--color-success);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@include heading-large;
}
