.comment-button {
	align-items: center;
	box-sizing: border-box;
	color: var(--color-text-subtle);
	cursor: pointer;
	display: inline-flex;
	list-style-type: none;
	padding: 4px;
	position: relative;

	&:hover,
	&:active {
		color: var(--color-link);
	}

	.comment-button__label-status {
		@include breakpoint-deprecated( "<480px" ) {
			display: none;
		}
	}
}

.reader-full-post__story .comment-button {
	padding: 0;
	top: -1px;
}

.comment-button__label {
	font-size: 13px;
	font-weight: 500;
	margin-left: -1px;
	position: relative;
	top: 1px;

	&:empty {
		display: none;
	}

	.comment-button__label-count {
		font-size: 13px;
		margin-right: 4px;
		position: relative;
		top: 5px;
	}
}

.comment-button__icon {
	position: relative;
	top: 2px;
	margin-right: 5px;
}
