.reader-featured-image {
	align-items: center;
	/* stylelint-disable-next-line scales/radii */
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	max-height: 300px;
	overflow-y: hidden;
	img {
		/* stylelint-disable-next-line scales/radii */
		border-radius: 6px;
		object-fit: cover;
	}
}
