:root {
	--jetpack-white-off: #f9f9f6;

	--color-primary: var(--studio-jetpack-green);
	--color-primary-rgb: var(--studio-jetpack-green-rgb);
	--color-primary-dark: var(--studio-jetpack-green-70);
	--color-primary-dark-rgb: var(--studio-jetpack-green-70-rgb);
	--color-primary-light: var(--studio-jetpack-green-30);
	--color-primary-light-rgb: var(--studio-jetpack-green-30-rgb);
	--color-primary-0: var(--studio-jetpack-green-0);
	--color-primary-0-rgb: var(--studio-jetpack-green-0-rgb);
	--color-primary-5: var(--studio-jetpack-green-5);
	--color-primary-5-rgb: var(--studio-jetpack-green-5-rgb);
	--color-primary-10: var(--studio-jetpack-green-10);
	--color-primary-10-rgb: var(--studio-jetpack-green-10-rgb);
	--color-primary-20: var(--studio-jetpack-green-20);
	--color-primary-20-rgb: var(--studio-jetpack-green-20-rgb);
	--color-primary-30: var(--studio-jetpack-green-30);
	--color-primary-30-rgb: var(--studio-jetpack-green-30-rgb);
	--color-primary-40: var(--studio-jetpack-green-40);
	--color-primary-40-rgb: var(--studio-jetpack-green-40-rgb);
	--color-primary-50: var(--studio-jetpack-green-50);
	--color-primary-50-rgb: var(--studio-jetpack-green-rgb);
	--color-primary-60: var(--studio-jetpack-green-60);
	--color-primary-60-rgb: var(--studio-jetpack-green-60-rgb);
	--color-primary-70: var(--studio-jetpack-green-70);
	--color-primary-70-rgb: var(--studio-jetpack-green-70-rgb);
	--color-primary-80: var(--studio-jetpack-green-80);
	--color-primary-80-rgb: var(--studio-jetpack-green-80-rgb);
	--color-primary-90: var(--studio-jetpack-green-90);
	--color-primary-90-rgb: var(--studio-jetpack-green-90-rgb);
	--color-primary-100: var(--studio-jetpack-green-100);
	--color-primary-100-rgb: var(--studio-jetpack-green-100-rgb);

	/* Theme Properties */
	--color-accent: var(--studio-gray-50);
	--color-accent-rgb: var(--studio-gray-50-rgb);
	--color-accent-dark: var(--studio-gray-70);
	--color-accent-dark-rgb: var(--studio-gray-70-rgb);
	--color-accent-light: var(--studio-gray-30);
	--color-accent-light-rgb: var(--studio-gray-30-rgb);
	--color-accent-0: var(--studio-gray-0);
	--color-accent-0-rgb: var(--studio-gray-0-rgb);
	--color-accent-5: var(--studio-gray-5);
	--color-accent-5-rgb: var(--studio-gray-5-rgb);
	--color-accent-10: var(--studio-gray-10);
	--color-accent-10-rgb: var(--studio-gray-10-rgb);
	--color-accent-20: var(--studio-gray-20);
	--color-accent-20-rgb: var(--studio-gray-20-rgb);
	--color-accent-30: var(--studio-gray-30);
	--color-accent-30-rgb: var(--studio-gray-30-rgb);
	--color-accent-40: var(--studio-gray-40);
	--color-accent-40-rgb: var(--studio-gray-40-rgb);
	--color-accent-50: var(--studio-gray-50);
	--color-accent-50-rgb: var(--studio-gray-50-rgb);
	--color-accent-60: var(--studio-gray-60);
	--color-accent-60-rgb: var(--studio-gray-60-rgb);
	--color-accent-70: var(--studio-gray-70);
	--color-accent-70-rgb: var(--studio-gray-70-rgb);
	--color-accent-80: var(--studio-gray-80);
	--color-accent-80-rgb: var(--studio-gray-80-rgb);
	--color-accent-90: var(--studio-gray-90);
	--color-accent-90-rgb: var(--studio-gray-90-rgb);
	--color-accent-100: var(--studio-gray-100);
	--color-accent-100-rgb: var(--studio-gray-100-rgb);

	--theme-highlight-color: var(--color-primary-50);
	--theme-highlight-color-rgb: var(--color-primary-50-rgb);
	--color-masterbar-unread-dot-background: var(--studio-pink-20);
}
