@use '@wordpress/base-styles/colors';
@use '@automattic/typography';

.a8c-use-validation {
	:has(:is(input, select):user-invalid) .components-input-control__backdrop {
		--wp-components-color-accent: #{colors.$alert-red};
		border-color: #{colors.$alert-red};
	}
	:is(textarea, input[type="text"]):user-invalid {
		--wp-admin-theme-color: #{colors.$alert-red};
		--wp-components-color-accent: #{colors.$alert-red};
		border-color: #{colors.$alert-red};
	}
}

.a8c-use-validation__error {
	display: flex;
	align-items: center;
	gap: 4px;
	font-family: typography.$sans;
	font-size: 0.75rem;
	color: #{colors.$alert-red};
	animation: a8c-use-validation__error-jump 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes a8c-use-validation__error-jump {
	0% {
		transform: translateY(-4px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
