
.card.google-my-business__stats-nudge {
	// allow section header to perfectly sit over the top of the card
	padding: 0;
	.dismissible-card__close-icon {
		z-index: z-index( 'root', '.google-my-business__stats-nudge.dismissible-card__close-icon' );
		// center the `close icon` in header above it, not the corner of the card
		transform: translateX(2px) translateY(-2px);
	}
}

.google-my-business__stats-nudge-body {
	display: flex;
	flex-direction: row;
	// standard padding
	padding: 11px 24px 11px 24px;
	@include breakpoint( ">960px" ) {
		// support image "flowing" off the edge of card
		max-height: 300px;
		overflow: hidden;
	}
}

.google-my-business__stats-nudge-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include breakpoint( ">960px" ) {
		// the image has about 12 px of whitespace, this helps "balance" the block
		padding-right: 12px;
	}
}

.google-my-business__stats-nudge-title {
	font-size: 18px;
	font-weight: 400;
	@include breakpoint( ">960px" ) {
		font-size: 24px;
	}
}

.google-my-business__stats-nudge-description {
	font-size: 14px;
	font-weight: 300;
	margin: 10px 0;
	@include breakpoint( ">960px" ) {
		font-size: 18px;
	}
}

.google-my-business__stats-nudge-button-row {
	align-content: center;
	display: flex;
	flex-direction: row;
	margin: 16px 0;
	.button {
		// space out buttons
		margin-right: 16px;
	}
}

.google-my-business__stats-nudge-image-wrapper {
	display: none;
	@include breakpoint( ">960px" ) {
		display: block;
		margin-right: 24px;
	}
}

.google-my-business__stats-nudge-image {
	height: auto;
}


