.site-settings__module-settings {
	.press-this {
		.card {
			margin: 0;
			padding: 0;
			box-shadow: none;
		}

		.press-this__link-container {
			margin-bottom: 0;
		}
	}
}

.publishing-tools__email-address {
	display: block;
	margin-bottom: 8px;
}

.post-by-voice__info {
	margin-bottom: 8px;
}
