.site-preview__content {
	flex-grow: 1;
	background-color: var(--studio-white);
	padding: 48px;
	text-align: center;
	overflow-y: auto;

	.expanded-card {
		max-width: 320px;
		width: auto;

		.site-expanded-content__card-footer {
			justify-content: center;
		}
	}
}
