.post-type-list__bulk-edit-bar {
	display: flex;
	align-items: center;
	padding-top: 8px;
	padding-bottom: 8px;

	.count {
		display: inline-block;
		margin-right: 8px;
	}

	.button {
		width: 90px;
		line-height: 14px;
		margin-left: 8px;
	}
}

.post-type-list__post-thumbnail-wrapper {
	display: none;
	position: relative;
	width: 80px;
	align-self: stretch;
	overflow: hidden;

	margin: 8px 0;
	.post-item__card.is-mini & {
		margin: 0;
	}

	&.has-image,
	.post-item__card.is-placeholder & {
		display: block;
	}

	.post-item__card.is-placeholder & {
		@include placeholder;
	}
}

.post-type-list__post-thumbnail {
	position: absolute;
		top: 50%;
		left: 50%;
	transform: translate( -50%, -50% );
	max-height: 100%;
	max-width: none;
}
