.foldable-nav.foldable-card.card {
	margin: 0;
	background-color: transparent;
	box-shadow: none;

	&.is-expanded {
		margin: 0;
	}

	.foldable-card__header {
		padding: 0;
		padding-left: 12px;

		.foldable-card__expand .gridicon {
			color: var(--color-accent-50);
		}

		.foldable-card__main {
			color: var(--color-accent-100);
			@include a4a-font-heading-md;
		}
	}

	.foldable-card__content {
		border-top: none;
		padding: 0;

		p.no-content,
		.components-flex-item {
			color: var(--color-accent-80);
			@include a4a-font-body-md;
			margin-bottom: 0;
		}

		a {
			padding: 8px;
		}

	}

	ul {
		list-style: none;
		margin: 0;
	}

	.sidebar-v2__menu-item {
		&:hover,
		&:focus {
			background: var(--wp-components-color-accent);

			.components-flex-item,
			.sidebar__menu-icon {
				color: var(--color-text-inverted);
			}
		}
	}
}
