.activity-log-banner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;

	// Success!
	&.is-success {
		.activity-log-banner__icon {
			background-color: var( --color-success );
		}
	}

	// Warning
	&.is-warning {
		.activity-log-banner__icon {
			background-color: var( --color-warning );
		}
	}

	// Error! OHNO!
	&.is-error {
		.activity-log-banner__icon {
			background-color: var( --color-error );
		}
	}

	// General notice
	&.is-info {
		.activity-log-banner__icon {
			background-color: var( --color-primary );
		}
	}
}

.activity-log-banner__icon {
	width: 24px;
	height: 24px;
	padding: 8px;
	margin-left: -5px;
	margin-right: 16px;
	border-radius: 50%;
	color: var( --color-white );

	background-color: var( --color-neutral-300 );
}

.activity-log-banner__content {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 200px;
}
.activity-log-banner__title {
	margin-bottom: 8px;
	font-weight: 600;
}
.activity-log-banner__action {
	width: 50px;
}

.activity-log-banner__dismiss {
	color: var( --color-neutral-300 );
	cursor: pointer;
	margin-top: -8px;
	margin-right: -8px;
}

// HappyChat button in success/error banner
.activity-log-banner__happychat-button {
	color: var( --color-neutral-300 );
	padding: 8px 8px 0 0;
	margin-left: 16px;
	display: inline-block;
	vertical-align: text-top;

	.gridicon {
		float: left;
		top: 0;
		margin-right: 8px;
	}
}
