@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.sites-overview {
	height: 100vh;
	padding: 16px;
	@include break-large() {
		padding: 0;
	}
	@include break-wide() {
		padding: 16px;
	}
	&__status-failed {
		border-color: var( --studio-red-50 );
		color: var( --studio-red-50 );
	}
	&__status-warning {
		border-color:  var( --studio-yellow-20 );;
	}
	&__status-add-new {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: fit-content;
		height: 22px;
		background: var( --studio-white );
		box-sizing: border-box;
		border-radius: 12px; /* stylelint-disable-line scales/radii */
		font-weight: 500;
		font-size: 0.75rem;
		vertical-align: middle;
		color: var( --studio-gray-80 );
		border: 1px solid var( --studio-gray-5 );
		padding: 2px 11px;
		span {
			margin: 0 0.2em;
		}
		svg {
			margin-left: -0.4em;
		}
		&:hover {
			background: var( --studio-gray-80 );
			color: var( --studio-white );
		}
	}
	&__grey-icon {
		vertical-align: middle;
		color: var( --studio-gray-40 );
	}
	&__icon-active {
		vertical-align: middle;
		color: var( --studio-gray-5 );
	}
	&__disabled {
		color: var( --studio-gray-5 );
		cursor: not-allowed;
		opacity: 0.5;
	}
	&__row-text {
		display: inline-block;
		font-weight: 500;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;
		vertical-align: middle;
		color: var( --studio-gray-100 );
		@include break-large() {
			width: 100%;
			margin-left: 0;
			font-size: 0.875rem;
		}
	}
	&__vertical-align-middle {
		vertical-align: middle;
	}
	&__error-container {
		background: #414141;
		margin: 0 -6px;
		display: flex;
		align-items: center;
		height: 40px;
		@include break-large() {
			margin: 8px;
		}
	}
	&__error-icon {
		background: #d94f4f;
		padding: 11px;
		color: var( --studio-white );
		width: 5%;
		display: flex;
		align-items: center;
		justify-content: center;
		@include break-large() {
			width: auto;
		}
	}
	&__error-message {
		font-size: 0.75rem;
		color: var( --studio-white );
		padding:0.5em;
		margin: auto 0;
	}
	&__error-message-large-screen {
		display: inline-block;
	}
	&__error-message-link {
		font-size: 0.75rem;
		color: #bbbbbb!important;
		padding: 6px;
		position: absolute;
		right: 16px;
	}
	&__badge {
		font-size: 0.75rem!important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
		@include break-large() {
			max-width: 70px;
		}
		@include break-wide() {
			max-width: fit-content;
		}
	}
	&__tooltip {
		.popover__arrow {
			&::before {
				border-bottom-color: var( --studio-gray-60 )!important;
				top: 1px!important;
			}
		}
		.popover__inner {
			background: var( --studio-gray-60 );
			color: var( --studio-white );
			padding: 10px 12px;
			border: none;
		}
	}
}
