@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.sites-overview {
	.current-section {
		padding: 0 16px;
	}
}

.sites-overview__container {
	padding: 16px 0;

	@include break-large() {
		padding: 6px 0;
	}
}

.sites-overview__content-wrapper {
	max-width: 1500px;
	margin: auto;

	@include break-large() {
		padding: 0;
	}
}
.sites-overview__tabs {
	// We need these negative margin values because we want to make the container full-width,
	// but our element is inside a limited-width parent.
	margin: 0 -32px;

	padding: 0 48px;

	@include break-large() {
		border-bottom: 1px solid var( --color-primary-5 );
	}
}
.sites-overview__content {
	// We need these negative margin values because we want to make the container full-width,
	// but our element is inside a limited-width parent.
	margin: 0 -32px -32px;

	padding: 8px 48px;
	min-height: 100vh;

	@include break-medium() {
		padding: 16px 48px;
	}

	@include break-large() {
		background: rgba( 255, 255, 255, 0.5 );
	}
}
.sites-overview__page-title-container {
	display: none;
	@include break-large() {
		display: block;
	}
}
.sites-overview__page-title {
	color: var( --studio-gray-80 );
	font-weight: 400;
}
.sites-overview__page-subtitle {
	font-size: 0.875rem;
	color: var( --studio-gray-60 );
	margin-bottom: 8px;
}
.sites-overview__status-add-new {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: 22px;
	background: var( --studio-white );
	box-sizing: border-box;
	border-radius: 12px; /* stylelint-disable-line scales/radii */
	font-weight: 500;
	font-size: 0.75rem;
	vertical-align: middle;
	color: var( --studio-gray-80 );
	border: 1px solid var( --studio-gray-5 );
	padding: 2px 11px;
	span {
		margin: 0 0.2em;
	}
	svg {
		margin-inline-start: -0.4em;
	}
	&:hover {
		background: var( --studio-gray-80 );
		color: var( --studio-white );
	}
}
.sites-overview__grey-icon {
	vertical-align: middle;
	color: var( --studio-gray-40 );
}
.sites-overview__icon-active {
	vertical-align: middle;
	color: var( --studio-gray-5 );
}
.sites-overview__disabled {
	color: var( --studio-gray-5 );
	cursor: not-allowed;
	opacity: 0.5;
}
.sites-overview__row-text {
	display: inline-block;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	vertical-align: middle;
	color: var( --studio-gray-100 );
	@include break-zoomed-in {
		width: calc( 100% - 90px );
		margin-inline-start: 8px;
		margin-inline-end: 5px;
		font-size: 1rem;
	}
	@include break-large() {
		width: calc( 100% - 55px );
		margin-inline-start: 32px;
		font-size: 0.875rem;
	}
}
.sites-overview__overlay {
	display: block;
	position: absolute;
	height: 49px;
	width: 20px;
	background: linear-gradient(
		to right,
		rgba( 255, 255, 255, 0.8 ) 30%,
		rgba( 255, 255, 255, 1 ) 100%
	);
	top: 0;
	right: 48px;
	@include break-large() {
		right: 0;
	}
}
.sites-overview__vertical-align-middle {
	vertical-align: middle;
}
.sites-overview__error-container {
	background: #414141;
	margin: 0 -6px;
	display: flex;
	align-items: center;
	height: 40px;
	@include break-large() {
		margin: 8px;
	}
}
.sites-overview__error-icon {
	background: #d94f4f;
	padding: 11px;
	color: var( --studio-white );
	width: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	@include break-large() {
		width: auto;
	}
}
.sites-overview__error-message {
	font-size: 0.75rem;
	color: var( --studio-white );
	padding: 0.5em;
	margin: auto 0;
}
.sites-overview__error-message-large-screen {
	display: none;
	@include break-large() {
		display: inline-block;
	}
}
.sites-overview__error-message-small-screen {
	display: inline-block;
	@include break-large() {
		display: none;
	}
}
.sites-overview__error-message-link {
	font-size: 0.75rem;
	color: #bbbbbb !important;
	padding: 6px;
	position: absolute;
	right: 16px;
}
.sites-overview__badge {
	font-size: 0.75rem !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	@include break-large() {
		max-width: 70px;
	}
	@include break-wide() {
		max-width: fit-content;
	}
}
.sites-overview__tooltip {
	.popover__arrow {
		&::before {
			border-bottom-color: var( --studio-gray-60 ) !important;
			top: 1px !important;
		}
	}
	.popover__inner {
		background: var( --studio-gray-60 );
		color: var( --studio-white );
		padding: 10px 12px;
		border: none;
	}
}
.sites-overview__status-critical {
	color: var( --studio-red-50 );
	position: absolute;
	right: 42px;
	top: 50%;
	transform: translateY( -50% );
	display: inline-flex;
	@include break-large() {
		display: none;
	}
}
.sites-overview__status-count {
	position: absolute;
	right: 42px;
	top: 50%;
	transform: translateY( -50% );
	border-radius: 50%; /* stylelint-disable-line */
	border-width: 2px;
	border-style: solid;
	width: 24px;
	height: 24px;
	text-align: center;
	font-size: 0.75rem;
	line-height: 20px;
	box-sizing: border-box;
	@include break-large() {
		display: none;
	}
}
.sites-overview__status-failed {
	border-color: var( --studio-red-50 );
	color: var( --studio-red-50 );
}
.sites-overview__status-warning {
	border-color: var( --studio-yellow-20 );
}
.sites-overview__section-nav.section-nav {
	.is-selected.section-nav-tab .section-nav-tab__link .count {
		color: var( --color-primary );
	}
	.section-nav__mobile-header {
		.count {
			margin-inline-start: 8px;
		}
		.gridicon {
			margin-inline-start: auto;
		}
	}
	.count {
		background: var( --color-primary-5 );
		border-radius: 3px; // stylelint-disable-line scales/radii
		border: none;
		font-weight: normal;
	}
	margin-bottom: 0;
	@include break-large() {
		background: unset;
		box-shadow: none;
	}
}
@keyframes highlight-tab-animation {
	0% {
		background: var( --color-neutral-70 );
	}
	100% {
		background: unset;
	}
}
@keyframes highlight-tab-animation-count {
	0% {
		color: var( --color-text-inverted );
	}
	100% {
		color: unset;
	}
}
@keyframes highlight-tab-animation-icon {
	0% {
		fill: var( --color-text-inverted );
	}
	100% {
		fill: unset;
	}
}
.sites-overview__highlight-tab.section-nav {
	animation: highlight-tab-animation 0.4s linear;
	.section-nav__mobile-header-text {
		animation: highlight-tab-animation-count 0.4s linear;
	}
	.section-nav__mobile-header .gridicon {
		animation: highlight-tab-animation-icon 0.4s linear;
	}
}
.sites-overview__no-sites {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 16px;
}
