.card.guided-tours__step {
	position: fixed;
	width: calc( 100% - 10px );
	max-width: 410px;
	z-index: z-index( 'root', '.guided-tours__step' );
	background: var( --color-neutral-90 );
	box-shadow: 0 0 0 1px rgbs( 255, 255, 255, 0.6 ),
		0 2px 24px 0 rgba( var( --color-neutral-80-rgb ), 0.5 );
	border-radius: 4px;
	padding-top: 19px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
	animation-duration: 0.15s;
	animation-name: guided-tours__step-fadein;
	animation-timing-function: ease-in-out;

	a {
		color: var( --color-text-inverted );
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	a.button {
		text-decoration: none;
	}

	p {
		color: var( --color-neutral-0 );
		margin-bottom: 16px;

		strong {
			color: var( --color-text-inverted );
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.gridicon {
		vertical-align: middle;
		margin-top: -4px;
	}

	.gridicon[height='18'] {
		position: relative;
		top: 0;
	}

	.tours__title {
		font-size: 140%;
	    display: flex;
	    align-items: center;
	    color: var( --color-text-inverted );
	    margin-bottom: 10px;
	}

	.tours__completed-icon-wrapper {
		background: var( --color-success );
		border-radius: 100%;
		display: inline-block;
		margin-right: 10px;
		width: 25px;
		height: 25px;
	}

	.tours__completed-icon {
		margin-top: -10px;
		margin-left: 2px;
	}
}

.card.guided-tours__step-first {
	animation-duration: 0.25s;
	animation-name: guided-tours__step-slidein;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
}

.card.guided-tours__step-finish {
	top: 20%;
}

@keyframes guided-tours__step-fadein {
	0% {
		opacity: 0;
		transform: translateY( 20px ) scale( 0.98 );
	}
	100% {
		opacity: 1;
		transform: translateY( 0 ) scale( 1 );
	}
}

@keyframes guided-tours__step-slidein {
	0% {
		opacity: 0;
		pointer-events: none;
		transform: translateX( 100% );
	}

	80% {
		transform: translateX( -16px );
	}

	100% {
		opacity: 1;
		pointer-events: auto;
		transform: translateX( 0 );
	}
}

.guided-tours__choice-button-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.guided-tours__choice-button-row,
.guided-tours__single-button-row {
	text-align: center;

	.button {
		min-width: 48%;
	}
	.guided-tours__quit-button,
	a.button {
		color: var( --color-neutral-10 );
		background: none;
		border: 1px rgba( var( --color-surface-rgb ), 0.2 ) solid;
	}

	a.button {
		border-bottom-width: 2px;
		text-decoration: none;

		&:hover,
		&:focus {
			border-color: rgba( var( --color-surface-rgb ), 0.3 );
		}

		.gridicon {
			margin-top: -2px;
			vertical-align: inherit;
		}
	}
}

a.config-elements__text-link,
.config-elements__text-link {
	color: var( --color-text-inverted );

	&:hover {
		text-decoration: none;
	}

	&:visited {
		color: var( --color-text-inverted );
	}
}

.guided-tours__external-link,
.guided-tours__actionstep-instructions {
	color: var( --color-neutral-20 );
	margin-bottom: 0;
	font-style: italic;
	line-height: 1.3em;
	min-height: 24px;

	.external-link {
		font-style: normal;
		color: var( --color-text-inverted );
		border-top: 1px solid var( --color-neutral-70 );
		display: block;
		padding-top: 12px;
		margin-top: 16px;
	}
}

// style the pure text representation of the actionstep icon
.guided-tours__actionstep-text {
	position: relative;
		top: 3px;
	font-style: normal;
	font-size: 190%;
	line-height: 0;
}

// arrow if we have a target
.guided-tours__step-pointing::before {
	position: absolute;
	border: var( --color-neutral-90 );
	content: ' ';
	pointer-events: none;
	background: var( --color-neutral-90 );
	width: 12px;
	height: 12px;
}

// the different arrow directions
.guided-tours__step-pointing.guided-tours__step-pointing-none::before {
	display: none;
}

.guided-tours__step-pointing.guided-tours__step-pointing-top-left::before {
	top: -5.5px;
	left: 12px;
	transform: rotate( 45deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-top-center::before {
	top: -5.5px;
	left: 49%;
	transform: rotate( 45deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-top-right::before {
	top: -5.5px;
	right: 12px;
	transform: rotate( 45deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-right-top::before {
	top: 15px;
	right: -5.5px;
	transform: rotate( 135deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-right-middle::before {
	top: 42%;
	right: -5.5px;
	transform: rotate( 135deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-right-bottom::before {
	bottom: 12px;
	right: -5.5px;
	transform: rotate( 135deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-bottom-right::before {
	bottom: -5.5px;
	right: 12px;
	transform: rotate( 225deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-bottom-center::before {
	bottom: -5.5px;
	left: 49%;
	transform: rotate( 225deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-bottom-left::before {
	bottom: -5.5px;
	left: 12px;
	transform: rotate( 225deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-left-bottom::before {
	bottom: 12px;
	left: -5.5px;
	transform: rotate( -45deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-left-middle::before {
	top: 42%;
	left: -5.5px;
	transform: rotate( -45deg );
}

.guided-tours__step-pointing.guided-tours__step-pointing-left-top::before {
	top: 12px;
	left: -5.5px;
	transform: rotate( -45deg );
}


$guided-tour-step_border: 2px solid white;

.guided-tours__step-dark {
    border: $guided-tour-step_border;
}

.guided-tours__step-dark::before {
    border-left: $guided-tour-step_border;
    border-top: $guided-tour-step_border;
}

.guided-tours__step-dark.guided-tours__step-pointing-top-left::before {
    top: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-top-center::before {
	top: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-top-right::before {
	top: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-right-top::before {
	right: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-right-middle::before {
	right: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-right-bottom::before {
	right: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-bottom-right::before {
	bottom: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-bottom-center::before {
	bottom: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-bottom-left::before {
	bottom: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-left-bottom::before {
	left: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-left-middle::before {
	left: -8.5px;
}

.guided-tours__step-dark.guided-tours__step-pointing-left-top::before {
	left: -8.5px;
}
