.jpo__contact-form-wrapper .card {
	max-width: 320px;
	text-align: center;
}

.jpo__contact-form-wrapper .card svg {
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
}

.jpo__contact-form-wrapper .card .button {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	color: $blue-wordpress;
	padding: 7px;
    line-height: 1;
}

.jpo__contact-form-description {
	font-size: 1.25rem;
	color: $gray;
}