.sidebar {
	overflow: auto;
	padding: 0;
	background: lighten( $gray, 30% );
	position: fixed;
		top: 47px;
		bottom: 0;
		left: 0;

	@include breakpoint( "<960px" ) {
		border-right: 1px solid lighten( $gray, 25% );
		width: $sidebar-width-min;
	}

	@include breakpoint( ">960px" ) {
		border-right: 1px solid lighten( $gray, 25% );
		width: $sidebar-width-max;
	}

	@include breakpoint( "<660px" ) {
		left: -100vw;
		width: 100vw;
		max-height: calc(100vh - 47px );
		pointer-events: none;
		transform: translateX( 0 );
		transition: all 0.15s cubic-bezier(0.770, 0.000, 0.175, 1.000);

		.focus-sidebar & {
			pointer-events: auto;
			-webkit-overflow-scrolling: touch;
			transform: translateX( 100vw );
		}

		.focus-sites & {
			transform: translateX( 100vw );
		}
	}
}


// Clearing out the sidebar list styles
.sidebar {
	margin: 0;

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		position: relative;
	}
}

// Sidebar group headings
.sidebar__heading {
	color: darken( $gray, 10% );
	font-weight: 600;
	font-size: 12px;
	margin: 16px 8px 6px 14px;
}
