.confirm-cancel-domain {
	// the following is a hack so the dropdown selector is not cropped when it overflows its container
	margin-bottom: 300px;

	h3, h4 {
		&:first-of-type {
			margin-top: 10px;
		}
	}
}

.confirm-cancel-domain__help-message,
.confirm-cancel-domain__confirm-container {
	margin-top: 20px;
}

.confirm-cancel-domain__reason-details {
	height: 136px;
}

.confirm-cancel-domain__reasons-dropdown {
	width: 100%;
}
