.reader-sidebar-recent {
	&__site {
		&-name {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&-count {
			font-weight: 400;
			margin-right: 6px; // To get alignment with menu chevron icon; bleh
		}
	}
}
