// custom properties for a8c-for-agencies
:root {
	// border-radius
	--a4a-corners-sharp: 0;
	--a4a-corners-soft: 4px;

	// FIXME: Remove this when we have a proper color scheme
	--color-surface-backdrop: #021a23;

	--color-sidebar-background: #021a23;
	--color-sidebar-menu-hover-background: #02395c;
	--color-sidebar-menu-hover-text: #fff;
	--color-sidebar-menu-selected-background: #02395c;
	--color-sidebar-menu-selected-text: #fff;
	--color-sidebar-text: #fff;
	--color-sidebar-text-alternative: #bbe0fa;
	--color-sidebar-gridicon-fill: #bbe0fa;

	--color-scary-0: var(--studio-red-0);
	--color-scary-5: var(--studio-red-5);
	--color-scary-40: var(--studio-red-40);
	--color-scary-50: var(--studio-red-50);
	--color-scary-60: var(--studio-red-60);
	--color-scary-70: var(--studio-red-70);

	--color-accent: #0088bf;
	--color-accent-60: #0088bf;
	--color-accent-70: #006089;
}

.theme-a8c-for-agencies {
	// Masterbar
	@media only screen and ( min-width: 782px ) {
		--masterbar-height: 46px;
	}
}

// New navigation will not include a masterbar
.theme-a8c-for-agencies .layout.has-no-masterbar {
	--masterbar-height: 0;

	.layout__content {
		padding: 16px;
	}

	@include breakpoint-deprecated( ">660px" ) {
		padding-block-start: 0;

		.layout__content {
			padding: 16px 16px 16px calc(var(--sidebar-width-max));
		}
	}
}

.theme-a8c-for-agencies .layout__secondary {
	border-inline-end: initial;

	// Allow visible overflow, so the profile dropdown menu can be displayed
	overflow: initial;

	// Make the selected-site navigation full-height
	.my-sites__navigation {
		height: 100%;
	}

	.site-selector {
		top: 80px;

		.site-selector__sites {
			border-top: initial;
		}

		.all-sites {
			border-bottom: initial;

			// Remove the long-content fade if All Sites is selected
			.all-sites__title::after {
				display: none;
			}
		}

		.all-sites,
		.site {
			margin: 4px 4px 0 4px;

			&.is-selected,
			&:hover {
				border-radius: 4px;
			}
		}
	}
}

.theme-a8c-for-agencies .current-section {
	margin: -32px 0 0;
}

// Universal Text Styles
html {
	h2 {
		font-size: $font-title-small;
		font-weight: 600;
		line-height: 32px;

		@include breakpoint-deprecated( ">660px" ) {
			font-size: $font-headline-small;
			line-height: 40px;
		}
	}

	h3 {
		font-size: $font-body;
		font-weight: 600;
		line-height: 23px;

		@include breakpoint-deprecated( ">660px" ) {
			font-size: $font-title-small;
			line-height: 23px;
		}
	}

	p {
		font-size: $font-body;
		line-height: 24px;

		@include breakpoint-deprecated( ">660px" ) {
			font-size: $font-title-small;
			line-height: 24px;
		}
	}
}

.layout__secondary {
	border-inline-end: 1px solid var(--color-sidebar-border);
}

.layout.focus-content .layout__secondary {
	@media only screen and ( max-width: 782px ) and ( min-width: 660px ) {
		transform: none;
		padding: 0;
	}
}

.masterbar {
	font-size: $font-body;
}

.site-selector .site-selector__actions {
	padding: 16px;
}

.button.is-primary:hover,
.button.is-primary:focus {
	background-color: var(--color-accent-70);
	border-color: var(--color-accent-70);
	color: var(--color-text-inverted);
}
