.transfer-domain-step {
	padding: 0;

	form.transfer-domain-step__form {
		padding: 20px;
		margin-bottom: 9px;
	}

	.transfer-domain-step__domain-description {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin-bottom: 20px;

		@include breakpoint-deprecated( ">960px" ) {
			flex-direction: row;
		}
	}

	.transfer-domain-step__price {
		font-weight: 600;

		&.is-free-with-plan,
		&.is-sale-price {
			font-weight: 400;
			font-size: 90%;
		}

		@include breakpoint-deprecated( ">960px" ) {
			text-align: right;
		}
	}

	.transfer-domain-step__free-with-plan {
		color: var(--color-neutral-50);
		font-weight: 400;
		font-size: 0.9em;
		line-height: 25px;
	}

	.calypso-notice {
		margin-top: 25px;
	}

	.transfer-domain-step__domain-availability {
		margin-top: 30px;
	}

	.domain-suggestion.card {
		border-left: 3px solid var(--color-success);
	}
}

.transfer-domain-step__title {
	align-items: center;
	display: flex;
	justify-content: space-between;

	.formatted-header {
		flex-basis: 100%;
		margin: 10px 0;
		text-align: left;
	}

	.formatted-header__title,
	.formatted-header__subtitle {
		padding: 0;
	}

	.transfer-domain-step__illustration {
		display: none;
		margin-left: 20px;
		max-width: 140px;

		@include breakpoint-deprecated( ">480px" ) {
			display: block;
		}

		@include breakpoint-deprecated( ">660px" ) {
			display: none;
		}

		@include breakpoint-deprecated( ">960px" ) {
			display: block;
		}
	}
}

.transfer-domain-step__domain-text {
	font-size: 0.9em;
	margin-top: 20px;
}

.transfer-domain-step__go {
	flex-grow: 1;
	margin: 10px 0 0;

	@include breakpoint-deprecated( ">660px" ) {
		min-width: 100px;
		flex-grow: 0;
		margin: 0 0 0 10px;
	}
}

.transfer-domain-step__domain-heading {
	font-size: 1em;
	font-weight: 600;
	margin: auto 0;
}

.transfer-domain-step__add-domain {
	display: flex;
	flex-flow: column;
	width: 100%;

	@include breakpoint-deprecated( ">660px" ) {
		flex-flow: row;
	}
}

.transfer-domain-step__map-option {
	color: var(--color-neutral-50);
}

.transfer-domain-step__map-help {
	color: var(--color-neutral-light);
	position: relative;
	top: 2px;
}

.transfer-domain-step__section-heading-number {
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 50%;
	border: 1px solid var(--color-neutral-10);
	background-color: var(--color-neutral-0);
	color: var(--color-neutral-50);
	font-size: $font-title-small;
	text-align: center;
	margin-right: 15px;
	flex-shrink: 0;
}

.transfer-domain-step__section {
	align-items: center;
	display: flex;
	padding: 5px 0;

	.transfer-domain-step__section-text {
		flex-basis: 100%;
	}

	.transfer-domain-step__section-heading {
		color: var(--color-neutral-50);
		align-items: center;
		display: flex;
		font-size: $font-body;
		justify-content: space-between;
	}

	.transfer-domain-step__section-callout {
		background: var(--color-neutral-0);
		margin: 14px 0;
	}

	&.is-expanded {
		align-items: flex-start;

		.transfer-domain-step__section-heading {
			color: var(--color-neutral-70);
		}
	}

	&.is-complete {
		.transfer-domain-step__section-heading-number {
			background: none;
			border: none;
			color: var(--color-success);

			.gridicon {
				margin-left: -4px;
				margin-top: -4px;
			}
		}
	}
}

.transfer-domain-step__section-action {
	align-items: center;
	display: flex;
	margin-top: 20px;

	.transfer-domain-step__section-action-button {
		margin-right: 15px;
	}
}

.transfer-domain-step__lock-status {
	font-size: $font-body-extra-small;
	display: flex;
	align-items: center;
	margin-left: 10px;

	.gridicon {
		margin-right: 2px;
	}

	&.transfer-domain-step__checking {
		color: var(--color-neutral-light);
	}

	&.transfer-domain-step__unlocked,
	&.transfer-domain-step__auth-code-valid {
		color: var(--color-success);
	}

	&.transfer-domain-step__locked {
		color: var(--color-error);
	}

	&.transfer-domain-step__unknown {
		color: var(--color-warning);
	}

	&.transfer-domain-step__refresh {
		color: var(--color-primary);
		cursor: pointer;
	}
}

.transfer-domain-step__admin-email {
	display: block;
	margin-top: 20px;
	hyphens: auto;
	overflow-wrap: break-word;
	word-break: break-word;
	word-wrap: break-word;
}

.transfer-domain-step__continue-text {
	flex-grow: 1;

	p {
		color: var(--color-neutral-40);
		font-size: $font-body-small;
	}
}

input[type="text"].form-text-input {
	&.transfer-domain-step__auth-code-input {
		width: 200px;
		margin-top: 15px;
	}
}

.transfer-domain-step__continue {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	button {
		flex-shrink: 0;
		margin-top: 15px;
		width: 100%;
	}

	@include breakpoint-deprecated( ">660px" ) {
		flex-direction: row;

		button {
			margin: 0 0 0 15px;
			width: auto;
		}
	}
}

.transfer-domain-step__options {
	label {
		color: var(--color-neutral-50);
	}

	legend {
		small {
			font-size: $font-body-small;
			padding-left: 10px;
			color: var(--color-primary);
		}

		color: var(--color-neutral-70);
		margin-bottom: 0;
		font-size: $font-body;
	}
}
