.transfer-domain-step {
	padding: 0;

	form.transfer-domain-step__form {
		padding: 20px;
		margin-bottom: 9px;
	}

	p {
		margin-bottom: 0;
	}

	.domain-product-price {
		float: left;
		margin-bottom: 20px;
		min-width: 0;

		@include breakpoint( ">960px" ) {
			float: right;
			margin-bottom: 0;
		}
	}

	.notice {
		margin-top: 25px;
	}

	.transfer-domain-step__domain-availability {
		margin-top: 30px;
	}
}

.transfer-domain-step__domain-description {
	font-size: 16px;
	margin-bottom: 20px;
}

.transfer-domain-step__go {
	margin-top: 20px;
	margin-bottom: 10px;
}

.transfer-domain-step__domain-heading {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

.transfer-domain-step__add-domain {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.transfer-domain-step__map-option {
	color: darken( $gray, 20% );
}

.transfer-domain-step__map-help {
	color: $gray;
	position: relative;
	top: 2px;
}

.transfer-domain-step__precheck, .transfer-domain-step__options {
	.foldable-card.card {
		margin-bottom: 0;

		&.is-expanded {
			margin-top: 0;
		}
	}

	.transfer-domain-step__section {
		display: flex;
	}

	.transfer-domain-step__unlocked {
		color: $alert-green;

		svg {
			padding-right: 4px;
		}
	}

	.transfer-domain-step__section-heading-number {
		width: 28px;
		height: 28px;
		line-height: 28px;
		border-radius: 50%;
		border: 1px solid lighten( $gray, 20% );
		background-color: $gray-light;
		color: darken( $gray, 20% );
		font-size: 18px;
		text-align: center;
		margin-right: 15px;
		flex-shrink: 0;
	}

	.transfer-domain-step__section-heading {
		font-size: 16px;
	}

	.transfer-domain-step__section-explanation {
		margin-left: 48px;
	}

	.transfer-domain-step__continue {
		display: flex;
		align-items: center;
		justify-content: space-between;

		button {
			flex-shrink: 0;
			margin-left: 15px;
		}
	}

	.transfer-domain-step__continue-text {
		p {
			color: darken( $gray, 10% );
			font-size: 14px;
			max-width: 500px;
		}
	}

	.section-header {
		font-size: 14px;
	}

	.hide-secondary {
		span {
			&.foldable-card__secondary {
				flex: 0 1;
			}
		}
	}
}

.transfer-domain-step__options {
	label {
		color: darken( $gray, 20% );
	}

	legend {
		small {
			font-size: 14px;
			padding-left: 10px;
			color: $blue-wordpress;
		}

		color: $gray-dark;
		margin-bottom: 0;
		font-size: 16px;
	}
}
