.transfer-domain-step {
	padding: 0;

	form.transfer-domain-step__form {
		padding: 20px;
		margin-bottom: 9px;
	}

	p {
		margin-bottom: 0;
		opacity: 0.7;
	}

	.domain-product-price {
		float: left;
		margin-bottom: 20px;
		min-width: 0;

		@include breakpoint( ">960px" ) {
			float: right;
			margin-bottom: 0;
		}
	}

	.notice {
		margin-top: 25px;
	}

	.transfer-domain-step__domain-availability {
		margin-top: 30px;
	}
}

.transfer-domain-step__domain-description {
	font-size: 16px;
	color: #2e4453;
	margin-bottom: 10px;
}

.transfer-domain-step__go {
	margin-top: 10px;
	margin-bottom: 10px;
}

.transfer-domain-step__domain-heading {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.transfer-domain-step__add-domain {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.transfer-domain-step__map-option {
	font-size: 14px;
	text-align: center;
}

.transfer-domain-step__precheck, .transfer-domain-step__options {
	background: white;

	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ), 0 1px 2px lighten( $gray, 30% );

	div {
		&.foldable-card.card {
			margin-bottom: 0;

			&.is-expanded {
				margin-top: 0;
			}
		}
	}

	.transfer-domain-step__section-heading {
		font-weight: 500;
	}

	.transfer-domain-step__unlocked {
		color: $green-jetpack;

		svg {
			padding-right: 4px;
		}
	}

	.transfer-domain-step__section-heading-number {
		width: 20px;
		height: 20px;
		line-height: 20px;
		display: inline-block;
		border-radius: 15px;
		background-color: rgb(68, 68, 68);
		color: white;
		font-size: 13px;
		cursor: pointer;
		text-align: center;
		margin-right: 5px;
	}

	.transfer-domain-step__continue {
		display: flex;
		justify-content: flex-end;

		button {
			margin: 20px;

			&.transfer-domain-step__in-card {
				margin: 0;
			}
		}
	}

	.foldable-card__content {
		font-size: 13px;
	}

	.section-header {
		font-size: 14px;
	}

	.hide-secondary {
		span {
			&.foldable-card__secondary {
				flex: 0 1;
			}
		}
	}
}
