@import "@automattic/typography/styles/variables";
@import "@automattic/onboarding/styles/mixins.scss";

$headerHeight: 72px;

.blazepress-widget {
	display: flex;
	flex-direction: column;
	z-index: 1001;
	height: 100vh;

	.blazepress-widget__header-bar {
		align-items: center;
		display: flex;
		justify-content: space-between;
		min-height: $headerHeight;
		padding: 0 rem(24px);
		position: fixed;
		width: calc(100% - 3rem);
		background: var(--theme-text-color);
		z-index: 1000;

		@include break-large {
			border-bottom: 1px solid var(--studio-gray-20);
		}

		h2 {
			@include onboarding-font-recoleta;
			font-size: $font-body-large;
			letter-spacing: 0;
			flex: 1;
			line-height: 1;
			padding-top: 3px; // helps align with the logo
		}

		.blaze-logo {
			width: 1.5rem;
			height: 1.5rem;
			fill: var(--color-text);
			margin: 0 rem(10px) 0 0;
		}

		.blazepress-widget__cancel {
			height: 24px;
			cursor: pointer;
			font-style: normal;
			font-weight: 500;
			font-size: $font-body-small;
			padding-top: 5px;
		}
	}
	.blazepress-widget__content {
		display: flex;
		flex-direction: column;
		height: calc(100% - #{$headerHeight});
		margin-top: 72px;
	}
	.blazepress-widget__content.loading {
		justify-content: center;
		align-items: center;
		flex: auto;
	}
	.blazepress-widget__widget-container {
		height: 100%;

		.wpcom-dsp-widget-shadow-dom {
			height: 100%;
		}
	}
}

.blazepress-widget.dialog__backdrop {
	background-color: rgba(var(--color-neutral-100-rgb), 0.6);
}
