@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.main.is-wide-layout.jetpack-pricing-page-rework-v1 {
	max-width: 1192px;
}

.jetpack-product-store {
	display: flex;
	flex-direction: column;

	&__jetpack-free {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 4em 0;

		&--headline {
			font-size: $font-title-large;
			margin-bottom: 1em;
		}
		&--info {
			font-size: $font-body-small;
			text-align: center;
		}
	}
	&__recommendations {
		padding: 4em 0;

		&--title {
			text-align: center;
		}
		&--logos {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			list-style-type: none;
			margin: 0 auto;
			gap: 1.5em;
		}
	}
	&__most-popular {
		margin-top: 3em;
	}

	&__most-popular--heading {
		margin-bottom: 2em;
	}

	&__most-popular--items {
		display: flex;
		justify-content: space-evenly;
	}
	
	&__most-popular--items {
		list-style-type: none;
		display: grid;
		grid-template-columns: 1fr;
		margin-top: 24px;

		@media only screen and ( min-width: 821px ) {
			  grid-column-gap: 24px;
			  grid-template-columns: 1fr 1fr;
			  margin: 32px auto 0;
		  }
	}

	.display-price {
		display: flex;
		align-items: center;
		.plan-price__currency-symbol, .plan-price__integer, .plan-price__fraction {
			font-size: $font-body;
			line-height: normal;
			margin-top: 0;
		}
		.plan-price.is-original {
			.plan-price__currency-symbol, .plan-price__integer, .plan-price__fraction {
				font-weight: 600;
			}
		}
		.plan-price.is-discounted, .plan-price.is-original {
			margin-right: 0.1em;
		}
		.plan-price.is-discounted {
			color: var( --studio-gray-100 );
			font-weight: bold;
		}
		.plan-price.is-original {
			color: var( --studio-gray-100 );
			font-weight: semibold;
		}
		.plan-price.is-original::before, .is-placeholder .plan-price::after {
			display: none;
		}
		&__billing-time-frame, &__expiration-date {
			color: var( --studio-gray-50 );
			font-size: 0.75rem;
			line-height: 24px;
		}
	}

	.display-price:not( .is-placeholder ) {

		.plan-price.is-original:not( .is-placeholder ) {
			color: var( --studio-gray-50 );
			text-decoration: line-through;
		}
	}

	&__products-list-all {
		margin-top: 4em;
	}

	&__products-list-all h3 {
		margin-bottom: 2.5em;
	}

	&__see-all-features {
		display: flex;
		justify-content: center;
		margin: 3rem auto;
	}
	.button {
		color: var( --color-neutral-100 );
		border: 1px solid var( --color-neutral-100 );
		font-family: 'SF Pro Text', $sans;
		font-size: $font-body;
		font-weight: 600;
		min-width: 225px;
	}
	&__items-list .button.is-primary {
		color: var( --color-text-inverted );
		min-width: 5.7em;
	}

	.jetpack-product-store__view-filter {
		margin-top: 0.75em;
	}

	.jetpack-product-store__view-filter
		.jetpack-product-store__view-filter--toggle.segmented-control {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		list-style: none;

		height: 33px;
		background-color: #f2f2f2;
		border-color: var( --studio-gray-5 );
		border-radius: 8px; /* stylelint-disable-line */
		color: var( --color-text );

		margin: 0.5em auto 1em;
		max-width: 21.4375em;

		.segmented-control__item {
			padding: 2px;
			border-radius: 4px;
			border-color: var( --studio-gray-5 );

			cursor: pointer;
			flex: 1 1 auto;

			&:first-child {
				margin-right: 5px;
			}
		}
		.segmented-control__item .segmented-control__link {
			color: var( --color-text );
			padding: 6px 11px;
			border: 1px solid #f2f2f2;

			line-height: 15px;
			height: 15px;
			font-size: 0.75rem;
			font-weight: 600;

			text-align: center;
			transition: color 0.1s linear, background-color 0.1s linear;

			&:hover {
				background-color: unset;
				border: 1px solid var( --studio-gray-10 );
				border-radius: 4px;
			}
		}
		.segmented-control__item.is-selected .segmented-control__link {
			background-color: var( --studio-white );
			border-color: var( --studio-white );

			color: var( --color-text );

			border: 0.5px solid #0000000a;
			border-radius: 4px;
			box-shadow: 0 0.125em 0.5em #0000001f, 0 0.125em 0.0625em #0000000a;

			&:hover {
				background-color: var( --studio-white );
				border-color: #0000000a;
			}
		}
	}
}

.jetpack-product-store__pricing-banner {
	height: 120px;
	margin-bottom: 1.25rem;

	@include break-large {
		height: 54px;
		margin-bottom: 0;
	}
}

.jetpack-product-store__need-more-info {
	background-color: var( --color-surface );
	padding: 5rem 0;
	text-align: center;
}

.jetpack-product-store__need-more-info-headline {
	padding-bottom: 0.9375rem;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: inherit;
}

.jetpack-product-store__need-more-info-buttons {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@include break-medium {
		justify-content: center;
		flex-direction: row;
	}
}

.jetpack-product-store__need-more-info-buttons .more-info-box__more-button.button {
	color: var( --color-neutral-100 );
}
