.threat-history-list {
	&__no-entries {
		color: var(--color-text-subtle);
		font-size: $font-body;
	}

	&__pagination--top {
		margin-bottom: 16px;
	}

	&__pagination--bottom {
		margin-top: 16px;
	}

	&__pagination--top.is-placeholder,
	&__pagination--bottom.is-placeholder {
		height: 34px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		@include placeholder( --color-neutral-10 );

		&.is-compact {
			height: 28px;
		}
	}

	&__filters-wrapper {
		margin: 8px 0 24px;
		text-align: center;
	}

	&__filters.is-placeholder {
		height: 36px;
		max-width: 230px;
		margin: 0 auto;
		border-radius: 2px;
		@include placeholder( --color-neutral-10 );
	}

	.segmented-control {
		max-width: 230px;
		margin: 0 auto;
	}

	&__threats {
		.foldable-card {
			margin-bottom: 0;
		}

		.foldable-card.card.is-expanded {
			margin: 0;
		}

		.foldable-card.is-expanded .foldable-card__content {
			padding: 0;
		}
	}
}
