@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.confirm-cancel-domain__formatted-header.formatted-header {
	margin: 16px 0 8px;
}

.jetpack-cancellation-offer__card strong {
	font-weight: 500;
}

.jetpack-cancellation-offer__headline {
	font-weight: 500;
	font-size: 0.875rem;
}

/* Vertically center the icon (decoration) in solutions cards */
.cancel-purchase-form__solution-card.summary-button {
	> * {
		align-items: center;
	}

	.summary-button-decoration {
		align-items: center;
	}
}
