.credentials-setup-flow {
	cursor: pointer;
}

.credentials-setup-flow__header-gridicon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	color: var( --color-neutral-light );
}

.credentials-setup-flow__header-text {
	display: inline-block;
	vertical-align: middle;
	width: 85%;
}

.credentials-setup-flow__header-text-title {
	font-size: rem( 16px );
}

.credentials-setup-flow__header-text-description {
	font-size: rem( 13px );
	font-style: italic;
}

.credentials-setup-flow__tos-gridicon {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	color: var( --color-primary );
}

.credentials-setup-flow__tos-text {
	display: inline-block;
	vertical-align: top;
	width: 85%;
}

.credentials-setup-flow__tos-buttons {
	display: block;
	text-align: right;
}

.credentials-setup-flow__tos-buttons .is-borderless {
	margin-right: 15px;
}
