.checkout-sidebar-plan-upsell.jetpack {
	.action-panel__title,
	strong,
	div {
		color: var(--studio-gray-80);
	}

	.checkout-sidebar-plan-upsell__plan-grid {
		grid-template-columns: 1fr 1fr;

		> div {
			border-top: none;
		}
	}

	.checkout-sidebar-plan-upsell__plan-grid-cell.section-title {
		border-bottom: 1px solid #ccc;

		:not(:first-child) {
			padding-top: 0.75rem;
		}
	}
}
