@import '@automattic/onboarding/styles/mixins';

.domain-row {
	display: flex;
	align-items: center;
	padding: 16px 0;
	border-bottom: 1px solid var( --studio-gray-5 );
	font-size: $font-body-small;
	cursor: pointer;

	&__primary-badge {
		font-size: $font-body-extra-small;
		border-radius: 4px; /* stylelint-disable-line */
		font-weight: 500; /* stylelint-disable-line */
		margin-top: 8px;

		svg {
			transform: translateY( 2px );
			margin-right: 4px;
		}
	}

	&__ok-dot {
		display: inline-block;
		width: 8px;
		height: 8px;
		margin-right: 8px;
		border-radius: 50%; /* stylelint-disable-line */
		background-color: var( --studio-green-50 );
	}
	&__warning-dot {
		display: inline-block;
		width: 8px;
		height: 8px;
		margin-right: 8px;
		border-radius: 50%; /* stylelint-disable-line */
		background-color: var( --studio-orange-40 );
	}
}

.domain-row__domain-cell {
	flex: 83 83 0;

	.domain-row__domain-name {
		font-weight: 500; /* stylelint-disable-line */
	}
}
.domain-row__status-cell {
	flex: 40 40 0;
	display: flex;
	align-items: center;
}
.domain-row__registered-until-cell {
	flex: 50 50 0;
}
.domain-row__auto-renew-cell {
	flex: 30 30 0;
}
.domain-row__email-cell {
	flex: 30 30 0;

	button.domain-row__email-button {
		color: var( --color-text );
		background: none;
		border: none;
		padding: 0;
		line-height: 1.5;
		box-shadow: none;
		font-size: $font-body-small;

		&:hover {
			color: var( --color-link );
			// color: var( --color-link-dark );
		}
	}
}
.domain-row__action-cell {
	flex: 6 6 0;
}
