@import "@automattic/components/src/styles/typography";

.stats-feedback-card {
	background: var(--studio-white);
	border: 1px solid var(--studio-gray-5);
	border-radius: 5px; // stylelint-disable-line scales/radii

	padding: 20px;

	@media (max-width: 782px) {
		border-radius: 0;
		border-top: none;
		border-left: none;
		border-right: none;
	}

	display: flex;
	flex-direction: column;

	@media (min-width: 1340px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	font-family: $font-sf-pro-text;
	font-size: $font-body-small;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: -0.24px;
}

.stats-feedback-card__cta {
	@media (max-width: 1340px) {
		margin-bottom: 12px;
	}
}

.stats-feedback-card__actions {
	display: flex;
	flex-direction: column;

	.components-button {
		margin: 6px 0;
		width: fit-content;
	}

	@media (min-width: 1340px) {
		flex-direction: row;

		.components-button {
			margin: 0 6px;
		}
	}
}

.stats-feedback-card__emoji {
	font-size: larger;
	margin-right: 6px;
}
