.themes-banner {
	background: no-repeat var( --color-accent );
	display: none;
	overflow: hidden;
	position: relative;
	user-select: none;

	a {
		color: #fff;
		display: block;
		padding: 0.8em 30vw 0.8em 0.8em;

		&::before {
			background: rgba( 0, 0, 0, 0.13 );
			content: '\020';
			display: block;
			height: 100%;
			position: absolute;
				top: 0;
				left: 0;
			width: 100%;
		}

		&:hover,
		&:focus,
		&:visited {
			color: #fff;
		}
	}

	h1,
	p,
	.button.themes-banner__cta {
		color: inherit;
		position: relative;
		z-index: 1;
	}

	h1 {
		font-size: 1.6em;
		font-weight: 600;
		letter-spacing: 0.01em;
		margin: -0.1em 0;
		line-height: 1.3;
		text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.5 );

		+ p {
			margin-top: 0.6em;
		}
	}

	p {
		margin: 0;
		text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.4 );
	}

	img {
		transform-origin: top right;
		max-width: 540px;
		transition: opacity 400ms ease-in-out;
		position: absolute;
		top: 0;
		right: 0;
		user-select: none;
		width: 35vw;
		z-index: 0;
	}

	.button.themes-banner__cta {
		margin-top: 1em;
	}

	.button.themes-banner__close {
		display: block;
		background: rgba( 255, 255, 255, 0.66 );
		border: none;
		border-radius: 0;
		line-height: 0.9;
		padding: 1px 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 1.7em;
		z-index: z-index( 'root', '.themes-banner__close' );

		&:hover {
			background: rgba( 255, 255, 255, 0.8 );
			cursor: pointer;
		}

		.gridicons-cross-small {
			position: relative;
			top: 2px;
			fill: black;
		}
	}

	@media ( min-width: 769px ) {
		display: block;
	}
}
