.stats-period-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5em 0;
	padding: 0 20px;

	.stats-period-navigation__children {
		text-align: center;
		flex-grow: 1;
	}

	.stats-section-title {
		margin: 0;
	}

	.stats-period-navigation__previous,
	.stats-period-navigation__next {
		cursor: pointer;
		color: var( --color-neutral-50 );

		&:hover {
			color: var( --color-accent );
		}

		&.is-disabled {
			visibility: hidden;
		}
	}
}
