# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Email services
/client/components/data/query-gsuite-users @Automattic/letero
/client/components/domains/contact-details-form-fields/index.jsx @Automattic/letero
/client/components/gsuite @Automattic/letero
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/letero
/client/lib/domains/email-forwarding @Automattic/letero
/client/lib/gsuite @Automattic/letero
/client/lib/titan @Automattic/letero
/client/me/purchases/remove-purchase/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout-thank-you/index.jsx @Automattic/letero
/client/my-sites/checkout/checkout/domain-details-form.jsx @Automattic/letero
/client/my-sites/checkout/checkout/index.jsx @Automattic/letero
/client/my-sites/checkout/controller.jsx @Automattic/letero
/client/my-sites/domains/components/domain-warnings @Automattic/letero
/client/my-sites/domains/controller.jsx @Automattic/letero
/client/my-sites/email @Automattic/letero
/client/state/data-layer/wpcom/gsuite-users @Automattic/letero
/client/state/gsuite-users @Automattic/letero

# Payments
/client/lib/checkout/ @Automattic/shilling
/client/me/purchases/add-new-payment-method/ @Automattic/shilling
/client/me/purchases/billing-history/ @Automattic/shilling
/client/me/purchases/manage-purchase/ @Automattic/shilling
/client/me/purchases/payment-methods/ @Automattic/shilling
/client/my-sites/checkout/checkout-main-wrapper.tsx @Automattic/shilling
/client/my-sites/checkout/src/ @Automattic/shilling
/client/my-sites/checkout/get-thank-you-page-url/ @Automattic/shilling
/client/my-sites/purchases/ @Automattic/shilling
/packages/calypso-stripe/ @Automattic/shilling
/packages/composite-checkout/ @Automattic/shilling
/packages/shopping-cart/ @Automattic/shilling
/packages/wpcom-checkout/ @Automattic/shilling

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# Experimentation platform legacy library and new client
/client/lib/explat @Automattic/experimentation-platform
/packages/explat-* @Automattic/experimentation-platform

# I18n
/bin/build-languages.js @Automattic/i18n
/build-tools/webpack/generate-chunks-map-plugin.js @Automattic/i18n
/build-tools/webpack/require-chunk-callback-plugin.js @Automattic/i18n
/client/boot/locale.js @Automattic/i18n
/client/components/calypso-i18n-provider @Automattic/i18n
/client/components/community-translator @Automattic/i18n
/client/components/language-picker @Automattic/i18n
/client/components/locale-suggestions @Automattic/i18n
/client/components/localized-moment @Automattic/i18n
/client/components/translatable @Automattic/i18n
/client/components/translator-invite @Automattic/i18n
/client/layout/community-translator @Automattic/i18n
/client/lib/i18n-utils @Automattic/i18n
/client/state/i18n @Automattic/i18n
/packages/babel-plugin-i18n-calypso @Automattic/i18n
/packages/i18n-calypso @Automattic/i18n
/packages/i18n-calypso-cli @Automattic/i18n
/packages/i18n-utils @Automattic/i18n
/packages/language-picker @Automattic/i18n
/packages/languages @Automattic/i18n

# Domains
/client/components/data/domain-management @Automattic/nomado
/client/components/data/query-countries/domains.jsx @Automattic/nomado
/client/components/domains @Automattic/nomado
/client/data/domains @Automattic/nomado
/client/document/domains-landing.jsx @Automattic/nomado
/client/landing/domains @Automattic/nomado
/client/lib/domains @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-mapping-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domain-registration-details.jsx @Automattic/nomado
/client/my-sites/checkout/checkout-thank-you/domains @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-contact-details.tsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-refund-policy.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-agreement.jsx @Automattic/nomado
/client/my-sites/checkout/composite-checkout/components/domain-registration-hsts.jsx @Automattic/nomado
/client/my-sites/current-site/domain-warnings.jsx @Automattic/nomado
/client/my-sites/domains @Automattic/nomado
/client/signup/steps/domains @Automattic/nomado
/client/signup/steps/site-or-domain/domain-image.jsx @Automattic/nomado
/client/state/data-layer/wpcom/domains @Automattic/nomado
/client/state/domains @Automattic/nomado
/client/state/sites/domains @Automattic/nomado
/packages/data-stores/src/domain-suggestions @Automattic/nomado
/packages/domain-picker @Automattic/nomado
/packages/wpcom.js/src/lib/domain.dns.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.email.js @Automattic/nomado
/packages/wpcom.js/src/lib/domain.js @Automattic/nomado
/packages/wpcom.js/src/lib/domains.js @Automattic/nomado

# Plans
/client/my-sites/plans-grid @Automattic/martech-decepticons
/packages/plans-grid @Automattic/martech-decepticons
/packages/plans-grid-next @Automattic/martech-decepticons
/packages/data-stores/plans @Automattic/martech-decepticons
/packages/data-stores/add-ons @Automattic/martech-decepticons
/packages/data-stores/wpcom-plans-ui @Automattic/martech-decepticons

# Importing
/client/my-sites/importer @Automattic/caribou
/client/blocks/import @Automattic/caribou
/client/blocks/import-light @Automattic/caribou
/client/landing/stepper/declarative-flow/import-flow.ts @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/import @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/import-list @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/import-ready @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/import-ready-not @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/import-ready-preview @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/import-ready-wpcom @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/importer @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/importer-blogger @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/importer-medium @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/importer-squarespace @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/importer-wix @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/importer-wordpress @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/migration-handler @Automattic/caribou
/client/landing/stepper/declarative-flow/internals/steps-repository/site-picker @Automattic/caribou

# Renovate config
/renovate.json5 @noahtallen
/.github/workflows/renovate.yml @noahtallen

# Support
/packages/help-center @Automattic/vertex

# Stepper internals
client/landing/stepper/declarative-flow/internals @Automattic/dotcom-stepper
client/landing/stepper/declarative-flow/helpers @Automattic/dotcom-stepper
client/landing/stepper/utils @Automattic/dotcom-stepper
client/landing/stepper/*.ts @Automattic/dotcom-stepper
client/landing/stepper/*.tsx @Automattic/dotcom-stepper

# Exclude Stepper steps
client/landing/stepper/declarative-flow/internals/steps-repository

