/**
 * Sidebar Navigation Header in Sections
 */
.sidebar-navigation {
	position: relative;
	margin: 0 0 8px;

	@include breakpoint( '>660px' ) {
		display: none;
	}

	button {
		display: flex;
		justify-content: flex-start;
		cursor: pointer;
		padding: 8px 0;
		color: var( --color-neutral-700 );
		background: var( --color-white );
		border-bottom: 1px solid var( --color-neutral-100 );
		width: 100%;
	}

	&__section-title {
		font-weight: 600;
		text-align: left;
	}

	&__site-title {
		font-size: 10px;
		color: var( --color-neutral-400 );
		margin: 0 0 3px;
		text-align: left;
	}

	.site-icon {
		margin-right: 8px;
	}

	.gridicons-arrow-left {
		color: var( --color-neutral-light );
		margin: 0 8px;
		align-self: center;
	}
}
