.gmb-select-business-type__explanation {
	display: flex;
	margin-bottom: 16px;

	@include a8c-breakpoint( '<960px' ) {
		flex-direction: column-reverse;
	}
}

.gmb-select-business-type__explanation-main {
	max-width: 540px;
	flex: 2 1;
}

.gmb-select-business-type__illustration {
	max-width: 200px;

	@include a8c-breakpoint( '<960px' ) {
		margin-bottom: 10px;
	}

	@include a8c-breakpoint( '>960px' ) {
		margin-left: 50px;
		max-width: 300px;
	}
}
