.site-logs-download-panel > .material-icon,
.site-logs-download-panel > .gridicon {
	display: inline-block;
	margin-right: 16px;
	margin-bottom: 16px;
	vertical-align: middle;
}
.site-logs-download-panel > .card-heading {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 16px;
	vertical-align: middle;
	line-height: 32px;
}
@media (min-width: 1281px) {
	.site-logs-download-panel {
		padding-left: 72px;
	}
	.site-logs-download-panel > .material-icon,
	.site-logs-download-panel > .gridicon {
		display: block;
		position: absolute;
		left: 24px;
	}
}

.site-logs-download-panel__info {
	color: var(--color-text-subtle);
}

.site-logs-download-panel__type .form-radios-bar {
	display: flex;
	gap: 1em;
}

.site-logs-download-panel__dates {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.site-logs-download-panel__start {
	flex: 1;
}

.site-logs-download-panel__end {
	flex: 1;
	margin-left: 1em;
}

.site-logs-download-panel__download {
	margin-top: 1em;
}

.site-logs-download-panel__close {
	position: absolute;
	right: 24px;
	top: 20px;
}
