.block-editor {
	.wp-block-a8c-site-title {
		&, &:focus {
			display: inline;
			color: #111111;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
				'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
			font-size: 1.125em;
			font-weight: normal;
			letter-spacing: -0.02em;
			line-height: 1.2;
			margin: 0;
			box-shadow: none;
			background-color: transparent;
		}
	}
	.site-title__save-button {
		margin-left: auto;
		display: block;
	}
	.site-title a:link,
	.site-title a:visited {
		color: #111;
		text-decoration: none;
		font-weight: 400;
	}
}
