@import '@wordpress/base-styles/mixins';

.launchpad__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.launchpad__checklist {
	list-style: none;
	margin: 20px auto;
	max-width: 98%;
	padding: 0;
	width: 500px;
}

.launchpad__checklist-item {
	align-items: center;
	border: none;
	display: flex;
	padding: 16px;
	width: 100%;
	margin: 0;
	color: var( --color-text );
}

.launchpad__checklist-item-status {
	margin-right: 8px;
	width: 20px;
	.gridicon {
		top: 2px;
	}
}

.launchpad__checklist-item-status-pending {
	border: 1px solid var( --studio-gray-10 );
	// stylelint-disable-next-line declaration-property-unit-allowed-list
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	height: 12px;
	margin: 5px;
	transition: all 0.1s;
	width: 12px;
}

.launchpad__checklist-item-status-complete {
	fill: var( --color-success );
	vertical-align: text-bottom;
}

.launchpad__checklist-item-text {
	flex-grow: 1;
	font-size: 1rem;
	line-height: 20px;
	text-align: left;
	font-weight: 600;
	&.completed {
		opacity: 0.8;
		font-weight: 400;
	}
}

.launchpad__checklist-item-chevron {
	display: flex;
	line-height: 20px;
	text-align: left;
	width: 30px;
}
