<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9">
	<title>Notifications</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
  <%= htmlWebpackPlugin.tags.headTags.filter( ( tag ) => tag.tagName !== 'link' || htmlWebpackPlugin.options.includeStyle( tag.attributes.href ) ) %>
</head>

<body class="wpnc">
	<div class="wpnc__main"></div>
	<script charset="UTF-8" src="https://stats.wp.com/w.js?67"></script>
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>

</html>
