@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.add-sites-from-wpcom {
	background: var(--color-light-backdrop);
}

.add-sites-from-wpcom__body {
	display: flex;
	flex-direction: column;
}

.atomic-sites-selector {
	.site-selector.is-large .site-selector__sites {
		border-top: none;
	}
}
