@import "@wordpress/base-styles/variables";

.client-dashboard-components-page-header-decoration {
	display: inline-flex;

	svg {
		fill: $gray-700;
		flex-shrink: 0;
	}

	img {
		width: 24px;
		height: 24px;
		flex-shrink: 0;
	}
}