# http://editorconfig.org
root = true

[*]
# yes, we use tabs
indent_style = tab

# To control tab size in github diffs
# See https://github.com/isaacs/github/issues/170#issuecomment-150489692
indent_size = 4

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
