.vscode
/assets/
/build/
/docs/
/public/
node_modules/
!.eslintrc.js
/server/devdocs/search-index.js

# Built packages
/packages/*/dist/

#
# Eslint won't lint json, but prettier shares this ignore
# Don't operate on these files
#
/stats.json
/server/devdocs/components-usage-stats.json
/server/devdocs/proptypes-index.json
/server/bundler/assets.json
/cached-requests.json
