.vscode
.yarn
/assets/
/build/
/docs/
/public/
node_modules/
!.eslintrc.js
/client/server/devdocs/search-index.js
/packages/calypso-codemods/tests

# Built packages
/packages/*/dist/

#
# Eslint won't lint json, but prettier shares this ignore
# Don't operate on these files
#
/stats.json
/chart.json
/style.json
/client/stats.json
/client/chart.json
/client/style.json
/client/server/devdocs/components-usage-stats.json
/client/server/devdocs/proptypes-index.json
/client/server/bundler/assets.json
/cached-requests.json
