.webpack-cache
.sass-cache
.babel-cache
.vagrant
.unison
.env
.DS_Store
.idea
.vscode
*.code-workspace
*.iml
*.iws
/.tsc-cache/
/tags
node_modules
/npm-debug.log*
*.sw?
!*.swf
.eslintcache
test-results*.xml
/stats.json
/chart.json
/style.json
/client/stats.json
/client/chart.json
/client/style.json
spec-xunit-reporter-0.0.1.tgz
*xunit_*.xml
lerna-debug.log
/vendor
yarn-error.log

# added during build
/config/secrets.json

# config overrides
/config/*.local.json

/coverage

/build
/packages/webpack-inline-constant-exports-plugin/test/build

/public/

/server/devdocs/search-index.js
/server/devdocs/components-usage-stats.json
/server/devdocs/proptypes-index.json
/server/bundler/assets*.json
/client/server/devdocs/search-index.js
/client/server/devdocs/components-usage-stats.json
/client/server/devdocs/proptypes-index.json
/client/server/bundler/assets*.json

*.rdb
*.db

/calypso-strings.pot
/chunks-map.*.json
cover.html
.test.log

cached-requests.json

# Monorepo output
/apps/*/dist/
/apps/*/types/
/packages/*/dist/
