.webpack-cache
.sass-cache
.babel-cache
.vagrant
.unison
.env
.DS_Store
.idea
.vscode
*.iml
*.iws
/tags
node_modules
/npm-debug.log*
*.sw?
!*.swf
.eslintcache
test-results*.xml
/stats.json

# added during build
/config/secrets.json

# config overrides
/config/*.local.json

/coverage

/build

/public/*.js
/public/*.js.map
/public/*.css
/public/*.css.map
/public/vendors~*
/public/sections/*
/public/sections-rtl/*
/public/images/*.gif
/public/images/*.jpg
/public/images/*.png
/public/images/*.svg
/server/devdocs/search-index.js
/server/devdocs/components-usage-stats.json
/server/devdocs/proptypes-index.json
/server/bundler/assets.json

*.rdb
*.db

/calypso-strings.pot
cover.html
.test.log

cached-requests.json

# Gutenberg extensions
/client/gutenberg/extensions/**/build

# package output
/packages/*/dist/
