{
	"extends": [ "@wordpress/stylelint-config/scss" ],
	"plugins": [ "@signal-noise/stylelint-scales" ],
	"rules": {
		"declaration-property-unit-allowed-list": {
			"/^font-size$|^font$/": [ "rem" ],
			"line-height": [ "px" ],
			"/radius$/": [ "px" ]
		},
		"function-parentheses-space-inside": "always-single-line",
		"no-descending-specificity": [
			true,
			{
				"severity": "warning"
			}
		],
		"scales/font-weights": [ 400, 500, 600, 700 ],
		"scales/font-sizes": [
			{
				"scale": [ 0.75, 0.875, 1, 1.25, 1.5, 2, 2.25, 3, 3.375 ],
				"units": [ "rem" ]
			}
		],
		"scales/radii": [
			{
				"scale": [ 2, 4 ],
				"units": [ "px" ]
			}
		],
		"selector-class-pattern": "",
		"selector-max-id": [ 0 ],
		"string-quotes": "single",
		"unit-allowed-list": [ "%", "deg", "em", "fr", "ms", "px", "rem", "s", "vh", "vw", "svh" ]
	}
}
