@import '~@wordpress/base-styles/breakpoints';
@import '~@wordpress/base-styles/mixins';

.plans-filter-bar-i5 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 0 0 250px;
	padding: 16px 0;
	color: var( --studio-gray-50 );

	box-sizing: border-box;

	@include breakpoint-deprecated( '>480px' ) {
		flex-direction: row;
	}

	.plans-filter-bar-i5__duration-toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		padding-bottom: 10px;

		.plans-filter-bar-i5__toggle-off-label {
			color: var( --color-primary );
		}

		&.checked {
			.plans-filter-bar-i5__toggle-on-label {
				color: var( --color-primary );
			}
			.plans-filter-bar-i5__toggle-off-label {
				color: var( --studio-gray-50 );
			}
		}

		@include breakpoint-deprecated( '>480px' ) {
			padding-bottom: 0;
			margin-right: 20px;
		}
	}
	.plans-filter-bar-i5__toggle-control {
		> .components-base-control__field {
			margin-bottom: 0;

			.components-form-toggle {
				margin-right: 18px;
				margin-left: 18px;
			}
		}
		.components-form-toggle {
			.components-form-toggle__input:focus + .components-form-toggle__track {
				box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px var( --color-primary );
			}

			.components-form-toggle__track {
				width: 42px;
				height: 22px;
				border-radius: 11px;
			}

			.components-form-toggle__thumb {
				width: 16px;
				height: 16px;
			}

			&.is-checked {
				.components-form-toggle__track {
					background-color: var( --color-primary );
				}

				.components-form-toggle__thumb {
					transform: translateX( 20px );
				}
			}
		}
	}
}

.plans-filter-bar-i5__discount-message {
	font-size: 0.8125rem;
	font-weight: 600;
	padding-top: 2px;

	&.primary {
		color: var( --color-primary );
	}

	.plans-filter-bar-i5__discount-message-text {
		padding-right: 6px;
	}
}

.plans-filter-bar-i5__discount-message.treatment .plans-filter-bar-i5__discount-message-text {
	text-decoration: underline;
}

.plans-filter-bar-i5.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: var( --masterbar-height );

	background-color: var( --color-surface );
	box-shadow: 0 4px 24px rgba( 0, 0, 0, 0.05 ), inset 0 0 0 1px #dcdcde;

	z-index: 2;
}
.is-section-jetpack-connect,
.is-group-jetpack-cloud.is-section-jetpack-cloud-pricing {
	.plans-filter-bar-i5.sticky {
		top: 0;
	}
}

// target Calypso pricing filter bar, not jetpack cloud
.is-group-sites.is-section-plans .plans-filter-bar-i5.sticky {
	// At this screen size, the left sidebar is 228px;
	@include breakpoint-deprecated( '>660px' ) {
		width: calc( 100% - 228px );
		left: 228px;
	}

	// At this screen size, the lft sidebar is 272px;
	@include breakpoint-deprecated( '>960px' ) {
		width: calc( 100% - 272px );
		left: 272px;
	}
}
