@import 'assets/stylesheets/gutenberg-base-styles';
@import '../../mixins.scss';

.domain-picker-button {
	&.components-button {
		@include onboarding-medium-text;
		background: var( --studio-blue-0 );
		color: var( --studio-blue-40 );
		padding: 5px 12px;
		height: auto; // prevent clipping when there are 2 lines
		text-align: left;
		border-radius: $radius-round-rectangle;

		&:focus,
		&:hover[type] {
			box-shadow: 0 0 0 1px var( --studio-blue-40 );
			outline: 0;
		}

		&:not( [aria-disabled='true'] ):active {
			box-shadow: 0 0 0 1px var( --studio-blue-60 );
			color: var( --studio-blue-60 );
		}

		&:disabled {
			opacity: 1;
		}
	}

	&__label {
		// This makes the label ready for slide-out
		// animation using width: 0% to width: 100%.
		white-space: nowrap;
		overflow: hidden;
		// This is for mobile later on long domains.
		// Commented out for now.
		// text-overflow: ellipsis;
	}

	.dashicon {
		margin-left: 0.5em;
		margin-top: 2px;
		transition: transform 100ms ease-in-out;
	}

	&.is-open .dashicon {
		transform: rotate( 180deg );
	}

	&.is-modal-open {
		display: none; // Hide domain picker button when modal is open
	}
}

// Remove focus styling from clicking a button
// Keep keyboard-focused focus style
html:not( .accessible-focus ) .domain-picker-button:focus:not( :disabled ):not( :hover ) {
	box-shadow: none;
}
