.checklist-show__header-heading,
.checklist-show__header-text {
    clear: none;
}

.checklist-show__header-heading {
    font-size: 24px;
    font-weight: 400;
    margin: 24px 0 8px 0;
}

.checklist-show__header-text {
    font-size: 18px;
    font-weight: 300;
    margin: 0px 0 24px 0;
}
