.hosting {
	.card > .material-icon {
		display: inline-block;
		margin-right: 16px;
		margin-bottom: 16px;
		vertical-align: middle;
	}

	.card > .card-heading {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 16px;
		vertical-align: middle;
		line-height: 32px;
	}

	&__layout {
		display: flex;
		flex-wrap: wrap;
	}

	.php-version-card, .sftp-card {
		flex-wrap: wrap;

		.php-version-card__body, .sftp-card__body {
			width: calc( 100% - 24px - 32px );
		}
	}
}

.php-version-card__icon, .phpmyadmin-card__icon, .sftp-card__icon {
	margin-right: 24px;
}

.sftp-card__info-table {
	border: 1px solid var( --color-border-subtle );
	margin: 0;
	table-layout: fixed;

	th {
		text-align: right;
		width: 20%;
		background-color: var( --color-surface-backdrop );
	}

	@include breakpoint('>1280px') {
		&__layout-col:first-child {
			box-sizing: border-box;
			flex-basis: 70%;
			padding-right: 8px;

			.card {
				padding-left: 72px;

				> .material-icon {
					display: block;
					position: absolute;
					left: 24px;
				}
			}
		}
	}
}

.php-version-card button, .phpmyadmin-card button {
	svg {
		vertical-align: text-bottom;
		margin-left: 10px;
	}

	.spinner {
		width: 100%;
	}
}

.php-version-card__radio .form-radios-bar {
	display: flex;

	.form-label {
		margin-right: 10px;
	}
}
