.visible-days-limit {
	text-align: center;

	.status-card__message-head {
		margin-block-end: 24px;
	}

	.status-card__label {
		text-align: center;
	}

	.status-card__button.form-button {
		max-width: 240px;
		margin: 32px auto;
	}

	@include breakpoint-deprecated( ">660px" ) {
		margin-block-end: initial;
		text-align: initial;

		.status-card__message-head {
			margin-block-end: initial;
		}

		.status-card__label {
			text-align: initial;
		}

		.status-card__button.form-button {
			margin: 32px 0;
		}
	}
}

.status-card__message-head {
	color: var(--studio-gray-80);

	img {
		width: 48px;
	}

	div {
		font-size: $font-title-small;
		font-weight: 600;
	}

	.status-card__toolbar {
		margin-left: auto;

		.activity-card__toolbar--reverse {
			margin-left: 0;
			border-top: 0;
			position: initial;
			padding-top: 0;
		}
	}

	@include breakpoint-deprecated( ">660px" ) {
		display: flex;
		font-weight: 600;
		align-items: center;

		img {
			width: 3rem;
			height: 3rem;
		}

		div {
			margin-left: 12px;
		}
	}
}

.status-card__message-error {
	color: var(--studio-red-50);
}

.status-card__title {
	font-size: $font-title-medium;
	font-weight: 600;
	margin-bottom: 18px;
}

.status-card__label {
	margin-top: 24px;

	color: var(--studio-gray-80);
	text-align: left;
}

.status-card__meta {
	margin-bottom: 24px;
	margin-top: -0.3rem;
	color: var(--studio-gray-40);
	font-weight: 400;
	font-size: $font-body-small;
}

.status-card__link-list {
	margin: 40px 0 0;
	padding: 0;

	list-style-type: none;

	> li {
		margin: 12px 0;
	}
}

/* Buttons */
.daily-backup-status .form-button.status-card__support-button {
	margin: 32px auto;

	@include breakpoint-deprecated( ">660px" ) {
		margin: 32px 0;
	}
}

/* Status-specific rules */
.status-card__no-backup-last-backup {
	margin-bottom: 24px;
	font-style: italic;
}

/* Details for real-time backups */
.status-card__realtime-details {
	margin-top: 48px;
	text-align: left;
}

.status-card__realtime-details-card .activity-card .card {
	margin: 0;
	background: transparent;
	box-shadow: none;
}

.status-card__realtime-details-card .activity-card.with-warning .card {
	border: 0;
}

.status-card__realtime-details-card
.activity-card
.card
.activity-log-item__actor
.activity-log-item__actor-info {
	display: flex;
	& > *:not(:last-child) {
		margin-right: 8px;
	}
}

.status-card__realtime-details-card
.activity-card
.card
.activity-log-item__actor
.activity-log-item__actor-info
.activity-log-item__actor-name::after {
	margin-right: 0.2rem;
}

.status-card__realtime-details-card .activity-card .card .activity-log-item__actor .gravatar,
.status-card__realtime-details-card .activity-card .card .activity-log-item__actor svg {
	width: 30px;
}

/* Screen size-specific rules */
.status-card__hide-mobile {
	display: none;
}

.status-card__hide-desktop {
	display: block;
}

@include breakpoint-deprecated( ">660px" ) {
	.status-card__hide-mobile {
		display: block;
	}

	.status-card__hide-desktop {
		display: none;
	}

	.status-card__message-head {
		display: flex;
		font-weight: 600;
		align-items: center;

		img {
			width: 3rem;
			height: 3rem;
		}

		div {
			margin-left: 12px;
		}
	}

	.status-card__title {
		font-size: $font-headline-small;
		margin: 8px 0 12px;
	}

	.status-card__label {
		margin-top: 32px;
	}

	.daily-backup-status .form-button.status-card__support-button {
		width: 50%;
	}

	.status-card__meta {
		display: block;
		margin-top: 0;
		font-size: $font-body;
	}
}
.status-card__multisite-warning {
	padding-bottom: 10px;
	text-align: left;
}

.status-card__multisite-warning-title {
	display: flex;
	font-size: 1rem;
	font-weight: 600;
	padding-bottom: 6px;
	svg {
		padding-right: 5px;
	}
}

.status-card__multisite-warning-info {
	font-size: 0.875rem;
	color: var(--studio-gray-40);
}

.backup-tips__wrapper {
	border-top: 1px solid var(--color-neutral-5);
	padding-top: 1.5rem;
	margin-top: 1.5rem;
}

.backup-support-links__wrapper {
	border-top: 1px solid var(--color-neutral-5);
	margin-top: 1.5rem;
	padding-top: 1.5rem;
}

.backup-support-links__links {
	margin-top: 1rem;
	display: grid;
	grid-auto-flow: column;
}

.backup__progress-bar-percent {
	font-weight: 600;
	line-height: 24px;
	text-align: right;
	color: #23282d;
	margin-bottom: 0;
}

.backup-last-failed__wrapper {
	border-top: 1px solid var(--color-neutral-5);
	padding-top: 22px;
	padding-bottom: 22px;
	margin-top: 1.5rem;
}

.backup-last-failed__info {
	height: 24px;
	a {
		color: #101517;
		text-decoration: underline;
	}
	.icon {
		vertical-align: middle;
		margin-right: 8px;
		fill: #7d5600;
	}
}
