.blogging-prompts-modal {
	width: 40%;
}

.blogging-prompts-modal__prompt {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	.blogging-prompts-modal__prompt-navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;
		gap: 24px;
		width: 100%;
	}

	.blogging-prompts-modal__prompt-navigation-button {
		border-radius: 50%;
		width: 44px;
		height: 44px;
	}

	.blogging-prompts-modal__prompt-text {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 26px;
		text-align: left;
		width: 100%;
	}
}

