.checkout-thank-you {
	box-sizing: border-box;
	position: static;
	text-align: center;
	width: 100%;

	&.main {
		max-width: 960px;
	}

	@include breakpoint( "<660px" ) {
		background: transparent;
		padding: 14px;
	}
}

.checkout-thank-you__content {
	padding: 0;
}

.checkout-thank-you__get-support {
	color: $gray;
	margin-top: 20px;
	text-align: center;
}

.checkout-thank-you__get-support-text {
	margin: 0 auto;
	max-width: 660px;
	text-align: left;

	a {
		border-bottom: 1px solid $blue-medium;
	}
}

.checkout-thank-you__support_heading {
	font-weight: 600;
}

.checkout-thank-you__support-related-messages {
	margin: 0;
}

.checkout-thank-you__header {
	font-size: 25px;
	font-weight: 100;
	margin: 0;
}

.checkout-thank-you__subheader {
	font-size: 20px;
	font-weight: 200;
	opacity: 0.6;
	margin: auto;
	max-width: 50%;
}

.checkout-thank-you__header,
.checkout-thank-you__subheader {
	color: $gray-dark;

	@include breakpoint( "<660px" ) {
		font-size: 17px;
		max-width: 100%;
	}
}

.checkout-thank-you__message {
	padding-bottom: 20px;
}

.checkout-thank-you__receipt-icon {
	display: inline-block;
	position: relative;

	&::before {
		@include noticon( '\f425', 70px );
		color: lighten( $gray, 20% );
	}

	&::after {
		@include noticon( '\f418', 18px );
		background: #53b66c;
		border-radius: 18px;
		color: $white;
		position: absolute;
			top: 6px;
			right: 15px;
		width: 18px;
		height: 18px;
	}
}

.checkout-thank-you__purchase-details-list {
	list-style: none;
	margin: 0;
}

.checkout-thank-you__purchase-detail-description {
	font-size: 12px;
	opacity: 0.7;

	@include breakpoint( ">660px" ) {
		margin: 0 50px 10px 50px;
	}
}

.checkout-thank-you__purchase-detail-text {
	&::before {
		@include noticon( '\f803' );

		background: $blue-dark;
		border-radius: 25px;
		color: $white;
		font-size: 30px;
		margin-bottom: 10px;
		padding: 5px;
	}

	@include breakpoint( ">660px" ) {
		&::before {
			font-size: 70px;
		}

		> p {
			margin: 0 50px 10px 50px;
		}
	}
}

.checkout-thank-you__purchase-detail-title {
	font-weight: 600;
}

>>>>>>> Checkout: Thank you: Layout changes for the mobile view of the thank you page
.checkout-thank-you__purchase-detail {
	color: $gray;
	padding: 30px;

	@include breakpoint( "<660px" ) {
		.button {
			width: 80%;
		}
	}

	&.get-free-domain {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f475' );
		}
	}

	&.customize-fonts-and-colors {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f103' );
		}
	}

	&.upload-to-videopress {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f104' );
		}
	}

	&.ads-have-been-removed {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f803' );
			top: -7px;
		}
	}

	&.ecommerce {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f447' );
		}
	}

	&.live-chat {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f108' );
		}
	}

	&.unlimited-premium-themes {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f103' );
		}
	}

	&.important {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f303' );
		}
	}

	&.your-primary-domain {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f475' );
		}
	}

	&.upgrade-now {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f800' );
		}
	}

	&.google-apps-details {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f410' );
		}
	}

	&.redirect-now-working {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f442' );
		}
	}

	&.change-redirect-settings {
		.checkout-thank-you__purchase-detail-text::before {
			@include noticon( '\f411' );
		}
	}

	&.is-placeholder {
		padding-top: 60px;

		.checkout-thank-you__purchase-detail-button,
		.checkout-thank-you__purchase-detail-description,
		.checkout-thank-you__purchase-detail-title {
			@include placeholder( 23% );

			display: block;
		}

		.checkout-thank-you__purchase-detail-button {
			border: none;
			margin: 0 auto;
			width: 50%;
		}

		.checkout-thank-you__purchase-detail-description {
			margin-top: 10px;
		}

		.checkout-thank-you__purchase-detail-text::before {
			content: none;
		}

		.checkout-thank-you__purchase-detail-title {
			margin: 0 auto;
			width: 85%;
		}
	}
}
