.docs-example__header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.docs-example__title {
	flex: 1;
}

.docs-example__title,
.docs-example__toggle {
	margin: 0 !important;
}

.docs-example__header + .docs-example__main {
	margin-top: 16px;
}

.docs-example__footer {
	margin: 10px 0 0;

	@include breakpoint( ">480px" ) {
		margin-top: 16px;
	}
}

.docs-example__stats {
	flex-basis: 100%;
}

/**
 * docs-example-stats
 * Styles for the stats section of docs-example
 * Can be rendered as standalone hence the new root/component.
 */

.docs-example-stats {
	color: lighten( $gray, 10% );
	font-size: 11px;
}

.docs-example-stats__item {
	margin: 0;
}

.docs-example-stats__item + .docs-example-stats__item {
	margin-top: 1.5em;
}
