body.is-section-signup {
	.signup__step.is-confirm {
		.is-wide-layout {
			max-width: 1024px;
		}

		.step-wrapper__content {
			display: flex;
		}
	}
}

.is-confirm {
	margin: 0 0 0 20px;
	padding: 0 20px;
}

.confirm__image-container {
	flex: 1;
	position: relative;

	.wpcom__loading-ellipsis {
		position: absolute;
		right: 0;
	}
}

.confirm__instructions-container {
	width: 40vw;
	max-width: 500px;
	padding: 0 50px;
	flex-direction: column;

	p {
		color: var( --studio-gray-60 );
		line-height: 1.25rem;
		letter-spacing: -0.16px;
		margin-top: 30px;
		font-size: 0.875rem;
	}
}

.confirm__instructions-wpcom-domain,
.confirm__instructions-staging-domain {
	font-size: 1.5rem;
	letter-spacing: 0.2px;
	line-height: 2.5rem;
	color: var( --studio-gray-90 );
}

.confirm__instructions-wpcom-domain {
	text-decoration: line-through;
	color: var( --studio-gray-20 );
}
