.advanced-credentials {
	.step-progress {
		margin-top: 16px;
		margin-bottom: 16px;
	}
}

.advanced-credentials__server-connection-status {
	margin-bottom: 0;
}

.advanced-credentials__server-connection-status-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.connection-status__failed,
.connection-status__connected,
.connection-status__connecting,
.connection-status__disconnected,
.connection-status__loading {
	display: flex;
	*:not( first-child ) {
		margin-left: 8px;
	}
	svg {
		height: 16px;
		width: 16px;
	}
	align-items: center;
}

.connection-status__failed,
.connection-status__disconnected {
	color: var( --color-error );
	fill: var( --color-error );
}

.connection-status__connecting {
	color: var( --color-warning );
	fill: var( --color-warning );
}

.connection-status__connected {
	color: var( --color-primary-50 );
	fill: var( --color-primary-50 );
}

.connection-status__loading {
	circle {
		@include placeholder();
		fill: var( --color-neutral-5 );
	}
	span {
		color: var( --color-neutral-5 );
	}
}
