@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.breadcrumbs {
	position: relative;
	margin: 0;
	z-index: 10;

	@include break-mobile {
		position: sticky;
		top: 0;
		margin-top: 0;
	}

	@include breakpoint-deprecated( '480px-660px' ) {
		position: sticky;
		top: 0;
		margin-top: -22px;
	}

	@include breakpoint-deprecated( '>660px' ) {
		position: sticky;
		/* hack to make the breadcrumbs closer to the top of the content area */
		top: -22px;
		margin-top: -22px;
	}

	@include break-medium {
		position: sticky;
		top: -44px;
		margin-top: -44px;
	}
}

.breadcrumbs__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	min-height: 40px;

	@include break-mobile {
		padding: 16px 0;
	}

	@include breakpoint-deprecated( '480px-660px' ) {
		padding: 16px;
	}
}

.breadcrumbs__bottom-border {
	height: 0;
	/* hack to make the border line cover the entire width of the content area */
	margin: 0 -1000px 32px;
	border-bottom: 1px solid #dcdcde;
}

.breadcrumbs__items {
	display: none;

	@include break-mobile {
		display: flex;
		align-items: center;
		font-size: 13px; /* stylelint-disable-line */
		font-weight: 400;

		& .breadcrumbs__item {
			.breadcrumbs__item-label {
				color: var( --color-neutral-50 );

				&:hover {
					color: var( --color-neutral-80 );
				}
			}

			&.is-last-item {
				.breadcrumbs__item-label {
					font-weight: 500; /* stylelint-disable-line */
					color: var( --color-neutral-80 );
				}
			}
		}
	}
}

.breadcrumbs__items-mobile {
	display: flex;
	align-items: center;
	font-size: 13px; /* stylelint-disable-line */
	font-weight: 400;

	& .breadcrumbs__item {
		display: flex;
		align-items: center;

		.breadcrumbs__item-label {
			color: var( --color-neutral-80 );
		}

		/* This rule applies when there's no back arrow present */
		span:first-child {
			font-weight: 600;
		}
	}

	@include break-mobile {
		display: none;
	}
}

.breadcrumbs__back-arrow {
	margin-right: 4px;
	color: var( --color-neutral-80 );
}

.breadcrumbs__help-bubble {
	margin-left: 7px;
	color: var( --color-neutral-40 );
}

.breadcrumbs__separator {
	margin: 0 12px;
	color: var( --color-neutral-10 );
}

.breadcrumbs__buttons,
.breadcrumbs__buttons-mobile {
	align-items: center;

	> * + * {
		margin-left: 16px;
	}

	.popover-cart {
		.header-button__text {
			display: none;

			@include break-mobile {
				display: block;
			}
		}

		button.button .gridicon.gridicons-cart {
			fill: var( --color-neutral-80 );
		}
	}

	& button,
	& .select-dropdown {
		height: 40px;

		.select-dropdown__header {
			height: 40px;
		}
	}

	@include break-mobile {
		.options-domain-button.ellipsis {
			padding-right: 0;
		}
	}
}

.breadcrumbs__buttons-mobile {
	display: flex;

	@include break-mobile {
		display: none;
	}
}

.breadcrumbs__buttons {
	display: none;

	@include break-mobile {
		display: flex;
	}
}
