.purchase-settings-card__link {
	text-decoration: none;
	flex-grow: 1;
	max-width: 318px;
}
.purchase-settings-card {
	flex-grow: 1;
	max-width: 318px;
}
img.payment-method-image {
	width: 30px;
	height: 19px;
	vertical-align: middle;
}
