/**
 * Layout Views
 */

.wpcom-site__logo {
	color: lighten( $gray, 20% );
	font-size: 12vw;
	position: fixed;
		top: 50%;
		left: 50%;
	transform: translate( -50%, -50% );

	@include breakpoint( ">960px" ) {
		font-size: 120px;
	}
}

.layout__loader {
	background: $blue-wordpress;
	border-bottom: 1px solid darken( $blue-wordpress, 4% );
	height: 46px;
	margin-left: -30px;
	position: absolute;
		left: 50%;
		top: 0;
	width: 60px;
	z-index: 200;

	// set a delay threshold for opacity changes
	// prevents showing loader on fast connections
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.1s linear;
	transition-delay: 0.4s;
}

.layout__loader.is-active {
	visibility: visible;
	opacity: 1;
}

/* =Global
----------------------------------------------- */

@-webkit-viewport { width : device-width; }
@-moz-viewport { width : device-width; }
@-ms-viewport { width : device-width; }
@-o-viewport { width : device-width; }
@viewport { width : device-width; }

* {
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0);
}

body {
	background: $gray-light;
	-ms-overflow-style: scrollbar;
}

::selection {
	background: rgba( $blue-light, 0.7 );
	color: $gray-dark;
}

body,
button,
input,
select,
textarea,
.button,
#footer,
#footer a.readmore {
	font-family: $sans;
}

/*rtl:ignore*/
body.rtl,
.rtl button,
.rtl input,
.rtl select,
.rtl textarea,
.rtl .button,
.rtl #footer,
.rtl #footer a.readmore {
	font-family: $sans-rtl;
}

/*rtl:ignore*/
:lang(he) body.rtl,
:lang(he) .rtl button,
:lang(he) .rtl input,
:lang(he) .rtl select,
:lang(he) .rtl textarea,
:lang(he) .rtl .button,
:lang(he) .rtl #footer,
:lang(he) .rtl #footer a.readmore {
	font-family: $sans;
}

.notifications {
	display: inherit;
}

body {
	color: #404040;
	font-size: 15px;
	line-height: 1.5;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	background: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: 600;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: 600;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 10px 0 0 0;
	background: #f7f7f7;
	padding: 10px 10px 1px;
	margin: 10px 0 0 0;
	border-radius: 2px;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: $monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px $code;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: 600;
}

.hide, .hidden { display: none; }

/* Links */
a,
a:visited {
	color: $blue-wordpress;
}

a:hover,
a:focus,
a:active {
	color: $link-highlight;
}

.link--caution,
.link--caution:visited,
.is-link.link--caution,
.is-link.link--caution:visited {

	&,
	&:hover,
	&:focus,
	&:active  {
		color: $alert-red;
	}
}

html.iframed {
	overflow: hidden;
}

.noticon:before,
.noticon:after {
	@extend %clear-text;

	font-family: Noticons;
	line-height: 1;
}


/* =General Layout
----------------------------------------------- */
.wp-content {
	@include clear-fix;
	position: relative;
	width: 100%;
	margin: 47px auto 0;
	box-sizing: border-box;
	overflow: hidden;
}

.wp-primary {
	padding: 32px;
	margin-left: 272px;
}

// Tablets
@include breakpoint( "<960px" ) {
	.wp-primary {
		margin-left: 224px;
	}
}

// Mobile (Full Width)
@include breakpoint( "<660px" ) {
	.wp-primary {
		margin-left: 0;
		padding: 8px;

		.focus-sidebar & {
			transform: translateX( 100vw );
		}

		.focus-sidebar.is-section-post & {
			transform: translateX( 0 );
		}
	}
}


/* =Sidebar Transitions
----------------------------------------------- */
.wp-primary {
	transition: all 0.15s ease-in-out;
}

.wpcom-sidebar,
.site-selector,
.current-site,
.sidebar-menu {
	transform: translateX( 0 );
	transition: all 0.15s cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.site-selector {
	opacity: 0;
	pointer-events: none;
}

.focus-sites {
	.wp-primary {
		opacity: 0.2;
		pointer-events: none;
	}

	.site-selector {
		opacity: 1;
		transform: translateX( 272px );
		pointer-events: auto;

		@include breakpoint( "<660px" ) {
			transform: translateX( 100vw );
		}
	}

	.wpcom-sidebar {
		pointer-events: none;
	}

	.current-site,
	.sidebar-menu {
		opacity: 0;
		transform: translateX( 64px );
	}
}

.focus-sidebar {
	overflow: hidden;
}


/* =Content
----------------------------------------------- */

.wp-content a {
	text-decoration: none;
}

/* =Media
----------------------------------------------- */

img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
	height: auto;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* Netter min-height for the SoundCloud embeds */
.wpcom-soundcloud-player,
.embed-soundcloud iframe {
	min-height: 150px;
}


/* Disabled blocks of content */

.disabled-block {
	opacity: 0.5;
}

body.promo {
	margin-top: 0;
}

body.newdash div.wordpress-com-extension-promo {
	display: none !important;
}

.design-assets {
	@include breakpoint( "<660px" ) {
		padding: 0 6px;
	}
}

.design-assets h2,
.design-assets h2 a:first-child {
	color: $gray-dark;
	font-family: $serif;
	font-size: 38px;
	font-weight: bold;
	margin: 40px 0 15px;
}
.design-assets h3 {
	font-weight: bold;
	margin-bottom: 8px;
}
.design-assets hr {
	background: transparent;
	clear: both;
	height: 2px;
	margin: 15px 0;
}

.environment-badge {
	position: fixed;
		bottom: 16px;
		left: 16px;
	z-index: 999;
	backface-visibility: hidden;

	.bug-report {
		position: relative;
		display: inline-block;
		width: 26px;
		height: 26px;
		background-color: $white;
		border: solid 1px $gray-dark;
		border-radius: 50%;
		color: $gray-dark;
		text-decoration: none;
		text-align: center;
		z-index: 1000;
		transition: border-radius 0.2s ease-out;
		&:before {
			@include noticon( '\f50a', 14px );
			vertical-align: middle;
		}
	}

	.environment {
		position: relative;
		display: inline-block;
		font-size: 9px;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
		padding: 4px 7px 4px 6px;
		vertical-align: middle;
		transition: all 0.2s ease-out;
		&:before {
			content: '';
			position: absolute;
				left: -1px;
				right: 0;
				top: 0;
				bottom: 0;
			z-index: -1;
			background-color: $white;
			border: solid 1px $gray-dark;
		}
		&:first-of-type:before {
			left: -4px;
		}
		a {
			text-decoration: none;
			display: inline-block;
			color: black;

			&:hover {
				transform: scale( 1.1 );
			}
		}
		&.is-staging {
			&:before {
				background-color: $alert-yellow;
			}
		}
		&.is-wpcalypso {
			&:before {
				background-color: #B1EED0;
			}
		}
		&.is-dev {
			&:before {
				background-color: $alert-red;
			}
		}
		&.is-horizon,
		&.is-feedback {
			&:before {
				background-color: $blue-light;
			}
		}
	}

	.notouch & {
		.bug-report {
			&:hover {
				border-radius: 4px;
			}
		}
	}
}

@include breakpoint( "<960px" ) {
	// Don't show environment badge on smaller screens. It just gets in the way.
	.environment-badge {
		display: none;
	}
}
