@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.migrations-overview__layout .multi-sites-dashboard-layout__body-wrapper {
	max-width: 720px;
}

.migrations-overview__section-heading {
	font-size: rem(24px);
	font-weight: 600;
	margin-block-start: 24px;
	margin-block-end: 8px;
}

.migrations-overview__section-subtitle {
	font-size: rem(20px);
	font-weight: 600;
	margin-block-start: 24px;
	margin-block-end: 24px;
}

.migrations-overview__asterisk {
	color: var(--studio-gray-80);
	font-size: 0.75rem;
	font-weight: 400;
	margin-block-start: 12px;
	margin-bottom: 0;
	margin-block-end: 48px;
}

.migrations-overview__card-heading {
	font-size: rem(16px);
	font-weight: 600;
	letter-spacing: -0.2px;
	line-height: 1.5;
	color: var(--color-text);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.migrations-overview__hosting-cards {
	display: flex;
	gap: 24px;
	flex-direction: column;

	@include break-large {
		flex-direction: row;
	}
}

.migrations-overview__hosting-card {
	display: flex;
	gap: 16px;
	flex: 1;
	margin: 0;
	border-radius: 4px;
	color: var(--color-neutral-50);
	font-size: rem(14px);
}

.migrations-overview__hosting-card-content {
	display: flex;
	gap: 4px;
	flex-direction: column;
	letter-spacing: -0.2px;
	width: 100%;

	.button {
		margin-block-start: 12px;
	}
}

.migrations-overview__wpcom-logo {
	fill: var(--color-neutral-100);
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.migrations-overview__pressable-logo {
	min-width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.migrations-overview__tipalti-logo {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.migrations-overview__tos {
	color: var(--color-neutral-50);
	font-size: rem(14px);
	line-height: rem(24px);
	margin-block-start: 48px;

	a:link,
	a:visited,
	a:hover,
	a:active {
		color: var(--color-text);
		text-decoration: underline;
	}
}

.migrations-overview__tipalti-card-header {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: space-between;
}
