@import '@automattic/typography/styles/variables';
@import '../../assets/stylesheets/shared/mixins/_breakpoints';
@import '../../assets/stylesheets/shared/mixins/hide-content-accessibly';

/**
* GENERAL STYLING - Content
*/
.inline-help-center__content {
	&:not( .is-secondary-view-richresult ) {
		background-color: var( --color-surface );

		a {
			font-size: $font-body-small !important;
			color: var( --studio-gray-100 );
			text-decoration: none;

			&:hover {
				color: var( --studio-gray-100 );
			}
		}

		h3 {
			font-size: $font-body-small !important;
			font-weight: 500;
			color: var( --studio-gray-100 );
		}
	}

	&.is-secondary-view-active {
		.inline-help__search {
			display: none;
		}

		.inline-help__secondary-view {
			display: block;

			button.inline-help__back-button {
				font-size: $font-body-small;
				color: black;

				.gridicon {
					width: auto;
					height: auto;
					top: 4px;
					margin-right: 5px;
				}
			}
		}
	}

	/**
	* SEARCH
	*/
	.inline-help__search {
		.search__icon-navigation .gridicons-search use {
			transform: rotate( 90deg );
			transform-origin: 50% 50%;
			stroke: white;
		}

		.search__icon-navigation .gridicons-cross use {
			stroke: white;
		}

		.card.search-card {
			border: 1px solid var( --studio-gray-10 );
			border-radius: 2px;
			box-shadow: none;
			margin-bottom: 30px;

			.is-open.has-focus {
				border: 1px var( --studio-gray-50 );
				box-shadow: none;
			}

			.search {
				height: 40px;
			}
		}

		.inline-help__results {
			li:last-child {
				margin-bottom: 40px;
			}

			.inline-help__results-item {
				margin-bottom: 16px;

				.inline-help__results-cell a {
					display: flex;

					svg {
						margin-right: 15px;
						display: block;
						padding: 8px;
						background: var( --studio-gray-0 );
						fill: var( --studio-blue-50 );
					}

					span {
						display: block;
						align-self: center;
					}

					&:focus {
						box-shadow: none;
						outline: none;
					}
				}
			}
		}
	}

	/**
	* MORE RESOURCES
	*/
	.inline-help__more-resources {
		.inline-help__resource-item {
			margin-bottom: 16px;

			.inline-help__resource-cell a,
			.inline-help__resource-cell button {
				display: flex;

				svg:first-of-type {
					margin-right: 15px;
					display: block;
					padding: 8px;
					background: var( --studio-gray-0 );
				}

				span {
					display: block;
					align-self: center;
				}

				&.inline-help__video {
					svg {
						fill: var( --studio-pink-50 );
					}
				}

				&.inline-help__capture-video {
					svg {
						fill: var( --studio-orange-30 );
					}
				}

				&.inline-help__desktop {
					svg {
						fill: var( --studio-celadon-30 );
					}
				}

				&.inline-help__format-list-numbered {
					svg {
						fill: var( --studio-purple-40 );
					}
				}

				&.inline-help__new-releases {
					padding: 0;
					font-size: $font-body-small !important;
					color: var( --studio-gray-100 );
					text-decoration: none !important;
					width: 100%;

					> :first-child {
						fill: var( --studio-blue-70 );
					}

					span {
						text-decoration: none;
						color: var( --studio-gray-100 );
					}

					> svg:last-child {
						align-self: auto;
						background: none;
						color: var( --color-masterbar-unread-dot-background );
						padding-left: 8px;
					}

					&:active,
					&:focus {
						box-shadow: 0 0 0 1px var( --studio-blue-30 ), 0 0 2px 1px rgb( 79 148 212 / 80% );
						outline: 1px solid transparent;
					}
				}
			}
		}
	}

	/**
	* SECONDARY-VIEW HEADER
	*/
	.inline-help__secondary-view {
		&.inline-help__richresult,
		&.inline-help__contact {
			button.button.is-borderless {
				display: flex;
				align-items: center;
				font-size: $font-body-small;
				color: var( --studio-gray-100 );
			}
		}
	}

	/**
	* CONTACT FORM
	*/
	.inline-help__contact-page {
		.inline-help__contact-content {
			margin-bottom: 40px;
		}

		.inline-help__contact-boxes {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&.is-reversed {
				flex-direction: column-reverse;
			}

			.inline-help__contact-box {
				display: flex;
				flex-direction: row;
				border: 1px solid var( --studio-gray-5 );
				overflow: hidden;
				border-radius: 2px;
				cursor: pointer;
				margin-bottom: 16px;

				.inline-help__contact-box-icon {
					border-radius: 2px 0 0 2px;
				}

				h2 {
					font-size: $font-body-small !important;
				}

				p {
					font-size: $font-body-extra-small !important;
					color: var( --studio-gray-60 );
				}

				&.chat {
					.inline-help__contact-box-icon {
						background-color: var( --color-accent );
					}

					&.is-disabled {
						cursor: auto;

						.inline-help__contact-box-icon {
							background-color: var( --studio-gray-0 );

							svg {
								fill: var( --studio-gray-20 );
							}
						}

						h2,
						p {
							color: var( --studio-gray-60 );
						}
					}
				}

				// Text box
				:not( .inline-help__contact-box-icon ) {
					padding: 0 15px;
					margin: 16px 0;

					> * {
						padding: 0;
						margin: 0;
					}

					p {
						margin-top: 2px;
					}

					h2 {
						font-weight: 400;
					}
				}

				// Icon box
				.inline-help__contact-box-icon {
					display: flex;
					background-color: var( --studio-blue-70 );
					width: 56px;

					svg {
						fill: white;
						display: block;
						margin: auto;
					}
				}
			}
		}

		.inline-help__results {
			h3 {
				margin-bottom: 16px;

				// stylelint-disable-next-line selector-max-id
				&#inline-search--admin_section {
					margin-top: 40px;
				}
			}

			.inline-help__results-item {
				margin-bottom: 16px;

				.inline-help__results-cell a {
					display: flex;

					svg {
						margin-right: 15px;
						border-radius: 2px;
						display: block;
						padding: 8px;
						background: var( --studio-gray-0 );
						fill: var( --studio-blue-50 );
					}

					span {
						display: block;
						align-self: center;
					}

					&:focus {
						box-shadow: none;
						outline: none;
					}
				}
			}
		}
	}
}

/**
* ARTICLE EMBED
*/
.help-center .help-center__container .inline-help__embed-result {
	h1.support-article-dialog__header-title > a {
		font-size: $font-title-medium;
	}

	h2 {
		font-size: $font-title-small;
	}

	h3,
	h4 {
		font-size: $font-body;
	}

	h5 {
		font-size: $font-body-small;
	}

	h2,
	h3,
	h4,
	h5 {
		font-weight: 600;
		color: var( --color-neutral-100 );
		margin: 8px 0;
	}

	button.button.is-borderless:focus,
	a.button.is-borderless:focus {
		border: none;
		box-shadow: none;
	}

	a:not( .support-article-dialog__header-title-link ) {
		color: var( --studio-blue-50 );
		text-decoration: none;
	}

	a[name='toc'] span {
		color: var( --color-neutral-80 );
		font-size: $font-body;
	}

	.wp-block-a8c-support-table-of-contents {
		background-color: var( --studio-blue-0 );
		padding: 16px;

		ol {
			list-style-type: none;
			margin: 0;
		}

		li {
			a {
				font-size: $font-body-small;
			}

			ol {
				margin-left: 2em;
			}
		}
	}

	p {
		font-size: $font-body-small;
		color: var( --color-neutral-80 );
	}

	ul {
		font-size: $font-body-small;
		color: var( --color-neutral-80 );
		list-style-type: circle;
		list-style-position: inside;
	}

	span.noticon.noticon-star {
		color: var( --studio-yellow-20 );
	}

	.support-article-dialog__story {
		padding: 0;

		.support-article-dialog__story-content {
			.wp-block-quote {
				background-color: var( --color-neutral-0 );
				border-left: none;
				padding: 16px;
				color: var( --color-neutral-80 );
			}

			.wp-block-separator {
				margin: auto;
				border-bottom: 1px solid var( --color-neutral-10 );
				width: 100%;
			}

			.wp-block-group__inner-container {
				background-color: ( var( --color-neutral-0 ) );
				padding: 16px 0;
			}

			:where( .wp-block-group.has-background ) {
				padding: 0;
			}

			.wp-block-button {
				width: 100%;

				.wp-block-button__link {
					background-color: var( --color-surface );
					border: 1px solid var( --color-neutral-10 );
					border-radius: 2px;
					color: var( --color-neutral-70 );
					font-size: $font-body-small;
					padding: 8px 14px;
					width: 100%;
				}
			}

			.button-primary {
				background-color: var( --color-accent );
				border: 1px solid var( --color-accent );
				border-radius: 2px;
				color: var( --color-text-inverted );
				font-size: $font-body-small;
				padding: 8px 14px;
				width: 100%;
			}

			.callout .wp-block-column {
				background-color: var( --color-neutral-0 );

				.wp-block-quote {
					margin: 0;
				}
			}

			.support-article-dialog__header {
				margin-bottom: 0;
			}

			.wp-block-image figure figcaption {
				display: block;
			}
		}
	}
}
/**
* FOOTER - high specificity to overwrite base styling
*/
.help-center__container-footer {
	button.button.inline-help__contact-button {
		background-color: transparent;
		border: 1px solid var( --studio-gray-10 );
		padding: 5px;
		width: 100%;

		&:hover {
			border-color: var( --studio-gray-50 );
		}

		&:hover {
			box-shadow: none;
			outline: none;
		}

		svg {
			margin-right: 10px;
			vertical-align: middle;
		}

		span {
			color: var( --studio-gray-100 );
		}
	}
}
