@import "@automattic/typography/styles/variables";
@import "mixins";
@import "variables";

// More resources
.help-center-more-resources {
	@include help-center-link;

	.help-center-link__item.help-center-more-resources__resource-item {
		.help-center-link__cell.help-center-more-resources__resource-cell {
			a,
			button {
				&.help-center-more-resources__institution {
					> svg:first-child {
						fill: var(--studio-green);
					}
				}

				&.help-center-more-resources__capture-video {
					> svg:first-child {
						fill: var(--studio-orange-30);
					}
				}

				&.help-center-more-resources__desktop {
					> svg:first-child {
						fill: var(--studio-celadon-30);
					}
				}

				&.help-center-more-resources__format-list-numbered {
					> svg:first-child {
						fill: var(--studio-purple-40);
					}
				}
			}
		}
	}
}
