@import "@automattic/typography/styles/variables";
@import "@wordpress/base-styles/breakpoints";

.inline-help__search {
	box-sizing: border-box;
	padding: 16px;

	.card.search-card {
		border: 1px solid var(--studio-gray-10);
		border-radius: 2px;
		box-shadow: none;
		margin-bottom: 30px;

		.is-open.has-focus {
			border: 1px var(--studio-gray-50);
			box-shadow: none;
		}

		.search {
			height: 40px;
			border: 1px;
		}

		input.search__input {
			font-size: $font-body-small;
			min-height: 40px;
		}

		div.has-focus[role="search"] {
			outline: var(--color-primary-light) solid 2px;
			transition: none;
		}
	}

	.help-center-search-results__empty-results {
		padding: 8px 16px 0;
		margin: 1em 0;
		font-size: $font-body-small;
		color: var(--color-text-subtle);
		font-style: italic;
		text-align: left;

		@media screen and (min-width: 661px) {
			font-size: $font-body;
		}
	}

	.help-center-search-results__cell {
		width: 100%;

		svg {
			overflow: visible;
		}
	}

	.help-center-search-results__results {
		li:last-child {
			margin-bottom: 40px;
		}

		.help-center-search-results__title {
			font-weight: 500;
			line-height: 1.4;
			display: block;
			font-size: $font-body-small;
			text-align: left;
		}

		.help-center-search-results__item {
			margin: 0 0 16px 0;
			font-size: $font-body-small;

			@media screen and (min-width: 661px) {
				font-size: $font-title-small;
				line-height: 1.3;
			}

			a {
				text-decoration: underline;
				font-weight: normal;
				line-height: 1.4;
				display: flex;

				span {
					flex-grow: 2;
				}

				.gridicon {
					align-self: baseline;
					color: var(--color-neutral-light);
					flex-shrink: 0;
					margin-right: 8px;
					position: relative;
					top: 2px;
				}

				&:hover {
					cursor: pointer;
					background: var(--color-neutral-0);

					.gridicon {
						color: var(--color-neutral);
					}
				}

				&:focus {
					color: var(--color-text-inverted);
					outline: var(--color-primary-light) solid 2px;
					outline-offset: 2px;

					.gridicon {
						color: var(--color-text-inverted);
					}
				}
			}

			.help-center-search-results__cell a {
				display: flex;
				text-decoration: none;
				color: var(--studio-gray-100);
				font-size: $font-body-small;
				border-radius: 2px;

				svg:first-child {
					margin-right: 15px;
					display: block;
					background: var(--studio-gray-0);
					fill: var(--studio-blue-50);
					padding: 8px;
				}


				svg:last-child {
					fill: var(--studio-gray-20);
				}

				span {
					display: block;
					align-self: center;
				}

			}
		}
	}
}

.help-center-articles__list {
	list-style: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	>li {
		padding: 0;

		>a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: var(--studio-gray-100);
			margin-bottom: 16px;
			font-size: $font-body-small;

			&:hover {
				background: var(--color-neutral-0);
			}

			>svg:last-child {
				margin-left: auto;
				margin-right: 0;
				background: unset;
			}
		}
	}

	svg:first-child {
		margin-right: 15px;
		border-radius: 2px;
		display: block;
		padding: 8px;
		background: var(--studio-gray-0);
		fill: var(--studio-blue-50);
		flex-shrink: 0;
	}

	svg:last-child {
		fill: var(--studio-gray-20);
	}
}

/**
 	 * MORE RESOURCES
 	 */
.inline-help__more-resources,
.help-center-search-results__list {
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;

	.inline-help__resource-item,
	.help-center-search-results__item {
		margin: 0;
		margin-bottom: 0.6em;
		font-size: $font-body-small;

		.inline-help__resource-cell {
			width: 100%;
		}

		@media screen and (max-width: 660px) {
			line-height: 1.3;
		}

		a,
		button {
			color: #000;
			text-decoration: none;
			font-weight: normal;
			line-height: 1.4;
			display: flex;
			align-items: center;

			span {
				flex-grow: 2;
			}

			.gridicon {
				align-self: baseline;
				background: var(--color-neutral-0);
				color: var(--color-neutral-light);
				flex-shrink: 0;
				margin-right: 8px;
				padding: 10px;
				position: relative;
			}

			&:hover {
				cursor: pointer;
				background: var(--color-neutral-0);

				.gridicon {
					color: var(--color-neutral);
				}
			}
		}

		.help-center-search-results-dev__resource {
			margin-right: 15px;
			display: block;
			background: var(--studio-gray-0);
			fill: var(--studio-blue-50);
			padding: 8px;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 0.75rem;
		}
	}

	.inline-help__resource-item {
		margin-bottom: 16px;

		.inline-help__resource-cell a,
		.inline-help__resource-cell button {
			display: flex;
			border-radius: 2px;

			svg:first-of-type {
				margin-right: 15px;
				display: block;
				padding: 8px;
				background: var(--studio-gray-0);
			}

			span {
				display: block;
				align-self: center;
			}

			&.inline-help__institution {
				svg {
					fill: var(--studio-pink-50);
				}
			}

			&.inline-help__capture-video {
				svg {
					fill: var(--studio-orange-30);
				}
			}

			&.inline-help__desktop {
				svg {
					fill: var(--studio-celadon-30);
				}
			}

			&.inline-help__format-list-numbered {
				svg {
					fill: var(--studio-purple-40);
				}
			}

			&.inline-help__new-releases {
				padding: 0;
				font-size: $font-body-small !important;
				color: var(--studio-gray-100);
				text-decoration: none !important;
				width: 100%;

				> :first-child {
					fill: var(--studio-blue-70);
				}

				span {
					color: var(--studio-gray-100);
					flex-grow: 0;
					text-decoration: none;
				}

				.inline-help__new-releases_dot {
					align-self: auto;
					background: none;
					color: var(--color-masterbar-unread-dot-background);
					padding-left: 8px;
				}

				&:active,
				&:focus {
					box-shadow: none;
					outline: var(--color-primary-light) solid 2px;
				}
			}

			&:not(.inline-help__new-releases) {
				>svg:last-child {
					fill: var(--studio-gray-20);
					margin-left: auto;
				}
			}
		}
	}
}

/**
 * Third Party Cookies Notice
 */
.help-center-third-party-cookies-notice {
	h1 {
		font-size: $font-body;
		font-weight: 500;
		margin: 1em 0;
	}
}
