@import './variables.scss';
@import 'assets/stylesheets/gutenberg-base-styles';

@mixin onboarding-font-recoleta {
	font-family: Recoleta, Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	letter-spacing: -0.4px;
}

@mixin onboarding-heading-text {
	@include onboarding-font-recoleta;
	font-size: 42px;
	line-height: 57px;
}

@mixin onboarding-heading-text-mobile {
	@include onboarding-font-recoleta;
	font-size: 32px;
	line-height: 40px;
}

@mixin onboarding-large-text {
	font-size: 16px;
	line-height: 24px;
}

@mixin onboarding-medium-text {
	font-size: 14px;
	line-height: 17px;
}

@mixin onboarding-small-text {
	font-size: 12px;
	line-height: 14px;
}

@mixin onboarding-x-small-text {
	font-size: 11px;
	line-height: 13px;
}

@mixin onboarding-block-margin {
	margin: 0 20px;

	@include break-small {
		margin: 0 44px;
	}

	@include break-medium {
		margin: 0 88px;
	}
}

@mixin onboarding-heading-padding {
	margin: $gutenboarding-heading-padding-mobile;

	@include break-mobile {
		margin: $gutenboarding-heading-padding-desktop;
	}
}

/* (1920x1080) Full HD Display */
@mixin onboarding-break-gigantic() {
	@media ( min-width: 1920px ) {
		@content;
	}
}
