@import './variables.scss';
@import 'assets/stylesheets/gutenberg-base-styles';

@mixin onboarding-font-recoleta {
	font-family: Recoleta, Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	letter-spacing: -0.4px;
}

@mixin onboarding-heading-text {
	@include onboarding-font-recoleta;
	font-size: 42px;
	line-height: 57px;
}

@mixin onboarding-heading-text-mobile {
	@include onboarding-font-recoleta;
	font-size: 32px;
	line-height: 40px;
}

@mixin onboarding-large-text {
	font-size: 16px;
	line-height: 24px;
}

@mixin onboarding-medium-text {
	font-size: 14px;
	line-height: 17px;
}

@mixin onboarding-small-text {
	font-size: 12px;
	line-height: 14px;
}

@mixin onboarding-x-small-text {
	font-size: 11px;
	line-height: 13px;
}

@mixin onboarding-heading-padding {
	margin: $gutenboarding-page-content-padding-mobile 0 $gutenboarding-page-content-padding-mobile + 4px 0;

	@include break-mobile {
		margin: $gutenboarding-page-content-padding-desktop 0 $gutenboarding-page-content-padding-desktop + 8px 0;
	}
}
