<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<env name="WORDPRESS_TABLE_PREFIX" value="wptests_"/>
		<const name="WP_TESTS_MULTISITE" value="1"/>
	</php>
	<testsuites>
		<testsuite name="default">
			<directory suffix="-test.php">./phpunit/</directory>
		</testsuite>
		<testsuite name="wpcom-global-styles">
			<directory suffix="-test.php">./wpcom-global-styles/test/</directory>
		</testsuite>
	</testsuites>
</phpunit>
