<phpunit
	bootstrap="phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix="-test.php">./phpunit/</directory>
		</testsuite>
		<testsuite name="block-patterns">
			<directory suffix="-test.php">./block-patterns/test/</directory>
		</testsuite>
	</testsuites>
</phpunit>
