.comment-detail.card {
	font-size: 14px;
	margin: 0 auto;
	padding: 0;
	transition: margin .15s linear;

	&.is-expanded {
		margin: 16px auto;
	}
}

.comment-detail__author-avatar {
	flex-shrink: 0;
	img {
		border-radius: 50%;
	}
}
.comment-detail__author-info {
	color: $gray;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	strong {
		color: $gray-text;
		margin-right: 8px;
	}
}

.comment-detail__header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 12px 8px;

	&.is-preview {
		cursor: pointer;
	}

	.comment-detail.is-expanded & {
		border-bottom: 1px solid lighten( $gray, 30% );
	}

	.comment-detail__author-avatar {
		display: inline-block;
		height: 24px;
		padding: 0 8px;
		vertical-align: middle;
		width: 24px;
	}

	.comment-detail__comment-preview {
		width: 60%;
		overflow: hidden;
		padding: 0 8px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.comment-detail__actions {
		color: $gray;
		a {
			color: $gray;
			cursor: pointer;
			padding: 8px;
			white-space: nowrap;
		}
		span {
			display: none;

			@include breakpoint( ">960px" ) {
				display: inline;
			}
		}
		.gridicon {
			margin-right: 4px;
			vertical-align: middle;
		}
	}
}

.comment-detail__post {
	border-bottom: 1px solid lighten( $gray, 30% );
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	padding: 12px 16px;

	.reader-avatar {
		flex-shrink: 0;
		margin-left: 0;
	}

	.comment-detail__post-info {
		color: $gray;
		line-height: 32px;
		overflow: hidden;
		padding-left: 4px;
		text-overflow: ellipsis;
		white-space: nowrap;

		span {
			color: $gray-text;
			margin-right: 8px;
		}

		a {
			color: $gray;
		}
	}
}

.comment-detail__comment {
	border-bottom: 1px solid lighten( $gray, 30% );
	padding-left: 16px;

	.comment-detail__comment-content {
		border-left: 3px solid lighten( $gray, 30% );
		padding: 16px;
	}

	.comment-detail__author {
		display: flex;
		flex-flow: row nowrap;
		padding-bottom: 16px;

		.comment-detail__author-avatar {
			height: 40px;
			width: 40px;
		}

		.comment-detail__author-info {
			line-height: 1.4;
			padding-left: 8px;
		}
	}
}
