@import '@wordpress/base-styles/colors';

.dashboard-scan__progress-bar{
	--wp-components-color-foreground: var(--wp-admin-theme-color);
}

.site-scan-threats__type-icon {
	background-color: $gray-100;
	border-radius: $radius-small;
	fill: $gray-700;
	flex-shrink: 0;
	padding: 4px;
}
