.is-section-reader .recent-feed {
	display: flex;

	&__list-column {
		flex: 1;
	}

	&__post-column {
		flex: 3;

		.reader-full-post__sidebar,
		.reader-full-post__author-block,
		.back-button {
			display: none;
		}
	}
}
