.dashboard-widget {
	overflow: hidden;

	.dashboard-widget__content {
		display: flex;
		flex-direction: column;
	}

	&.one-third {
		.dashboard-widget__image {
			max-width: 181px;
		}
	}

	&.is-full-width {
		text-align: center;

		&.is-left,
		&.is-right {
			flex-direction: row;
			text-align: left;

			.dashboard-widget__content {
				flex-direction: row;
				justify-content: space-between;

				.dashboard-widget__image {
					max-width: 328px;
				}
			}

			&.is-flush-image {
				.dashboard-widget__content {
					.dashboard-widget__image {
						max-width: 352px;
					}
				}
			}

			.dashboard-widget__children {
				width: calc( 50% - 16px );

				@include breakpoint( ">480px" ) {
					width: calc( 50% - 34px );
				}

				.dashboard-widget__image {
					margin-left: 16px;
				}
			}
		}

		&.is-right {
			.dashboard-widget__children {
				.dashboard-widget__image {
					margin-left: 0;
					margin-right: 16px;
				}
			}
		}

		&.is-top,
		&.is-bottom {
			.dashboard-widget__image {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.is-top {
		.dashboard-widget__image {
			margin-bottom: 16px;
		}
	}

	&.is-bottom {
		.dashboard-widget__image {
			margin-top: 16px;
		}
	}

	&.is-flush-image {
		&.is-top {
			.dashboard-widget__image {
				margin-top: -16px;

				@include breakpoint( ">480px" ) {
					margin-top: -24px;
				}
			}
		}

		&.is-bottom {
			.dashboard-widget__image {
				margin-bottom: -16px;

				@include breakpoint( ">480px" ) {
					margin-bottom: -24px;
				}
			}
		}

		&.is-right {
			.dashboard-widget__image {
				margin-right: -16px;

				@include breakpoint( ">480px" ) {
					margin-right: -24px;
				}
			}
		}

		&.is-left {
			.dashboard-widget__image {
				margin-left: -16px;

				@include breakpoint( ">480px" ) {
					margin-left: -24px;
				}
			}
		}
	}

	.dashboard-widget__title {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 6px;
	}

	.dashboard-widget__image {
		background: red; // @TODO: Remove! Just for testing
		width: 100%;
	}

	p {
		color: $gray-text-min;
		font-size: 14px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
