/**
 * Site Selector
 * @component `selector`
 */
.site-selector {
	overflow: visible;
	position: static;
	pointer-events: auto;
	border: none;
	z-index: z-index( 'root', '.site-selector' );

	&.is-large .search  {
		display: block;
	}
}

// Styles for Site elements within the Selector
.site-selector .site,
.site-selector .all-sites {
	font-size: 14px;

	// Highlight selected site
	&.is-selected,
	.notouch &.is-selected:hover {
		background-color: $gray;

		.site__badge {
			color: $white;
		}

		.site__title,
		.site__domain {
			color: $white;
			&::after {
				@include long-content-fade( $color: $gray );
			}
		}

		.count {
			border-color: $white;
			color: $white;
		}

		&.is-private .site__title::before {
			color: $white;
		}
	}

	// Hover effects
	.notouch & {
		&:hover {
			background-color: $gray-light;
			cursor: pointer;

			.site__title,
			.site__domain {
				color: $blue-medium;
				&::after {
					@include long-content-fade( $color: $gray-light );
				}
			}

			.count {
				border-color: $blue-medium;
				color: $blue-medium;
			}
		}
	}
}

.site-selector .search {
	display: none;
	margin-bottom: 0;
	width: auto;
	height: auto;
	padding: 8px;
	border-bottom: 1px solid lighten( $gray, 30% );

	.search__input[type="search"] {
		position: relative;
		height: auto;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 32px;
		font-size: 13px;
		border: 1px solid lighten( $gray, 20% );
		-webkit-appearance: none;

		&:hover {
			border: 1px solid lighten( $gray, 10% );
			background-color: $white;
		}

		&::-webkit-input-placeholder {
			color: $gray;
		}

		&::-moz-placeholder {
			color: $gray;
		}
	}

	.search-open__icon {
		background-color: transparent;
		border-left: none;
		color: $gray;
		padding: 0;
		width: auto;
		position: absolute;
			top: 50%;

		&:not(.ltr) {
			left: 18px;
		}

		&.ltr {
			left: 18px #{"/*rtl:ignore*/"};
		}

		margin-top: -9px;
		width: 18px;
		height: 18px;
	}

	&.is-open {
		.search-close__icon {
			color: $gray;

			&:not(.ltr) {
				right: 16px;
			}

			&.ltr {
				right: 16px #{"/*rtl:ignore*/"};
			}

			margin-top: -9px;
			width: 18px;
			height: 18px;
		}
	}
}

// The actual list of sites
.site-selector__sites {
	max-height: calc( 100% - 89px );
	overflow-y: auto;
}

.site-selector__no-results {
	color: $gray;
	font-style: italic;
	padding: 10px 20px;
}

.site-selector__add-new-site {
	padding: 8px 9px;
	display: block;
	border-top: 1px solid lighten( $gray, 20% );
}

// Containers in the list of sites are larger
.site-selector .site-action {
	padding-top: 15px;
}

.site-selector .all-sites {
	border-bottom: 1px solid lighten( $gray, 20% );
}

.site-selector__recent {
	border-bottom: 1px solid lighten( $gray, 30% );
}
