.p2-login-signup__site-part {
	border-left: 3px solid var( --p2-color-link );
	padding-left: 24px;
	margin-bottom: 44px;
}

.p2-login-signup__site-title {
	font-weight: bold;
	font-size: 26px;
	color: var( --p2-color-text );
}

.p2-login-signup__blog-name {
	margin-bottom: 25px;
}

.p2-login-signup__change-details-link {
	font-size: 14px;
}

.p2-login-signup__actions {
	margin-top: 44px;
}

button.p2-login-signup__login-btn {
	margin-bottom: 16px;
}
