// Custom breakpoints needed to match original design

$reader-post-card-breakpoint-xlarge: "( min-width: 1040px )";
$reader-post-card-breakpoint-large: "( min-width: 961px ) and ( max-width: 1040px )";
$reader-post-card-breakpoint-medium: "( min-width: 661px ) and ( max-width: 940px )";
$reader-post-card-breakpoint-small: "( max-width: 550px )";

.reader-post-card.card {
	border-bottom: 1px solid lighten( $gray, 30% );
	box-shadow: none;
	margin: 10px;
	padding: 20px 10px;

	@include breakpoint( ">660px" ) {
		padding: 20px 0;
	}

	&.has-thumbnail {

		.reader-post-card__excerpt {
			margin-bottom: 20px;
		}

		.reader-post-card__social {
			box-sizing: border-box;
			display: flex;
			float: right;
			font-family: $sans;
			height: 22px;
			list-style-type: none;
			margin: 0;
			width: 100%;

			.gridicon {
				fill: lighten( $gray, 10% );
			}
		}
	}
}

.reader-post-card__meta {
	display: flex;
	font-size: 13px;
	margin: -4px 0 15px;
}

.reader-post-card__author::after {
	content: ', ';
}

.reader-post-card__timestamp-and-tag {
	color: 	lighten( $gray, 10% );
	margin-top: -6px;
}

.reader-post-card__timestamp {
	margin-right: 10px;
}

.reader-post-card__tag .gridicons-tag {
    height: 18px;
    margin: 0 3px 0 6px;
    position: relative;
    	top: 5px;
	width: 15px;
}

.reader-post-card .gravatar {
	float: left;
	height: 32px;
	margin: 2px 6px 0 0;
	vertical-align: text-top;
	width: 32px;
}

.reader-post-card__link,
.reader-post-card__link:visited {
	color: $blue-medium;
	cursor: pointer;
}

.reader-post-card__post {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	.reader-post-card__featured-image {
		flex-basis: auto;
		flex-grow: 1;
		margin-right: 20px;
		max-width: 190px;

		@include breakpoint( ">960px" ) {
			max-width: 250px;
		}

		@media #{$reader-post-card-breakpoint-medium} {
			height: 100px;
			max-width: none;
			width: 100%;
		}

		@media #{$reader-post-card-breakpoint-small} {
			height: 100px;
			max-width: none;
			width: 100%;
		}
	}

	.reader-post-card__post-details {
		flex: 1;
	}

	@media #{$reader-post-card-breakpoint-large} {
		flex-direction: row;
	}

	@media #{$reader-post-card-breakpoint-medium} {
		flex-direction: column;
	}

	@media #{$reader-post-card-breakpoint-small} {
		flex-direction: column;
	}
}

.reader-post-card__post-details {
	font-family: $serif;
}

.reader-post-card__title {
	line-height: 1.3;
}

// Needs to overwrite .reader__content a
.reader__content .reader-post-card__title-link,
.reader__content .reader-post-card__title-link:visited,
.reader-post-card__title-link,
.reader-post-card__title-link:visited {
	color: $gray-dark;
	cursor: pointer;
	font-size: 27px;
	font-weight: 600;

	&:hover {
		color: $gray-dark;
	}
}

.reader-post-card__excerpt {
	font-size: 16px;
	font-weight: 100;
}

.reader-post-card__social {
	font-family: $sans;
	display: flex;
	margin: 10px 0 0;
}

.reader-post-card__visit,
.reader-post-card__share,
.reader-post-card__comments,
.reader-post-card__likes,
.reader-post-card__post-options {
	align-items: center;
    display: inline-flex;

	.gridicon {
		fill: lighten( $gray, 10% );
	}
}

.reader-post-card__visit {
	padding: 0;
}

.reader-post-card__share .reader-share__button-label {
	color: lighten( $gray, 10% );
	font-size: 14px;
	margin: 0 4px;

	@include breakpoint( "<660px" ) {
		display: none;
	}
}

.reader-post-card__visit {
	flex: 1;

	.external-link {
		color: lighten( $gray, 10% );
		font-size: 14px;
	}
}

.reader-post-card__share .reader-share__button-label,
.reader-post-card__comments .comment-button__label-status,
.reader-post-card__likes .like-button__label-status {

	@media #{$reader-post-card-breakpoint-large} {
		display: none;
	}

	@media #{$reader-post-card-breakpoint-medium} {
		display: none;
	}

	@include breakpoint( "<660px" ) {
		display: none;
	}
}

// For these borderless cards to look more presentable on Devdocs
.is-section-devdocs .reader-post-card.card {
	padding: 16px;
}

.is-section-devdocs .reader-post-card__featured-image {
	bottom: 16px;
}
