.wp-block-jetpack-repeat-visitor .components-notice {
	margin: 1em 0 0;

	.components-notice__content {
		margin: 0.5em 0;
		font-size: 0.8em;

		.components-base-control {
			display: inline-block;
			max-width: 8em;
			vertical-align: middle;

			.components-base-control__field {
				margin-bottom: 0;
			}
		}
	}
}

.wp-block-jetpack-repeat-visitor--is-unselected .wp-block-jetpack-repeat-visitor-placeholder {
	padding: 0;
	transform: scaleY( 0 );
	visibility: collapse;
}

.wp-block-jetpack-repeat-visitor-placeholder {
	min-height: inherit;
	transform: scaleY( 1 );
	transition: all 0.1s linear;

	.components-placeholder__label svg {
		margin-right: 0.5ch;
	}
}

.wp-block-jetpack-repeat-visitor-threshold {
	margin-right: 20px;

	.components-text-control__input {
		width: 5em;
		text-align: center;
	}
}

.wp-block-jetpack-repeat-visitor {
	.components-radio-control__option {
		text-align: left;
	}
}
