@import './base-styles';

// Reusable style variables
$onboarding-header-height: $header-height;
$onboarding-footer-height: $header-height;
$onboarding-heading-padding-desktop: 64px 0 80px;
$onboarding-heading-padding-mobile: 44px 0 50px;

// Block margins increment by 2x
$onboarding-block-margin-mobile: 24px;
$onboarding-block-margin-small: 48px;
$onboarding-block-margin-medium: 96px;
