@import './base-styles';

// Reusable style variables
$onboarding-header-height: $header-height;
$onboarding-footer-height: $header-height;
$onboarding-heading-padding-desktop: 64px 0 80px;
$onboarding-heading-padding-mobile: 44px 0 50px;
$onboarding-block-margin-mobile: 20px;
$onboarding-block-margin-small: 44px;
$onboarding-block-margin-medium: 88px;
