.dot-pager__controls {
	margin: 0;
	margin-top: 16px;
	display: flex;
	justify-content: center;

	li {
		display: inline-flex;
		margin: 0 4px;
		height: 18px;
		align-items: center;
	}

	button {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		cursor: pointer;
		background-color: var( --color-neutral-10 );

		&:hover {
			background-color: var( --color-neutral-light );
		}

		&:disabled {
			cursor: default;
		}

		&.dot-pager__current {
			background-color: var( --color-primary );
		}

		&.dot-pager__prev,
		&.dot-pager__next {
			width: 18px;
			height: 18px;
			background-color: transparent;
		}
	}
}
