$threads-font-size: 15px !default;
$threads-line-height: 21px !default;
$threads-text-primary-color: rgb(0, 0, 0) !default;
$threads-text-secondary-color: rgb(153, 153, 153) !default;
$threads-actions-icon-color: rgb(66, 66, 66) !default;
