.wpnc__status-bar {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: $wpnc__title-bar-height;
	width: 100%;
	z-index: 101;
	background-color: var(--color-error);
	color: var(--color-text-inverted);

	a,
	a:visited {
		color: var(--color-text-inverted);
		font-weight: 600;
		text-decoration: underline;
	}

	a:hover,
	a:focus,
	a:active {
		color: var(--color-text-inverted);
	}

	span {
		margin: 15px 5px;
	}

	button.wpnc__close-link {
		position: relative;
	}
}

.wpnc__status-bar.success {
	background-color: var(--color-success);
}
