// Mobile Back to Sidebar
.mobile-back-to-sidebar {
	margin: 0 0 8px;
	padding: 15px 0 15px 36px;
	position: relative;
	background: var( --color-white );
	border-bottom: 1px solid var( --color-neutral-100 );
	cursor: pointer;

	@include breakpoint( '>660px' ) {
		display: none;
	}
}

.mobile-back-to-sidebar__icon {
	position: absolute;
		top: 16px;
		left: 10px;
	fill: var( --color-neutral-light );
	height: 20px;
	width: 20px;
	transform: rotate( 180deg );
}

.mobile-back-to-sidebar__content {
	font-size: 15px;
	color: var( --color-neutral-700 );
}
