// Mobile Back to Sidebar
.mobile-back-to-sidebar {
	display: flex;
	width: 100%;
	align-items: center;
	margin: 0 0 8px;
	padding: 14px 0;
	background: var( --color-surface );
	border-bottom: 1px solid var( --color-neutral-10 );
	cursor: pointer;

	@include a8c-breakpoint( '>660px' ) {
		display: none;
	}
}

.mobile-back-to-sidebar__icon {
	fill: var( --color-neutral-light );
	margin: 0 14px 0 8px;
}

.mobile-back-to-sidebar__content {
	color: var( --color-neutral-70 );
}
