.editor-sharing__publicize-options {
	&.has-connections,
	&.has-add-option {
		margin-bottom: 20px;
	}

	.add-new-button__text {
		padding-right: 4px;
	}

	.editor-sharing__external-link-indicator {
		color: $gray;
		margin-left: 4px;
		vertical-align: text-top;
	}
	.notice.is-compact {
		margin: 8px 0;
	}
}

.editor-sharing__add-connection {
	position: relative;
	display: block;
	padding-left: 20px;
	margin-bottom: 16px;
}

.editor-sharing__add-connection-icon {
	position: absolute;
		top: 50%;
		left: 0;
	transform: translateY( -50% );
}

.editor-sharing__publicize-disabled {
	color: $gray-text-min;
	font-size: 13px;
	span {
		display: block;
	}
}

.editor-sharing__jetpack-modules-button {
	margin-top: 10px;
}
