.section-header.card {
	display: flex;
	align-items: center;
	padding-top: 11px;
	padding-bottom: 11px;
	position: relative;

	&:after {
		content: '';
	}
}

.section-header__label {
	display: flex;
		align-items: center;
	flex-grow: 1;
	line-height: 28px;
	position: relative;


	&:before {
		@include long-content-fade( $color : $white );
	}

	.count {
		margin-left: 8px;
	}
}

.section-header__actions {
	flex-grow: 0;
	position: relative;

	@include clear-fix;
}

.section-header__label {
	color: $gray;
	font-size: 14px;
}

.section-header__actions {
	.button {
		float: left;
		margin-right: 8px;
	}

	& > .button:last-child {
		margin-right: 0;
	}
}
