.status__card-list {
	margin: 0;
	padding: 0;

	list-style-type: none;

	> li {
		margin: 44px 0;

		&:first-child {
			margin-top: 0;
		}
	}
}

.is_jetpackcom .status__card-list {
	margin-top: 32px;
}
