.global-notices {
	overflow: hidden;

	z-index: 180;
	position: fixed;
		top: 47px + 32px;
		right: 48px;

	@include breakpoint( "<960px" ) {
	}

	@include breakpoint( "<660px" ) {
		top: 16px;
	}
}

.global-notices .notice {
	border-radius: 50px;
	display: inline-flex;
	z-index: 180;
}
