@import "@automattic/typography/styles/variables";
@import "@automattic/onboarding/styles/mixins";


@media ( max-width: 480px) {
	html,
	body,
	#wpcom,
	#content {
		overflow-y: hidden;
		height: 100vh;
		main[role="main"] {
			overflow-y: hidden;
			height: 100vh;
		}
	}
}


.domains-table {
	--domains-table-toolbar-height: 40px;
	height: 100%;
	overflow-y: hidden;

	border-collapse: collapse;

	@media ( max-width: 480px ) {
		padding: 16px;
	}

	table {
		margin-top: 30px;
		border-collapse: collapse;

		tr {
			border-bottom: 1px solid #f0f0f0;
		}
	}

	th {
		padding-bottom: 16px;
		color: var(--studio-gray-60);
		vertical-align: middle;
		font-size: $font-body-small;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
	}

	.domains-table__bulk-action-container {
		width: 0;
		min-width: fit-content;

		.components-checkbox-control__input-container {
			margin-right: 16px;
		}
	}

	td {
		padding: 20px 0;
		height: 44px;
		vertical-align: middle;

		color: var(--studio-gray-50);
		font-size: $font-body-small;
		line-height: 20px;
		font-style: normal;
	}

	.domains-table__domain-name {
		color: var(--studio-gray-100);
		font-size: $font-body;
		line-height: 24px;
		font-weight: 500;
	}

	a.domains-table__domain-name:hover,
	.domains-table__add-site-link {
		text-decoration: underline;
		color: var(--color-link);
	}

	.domains-table__primary-domain-label {
		margin-bottom: 4px;
	}

	.domains-table-row__status-cell {
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: $font-body-small;

		@media ( min-width: 480px) {
			width: 100px;
		}

		&__status-success,
		&__status-verifying,
		&__status-premium,
		&__status-alert,
		&__status-warning,
		&__status-error {
			color: var(--studio-green-50);
			& svg {
				color: var(--studio-green-50);
			}
		}

		&__status-verifying,
		&__status-alert,
		&__status-warning,
		&__status-error {
			color: var(--studio-red-50);
			& svg {
				color: var(--studio-red-50);
			}
		}
	}

	.domains-table-row__actions {
		text-align: right;
	}
}

.domains-bulk-update-status-popover {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: var(--studio-gray-50);

	&-item {
		color: var(--studio-gray-100);

		> div {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	&-item-date {
		margin-left: 16px;
		font-size: smaller;
		color: var(--studio-gray-50);
	}

	&-item-indicator {
		border-radius: 50%;
		height: 8px;
		width: 8px;
		min-height: 8px;
		min-width: 8px;
		flex-shrink: 0;

		&__pending {
			@extend .domains-bulk-update-status-popover-item-indicator;
			background-color: var(--studio-orange-40);
		}
	}
}

.domains-table-bulk-actions-notice-popover {
	max-height: 300px;
	overflow-y: auto;
	p {
		line-height: 1.2;
		font-size: smaller;
	}
}

.domains-table-row__domain-type-text {
	display: none;
	font-size: $font-body-extra-small;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;

	@include break-large {
		display: block;
	}
}

.domains-table-mobile-cards {
	height: 100%;
	overflow-y: auto;
	padding: 0 4px;
	.domains-table__bulk-action-container {
		margin-top: 16px;
	}
}

.domains-table-mobile-card {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 16px 0;
	border-bottom: 1px solid #f0f0f0;

	&-header {
		display: flex;
		align-items: center;
		gap: 8px;

		.domains-table__domain-name {
			text-align: left;
		}

		.components-base-control,
		.components-checkbox-control__input,
		.components-checkbox-control__checked {
			width: 20px;
			height: 20px;
		}
	}

	> div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-label {
		font-size: $font-body-small;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: -0.15px;
		color: var(--gray-gray-60);
	}

	&-registered-date {
		font-size: $font-body-small;
	}

	&-email {
		a.add-email-button {
			color: var(--studio-blue-50);
			font-size: $font-body-small;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 142.857% */
			letter-spacing: -0.15px;
			text-decoration: underline;
		}
	}
}
