.product-image-uploader__wrapper {
	background: $gray-light;
	height: 250px;
	width: 100%;
	position: relative;
	margin-bottom: 16px;
	border: 1px dashed $gray;
	border-radius: 5px;
	@include breakpoint( ">960px" ) {
		margin-bottom: 0;
		width: 250px;
	}

	.product-image-uploader__picker {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		cursor: pointer;

		.gridicon {
			color: darken( $gray, 10% );
		}

		p {
			font-size: 14px;
		}
	}
}

.product-image-uploader__picker.compact {
	width: 18.4%;
	position: relative;
	margin-bottom: 16px;

	@include breakpoint( ">960px" ) {
		width: 30%;
	}

	.file-picker {
		display: block;
		text-align: center;
		border: 1px dashed $gray;
		height: 60px;
		border-radius: 5px;
		cursor: pointer;
		background: $gray-light;
	}

	&:nth-child( 6 ) {
		margin-right: 0;

		@include breakpoint( ">960px" ) {
			margin-right: 5%;
		}
	}

	&:nth-child( 7 ) {
		clear: both;
	}

	&:nth-child( 7 ),
	&:nth-child( 4 ) {
		@include breakpoint( ">960px" ) {
			clear: none;
			margin-right: 0;
		}
	}
}

.product-image-uploader__wrapper.placeholder {
	animation: loading-fade 1.6s ease-in-out infinite;
	cursor: default;
	.product-image-uploader__picker {
		cursor: default;
	}
}
