.reader__card.card  .discover-attribution {
	font-size: 13px;
	font-family: $sans;
	text-transform: lowercase;
	color: $gray;
	position: relative;
	margin-top: 13px;
	margin-bottom: 8px;

	&.is-site {
		margin-top: 15px;
	}

	&.is-missing-avatar {
		&.is-post {
			padding-left: 26px;
		}
	}

	.gridicon-arrow {
		height: 12px;
		width: 12px;
		fill: $white;
		background: $gray;
		padding: 4px;
		border-radius: 100%;
		transform: rotate(180deg);
		position: relative;
			top: 6px;
		margin-right: 6px;

	}

	.gravatar {
		background: $gray-light;
		position: relative;
			top: 6px;
		margin: 1px 6px 1px 0;
	}

	&.is-post a {
		padding-left: 3px;
		padding-right: 3px;
	}

	.discover-attribution__author,
	.discover-attribution__blog {
		text-transform: none;
	}

	.noticon {
		font-size: 20px;
		height: 20px;
		background-color: #c8d7e1;
		color: #fff;
		margin-right: 6px;
	}

	.follow-button {
		position: relative;
		border: none;
		padding: 0;
		margin: 10px 11px 0;
		color: lighten( $gray, 10% );
		font-size: 12px;
		line-height: 18px;

		&.is-following {
			color: $alert-green;
		}
	}
}


.discover-visit-link {
	background: $gray-light;
	color: darken( $gray, 20 );
	padding: 16px 32px 16px 24px;
	margin: 20px -24px 8px -24px;
	position: relative;

	@include breakpoint( "<480px" ) {
		margin-left: -16px;
		margin-right: -16px;
		padding-left: 16px;
		padding-right: 24px;
	}
}
