.p2-details__site-part {
	border-left: 3px solid var( --p2-color-link );
	padding-left: 24px;
	margin-bottom: 40px;
}

.p2-details__site-title {
	font-weight: bold;
	font-size: var( --p2-font-size-form-xl );
	color: var( --p2-color-text );
	line-height: 1.3;
	margin-bottom: 4px;
}

.p2-details__blog-name {
	margin-bottom: 24px;
}

.p2-details__change-details-link {
	font-size: var( --p2-font-size-form-xs );
}

.p2-details__actions {
	margin-top: 44px;
}

button.p2-details__login-btn.is-primary {
	margin-bottom: 16px;
}
