.translator-invite__content {
	margin: 0 0 8px 0;
	font-size: $font-body-extra-small;
	font-style: normal;
	max-width: 75%;
	text-align: left;

	&.notice-header {
		/* stylelint-disable-next-line scales/font-sizes */
		font-size: 1.125rem; //typography-exception
		font-weight: 500;
	}

	&.notice-description {
		/* stylelint-disable-next-line scales/font-sizes */
		font-size: 0.9375rem; //typography-exception
		line-height: 1.3;
		color: var(--color-text-subtle);
	}
}
.translator-invite .is-link {
	text-decoration: underline;
}
.translator-invite .material-icon {
	margin: 0 2px -4px 0;
}
