
.edit-post-meta-boxes-area {
	position: relative;

	/**
	 * The wordpress default for most meta-box elements is content-box. Some
	 * elements such as textarea and input are set to border-box in forms.css.
	 * These elements therefore specifically set back to border-box here, while
	 * other elements (such as .button) are unaffected by Gutenberg's style
	 * because of their higher specificity.
	 */
	&__container,
	.inside {
		box-sizing: content-box;
	}

	textarea,
	input {
		box-sizing: border-box;
	}

	/* Match width and positioning of the meta boxes. Override default styles. */
	#poststuff {
		margin: 0 auto;
		padding-top: 0;
		min-width: auto;
	}

	/* Override Default meta box stylings */
	#poststuff h3.hndle,
	#poststuff .stuffbox > h3,
	#poststuff h2.hndle { /* WordPress selectors yolo */
		border-bottom: $border-width solid $light-gray-500;
		box-sizing: border-box;
		color: inherit;
		font-weight: 600;
		outline: none;
		padding: 15px;
		position: relative;
		width: 100%;
	}

	.postbox {
		border: 0;
		color: inherit;
		margin-bottom: 0;
	}

	.postbox > .inside {
		border-bottom: $border-width solid $light-gray-500;
		color: inherit;
		padding: 0 $block-padding $block-padding;
		margin: 0;
	}

	.postbox .handlediv {
		height: 44px;
		width: 44px;
	}

	&.is-loading::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		background: transparent;
		z-index: z-index(".edit-post-meta-boxes-area.is-loading::before");
	}

	.spinner {
		position: absolute;
		top: 10px;
		right: 20px;
		z-index: z-index(".edit-post-meta-boxes-area .spinner");
	}
}

.edit-post-meta-boxes-area__clear {
	clear: both;
}
