$progress-duration: 800ms;

.loading-bar {
	position: relative;
	overflow: hidden;
	height: 6px;
	margin-top: 1em;
	background: var(--studio-gray-10);

	--progress: 0;

	&::before {
		background: var(--studio-blue-50);
		transform: translateX(calc(-100% * min(1 - var(--progress, 0), 1)));
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: transform $progress-duration ease-out;
	}
}
