.list-sites-directory {
	margin-top: 16px;
}

.list-sites-directory__empty {
	padding: 40px 0;
	text-align: center;
	color: var( --studio-gray-40 );
}

.list-sites-directory__site {
	border-bottom: 1px solid var( --color-neutral-5 );

	&:last-child {
		border-bottom: none;
	}

	.reader-sites-list {
		margin: 0;
	}

	.reader-site-item {
		border-bottom: none;
	}
}
