@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@wordpress/base-styles/variables";
@import "calypso/my-sites/plans-grid/media-queries";

:root {
	--scss-font-body-small: #{$font-body-small};
}

.is-2023-pricing-grid {
	margin: 0 auto;

	.signup__steps & {
		width: auto;
	}

	.is-section-stepper &,
	.is-section-signup & {
		@include plan-features-layout-switcher;
	}

	.is-section-plans:not(.is-sidebar-collapsed) & {
		@include plan-features-layout-switcher-with-sidebar;
	}

	.is-section-plans.is-sidebar-collapsed & {
		@include plan-features-layout-switcher;
	}

	.signup__steps .plans-features-main__group.is-scrollable & {
		max-width: 100%;
	}

	.plans-wrapper {
		margin: 0 20px;
		padding: 0 0 10px;
		overflow-x: visible;

		@include plans-2023-break-small {
			padding-top: 35px; // enough to cover `plans-grid__popular-badge` repositioning (top: -35px)
			margin: 0;
		}

		@include plans-2023-break-medium {
			margin: 0 20px;
		}

		@include plans-section-break-medium {
			margin: 0;
		}

		@include plans-2023-break-medium {
			margin: 0 20px;
		}

		@include plans-section-break-medium {
			margin: 0;
		}
	}
}

.is-section-plans .plans-wrapper {
	transform: translateY(-20px);
}

.plans-features-main__comparison-grid-container {
	&.is-hidden {
		display: none;
	}
}

// Content group
.plans-features-main__group {
	& + & {
		padding-top: 19px; // popular banner height adjustment
	}

	+ .faq {
		margin-top: 20px;
	}
}

.notice.plan-features-main__notice {
	margin: 0 20px 24px;
	width: unset;

	@include plans-section-custom-mobile-breakpoint {
		margin: 0 0 24px;
		width: 100%;
	}
}

/*TODO: Remove the section below when the 2023 pricing grid is live to all locales */
.plans-features-main__group.is-scrollable:not(.is-2023-pricing-grid) {
	position: relative;

	.is-section-signup & {
		--approximate-viewport-scrollbar-width: 20px;

		width: calc(100vw - var(--approximate-viewport-scrollbar-width));
		margin-left: calc(50% - 50vw + var(--approximate-viewport-scrollbar-width) / 2);

		@media ( min-width: 1600px ) {
			max-width: 1600px;
			margin-left: -280px;
		}

		@include breakpoint-deprecated( "<1040px" ) {
			padding-top: 12px;
		}
	}

	.is-section-plans & {
		overflow: hidden;
		width: calc(100vw - 278px);
		margin-left: calc(50% - 50vw + 138px);

		@include breakpoint-deprecated( "<660px" ) {
			margin-left: 0;
			width: 100%;
		}

		@media ( min-width: 1800px ) {
			max-width: 1520px;
			margin-left: -240px;
		}
	}
}

/**
 * We auto-scroll to the plan comparison grid when it is shown.
 * However, on the /plans page, due to the presence of the masterbar on top,
 * we need to add a scroll offset.
 */
.is-section-plans .plans-features-main__comparison-grid-container {
	scroll-margin-top: $plan-features-header-banner-height + 24px;
	margin: auto;
	@include plan-comparison-grid-breakpoints-with-sidebar;
}

.is-section-signup .plans-features-main__comparison-grid-container {
	margin: auto;
	@include plan-comparison-grid-breakpoints;
}

.is-section-stepper .plans-features-main__comparison-grid-container {
	margin: auto;
	@include plan-comparison-grid-breakpoints;
}

.is-2023-pricing-grid .plan-features-2023-grid__content {
	position: relative;
	margin: auto;

	.is-section-stepper &,
	.is-section-signup & {
		@include pricing-grid-breakpoints;
	}

	.is-section-plans:not(.is-sidebar-collapsed) & {
		@include pricing-grid-breakpoints-with-sidebar;

	}

	.is-section-plans.is-sidebar-collapsed.is-domain-plan-package-flow & {
		@include pricing-grid-breakpoints-with-sidebar;

	}

	.is-section-plans.is-sidebar-collapsed:not(.is-domain-plan-package-flow) & {
		@include pricing-grid-breakpoints;
	}

}

.plans-features-main__group.is-wpcom.is-2023-pricing-grid {
	padding-top: 19px;
	margin-top: 24px;
}

.plans-features-main__group.is-wpcom:not(.is-2023-pricing-grid) {
	padding-top: 26px;

	@media ( min-width: 880px ) {
		padding-top: 19px;
	}
}

// Required additional specificity
.plans-features-main__banner {
	text-align: center;
	padding: 5px 0;
}

.plans-features-main__banner-content {
	display: inline-block;
	background: var(--color-surface);
	border-radius: 2px;
	padding: 2px 12px;
	@include elevation( 2dp );

	button.is-borderless {
		color: var(--color-accent);
		text-decoration: underline;
		vertical-align: baseline;
		margin-left: 0.5em;
	}
}

// Header sub-component
.plans-features-main__header {
	margin: 0 0 16px;
	padding: 0 16px;

	@include breakpoint-deprecated( ">480px" ) {
		margin-bottom: 28px;
		padding: 0 24px;
	}

	@include breakpoint-deprecated( ">660px" ) {
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		text-align: center;
	}
}

.plans-features-main__heading {
	margin: 0 0 12px;
	font-size: 17px; /* stylelint-disable-line declaration-property-unit-allowed-list */
	line-height: 1;
	font-weight: 600;
	color: var(--color-text);

	@include breakpoint-deprecated( ">480px" ) {
		font-size: $font-title-medium;
		font-weight: 400;
	}
}

.plans-features-main__subhead {
	margin: 0;
	font-size: $font-body-small;
	line-height: 1.35;
	color: var(--color-text-subtle);
}

/**
 * Styles for design reskin
 * The `is-white-signup` class is attached to the body when the user is assigned the `reskinned` group of the `reskinSignupFlow` a/b test
 */
body.is-section-signup.is-white-signup {
	.plans-features-main {
		.plan-faq {
			h1 {
				margin-top: 10px;
				margin-bottom: 30px;
			}
		}
		.plans-features-main__banner-content {
			box-shadow: none;
			display: flex;
			align-items: center;
			justify-content: center;

			.is-free-plan {
				padding: 12px 32px;
				margin-left: 12px;
				border-radius: 2px;
				font-weight: 400;
			}
		}

		.plan-features__header {
			border-top: 1px solid #e2e4e7;
			border-bottom: none;
			border-radius: 0;
			padding: 20px;

			.plan-features__header-title {
				font-size: 18px; /* stylelint-disable-line declaration-property-unit-allowed-list */
			}

			.plan-features__audience {
				color: #646970;
				font-weight: normal;
			}

			.plan-pill {
				background: var(--color-text);
				color: var(--color-text-inverted);
				font-size: 13px; /* stylelint-disable-line declaration-property-unit-allowed-list */
				top: unset;
				bottom: -10px;
				left: 20px;
				right: unset;
				padding: 2px 8px 3px;
			}
		}

		.plan-features__scroller-container {
			.plan-features__scroll-button {
				background: var(--color-text);
				color: var(--color-text-inverted);
				&[disabled] {
					display: none;
				}
			}
			.plan-features__scroll-indicator-dot {
				background: var(--color-neutral-5);
				&.is-highlighted {
					background: var(--color-neutral-100);
				}
			}

			.plan-features__table {
				@include break-mobile {
					border-spacing: 0;
					border-collapse: collapse;
				}

				tbody:first-child tr {
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
				}

				.plan-features__table-item {
					border-left: 1px solid #e2e4e7;
					border-right: 1px solid #e2e4e7;
					background-clip: padding-box;

					.plan-features__description {
						color: var(--color-neutral-60-rgb);
						padding-bottom: 42px;
					}
				}

				.plan-features__pricing {
					border-color: #e2e4e7;
					text-align: left;

					.plan-price {
						text-align: left;
						font-size: 32px; /* stylelint-disable-line declaration-property-unit-allowed-list */
						color: var(--color-neutral-100);
						margin-top: 15px;

						.plan-price__currency-symbol {
							vertical-align: initial;
							font-size: 32px; /* stylelint-disable-line declaration-property-unit-allowed-list */
							color: var(--color-neutral-100);
						}
					}

					.plan-features__header-billing-info {
						text-align: left;
						font-size: 10px; /* stylelint-disable-line declaration-property-unit-allowed-list */
						color: var(--color-neutral-50);
						font-weight: 400;
					}
				}

				.plan-features__row {
					border-top: none;
					border-bottom: none;
				}

				.plan-features__item-checkmark {
					fill: #00a32a;
				}

				.plan-features__item-tip-info {
					.gridicon {
						fill: #ccced0;
					}
				}
			}
		}
	}
}
