// Content group
.plans-features-main__group {
	& + & {
		padding-top: 19px; // popular banner height adjustment
	}

	+ .faq {
		margin-top: 20px;
	}

	&.is-jetpack-products {
		> .product-selector {
			display: flex;
			flex-flow: row wrap;

			.product-card {

				@include breakpoint-deprecated( '>480px' ) {
					flex-basis: calc( 50% - 1em );
				}
				&:first-child:last-child {
					@include breakpoint-deprecated( '>960px' ) {
						margin-left: auto;
						margin-right: auto;
						flex-basis: 520px;
					}
				}
			}
		}
	}
}

// Required additional specificity
.plans-features-main .plans-features-main__happychat-button {
	color: var( --color-primary );
	font-weight: 400;
	padding: 0;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: var( --color-primary );
	}
}

.plans-features-main__banner {
	text-align: center;
	padding: 5px 0;
}

.plans-features-main__banner-content {
	display: inline-block;
	background: var( --color-surface );
	border-radius: 3px;
	padding: 2px 12px;
	@include elevation( 2dp );

	button.is-borderless {
		color: var( --color-accent );
		text-decoration: underline;
		vertical-align: baseline;
		margin-left: 0.5em;
	}
}

// Header sub-component
.plans-features-main__header {
	margin: 0 0 16px;
	padding: 0 16px;

	@include breakpoint-deprecated( '>480px' ) {
		margin-bottom: 28px;
		padding: 0 24px;
	}

	@include breakpoint-deprecated( '>660px' ) {
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		text-align: center;
	}
}

.plans-features-main__heading {
	margin: 0 0 12px;
	font-size: 17px;
	line-height: 1;
	font-weight: 600;
	color: var( --color-text );

	@include breakpoint-deprecated( '>480px' ) {
		font-size: 24px;
		font-weight: 400;
	}
}

.plans-features-main__subhead {
	margin: 0;
	font-size: $font-body-small;
	line-height: 1.35;
	color: var( --color-text-subtle );
}

body.is-section-signup.is-white-signup .plans-features-main {
	.plans-features-main__banner-content {
		box-shadow: none;
		display: flex;
		align-items: center;
		justify-content: center;

		.is-free-plan {
			padding: 12px 32px;
			margin-left: 12px;
			border-radius: 4px;
			font-weight: 400;
		}
	}

	.plan-features__header {
		border-top: 1px solid #e2e4e7;
		border-left: 1px solid #e2e4e7;
		border-right: 1px solid #e2e4e7;
		border-bottom: none;
	}

	.plan-features__table-item {
		border-left: 1px solid #e2e4e7;
		border-right: 1px solid #e2e4e7;
	}

	.plan-features__pricing {
		border-top: none;
	}

	.plan-features__row {
		border-top: none;
		border-bottom: none;
	}

	.plan-features__item-checkmark {
		fill: #00a32a;
	}
}