@import 'jetpack-connect/colors.scss';

.help-flow__wrapper {
	display: flex;
	margin-bottom: 8px;
}

.help-flow__heading {
	font-size: $font-title-small;
	font-weight: 600;
	margin-bottom: 12px;
}

.help-flow-description {
	margin: auto;
}

.help-flow__illustration {
	display: none;
	width: 40%;

	@include breakpoint-deprecated( '>480px' ) {
		display: block;
	}
}

.help-flow__button-wrapper {
	text-align: center;

	.has-no-site-selector & {
		display: flex;
		justify-content: center;
	}
}

.help-flow__button {
	margin: 8px 18px;

	&.is-wpcom {
		background-color: var( --color-wpcom );
		border-color: var( --color-blue-700 );
		color: var( --color-white );

		&:hover {
			background-color: var( --color-blue-400 );
		}
	}

	&.is-jetpack {
		@include jetpack-connect-colors();
	}
}

.help-flow.has-site-selector {
	.help-flow__button-wrapper {
		margin-right: 32px;

		@include breakpoint-deprecated( '>480px' ) {
			float: right;
			width: calc( 40% - 32px );
		}
	}

	.help-flow__button {
		width: 100%;
	}

	.help-flow__site-selector-subtitle {
		border-bottom: 1px solid var( --color-border-subtle );
		color: var( --color-text-subtle );
		display: inline-block;
		font-size: $font-body-extra-small;
		margin-bottom: 4px;
		margin-left: 16px;
	}

	.site-selector {
		@include breakpoint-deprecated( '>480px' ) {
			float: left;
			width: 60%;
		}

		&__sites {
			border: 0;
		}

		.site {
			pointer-events: none;
		}
	}
}

// Dialog
.help-flow__dialog {
	.dialog__content {
		max-width: 700px;

		.help-flow__dialog-heading {
			font-size: $font-body;
			text-align: center;

			@include breakpoint-deprecated( '>660px' ) {
				font-size: $font-title-small;
			}
		}

		.help-flow__dialog-text {
			margin-bottom: 12px;
		}

		.accordion__content-wrap {
			font-size: $font-body-small;
		}

		.help-flow__dialog-buttons {
			display: flex;
			flex-direction: column-reverse;

			@include breakpoint-deprecated( '>660px' ) {
				flex-direction: row;
			}

			.is-primary {
				margin-bottom: 8px;

				@include breakpoint-deprecated( '>660px' ) {
					margin-bottom: 0;
				}
			}

			.is-link {
				margin-top: 24px;
				font-size: $font-body-extra-small;
				text-align: center;

				@include breakpoint-deprecated( '>660px' ) {
					margin: auto 0;
					text-align: left;
				}
			}

			.help-flow__close-dialog {
				margin: 0 12px auto auto;
				width: 100%;

				@include breakpoint-deprecated( '>660px' ) {
					width: auto;
				}
			}
		}
	}
	&.is-other-screen .help-flow__something-else-link {
		@include breakpoint-deprecated( '>660px' ) {
			max-width: 75%;
		}
	}

	&.is-jetpack-screen .help-flow__something-else-link {
		@include breakpoint-deprecated( '>660px' ) {
			max-width: 50%;
		}
	}
}
