.related-posts {
	margin: 48px 0;
	padding: 0;

	a:link, a:visited {
		text-decoration: none;
		color: $gray-dark;
	}

	a:hover {
		text-decoration: underline;
	}
}

.related-posts__list,
.related-posts__list-item {
	margin: 0;
	padding: 0;
	list-style: none;
}

.related-posts__heading {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: $gray;
	margin: 0 0 24px 0;
}
