@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.notification-settings-push-notification-settings__instruction {
	margin: 24px 0 0;

	@include break-medium {
		&-actions {
			display: flex;
			justify-content: space-between;
		}
	}

	// Removes underline from the ↗ icon
	a.components-external-link.components-external-link {
		text-decoration: none;
		.components-external-link__contents {
			text-decoration: underline;
		}
		&:hover .components-external-link__contents,
		&:active .components-external-link__contents {
			text-decoration: none;
		}
	}
}

.card.notification-settings-push-notification-settings__settings {
	position: relative;
	margin-top: 1em;
}