.editor-media-modal-detail .header-cake.card {
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;
	line-height: 1;

	@include breakpoint-deprecated( "<660px" ) {
		margin-bottom: 0;
	}
}

.editor-media-modal-detail .header-cake__title {
	padding: 6px;
}

.editor-media-modal-detail__preview-wrapper {
	flex: 0 0 35%;
	position: relative;
	border-bottom: 1px solid var(--color-neutral-10);
	background-color: var(--color-neutral-0);
	box-shadow: inset 0 0 2px 2px color-mix(in srgb, var(--color-neutral-20) 10%, transparent);

	@include breakpoint-deprecated( ">660px" ) {
		flex: 2 0 0%;
		margin: 0 0 16px 24px;
		border: 0;
	}
}

.editor-media-modal-detail__preview-wrapper .spinner,
.editor-media-modal-detail__preview {
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	transform: translate(-50%, -50%);

	.spinner__border {
		fill: transparent;
	}
}

.editor-media-modal-detail__preview {
	&.is-image {
		width: auto;
		height: auto;
		transition: opacity 200ms ease-in-out;
	}

	&.is-video {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	&.is-uploading,
	&.is-loading {
		opacity: 0.5;
	}

	&.is-too-large {
		/* stylelint-disable-next-line declaration-property-unit-allowed-list */
		font-size: 2em;
	}
}

.editor-media-modal-detail__previous,
.editor-media-modal-detail__next {
	position: absolute;
	top: 50%;
	width: 46px;
	height: 46px;
	transform: translateY(-50%);
	background-color: color-mix(in srgb, var(--color-neutral-70) 85%, transparent);
	border-radius: 24px; /* stylelint-disable-line scales/radii */
	color: var(--color-text-inverted);
	cursor: pointer;

	.gridicon {
		margin-top: 6px;
	}

	&:hover {
		background-color: color-mix(in srgb, var(--color-neutral-50) 90%, transparent);
	}
}

.editor-media-modal-detail__previous {
	left: 10px #{"/*rtl:ignore*/"};

	&::before {
		margin: 0 1px 0 0;
	}
}

.editor-media-modal-detail__next {
	right: 10px #{"/*rtl:ignore*/"};

	&::before {
		margin: 0 0 0 3px;
	}
}

.editor-media-modal-detail__edition-bar {
	display: none;

	&.is-desktop {
		@include breakpoint-deprecated( ">480px" ) {
			display: block;
			position: absolute;
			top: 8px;
			right: 8px;

			button {
				margin-left: 8px;
			}
		}
	}

	&.is-mobile {
		@include breakpoint-deprecated( "<480px" ) {
			display: block;
			text-align: right;

			button {
				margin-bottom: 16px;
				margin-left: 8px;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}

.editor-media-modal-detail__sidebar {
	flex: 2 0 0%;
	padding: 16px;

	@include breakpoint-deprecated( ">660px" ) {
		flex: 1 0 0%;
		padding-top: 0;
		padding-right: 24px;
		overflow-y: auto;
	}
}

.editor-media-modal-detail__sidebar textarea {
	resize: vertical;
}

.editor-media-modal-detail__file-info {
	display: block;
	margin: 0;
	padding: 8px 0;
}

.editor-media-modal-detail__file-info tbody {
	display: flex;
	flex-wrap: wrap;
}

.editor-media-modal-detail__file-info tr {
	display: block;
	flex-basis: 50%;
	width: 100%;
}

.editor-media-modal-detail__file-info th,
.editor-media-modal-detail__file-info td {
	width: 90%;
	display: block;
}

.editor-media-modal-detail__file-info th {
	color: var(--color-neutral-light);
	display: block;
	font-size: $font-body-extra-small;
	margin-bottom: 4px;
	text-transform: uppercase;
}

.editor-media-modal-detail__file-info td {
	position: relative;
	overflow: hidden;
	margin-bottom: 16px;
	white-space: nowrap;

	&::after {
		@include long-content-fade();
	}

	span {
		display: block;

		&.clipboard-button-input {
			width: inherit;
		}
	}
}

.editor-media-modal-detail__file-info.is-loading td {
	position: relative;
	color: transparent;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 80%;
		background-color: var(--color-neutral-0);
		animation: loading-fade 1.6s ease-in-out infinite;
	}
}

.editor-media-modal-detail__file-info tr:last-child td,
.editor-media-modal-detail__file-info tr:nth-last-child(2):nth-child(odd) td {
	margin-bottom: 0;
}

.editor-media-modal-detail__file-info abbr {
	border-bottom-width: 0;
}
