.celebrate-notice {
	display: flex;
	padding: 12px 16px;

	.celebrate-notice__fireworks {
		margin-right: 18px;
		width: 100px;

		@include breakpoint-deprecated( '<480px' ) {
			display: none;
		}
	}

	.celebrate-notice__text {
		margin: auto 0;

		.card-heading {
			margin: 0;
		}
	}

	.celebrate-notice__secondary-text {
		margin: 0;
		font-size: 14px;
	}
}
