.is-section-woocommerce {
	.layout__primary {
		display: flex;
		justify-content: center;
	}
}

.woocommerce {
	flex-grow: 1;

	@import 'app/products/product-form';
	@import 'components/address-view/style';
	@import 'components/extended-header/style';
	@import 'components/form-dimensions-input/style';
	@import 'app/settings/shipping/style';
	@import 'components/list/style';
}

.store-sidebar__sidebar {
	display: block;

	.store-sidebar__ground-control {
		align-items: center;
		border-bottom: 1px solid darken( $sidebar-bg-color, 10% );
		background-color: $white;
		display: flex;
		width: 100%;
	}

	.store-sidebar__ground-control-back {
		flex: 0 0 auto;
		margin-left: 7px;
		margin-right: 7px;
	}

	.store-sidebar__ground-control-site {
		border-left: 1px solid darken( $sidebar-bg-color, 10% );
		display: inline-block;
		flex-grow: 1;
	}
}
