@import 'assets/stylesheets/gutenberg-base-styles';
@import '../../../variables.scss';
@import '../../../mixins';
@import '@automattic/onboarding/styles/z-index';

// Restyle `<Suggestion />` component
.vertical-select {
	transition: flex-grow $acquire-intent-transition-duration $acquire-intent-transition-algorithm;
	display: flex;
	flex-direction: column;

	@include break-small {
		display: block;
		margin-top: 0;
	}

	.suggestions__category-heading {
		display: none;
	}
	.suggestions__title {
		line-height: normal;
		padding: 10px 16px;
	}
	.suggestions__item {
		border: none;
		background-color: var( --studio-white );

		&.has-highlight {
			box-shadow: none;
			background-color: var( --studio-white );

			@include break-small {
				box-shadow: inset 0 0 0 1px var( --studio-blue-30 );
				border-radius: 2px;
			}
		}
	}
}

.vertical-select__whitespace {
	display: inline-block;
	visibility: hidden;
	width: 0;
	height: 0;
}

.vertical-select__suggestions-wrapper {
	position: relative;
	display: block;
	flex: 1;
	z-index: z-index( '.vertical-select__suggestions-wrapper' );

	@include break-small {
		display: inline-block;
		padding-bottom: 5px;
	}
}

.vertical-select__suggestions {
	position: absolute;
	left: -16px;
	min-height: 300px;
	max-height: calc( 100% - 50px );
	overflow: auto;

	@include break-small {
		width: 250px;
		max-height: 400px;
	}

	@include break-medium {
		left: 0;
	}
}

.vertical-select__input-wrapper {
	position: relative;
}

.vertical-select__input {
	height: 100%;
	display: inline-block;
	line-height: 1;
	padding-bottom: 5px;
}
