.me-profile-settings .edit-gravatar {
	text-align: center;

	@include breakpoint('>960px') {
		float: left;
		margin-right: 40px;
		margin-bottom: 20px;
	}
}

@media ( min-width: 961px ) {
	.me-profile-settings .edit-gravatar {
	    margin-bottom: 0;
	}
}

.me-profile-settings .form-fieldset:nth-child( 1 ),
.me-profile-settings .form-fieldset:nth-child( 2 ) {
	@include breakpoint('>960px') {
		clear: right;
	}
}

.me-profile-settings__info-text {
	margin-bottom: 0;
}

.profile-links__list {
	.profile-link:last-of-type {
		margin-bottom: 0;
	}
}