@import 'components/credit-card/style';

.label-settings__credit-card-description {
	margin-bottom: 4px;
	color: $gray-text-min;
	padding-bottom: 8px;
}

.label-settings__payments .button {
	margin-top: 14px;
}

.label-settings__labels-container {
	&.hidden {
		visibility: hidden;
		height: 0;
		padding: 0;
		overflow: hidden;
	}

	.form-fieldset:last-child {
		margin-bottom: 0;
	}

	.label-settings__external {
		display: none;
	}
}

.label-settings__placeholder {
	@include placeholder();
	pointer-events: none;
	background: $white;

	&:after {
		content: none;
	}

	.gridicon, span, p, a, button {
		animation: loading-fade 1.6s ease-in-out infinite;
		background-color: lighten( $gray, 25% );
		color: transparent;
		cursor: default;
	}

	p, span {
		display: block;
		width: 100px;
		height: 14px;
	}

	button {
		width: 200px;
		height: 14px;
	}

	.gridicon {
		fill: transparent;
		stroke: transparent;
	}

	.credit-card__stored-card {
		background: none;

		.credit-card__stored-card-number {
			max-width: 100px;
			color: transparent;
		}

		&::before {
			content: '';
			width: 100%;
			order: 1;
		}

		.credit-card__stored-card-name, .credit-card__stored-card-expiration-date {
			order: 1;
			color: transparent;
		}
	}
}

&.dialog.card.add-credit-card-modal .dialog__content {
	max-width: 720px;
	padding: 0;
	
	.header-cake {
		margin-bottom: 0;
	}
}
