.drafts-button {
	color: $gray-dark;
	cursor: pointer;
	font-size: 11px;
	text-transform: uppercase;

	&[disabled] {
		cursor: not-allowed;
		color: lighten( $gray, 10% );
	}

	.count {
		margin-left: 8px;
	}
}
