.domain-picker__button {
	.dashicon {
		margin-left: 0.5em;
		transition: transform 180ms ease-in-out;
	}
	&.is-open .dashicon {
		transform: rotate( 180deg );
	}
}

.domain-picker__choose-domain-header,
.domain-picker__recommended-header {
	font-weight: bold;
}

.domain-picker {
	.components-panel__row {
		flex-direction: column;
		align-items: stretch;
	}
}
