/** @format */

.wp-block-jetpack-vr {
	position: relative;
	max-width: 525px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	.components-placeholder__fieldset {
		justify-content: space-around;

		.components-base-control {
			margin-top: auto;
		}

		.components-select-control__input {
			margin: 2px;
		}

		.components-button {
			margin-bottom: 1px;
		}
	}
}
