.wp-block-jetpack-vr {
	position: relative;
	max-width: 525px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.wp-block-jetpack-vr .components-placeholder__fieldset {
	justify-content: space-around;
}

iframe.wp-block-jetpack-vr {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
}
