
.wp-block-jetpack-vr {
	position: relative;
	max-width: 525px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	.components-placeholder__fieldset {
		justify-content: space-around;
	}
}
