@import './view.scss';

.wp-block-jetpack-mailchimp {

	.wp-block-jetpack-mailchimp_notification {
		display: block;
	}

	.wp-block-jetpack-mailchimp_button {
		background-color: #0073aa;
		border-radius: 5px;
		color: $white;
		font-family: $sans;
		font-weight: bold;
		margin-bottom: 1.5em;
	}

}
