.wp-block-jetpack-mailchimp {

	&.is-processing {
		form {
			display: none;
		}
	}

	.wp-block-jetpack-mailchimp_consent-text {
		color: $gray;
		font-size: 0.8em;
		font-style: italic;
	}

	.wp-block-jetpack-mailchimp_form-error {
		border: 1px solid #ff0000;
	}

	.wp-block-jetpack-mailchimp_notification {
		display: none;
		margin-bottom: 23px;
		padding: 20px;
		text-align: center;
		&.is-visible {
			display: block;
		}

		&.wp-block-jetpack-mailchimp_error {
			background-color: #da5544;
			color: #fff;
		}

		&.wp-block-jetpack-mailchimp_processing {
			background-color: #e0e5e9;
		}

		&.wp-block-jetpack-mailchimp_success {
			background-color: #73b961;
			color: #fff;
		}
	}
}
