.edit-gravatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 205px;

	.edit-gravatar__image-container {
		position: relative;
		display: flex;
		width: fit-content;
		height: fit-content;
	}

	.edit-gravatar__edit-button {
		font-size: 14px;
		line-height: 24px;
		margin: 15px 0 20px;
		text-decoration: none;
	}

	.edit-gravatar__gravatar-placeholder,
	.edit-gravatar__edit-button-placeholder {
		@include placeholder();
	}

	.edit-gravatar__gravatar-placeholder {
		display: block;
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}

	.edit-gravatar__edit-button-placeholder {
		height: 23px;
		width: 160px;
		margin: 15px 0 20px;
	}

	.edit-gravatar__gravatar-is-hidden {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		height: 150px;
	}

	.edit-gravatar__explanation-container {
		display: flex;
		align-items: center;
		margin: 15px 0 20px;
	}

	.edit-gravatar__explanation {
		color: var( --color-text-subtle );
		font-size: $font-body-small;
		font-style: italic;
		margin: 0;
	}

	.edit-gravatar__pop-over svg {
		margin-top: 2px;
	}

	// TODO: Check it
	.gravatar.is-missing {
		display: block;
		width: 150px;
		height: 150px;
	}

	&.edit-gravatar--is-unverified {
		.gravatar {
			opacity: 0.33;
		}
	}
}

/* Override the default popover styles */
.popover__inner {
	.gridicons-external {
		margin-left: 1px;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}
