// @TODO: Replace with Gutenberg variables
$dark-gray-300: #6c7781;

.wp-block-jetpack-related-posts {
	.related-posts__preview {
		&.is-grid {
			display: flex;
			margin: 0 -10px;
		}

		&-post {
			.is-grid & {
				flex-grow: 1;
				flex-basis: 0;
				margin: 0 10px;
			}

			&-link {
				font-size: inherit;
			}

			&-date {
				color: $dark-gray-300;
			}

			&-context {
				color: $dark-gray-300;
				font-size: 12px;
				margin: 0;
			}
		}
	}
}
