input[type='number'].form-currency-input {
	-webkit-appearance: none;
	border-radius: 0 2px 2px 0;
}

.form-currency-input__affix {
	display: flex;
	align-items: center;
}

.form-currency-input__select-icon {
	color: var( --color-neutral-light );
	margin-left: 6px;
	align-self: center;
}

.form-text-input-with-affixes__prefix,
.form-text-input-with-affixes__suffix {
	&:hover .form-currency-input__select-icon {
		color: var( --color-neutral-50 );
	}
}

.form-currency-input__select {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 0;
	border: 0;
	background-image: none;
	opacity: 0;
}
