/* stylelint-disable scales/radii */
.quick-post-input {
	&--loading {
		text-align: center;
		padding: 24px;
	}

	.verbum-editor-wrapper {
		.editor__header {
			border-color: var( --color-border-subtle );
			border-style: solid;
			border-radius: 6px 6px 0 0;
			border-width: 1px;
			border-bottom-width: 0;
		}

		.block-editor-block-contextual-toolbar {
			background-color: transparent;
		}

		.editor__main {
			border-color: var( --color-border-subtle );
			border-style: solid;
			border-radius: 0 0 6px 6px;
			border-width: 1px;
			border-top-width: 0;
			margin-bottom: 0;
		}
	}

	.verbum-editor-wrapper .editor__main,
	.verbum-editor-wrapper .editor__main iframe {
		min-height: 80px;
	}
}
