.comment-navigation.is-bulk-edit {
	padding-right: 0;
}

.comment-navigation__tab {
	padding: 16px;
}

.comment-navigation__actions {
	padding: 11px 16px;

	.button-group {
		margin-right: 16px;
	}
}

.comment-navigation__close-bulk {
	margin-left: auto;
	padding: 0;
	a {
		cursor: pointer;
		display: inline-block;
		padding: 10px 16px;
	}
}

.comment-list__transition-enter {
	opacity: 0.01;
	visibility: hidden;
}
.comment-list__transition-enter-active {
	opacity: 1;
	visibility: visible;
	transition: all .15s linear;
	transition-delay: .15s;
}

.comment-list__transition-leave {
	opacity: 1;
	visibility: visible;
}
.comment-list__transition-leave-active {
	opacity: 0.01;
	visibility: hidden;
	transition: all 0.15s linear;
}
