.drop-zone {
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	z-index: z-index( 'root', '.drop-zone' );
	visibility: hidden;
	opacity: 0;
	transition: 0.3s opacity, 0.3s background-color, 0s visibility 0.3s;
	border: 2px dashed $blue-dark;
	background-color: rgba( $blue-wordpress, 0.8 );

	&.is-active {
		opacity: 1;
		visibility: visible;
		transition: 0.3s opacity, 0.3s background-color;
	}

	&.is-dragging-over-element {
		background-color: rgba( $blue-medium, 0.8 );
	}

	&.is-full-screen {
		position: fixed;
	}
}

.drop-zone__content {
	position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	z-index: z-index( 'root', '.drop-zone__content' );
	transform: translateY( -50% );
	width: 100%;
	font-size: 24px;
	text-align: center;
	color: $white;
	transition: transform 0.3s ease-in-out;
}

.drop-zone.is-dragging-over-element .drop-zone__content {
	transform: translateY( -50% ) scale( 1.05 );
}

.drop-zone__content-icon,
.drop-zone__content-text {
	display: block;
}

.drop-zone__content-icon {
	margin: 0 auto;
}

.drop-zone.is-full-screen .drop-zone__content {
	font-size: 30px;
}
