.email-management .is-placeholder {
	.gsuite-user-item__email,
	.gsuite-user-item__manage-link,
	button {
		@include placeholder();
	}
}

.email-management {
	.gsuite-user-item__email {
		float: left;
		font-weight: 600;
		line-height: 1.7;
	}

	a.gsuite-user-item,
	.gsuite-user-item__fix {
		float: right;
		font-size: $font-body-small;
	}
}
