.header-code__warning {
	display: flex;
	margin-bottom: 1.5em;

	.gridicon {
		fill: var(--color-text-subtle);
		margin-right: 6px;
	}

	.header-code__warning-text {
		color: var(--color-text-subtle);
		font-size: $font-body-extra-small;
		margin: 0;
	}
}

.header-code__editor {
	font-family: $code;
	font-size: $font-body-small;
	margin-bottom: 1em;
	min-height: 250px;

	&.is-loading {
		@include placeholder();
	}
}

.header-code__text {
	margin-bottom: 1em;
}
