.standard-agency-hosting__banner {
	display: flex;
	flex-direction: column;
	gap: 32px;

	padding: 0 0 48px;

	@include breakpoint-deprecated( ">660px" ) {
		max-width: 1500px;
		margin-inline: auto !important;
		padding-inline: 40px;
	}
}

.standard-agency-hosting__banner-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.standard-agency-hosting__banner-description {
	@include a4a-font-body-md;
}
