// Primary Accent (Blues)
$blue-wordpress:         #0087be;
$blue-light:             #78dcfa;
$blue-medium:            #00aadc;
$blue-dark:              #005082;

// Grays
$gray:                   #87a6bc;
$gray-light:             lighten( $gray, 33% ); //#f3f6f8
$gray-dark:              darken( $gray, 38% ); //#2e4453

// $gray color functions:
// lighten( $gray, 10% )
// lighten( $gray, 20% )
// lighten( $gray, 30% )
// darken( $gray, 10% )
// darken( $gray, 20% )
// darken( $gray, 30% )
//
// See wordpress.com/design-handbook/colors/ for more info.

// Secondary Accent (Oranges)
$orange-jazzy:           #f0821e;
$orange-fire:            #d54e21;

// Alerts
$alert-yellow:           #f0b849;
$alert-red:              #d94f4f;
$alert-green:            #4ab866;

// Link hovers
$link-highlight:         tint($blue-medium, 20%);

// Essentials
$white:                  rgba(255,255,255,1);
$transparent:            rgba(255,255,255,0);

// Uncommon
$border-ultra-light-gray: #e8f0f5;

// Layout
$masterbar-color:          $blue-wordpress;
$sidebar-bg-color:         lighten( $gray, 30% );
$sidebar-text-color:       $gray-dark;
$sidebar-selected-color:   $gray;
