@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/z-index.scss';

.action-buttons {
	padding: 0 20px;
	border-top: 1px solid $gray-200;
	background-color: $white;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: $onboarding-footer-height;
	justify-content: space-between;
	display: flex;
	align-items: center;
	z-index: onboarding-z-index( '.onboarding__footer' );

	@mixin unstick {
		padding: 0;
		margin-left: 20px;
		position: static;
		border: none;

		.action_buttons__button {
			margin-left: 20px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&:not( .is-sticky ) {
		@include break-small {
			@include unstick;
		}
	}

	&.no-sticky {
		@include unstick;
	}
}

button.action_buttons__button.components-button {
	@include onboarding-medium-text;
	height: 42px;
	min-width: 120px;
	justify-content: center;

	&:active,
	&:hover,
	&:focus {
		outline-color: transparent;
	}

	&:disabled {
		opacity: 0.5;
	}

	&.action-buttons__back {
		color: var( --studio-gray-50 );
		white-space: nowrap;
		min-width: 0;
		height: auto;
	}

	&.action-buttons__next {
		color: var( --studio-white );
		box-shadow: 0 0 0 1px var( --studio-blue-40 );
	}

	&.action-buttons__skip {
		color: var( --studio-gray-50 );
		box-shadow: inset 0 0 0 1px var( --studio-gray-50 );

		&:active,
		&:hover {
			color: var( --studio-gray-60 );
			box-shadow: inset 0 0 0 1px var( --studio-gray-60 );
		}

		&:focus {
			color: var( --studio-gray-60 );
			box-shadow: inset 0 0 0 1px #fff, 0 0 0 1.5px var( --highlightColor );
		}
	}

	&.action-buttons__arrow {
		text-decoration: underline;
		// stylelint-disable-next-line scales/font-weight
		font-weight: 500;
		color: var( --mainColor );

		// @TODO: We have to revisit the ArrowButton's padding when we pick up #48568 (https://github.com/Automattic/wp-calypso/issues/48568)
		padding-left: 0;

		svg {
			// the svg has 5 empty pixels on the left
			margin-left: -5px;
		}
	}

	@include break-small {
		min-width: 160px;
	}
}
