.is-group-editor::before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $white;
	pointer-events: none;
	z-index: z-index( 'root', '.is-group-editor::before' );
}

.editor {
	background: none;
}

// OVERRIDES

.layout__content {
	padding-top: 0 !important;
	padding-left: 0 !important;
}
.edit-post-header {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	left: 0 !important;
	top: 0 !important;
}
.edit-post-sidebar {
	top: 57px !important;
}
