.signup__step.is-p-2-get-started {
	color: var(--p2-color-white);
	background-color: var(--p2-color-background-dark);

	.p2-step-wrapper__header-logo {
		svg path {
			fill: var(--p2-color-white);
		}
	}

	.p2-get-started__option {
		border-bottom: 1px solid var(--p2-color-separator-light);
		padding: 0;

		&:first-of-type {
			border-top: 1px solid var(--p2-color-separator-light);
		}
	}

	.p2-get-started__option-title {
		font-weight: 700;
		font-size: 19px; /* stylelint-disable-line declaration-property-unit-allowed-list */
		text-align: left;
	}

	.p2-get-started__option-description {
		font-size: 15px; /* stylelint-disable-line declaration-property-unit-allowed-list */
		text-align: left;
	}

	.p2-get-started__option-icon {
		grid-area: 1 / 2 / span 2;
	}

	button.p2-get-started__option-button {
		display: grid;
		grid-template-columns: calc(100% - 32px) auto;
		grid-template-rows: auto auto;
		justify-content: flex-start;
		align-items: center;
		background-color: transparent;
		color: var(--p2-color-white);
		margin: 0;
		padding: 24px 16px;
		height: 100%;
		border-radius: 0;

		&:hover {
			background-color: var(--p2-color-hover-dark);
			color: var(--p2-color-white);
			transition: all 0.15s ease-in-out;

			.p2-get-started__option-icon {
				padding-left: 5px;
				transition: all 0.15s ease-in-out;
			}
		}

		&:focus {
			box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--p2-color-white);
		}
	}

	.p2-get-started__log-in {
		font-size: 0.875rem;
		text-align: center;
		margin-top: 2rem;

		a,
		a:hover {
			color: inherit;
			text-decoration: underline;
		}
	}

	.p2-step-wrapper__footer {
		display: none;
	}
}
