body.is-section-marketplace.theme-default.color-scheme {
	--color-surface-backdrop: var(--studio-white);
}

.marketplace-plugin-install__masterbar {
	--color-masterbar-background: var(--studio-white);
	--color-masterbar-text: var(--studio-gray-60);
	padding-right: 24px;
	border-bottom: 0;

	.marketplace-plugin-install__logo {
		fill: rgb(54, 54, 54);
		margin: 24px 12px 24px 24px;
		@media (min-width: 480px) {
			margin: 24px;
		}
	}
}

.marketplace-plugin-install__root {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;

	> div {
		width: 90%;
		max-width: 509px;
	}
}

.marketplace-plugin-install__direct-install-container {
	margin-top: 0;
	padding-top: 0;

	.empty-content__title {
		margin-bottom: 30px;
	}

	.empty-content__line {
		margin-bottom: 20px;
	}

	.marketplace-plugin-install__direct-install-actions {
		display: flex;
		justify-content: center;

		.button.is-primary {
			margin-left: 10px;
		}
	}
}
