@import "@automattic/typography/styles/fonts";

.pattern-assembler {
	.navigator-button {
		height: 56px;
		line-height: 56px;
		padding: 0;
		font-size: $font-body-small;
		font-weight: 500;
		letter-spacing: -0.15px;
		color: var(--studio-gray-100);

		svg {
			flex-shrink: 0;
			fill: currentColor;
		}
	}
}
