.stats-card__subheader {
	color: var( --color-text-subtle );
	font-size: 0.85rem;
	margin: -0.5rem 0 1rem;
}

.stats-card__data {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.stats-card__data-item {
	border-left: 1px solid var( --color-neutral-5 );
	width: 50%;
	text-align: center;
	padding: 0.5rem 1rem;

	&:first-child {
		border-left: none;
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}

.stats-card__data-value {
	font-size: 24px;
}
