.interests-modal__content {
	padding: 24px;
}

.interests-modal__category {
	margin-bottom: 32px;
}

.interests-modal__section-header {
	margin-bottom: 16px;
}

.interests-list {
	display: grid;
	gap: 16px;

	// Default to 1 column for mobile
	grid-template-columns: 1fr;

	// 2 columns for medium screens
	@media ( min-width: 600px ) {
		grid-template-columns: repeat( 2, 1fr );
	}

	// 3 columns for larger screens
	@media ( min-width: 900px ) {
		grid-template-columns: repeat( 3, 1fr );
	}
}

.select-card-checkbox__container {
	height: 100%;
}

.select-card-checkbox__label {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

// Styles for the header actions
.components-modal__header {
	.components-button.is-link {
		margin-right: auto; // This will push the button to the left
	}

	.components-button.is-primary {
		margin-left: 16px; // Add some space between Cancel and Continue
	}
}
