@import "@automattic/color-studio/dist/color-variables";
@import "@automattic/components/src/styles/typography";

$blueberry-color: #3858e9;

.metric-tab-bar-v2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 250px;
	align-self: self-start;

	button {
		color: inherit;
	}
}

.metric-tab-bar-v2__tab {
	display: flex;
	gap: 6px;
	text-align: initial;
	flex-grow: 1;
	padding: 16px 22px 16px 22px;
	width: 100%;

	&:not(.active) {
		border-bottom: 1px solid var(--gutenberg-gray-100, #f0f0f0);

		&:last-child {
			border-bottom: unset;
		}
	}

	&.active {
		/* stylelint-disable-next-line scales/radii */
		border-radius: 6px;
		border: 1.5px solid $blueberry-color;
		position: relative;
		margin-left: -1px;
		width: 101%;

		& + .metric-tab-bar-v2__tab {
			border-top: none;
		}
	}

	&:hover {
		cursor: pointer;
		color: $blueberry-color;
	}
}

.metric-tab-bar-v2__tab-status {
	line-height: normal;
	display: none;
}

.metric-tab-bar-v2__tab-text {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.metric-tab-bar-v2__tab-header {
	font-family: $font-sf-pro-display;
	font-size: $font-body-small;
	font-weight: 500;
}
.metric-tab-bar-v2__tab-metric {
	font-family: $font-sf-pro-display;
	font-size: $font-size-header-small;

	&.good {
		color: $studio-green-30;
	}

	&.needs-improvement {
		color: $studio-orange-40;
	}

	&.bad {
		color: $studio-red-50;
	}
}

.metric-tab-bar-v2__performance {
	margin-bottom: 16px;
	/* stylelint-disable-next-line scales/radii */
	border-radius: 6px;
	border: 1px solid var(--studio-gray-5);
	&:not(.active) {
		border-color: var(--studio-gray-5);
	}
	&.active {
		width: 100%;
		margin-left: unset;
	}
}

.metric-tab-bar-v2__tab-container {
	border: 1px solid var(--studio-gray-5);
	/* stylelint-disable-next-line scales/radii */
	border-radius: 6px;

	.metric-tab-bar-v2__tab:has(+ .metric-tab-bar-v2__tab.active) {
		border-bottom: none;
	}
}
