@import "@wordpress/base-styles/mixins";
@import "@wordpress/base-styles/breakpoints";
.migration-success {
	.migration-success__site {
		overflow-wrap: break-word;
	}
	.migration-success__ctas {
		@include break-medium {
			flex-direction: row;
		}
		flex-direction: column;
		width: 100%;
		.migration-success-ctas__buttons {
			min-width: 220px;
			button {
				border-radius: 4px;
			}
		}
	}
	.card {
		margin: 3.125rem 0;
		padding: 1.25rem 1.563rem;
		.components-card__body {
			padding: 0;
			.components-button {
				margin-bottom: 0;
				&.is-secondary {
					color: var(--studio-gray-100);
				}
			}
		}
	}
	.migration-success-links-wrapper {
		text-align: left;
		@include break-medium {
			padding: 0 1.563rem 0 1.563rem;
		}
		.migration-success-links-wrapper__link {
			margin-top: 1rem;
			text-decoration: underline;
			text-underline-offset: 4px;
		}
	}
}
