.prepurchase-notices__container {
	padding: 32px 0 0;
	width: 100%;

	.calypso-notice {
		margin: 0;
	}

	.calypso-notice.is-info .calypso-notice__icon-wrapper-drop {
		background-color: var(--color-accent-40);
	}
}

.prepurchase-notices__container .calypso-notice .prepurchase-notice {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__message {
		max-width: 600px;
	}

	&__link {
		margin-left: 20px;

		color: var(--color-neutral-10);

		text-decoration: none;

		&:visited {
			color: var(--color-neutral-10);
		}
	}
}
