.form-radio-with-template-select {
	border: 1px solid var(--color-neutral-10);
	box-sizing: border-box;
	padding: 12px 12px;
	border-radius: 2px;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	gap: 16px;

	&:hover,
	&.checked {
		background: var(--color-accent-0);
	}

	&:hover:not(.checked) {
		cursor: pointer;
	}

	&.checked {
		border: 1px solid var(--color-accent);

		.form-radio {
			border: 1px solid var(--color-accent);
			color: var(--color-accent);
		}
	}

	.form-radio:checked::before {
		background: var(--color-accent);
	}

	small {
		display: block;
		font-size: 0.75rem;
		font-style: italic;
	}

	.select-dropdown__header {
		height: 40px;
	}

	.select-dropdown__container {
		width: 100%;
	}
}
