@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.gsuite-new-user-list__new-user {
	fieldset {
		margin-bottom: 0;
	}
}

.gsuite-new-user-list__actions {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include break-mobile {
		flex-direction: row;
	}
}

.gsuite-new-user-list__add-another-user-button {
	width: 100%;

	@include break-mobile {
		width: auto;
	}
}

.gsuite-new-user-list__domain-select {
	width: 100%;

	@include breakpoint-deprecated( '>800px' ) {
		width: auto;
	}
}

.gsuite-new-user-list__user-divider {
	margin-top: 1.5em;
}

.gsuite-new-user-list__new-user {
	.form-fieldset .form-label {
		color: var( --color-text );

		.form-text-input-with-affixes__suffix,
		.form-text-input-with-affixes__prefix {
				font-weight: normal;
		}

		> div, > input {
			margin-top: 5px;
		}
	}
}

.gsuite-new-user-list__new-user-remove-user-button {
	width: 100%;

	@include break-mobile {
		width: inherit;
	}
}

.gsuite-new-user-list__new-user-email {
	display: flex;
	flex-direction: column;

	select.form-select {
		width: 100%;
	}

	@include breakpoint-deprecated( '>800px' ) {

		input[type='text'].form-text-input {
			margin: 0;
		}

		select.form-select {
			border-bottom-left-radius: 0;
			border-bottom-width: 1px;
			border-top-left-radius: 0;
			margin-left: -2px;
		}
	}
}

.gsuite-new-user-list__new-user-email-container,
.gsuite-new-user-list__new-user-password-container,
.gsuite-new-user-list__new-user-name-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
