.professional-email-card__logo {
	color: var( --color-wordpress-com );
	height: 48px;
	width: 48px;
}

.professional-email-card__keep-main-price {
	color: var( --studio-green-50 );
	text-decoration: none;
}

div.professional-email-card__price-badge {
	.promo-card__price {
		margin-top: 12px;
		span.price__discount {
			text-decoration: line-through;
			color: var( --studio-gray-60 );
		}
	}
}

.professional-email-card__price-badge {
	.promo-card__price {
		.price__cost {
			span.professional-email-card__term {
				font-size: 0.875rem;
				color: var( --studio-gray-80 );
			}
		}
	}
}
