
.enter-password__change-username {
    color: var( --color-link );
    font-weight: inherit;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    font-size: var( --font-body-small );

    &:hover,
    &:focus,
    &:active {
        color: var( --color-link-dark );
    }
    .dashicon {
        margin-right: 3px;
        vertical-align: text-bottom;
    }
}