.wp-super-cache__main .form-toggle__label {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	font-size: 14px;
}

.wp-super-cache__main .form-toggle__switch {
	flex: 1 0 auto;
	margin-top: 3px;
}

.wp-super-cache__cache-timeout.form-text-input {
	width: 100px;
	margin-right: 10px;
}

.wp-super-cache__scheduler .form-radio {
	margin-top: 12px;
}

.wp-super-cache__scheduler .form-text-input {
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

.wp-super-cache__directly-cached-files {
	.form-text-input,
	.form-text-input-with-action {
		width: 300px;
	}
}
