.wp-super-cache__main .components-toggle-control__label {
	display: flex;
	align-items: center;
	margin-bottom: 1px;
	font-size: $font-body-small;
}

.wp-super-cache__main .button {
	margin-right: 8px;
}

.wp-super-cache__main .form-fieldset:last-child {
	margin-bottom: 0;
}

// Easy Tab
.wp-super-cache__notice-hug-card {
	margin-top: -15px;
}

.wp-super-cache__cache-test-results {
	list-style: none;
	margin: 0;
}

.wp-super-cache__cache-test-results-label {
	display: inline-block;
	font-weight: 600;
	margin-top: 1.5em;
}

.wp-super-cache__cache-test-results-item {
	padding: 5px 0;
}

.wp-super-cache__cache-test-results-icon {
	margin-left: 5px;
	vertical-align: bottom;

	&.gridicons-checkmark-circle {
		color: var( --color-success );
	}

	&.gridicons-cross-circle {
		color: var( --color-error );
	}
}

// Advanced Tab
.wp-super-cache__cache-timeout.form-text-input {
	width: 100px;
	margin-right: 10px;
}

.wp-super-cache__scheduler .form-radio {
	margin-top: 12px;
}

.wp-super-cache__scheduler .form-text-input {
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

.wp-super-cache__clock {
	margin-top: 5px;
}

.wp-super-cache__interval {
	margin: 10px 0 0 24px;
}

.wp-super-cache__nested-page-types {
	margin-left: 48px;
}

.wp-super-cache__directly-cached-files .form-text-input,
.wp-super-cache__directly-cached-files .form-text-input-with-action {
	width: 300px;
}

.wp-super-cache__directly-cached-files-delete {
	margin-left: 8px;
	vertical-align: middle;
}

// Contents Tab
.wp-super-cache__cache-stat {
	margin-bottom: 20px;
}

.wp-super-cache__cache-stat-label {
	display: block;
	font-size: $font-body-small;
	font-weight: 600;
	margin-bottom: 5px;
}

.wp-super-cache__cache-stat-item {
	display: block;
}

.wp-super-cache__foldable-card.is-compact .foldable-card__header {
	padding: 24px;
}

.wp-super-cache__stats {
	border-collapse: collapse;
	margin: 0;
}

.wp-super-cache__stats-header-row {
	color: var( --color-neutral-light );
}

.wp-super-cache__stats-header-column {
	padding: 8px 12px;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}

.wp-super-cache__stat {
	border-bottom: 1px solid var( --color-neutral-0 );
	color: var( --color-neutral-70 );
	font-size: $font-body-small;
	height: 30px;

	&:last-child {
		border-bottom: none;
	}
}

.wp-super-cache__stat td {
	padding: 16px 12px;
	vertical-align: middle;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}

.wp-super-cache__stat-dir {
	max-width: 140px;
	overflow-wrap: break-word;

	@include breakpoint-deprecated( '>960px' ) {
		max-width: none;
		overflow-wrap: normal;
	}
}

.wp-super-cache__stat-age {
	@include breakpoint-deprecated( '>960px' ) {
		width: 100%;
	}
}

.wp-super-cache__stat-action {
	text-align: right;
}

.wp-super-cache__stat-action .button {
	margin-right: 0;
}

// Preload Tab
.wp-super-cache__preload-posts {
	text-transform: capitalize;
}

.wp-super-cache__preload-interval.form-text-input {
	padding: 0;
	width: 50px;
	text-align: center;
	display: inline-block;
}

.wp-super-cache__cache-type-fieldset {
	margin-left: 40px;
	margin-bottom: 0;
	margin-top: -10px;
}

.wp-super-cache__toggle-notice.notice.is-compact {
	margin-left: 49px;
	margin-bottom: 5px;
}

.wp-super-cache__condition-settings-explanation {
	margin-bottom: 20px;
}

.wp-super-cache__lock-down-container,
.wp-super-cache__cdn-fieldsets {
	margin-left: 40px;
}

.wp-super-cache__lock-down-explanation,
.wp-super-cache__lock-down-code-block {
	margin-bottom: 1.5em;
}

.wp-super-cache__lock-down-code-block {
	@extend %form-field;
	overflow: hidden;
}

.wp-super-cache__main  .wp-super-cache__lock-down-code-block-snippet {
	font-family: monospace, serif;
	display: block;
}

.wp-super-cache__main  .wp-super-cache__lock-down-code-block-button {
	margin-right: 0;
	float: right;
}

.wp-super-cache__main  .wp-super-cache__debug-cache-comment-snippet {
	font-family: monospace, serif;
	font-style: normal;
	display: block;
	white-space: pre;
}

// Plugins Tab

.wp-super-cache__plugins-tab .form-setting-explanation {
	margin-left: 36px;
	margin-bottom: 5px;
}

// Debug Tab

.wp-super-cache__debug-fieldsets,
.wp-super-cache__debug-tab .form-fieldset .form-setting-explanation.is-indented {
	margin-left: 36px;
}

.wp-super-cache__debug-log-button {
	margin-top: 12px;
}
