@import "@automattic/typography/styles/variables";
@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.temp-domain-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 16px;
	margin: 24px auto;
	background-color: var(--studio-gray-0);
	font-size: $font-body-small;
	color: var(--studio-gray-80);
	max-width: 486px;

	@include break-mobile {
		align-items: start;
		padding: 24px;
	}

	& &__primary-badge {
		font-size: $font-body-extra-small;
		border-radius: 4px;
		font-weight: 500;

		@include break-mobile {
			margin-top: 0;
			margin-left: 12px;
		}
	}

	.temp-domain-item__description {
		box-sizing: border-box;
		display: flex;
		width: 100%;
		justify-content: space-between;
		font-size: $font-body-small;
		color: var(--studio-gray-80);
		background: var(--studio-white);
		padding: 8px 16px;
	}

	.temp-domain-item__label {
		margin-bottom: 16px;
	}
}
