.store-profiler {
	.step-container {
		padding: 20px;
		.step-container__header {
			max-width: 600px;
			margin: 24px auto;
			.formatted-header__subtitle {
				text-align: center;
			}
		}
		.step-container__content {
			max-width: 600px;
			margin: auto;
			.form-select {
				width: 100%;
			}
		}
	}
}
