@import './label-purchase-modal/style';
.shipping-label__container {
	margin-bottom: 0;
	text-align: center;

	.shipping-label__payment .gridicon.notice__icon {
		align-self: flex-start;
		margin-top: 8px;
	}

	.shipping-label__item, .label-item {
		padding: 16px;
		border-bottom: 1px solid #eee;

		.label-item__created {
			color: $gray;
			font-size: 12px;
		}

		&:last-child {
			border: none;
		}

		p {
			margin-bottom: 3px;
			text-align: left;

			&.label-item__tracking {
				margin-bottom: 16px;
				font-size: 12px;

				a:focus {
					outline: none;
					box-shadow: none;
				}
			}

			& .label-item__detail {
				font-weight: bold;
				font-size: 14px;
				color: $gray-dark;
				cursor: help;
				text-decoration: underline;
				text-decoration-color: $gray-dark;
				text-decoration-style: dotted;
			}
		}

		.shipping-label__new-label-button {
			width: 100%;
			margin-top: 16px;
		}

		.label-item__actions {
			display: flex;
			justify-content: space-between;
			font-size: 12px;
			margin-bottom: 0;

			a {
				text-decoration: none;
			}

			.gridicon {
				margin-right: 4px;
			}

			span svg,
			a svg {
				position: relative;
				top: 2px;
				margin-right: 2px;
			}

			.is-refund-pending {
				color: $alert-yellow;
			}

			.is-refund-checking {
				color: $alert-yellow;
				animation: loading-fade 1.6s ease-in-out infinite;
			}

			.is-refund-complete {
				color: $alert-green;
			}

			.is-refund-rejected {
				color: $alert-red;
			}
		}

		.shipping-label__purchase-error {
			color: $alert-red;
			cursor: help;
			text-decoration: underline;
			text-decoration-color: $alert-red;
			text-decoration-style: dotted;
		}
	}
}

&.dialog.card.label-reprint-modal {
	@include breakpoint( ">480px" ) {
		top: calc(50% - 175px);
		right: calc(50% - 250px);
		bottom: calc(50% - 175px);
		left: calc(50% - 250px);
		width: 500px;
		height: 350px;
	}

	.label-reprint-modal__notice {
		color: darken($gray, 10);
		font-style: italic;
	}
}

&.dialog.card.label-refund-modal {
	@include breakpoint( ">480px" ) {
		top: calc(50% - 175px);
		right: calc(50% - 250px);
		bottom: calc(50% - 175px);
		left: calc(50% - 250px);
		width: 500px;
		height: 350px;
	}

	dd {
		margin-left: 0;
	}
}

.error-notice {
	margin: -24px -24px 24px -24px;
	width: inherit;

	.notice__icon {
		display: none;
	}
}

.loading-spinner {
	margin: 8px auto;
	text-align: center;
}
