.history {
	&__header {
		color: var( --studio-black );
		font-size: 28px;
		line-height: 1;
		margin: 32px 0 16px;

		@include breakpoint-deprecated( '>660px' ) {
			font-size: 36px;
			font-weight: 600;
			margin: 32px 0 24px;
		}
	}
}

.history.is_jetpackcom .section-nav {
	margin-top: 16px;

	@include breakpoint-deprecated( '>660px' ) {
		margin-top: 0;
	}
}

.history__body {
	@include breakpoint-deprecated( '<660px' ) {
		padding: 0 16px;
	}
}

.history__description {
	margin: 22px 0 24px;

	color: var( --color-text-subtle );
	font-size: $font-body;
}
