.filtered-list {
	max-width: 440px;
}

.filtered-list__container {
	border: 1px solid lighten( $gray, 20% );
	border-top: none;
	padding: 8px;
	height: 190px;
	overflow-y: scroll;
}

.filtered-list__list {
	margin: 0;
}
