.dashboard__manage-has-orders,
.dashboard__manage-no-orders,
.dashboard__placeholder,
.setup__wrapper {
	@include breakpoint( ">660px" ) {
		margin-top: 58px;
	}
}

.dashboard__placeholder .card {
	@include placeholder();
}

.dashboard__placeholder-large button,
.dashboard__placeholder-small button {
	display: none;
}

.dashboard__placeholder-small {
	height: 250px;
}

.dashboard__placeholder-large {
	margin-bottom: 16px;
	height: 200px;
}

.dashboard__stats-widget {
	background-image: url( '/calypso/images/extensions/woocommerce/woocommerce-sample-graph.svg' );
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 120%;
	min-height: 290px;
}

.dashboard__manage-has-orders-header {
	margin-bottom: 24px;
	text-align: center;

	h2 {
		font-size: 24px;

		span {
			display: block;
		}
	}
}

.dashboard__manage-has-orders-stats-actions {
	padding: 24px;
	text-align: center;
}

.dashboard__manage-has-orders {
	@include breakpoint( ">960px" ) {
		margin-top: 58px;
	}
	.dashboard__reports-widget {
		overflow: hidden;
		text-align: center;

		@include breakpoint( ">960px" ) {
			text-align: left;
			padding-left: 48px;
		}

		.dashboard__reports-widget-content-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;

			@include breakpoint( ">960px" ) {
				flex-direction: row;
			}
		}

		@include breakpoint( ">960px" ) {
			text-align: left;
		}

		h2 {
			font-size: 24px;
			line-height: 1.2em;
			margin-bottom: 16px;
		}

		.dashboard__reports-widget-content {
			@include breakpoint( ">960px" ) {
				order: 0;
			}
		}

		img {
			margin-bottom: 1.5em;
			max-width: 200px;
			margin-top: 1em;

			@include breakpoint( ">960px" ) {
				margin-bottom: 0;
				order: 1;
				transform: translateY( 31px );
				margin-top: 0;
				width: 360px;
				height: 180px;
				max-width: none;
			}
		}

		p {
			color: $gray-text-min;
			font-size: 14px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@include breakpoint( ">960px" ) {
	.dashboard__queue-widgets {
		display: flex;

		div {
			flex-grow: 1;
		}

		div:nth-child( 2 ) {
			margin-left: 8px;
		}
	}
}

.dashboard__reviews-widget {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 30%;

	div {
		min-width: 50%;
		text-align: center;

		span:first-child {
			display: block;
			font-size: 24px;
		}

		span:nth-child( 2 ) {
			color: $gray-text-min;
		}
	}
}
