.scan__main {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: calc( 100vh - 47px ); // Padding of .layout__content.
	padding: 40px 16px 0;

	@include breakpoint ( '>660px' ) {
		min-height: calc( 100vh - 95px ); // 71px top + 24px bottom padding. 
		padding: 0;
	}

	@include breakpoint ( '>960px' ) {
		min-height: calc( 100vh - 111px ); // 79px top + 32px bottom padding.
	}
}

.scan__content {
	flex: 1 0 auto;
	max-width: 680px;

.scan__icon {
	display: block;
	margin: 0 auto;
	width: 70px;

		@include breakpoint( '>660px' ) {
			margin: 0;
		}
	}

	.progress-bar {
			margin-bottom: 24px;
	}
}

.scan__header {
	color: var( --color-neutral-80 );
	font-size: 28px;
	line-height: 1;
	margin: 30px 0;

	@include breakpoint( '>660px' ) {
		font-size: 48px;
	}
}

.scan__header--okay {
	color: var( --color-primary-40 );
}

.scan__threats {
	margin: 40px 0;
}

.scan__button {
	margin: 30px 0;
	width: 100%;
	text-align: center;

	@include breakpoint( '>660px' ) {
		width: auto;
		text-align: left;
	}
}

.button.scan__button.is-primary {
	background-color: var( --color-primary-40 );
	border-color: var( --color-primary-60 );
}
