.scan__icon {
	display: block;
	margin: 0 auto;

	@include breakpoint( '>660px' ) {
		margin: 0;
	}
}

.scan__header {
	color: var( --color-neutral-80 );
	font-size: 28px;
	line-height: 1;
	margin: 30px 0;

	@include breakpoint( '>660px' ) {
		font-size: 48px;
	}
}

.scan__header--okay {
	color: var( --color-primary-40 );
}

.scan__button {
	margin: 30px 0;
	width: 100%;
	text-align: center;

	@include breakpoint( '>660px' ) {
		width: auto;
		text-align: left;
	}
}

.button.scan__button.is-primary {
	background-color: var( --color-primary-40 );
	border-color: var( --color-primary-60 );
}
