@import '../style';

.newsletter.processing {
	.wordpress-logo {
		position: absolute;
		inset-inline-start: 20px;
		inset-block-start: 20px;
		fill: var( --color-text );
		stroke: var( --color-text );
		transform-origin: 0 0;
	}

	position: fixed;
	width: 100%;
	height: 100%;

	background-color: rgb( 162, 218, 254 );
	background-image: url( 'calypso/assets/images/onboarding/newsletter-processing-left.png' ),
	url( 'calypso/assets/images/onboarding/newsletter-processing-right.jpg' );
	background-position: left bottom, right top;
	background-repeat: no-repeat, no-repeat;
	background-attachment: fixed;

	background-size: auto 25%, auto 25%;

	@include break-medium {
		background-size: auto 50%, auto 45%;
	}

	@include break-large {
		background-size: auto 60%, auto 55%;
	}

	.step-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 25vh;
	}

	.step-container__content {
		width: 100%;

		@include break-medium {
			width: 50%;
		}
	}

	.progress-bar {
		display: none;
	}

	h1.processing-step__progress-step {
		font-size: $font-title-medium;

		@include break-medium {
			font-size: $font-title-large;
		}
	}
}
