.thank-you-card {
	position: relative;
	width: 100%;
	max-width: 500px;
	background-color: var( --color-success-40 );
	border-radius: 8px 8px 6px 6px;
	overflow: hidden;
	margin: 12px auto 24px;
	color: var( --color-text-inverted );
	font-family: $sans;
	text-align: center;

	@include breakpoint( '>480px' ) {
		margin-top: 28px;
	}
}

.thank-you-card__header {
	background-color: var( --color-success );
	padding: 12px 0;
	position: relative;
	line-height: 1.2;
	border-radius: 6px 6px 0 0;
	overflow: hidden;
	z-index: z-index( 'root', '.thank-you-card__header' );

	@include breakpoint( '>480px' ) {
		padding: 32px 0;
	}
}

.thank-you-card__header-detail {
	position: relative;
	z-index: z-index( '.thank-you-card__header', '.thank-you-card__header-detail' );
}

.thank-you-card__body {
	padding: 24px;

	@include breakpoint( '>480px' ) {
		padding: 40px;
	}
}

.thank-you-card__main-icon {
	width: 72px;
	height: 72px;
	margin: 0 auto;
	position: relative;
	z-index: z-index( '.thank-you-card__header', '.thank-you-card__main-icon' );

	@include breakpoint( '>480px' ) {
		width: 96px;
		height: 96px;
	}
}

.thank-you-card__name {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;

	&.is-placeholder {
		@include placeholder();

		background-color: var( --color-success-5 );
		margin-left: auto;
		margin-right: auto;
		width: 35%;
	}
}

.thank-you-card__price {
	font-size: 15px;
	font-weight: 600;
	color: var( --color-success-5 );

	&.is-placeholder {
		@include placeholder();

		background-color: var( --color-success-5 );
		margin-left: auto;
		margin-right: auto;
		width: 10%;
	}
}

.thank-you-card__heading {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 8px;

	@include breakpoint( '>480px' ) {
		font-size: 26px;
	}
}

.thank-you-card__description {
	font-size: 13px;
	font-weight: 400;
	width: 280px;
	max-width: 100%;
	margin: 0 auto 30px;
	line-height: 20px;

	@include breakpoint( '>480px' ) {
		font-size: 15px;
	}
}

.thank-you-card__button,
.thank-you-card__button:visited {
	display: inline-block;
	border-radius: 4px;
	background-color: var( --color-surface );
	font-size: 14px;
	max-width: 280px;
	padding: 8px 24px;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px 1px 2px;
}

.thank-you-card__button.is-placeholder,
.thank-you-card__button.is-placeholder:visited {
	@include placeholder();
	pointer-events: none;
	border-color: transparent;
	border-radius: 0;
}

.thank-you-card__button:focus {
	outline: 1px dotted var( --color-surface );
}

.thank-you-card__button:active {
	border-width: 2px 1px 1px;
}

@keyframes floating {
	0% {
		opacity: 0;
		transform: translateY( 0 ) translateX( 0 ) rotate( 0 );
	}
	70% {
		opacity: 1;
		transform: translateY( 5px ) translateX( 5px ) rotate( -20deg );
	}
	100% {
		opacity: 0;
		transform: translateY( 0 ) translateX( 0 ) rotate( 0 );
	}
}

.thank-you-card__background-icons {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: rgba( var( --color-surface-rgb ), 0.4 );

	.gridicon {
		position: absolute;
		opacity: 0;
		animation: floating 10s infinite ease-in-out;
	}

	.gridicon:nth-child( 1 ) {
		top: 18px;
		left: 14.8%;
		animation-delay: 6s;
	}
	.gridicon:nth-child( 2 ) {
		top: 118px;
		left: 67.4%;
		animation-delay: 4s;
	}
	.gridicon:nth-child( 3 ) {
		top: 108px;
		left: 86.2%;
		animation-delay: 7s;
	}
	.gridicon:nth-child( 4 ) {
		top: 190px;
		left: 8.4%;
		animation-delay: 1s;
	}
	.gridicon:nth-child( 5 ) {
		top: 233px;
		left: 70.6%;
		animation-delay: 7s;
	}
	.gridicon:nth-child( 6 ) {
		top: 83px;
		left: 4.2%;
		animation-delay: 6s;
	}
	.gridicon:nth-child( 7 ) {
		top: 213px;
		left: 23.8%;
		animation-delay: 3s;
	}
	.gridicon:nth-child( 8 ) {
		top: 30px;
		left: 37.8%;
		animation-delay: 5s;
	}
	.gridicon:nth-child( 9 ) {
		top: 26px;
		left: 78.4%;
		animation-delay: 7s;
	}
	.gridicon:nth-child( 10 ) {
		top: 101px;
		left: 21%;
		animation-delay: 5s;
	}
	.gridicon:nth-child( 11 ) {
		top: 21px;
		left: 62%;
		animation-delay: 9s;
	}
	.gridicon:nth-child( 12 ) {
		top: 161px;
		left: 77.6%;
		animation-delay: 4s;
	}
}
