.backup-delta {
    margin: 0 1rem;
}

.backup-delta__view-all-button {
    float: none;
}

.backup-delta__realtime .activity-log-item__actor {
    margin-left: 0;
}

.backup-delta__realtime .button.is-borderless.is-primary {
    float: none;
    display: inline-block;
}

.backup-delta__changes-header {
    margin-top: 2rem;
    font-weight: 700;
}

.backup-delta__section-header {
    margin: 0.5rem 0;

}

.backup-delta__section-posts {
    margin-bottom: 1rem;

}

.backup-delta__media-image {
    display: inline-block;
    margin-right: 1rem;
    position: relative;
}

.backup-delta__media-title {
    position: relative;
    top: -1.5rem;
    background-color: rgba( 0, 0, 0, 0.5 );
    color: #fff;
    font-size: 0.8rem;
}

.backup-delta__media-title .gridicon {
    width: 1rem;
    margin: 0 0.3rem;
}

.backup-delta__count-bubble {
    display: inline-block;
    background: #dcdcde;
    color: #000;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
}

.backup-delta__deleted-count-bubble {
    position: absolute;
    right: 0.5rem;
    top: 2rem;
    display: inline-block;
    background: #d63638;
    color: #fff;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
}

.gridicon.backup-delta__post-icon {
    width: 1rem;
    fill: #787c82;
}

.backup-delta__post-link {
    display: inline-block;
    position: relative;
    top: -0.4rem;
    left: 0.5rem;
    color: #349e0b;
}

.backup-delta__post-block {
    margin-bottom: -0.5rem;
}

.backup-delta__metas {
    margin: 1rem 0;
}

@media ( max-width: 660px ) {
    .backup-delta__view-all-button {
        display: block;
        text-align: center;
    }
}
