
.wp-login.main {
	max-width: 400px;
}

.wp-login__header {
	color: darken( $gray, 10% );
	font-size: 16px;
	margin-bottom: 16px;
	text-align: center;
}

.wp-login__footer {
	text-align: left;

	a {
		color: #87a6bc;
		display: block;
		font-size: 16px;
		padding: 16px 24px;
		text-decoration: none;
	}
}
