.site-logs-details-modal {

	.dataforms-layouts-panel__field-control button {
		color: inherit !important;
		height: auto;
		overflow-wrap: anywhere;
		text-wrap: wrap;
	}

	.dataforms-layouts-panel__field-label {
		font-weight: 500;
		text-transform: uppercase;
	}
 
}
