/*
WP Admin Unthemed definitions:

$text-color: #fff !default;
$base-color: #23282d !default;
$icon-color: hsl( hue( $base-color ), 7%, 95% ) !default;
$highlight-color: #0073aa !default;
$notification-color: #d54e21 !default;

WP Admin Blue Definition:

$base-color: #52accc;
$icon-color: #e5f8ff;
$highlight-color: #096484;
$notification-color: #e1a948;
$button-color: #e1a948;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #4796b3;

Used studio-blue for the primary+accent.
*/

.color-scheme.is-blue,
.color-scheme.is-blue .is-nav-unification {
	/* Variables used in Calypso blue */
	--theme-text-color: #ffffff; /* Direct from wp-admin */
	--theme-text-color-rgb: 255, 255, 255; /* Manual conversion */
	--theme-base-color: #52accc; /* Direct from wp-admin */
	--theme-base-color-rgb: 82, 172, 204; /* Manually computed https://www.rapidtables.com/convert/color/hex-to-rgb.html */
	--theme-submenu-text-color: #cbe6f0; /* mix( $base-color, $text-color, 30% ) */
	--theme-submenu-background-color: #4796b3; /* From wp-admin*/
	--theme-icon-color: #e5f8ff; /* Direct from wp-admin */
	--theme-highlight-color: #096484; /* Direct from wp-admin */
	--theme-highlight-color-rgb: 9, 100, 132; /* Manually computed https://www.rapidtables.com/convert/color/hex-to-rgb.html */
	--theme-notification-color: #e1a948; /* Direct from wp-admin */

	/* Primary */
	--color-primary: var( --theme-highlight-color );
	--color-primary-rgb: var( --theme-highlight-color-rgb );
	--color-primary-dark: var( --studio-blue-70 );
	--color-primary-dark-rgb: var( --studio-blue-70-rgb );
	--color-primary-light: var( --studio-blue-30 );
	--color-primary-light-rgb: var( --studio-blue-30-rgb );
	--color-primary-0: var( --studio-blue-0 );
	--color-primary-0-rgb: var( --studio-blue-0-rgb );
	--color-primary-5: var( --studio-blue-5 );
	--color-primary-5-rgb: var( --studio-blue-5-rgb );
	--color-primary-10: var( --studio-blue-10 );
	--color-primary-10-rgb: var( --studio-blue-10-rgb );
	--color-primary-20: var( --studio-blue-20 );
	--color-primary-20-rgb: var( --studio-blue-20-rgb );
	--color-primary-30: var( --studio-blue-30 );
	--color-primary-30-rgb: var( --studio-blue-30-rgb );
	--color-primary-40: var( --studio-blue-40 );
	--color-primary-40-rgb: var( --studio-blue-40-rgb );
	--color-primary-50: var( --studio-blue-50 );
	--color-primary-50-rgb: var( --studio-blue-50-rgb );
	--color-primary-60: var( --studio-blue-60 );
	--color-primary-60-rgb: var( --studio-blue-60-rgb );
	--color-primary-70: var( --studio-blue-70 );
	--color-primary-70-rgb: var( --studio-blue-70-rgb );
	--color-primary-80: var( --studio-blue-80 );
	--color-primary-80-rgb: var( --studio-blue-80-rgb );
	--color-primary-90: var( --studio-blue-90 );
	--color-primary-90-rgb: var( --studio-blue-90-rgb );
	--color-primary-100: var( --studio-blue-100 );
	--color-primary-100-rgb: var( --studio-blue-100-rgb );

	/* Accent */
	--color-accent: var( --theme-highlight-color );
	--color-accent-rgb: var( --theme-highlight-color-rgb );
	--color-accent-dark: var( --studio-blue-70 );
	--color-accent-dark-rgb: var( --studio-blue-70-rgb );
	--color-accent-light: var( --studio-blue-30 );
	--color-accent-light-rgb: var( --studio-blue-30-rgb );
	--color-accent-0: var( --studio-blue-0 );
	--color-accent-0-rgb: var( --studio-blue-0-rgb );
	--color-accent-5: var( --studio-blue-5 );
	--color-accent-5-rgb: var( --studio-blue-5-rgb );
	--color-accent-10: var( --studio-blue-10 );
	--color-accent-10-rgb: var( --studio-blue-10-rgb );
	--color-accent-20: var( --studio-blue-20 );
	--color-accent-20-rgb: var( --studio-blue-20-rgb );
	--color-accent-30: var( --studio-blue-30 );
	--color-accent-30-rgb: var( --studio-blue-30-rgb );
	--color-accent-40: var( --studio-blue-40 );
	--color-accent-40-rgb: var( --studio-blue-40-rgb );
	--color-accent-50: var( --studio-blue-50 );
	--color-accent-50-rgb: var( --studio-blue-50-rgb );
	--color-accent-60: var( --studio-blue-60 );
	--color-accent-60-rgb: var( --studio-blue-60-rgb );
	--color-accent-70: var( --studio-blue-70 );
	--color-accent-70-rgb: var( --studio-blue-70-rgb );
	--color-accent-80: var( --studio-blue-80 );
	--color-accent-80-rgb: var( --studio-blue-80-rgb );
	--color-accent-90: var( --studio-blue-90 );
	--color-accent-90-rgb: var( --studio-blue-90-rgb );
	--color-accent-100: var( --studio-blue-100 );
	--color-accent-100-rgb: var( --studio-blue-100-rgb );

	/* Masterbar */
	--color-masterbar-background: var( --theme-base-color );
	--color-masterbar-border: var( --theme-submenu-background-color );
	--color-masterbar-text: var( --studio-white );
	--color-masterbar-unread-dot-background: var( --theme-notification-color );

	--color-masterbar-item-hover-background: var( --theme-submenu-background-color );
	--color-masterbar-item-active-background: var( --theme-submenu-background-color );
	--color-masterbar-item-new-editor-background: var( --studio-gray-50 );
	--color-masterbar-item-new-editor-hover-background: var( --studio-gray-60 );

	--color-masterbar-toggle-drafts-editor-background: var( --studio-gray-60 );
	--color-masterbar-toggle-drafts-editor-hover-background: var( --studio-gray-40 );
	--color-masterbar-toggle-drafts-editor-border: var( --studio-gray-10 );

	/* Sidebar */
	--color-sidebar-background: var( --theme-base-color );
	--color-sidebar-background-rgb: var( --theme-base-color-rgb );
	--color-sidebar-border: var( --theme-submenu-background-color );
	--color-sidebar-text: var( --theme-text-color );
	--color-sidebar-text-rgb: var( --theme-text-color-rgb );
	--color-sidebar-text-alternative: #e2ecf1; /* $menu-submenu-text: */
	--color-sidebar-gridicon-fill: var( --theme-icon-color );

	/* Sidebar Selected */
	--color-sidebar-menu-selected-background: var( --theme-highlight-color );
	--color-sidebar-menu-selected-background-rgb: var( --theme-highlight-color-rgb );
	--color-sidebar-menu-selected-text: var( --theme-text-color );
	--color-sidebar-menu-selected-text-rgb: var( --theme-text-color-rgb );

	/* Sidebar Hover */
	--color-sidebar-menu-hover-background: var( --theme-highlight-color );
	--color-sidebar-menu-hover-background-rgb: var( --theme-highlight-color-rgb );
	--color-sidebar-menu-hover-text: var( --theme-text-color );

	/* Sidebar Hover - Nav unification */

	/* Sidebar Submenu - Nav Unification */
	--color-sidebar-submenu-background: var( --theme-submenu-background-color );
	--color-sidebar-submenu-text: var( --theme-submenu-text-color );
	--color-sidebar-submenu-hover-background: transparent;
	--color-sidebar-submenu-hover-text: var( --theme-text-color );
}

