.color-scheme.is-classic-blue {
	--color-accent: #{$muriel-orange-500};
	--color-accent-rgb: #{hex-to-rgb( $muriel-orange-500 )};
	--color-accent-dark: #{$muriel-orange-700};
	--color-accent-dark-rgb: #{hex-to-rgb( $muriel-orange-700 )};
	--color-accent-light: #{$muriel-orange-300};
	--color-accent-light-rgb: #{hex-to-rgb( $muriel-orange-300 )};
	--color-accent-0: #{$muriel-orange-0};
	--color-accent-0-rgb: #{hex-to-rgb( $muriel-orange-0 )};
	--color-accent-5: #{$muriel-orange-50};
	--color-accent-5-rgb: #{hex-to-rgb( $muriel-orange-50 )};
	--color-accent-10: #{$muriel-orange-100};
	--color-accent-10-rgb: #{hex-to-rgb( $muriel-orange-100 )};
	--color-accent-20: #{$muriel-orange-200};
	--color-accent-20-rgb: #{hex-to-rgb( $muriel-orange-200 )};
	--color-accent-30: #{$muriel-orange-300};
	--color-accent-30-rgb: #{hex-to-rgb( $muriel-orange-300 )};
	--color-accent-40: #{$muriel-orange-400};
	--color-accent-40-rgb: #{hex-to-rgb( $muriel-orange-400 )};
	--color-accent-50: #{$muriel-orange-500};
	--color-accent-50-rgb: #{hex-to-rgb( $muriel-orange-500 )};
	--color-accent-60: #{$muriel-orange-600};
	--color-accent-60-rgb: #{hex-to-rgb( $muriel-orange-600 )};
	--color-accent-70: #{$muriel-orange-700};
	--color-accent-70-rgb: #{hex-to-rgb( $muriel-orange-700 )};
	--color-accent-80: #{$muriel-orange-700};
	--color-accent-80-rgb: #{hex-to-rgb( $muriel-orange-700 )};
	--color-accent-90: #{$muriel-orange-800};
	--color-accent-90-rgb: #{hex-to-rgb( $muriel-orange-800 )};
	--color-accent-100: #{$muriel-orange-900};
	--color-accent-100-rgb: #{hex-to-rgb( $muriel-orange-900 )};

	--color-button-primary-background-hover: #{$muriel-orange-400};

	--color-sidebar-background: #{$muriel-gray-50};
	--color-sidebar-background-gradient: #{hex-to-rgb( $muriel-gray-50 )};
	--color-sidebar-heading: #{$muriel-gray-600};
	--color-sidebar-border: #{$muriel-gray-100};
	--color-sidebar-text-light: #{$muriel-gray-500};
	--color-sidebar-menu-a-first-child-after-background: #{hex-to-rgb( $muriel-gray-50 )};
	--color-sidebar-menu-selected-background: #{$muriel-gray-500};
	--color-sidebar-menu-selected-a: #{$muriel-white};
	--color-sidebar-menu-selected-a-first-child-after-background: #{hex-to-rgb( $muriel-gray-500 )};
	--color-sidebar-menu-hover-background: #{$muriel-white};
	--color-sidebar-menu-hover-background-gradient: #{hex-to-rgb( $muriel-white )};
	--color-sidebar-menu-hover: #{$muriel-blue-500};
}
