.color-scheme.is-sunset {
	--color-primary: #{$muriel-red-500};
	--color-primary-rgb: #{hex-to-rgb( $muriel-red-500 )};
	--color-primary-dark: #{$muriel-red-700};
	--color-primary-dark-rgb: #{hex-to-rgb( $muriel-red-700 )};
	--color-primary-light: #{$muriel-red-300};
	--color-primary-light-rgb: #{hex-to-rgb( $muriel-red-300 )};
	--color-primary-0: #{$muriel-red-0};
	--color-primary-0-rgb: #{hex-to-rgb( $muriel-red-0 )};
	--color-primary-5: #{$muriel-red-50};
	--color-primary-5-rgb: #{hex-to-rgb( $muriel-red-50 )};
	--color-primary-10: #{$muriel-red-100};
	--color-primary-10-rgb: #{hex-to-rgb( $muriel-red-100 )};
	--color-primary-20: #{$muriel-red-200};
	--color-primary-20-rgb: #{hex-to-rgb( $muriel-red-200 )};
	--color-primary-30: #{$muriel-red-300};
	--color-primary-30-rgb: #{hex-to-rgb( $muriel-red-300 )};
	--color-primary-40: #{$muriel-red-400};
	--color-primary-40-rgb: #{hex-to-rgb( $muriel-red-400 )};
	--color-primary-50: #{$muriel-red-500};
	--color-primary-50-rgb: #{hex-to-rgb( $muriel-red-500 )};
	--color-primary-60: #{$muriel-red-600};
	--color-primary-60-rgb: #{hex-to-rgb( $muriel-red-600 )};
	--color-primary-70: #{$muriel-red-700};
	--color-primary-70-rgb: #{hex-to-rgb( $muriel-red-700 )};
	--color-primary-80: #{$muriel-red-700};
	--color-primary-80-rgb: #{hex-to-rgb( $muriel-red-700 )};
	--color-primary-90: #{$muriel-red-800};
	--color-primary-90-rgb: #{hex-to-rgb( $muriel-red-800 )};
	--color-primary-100: #{$muriel-red-900};
	--color-primary-100-rgb: #{hex-to-rgb( $muriel-red-900 )};

	--color-accent: #{$muriel-orange-700};
	--color-accent-rgb: #{hex-to-rgb( $muriel-orange-700 )};
	--color-accent-dark: #{$muriel-orange-900};
	--color-accent-dark-rgb: #{hex-to-rgb( $muriel-orange-900 )};
	--color-accent-light: #{$muriel-orange-300};
	--color-accent-light-rgb: #{hex-to-rgb( $muriel-orange-300 )};
	--color-accent-0: #{$muriel-orange-0};
	--color-accent-0-rgb: #{hex-to-rgb( $muriel-orange-0 )};
	--color-accent-5: #{$muriel-orange-50};
	--color-accent-5-rgb: #{hex-to-rgb( $muriel-orange-50 )};
	--color-accent-10: #{$muriel-orange-100};
	--color-accent-10-rgb: #{hex-to-rgb( $muriel-orange-100 )};
	--color-accent-20: #{$muriel-orange-200};
	--color-accent-20-rgb: #{hex-to-rgb( $muriel-orange-200 )};
	--color-accent-30: #{$muriel-orange-300};
	--color-accent-30-rgb: #{hex-to-rgb( $muriel-orange-300 )};
	--color-accent-40: #{$muriel-orange-400};
	--color-accent-40-rgb: #{hex-to-rgb( $muriel-orange-400 )};
	--color-accent-50: #{$muriel-orange-500};
	--color-accent-50-rgb: #{hex-to-rgb( $muriel-orange-500 )};
	--color-accent-60: #{$muriel-orange-600};
	--color-accent-60-rgb: #{hex-to-rgb( $muriel-orange-600 )};
	--color-accent-70: #{$muriel-orange-700};
	--color-accent-70-rgb: #{hex-to-rgb( $muriel-orange-700 )};
	--color-accent-80: #{$muriel-orange-700};
	--color-accent-80-rgb: #{hex-to-rgb( $muriel-orange-700 )};
	--color-accent-90: #{$muriel-orange-800};
	--color-accent-90-rgb: #{hex-to-rgb( $muriel-orange-800 )};
	--color-accent-100: #{$muriel-orange-900};
	--color-accent-100-rgb: #{hex-to-rgb( $muriel-orange-900 )};

	--color-text: #{$muriel-gray-900};
	--color-text-subtle: #{$muriel-gray-600};
	--color-surface: #{$muriel-white};
	--color-surface-backdrop: #{$muriel-gray-0};

	--color-link: #{$muriel-orange-700};
	--color-link-rgb: #{hex-to-rgb( $muriel-orange-700 )};
	--color-link-dark: #{$muriel-orange-900};
	--color-link-dark-rgb: #{hex-to-rgb( $muriel-orange-900 )};
	--color-link-light: #{$muriel-orange-400};
	--color-link-light-rgb: #{hex-to-rgb( $muriel-orange-400 )};
	--color-link-0: #{$muriel-orange-0};
	--color-link-0-rgb: #{hex-to-rgb( $muriel-orange-0 )};
	--color-link-5: #{$muriel-orange-50};
	--color-link-5-rgb: #{hex-to-rgb( $muriel-orange-50 )};
	--color-link-10: #{$muriel-orange-100};
	--color-link-10-rgb: #{hex-to-rgb( $muriel-orange-100 )};
	--color-link-20: #{$muriel-orange-200};
	--color-link-20-rgb: #{hex-to-rgb( $muriel-orange-200 )};
	--color-link-30: #{$muriel-orange-300};
	--color-link-30-rgb: #{hex-to-rgb( $muriel-orange-300 )};
	--color-link-40: #{$muriel-orange-400};
	--color-link-40-rgb: #{hex-to-rgb( $muriel-orange-400 )};
	--color-link-50: #{$muriel-orange-500};
	--color-link-50-rgb: #{hex-to-rgb( $muriel-orange-500 )};
	--color-link-60: #{$muriel-orange-600};
	--color-link-60-rgb: #{hex-to-rgb( $muriel-orange-600 )};
	--color-link-70: #{$muriel-orange-700};
	--color-link-70-rgb: #{hex-to-rgb( $muriel-orange-700 )};
	--color-link-80: #{$muriel-orange-700};
	--color-link-80-rgb: #{hex-to-rgb( $muriel-orange-700 )};
	--color-link-90: #{$muriel-orange-800};
	--color-link-90-rgb: #{hex-to-rgb( $muriel-orange-800 )};
	--color-link-100: #{$muriel-orange-900};
	--color-link-100-rgb: #{hex-to-rgb( $muriel-orange-900 )};

	--color-button-primary-background-hover: #{$muriel-orange-800};
	--color-button-primary-scary-background-hover: #{$muriel-red-400};

	--color-masterbar: #{$muriel-white};
	--color-masterbar-border: #{$muriel-red-700};
	--color-masterbar-item-new-editor-background: #{$muriel-gray-500};
	--color-masterbar-item-new-editor-hover-background: #{$muriel-gray-600};
	--color-masterbar-toggle-drafts-editor-background: #{$muriel-gray-600};
	--color-masterbar-toggle-drafts-editor-hover-background: #{$muriel-gray-400};
	--color-masterbar-toggle-drafts-editor-border: #{$muriel-gray-100};

	--color-sidebar-background: #{$muriel-red-600};
	--color-sidebar-background-gradient: #{hex-to-rgb( $muriel-red-600 )};
	--color-sidebar-secondary-background: #{$muriel-white};
	--color-sidebar-secondary-background-gradient: #{hex-to-rgb( $muriel-white )};
	--color-sidebar-border: #{$muriel-red-700};
	--color-sidebar-text: #{$muriel-white};
	--color-sidebar-text-light: #{$muriel-red-50};
	--color-sidebar-gridicon-fill: #{$muriel-white};
	--color-sidebar-heading: #{$muriel-red-50};
	--color-sidebar-footer-button-color: #{$muriel-white};
	--color-sidebar-menu-link-secondary-text: #{$muriel-red-50};
	--color-sidebar-menu-a-first-child-after-background: #{hex-to-rgb( $muriel-red-600 )};
	--color-sidebar-menu-selected-background: #{$muriel-yellow-500};
	--color-sidebar-menu-selected-a: #{$muriel-gray-800};
	--color-sidebar-menu-selected-a-first-child-after-background: #{hex-to-rgb( $muriel-yellow-500 )};
	--color-sidebar-menu-hover-background: #{$muriel-red-700};
	--color-sidebar-menu-hover-background-gradient: #{hex-to-rgb( $muriel-red-700 )};
	--color-sidebar-menu-hover: #{$muriel-white};
}
