.playground-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f6f7f7;

  &__content {
    max-width: 500px;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #1e1e1e;
  }

  &__message {
    margin-bottom: 1.5rem;
    color: #50575e;
    line-height: 1.5;
  }

  &__button {
    margin-top: 1rem;
  }

  &__loader {
    display: flex;
    justify-content: center;
    gap: 8px;

    p {
      margin: 0;
      color: #50575e;
      line-height: 1.5;
    }
  }
}
