$faq-gutter-width: 24px;

.faq {
	padding: 0 16px;

	@include breakpoint-deprecated( '>480px' ) {
		padding: 0 24px;
	}

	@include breakpoint-deprecated( '>660px' ) {
		padding: 0;
	}
}

.faq__heading {
	margin-bottom: 32px;
	color: var( --color-text-subtle );
	font-size: $font-title-medium;
}

.faq__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 ($faq-gutter-width / -2);
	list-style: none;
}

.faq__item {
	width: 100%;
	margin-bottom: 16px;
	font-size: $font-body-small;
	line-height: 21px;
	box-sizing: border-box;
	padding-left: ($faq-gutter-width / 2);
	padding-right: ($faq-gutter-width / 2);

	@include breakpoint-deprecated( '480px-660px' ) {
		width: 50%;
	}

	@include breakpoint-deprecated( '800px-1040px' ) {
		width: 50%;
	}

	@include breakpoint-deprecated( '>1040px' ) {
		width: (100% / 3);
	}
}

.faq__question {
	margin-bottom: 12px;
	font-weight: 600;
	color: var( --color-text-subtle );
}

.faq__answer {
	margin-bottom: 1em;
	color: var( --color-neutral-50 );

	a {
		text-decoration: underline;
	}
}
