@import '@wordpress/base-styles/breakpoints';

.referral-details__subtitle {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	margin-block-start: 16px;
}

.referrals-purchases__assign-button {
	padding: 0;
	position: relative;
	top: -1px;
	inset-inline-start: 8px;
	text-decoration: underline;
}

.hosting-dashboard-item-view.referral-details-items {
	.hosting-dashboard-item-view__header-content,
	.hosting-dashboard-item-view__content {
		padding-inline: 24px;
	}

	.hosting-dashboard-item-view__content {
		display: block;
		padding-block-start: 24px;

		@media ( max-width: $break-mobile ) {
			height: 75vh;
			padding-block: 18px;
		}

		.consolidated-view {
			padding: 0;
		}
	}

	.section-nav-tabs__list {
		width: auto;
	}

	.redesigned-a8c-table .dataviews-view-table tr th:first-child,
	.redesigned-a8c-table .dataviews-view-table tr td:first-child {
		padding-inline-start: 24px;
	}

	.redesigned-a8c-table .dataviews-view-table tr .dataviews-view-table__actions-column {
		padding-inline: 12px;
		text-align: center;

		.dataviews-item-actions {
			inline-size: fit-content;
			margin-inline: auto;
		}

		.dataviews-all-actions-button {
			margin-inline: auto;
		}
	}
}

.a4a-popover__content p {
	color: var( --color-neutral-50 );
	@include body-small;
	margin-bottom: 0;
}

.badge-assigned-to .status-card__info-icon {
	vertical-align: bottom;
	margin-inline-start: 4px;
}
