@import "@wordpress/base-styles/variables";

.create-list-invitation {
	margin-block-end: 16px;

	.components-card__body {
		padding: 24px;
	}
}

.create-list-invitation__header {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-block-end: 16px;
	color: var( --color-text-subtle );
	font-size: $font-body-small;
}

.create-list-invitation__icon {
	fill: var( --studio-gray-50 );
	flex-shrink: 0;
}

.create-list-invitation__label {
	color: var( --studio-gray-80 );
}

.create-list-invitation__prompt {
	font-size: $font-title-small;
	font-weight: 500;
	line-height: 1.4;
	margin: 0 0 8px;
	color: var( --studio-gray-80 );
}

.create-list-invitation__description {
	font-size: $font-body-small;
	color: var( --color-text-subtle );
	line-height: 1.5;
	margin: 0 0 16px;
}

.create-list-invitation__footer {
	display: flex;
}
