/** @format */

.list-header {
	border-bottom: 1px solid $gray-lighten-20;
	display: flex;
	flex-direction: row;
	font-weight: normal;
	font-size: 13px;
	justify-content: space-between;
	font-weight: 700;

	.list-item-field {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}
