.list-header {
	border-bottom: 1px solid var( --color-neutral-10 );
	display: flex;
	flex-direction: row;
	font-size: $font-body-small;
	justify-content: space-between;
	font-weight: 600;

	.list-item-field {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}
