
.wp-block-jetpack-map {
	.wp-block-jetpack-map__gm-container {
		width: 100%;
		overflow: hidden;
		background: lightgray;
		min-height: 400px;
		text-align: left;
	}
	.mapboxgl-popup {
		h3 {
			font-size: 1.3125em;
			font-weight: 400;
			margin-bottom: 0.5rem;
		}
		p {
			margin-bottom: 0;
		}
		max-width: 300px;
	}
}
