.themes__search-card {
	display: flex;
	background: white;
	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ), 0 1px 2px lighten( $gray, 30% );

	.search {
		flex: 1 1 auto;
		margin: 0;
	}

	.section-nav {
		margin: 0;
	}

	.search .search__open-icon {
		color: lighten( $gray, 10% );
	}

	.select-dropdown,
	.more {
		display: inline-block;
		height: 43px;
		margin-right: 4px;
		flex: 0 0 auto;
		align-self: center;
	}

	.select-dropdown {
		margin-left: 16px;
	}

	.more {
		line-height: 18px;
		padding: 11px 14px 11px;
	}

	.select-dropdown .select-dropdown__header {
		pointer-events: none;
	}
}
