/** @format */

.clone-ready {
	max-width: 352px;
	margin: 0 auto;
}

.clone-ready__card {
	text-align: center;
}

.clone-ready__image {
	max-width: 293px;
	display: block;
	margin: 8px auto 32px auto;
}

.clone-ready__description {
	color: $gray-text-min;
	font-size: 14px;
}
.clone-ready__button {
	margin-top: 24px;
	width: 100%;
}
