.donations__container {
	border: 1px solid #a7aaad;

	.donations__tabs {
		display: flex;
		border-bottom: 1px solid #a7aaad;

		.components-button {
			font-weight: bold;
			display: inline-block;
			flex-grow: 1;
			text-align: center;
			font-size: 16px;
			padding: 16px;
			height: auto;
			border-radius: 0;
			border-left: 1px solid #a7aaad;

			&:first-child {
				border-left: none;
			}

			&:hover {
				color: inherit;
			}

			&.is-active {
				background-color: #2271b1;
				box-shadow: none;
				color: #fff;
			}
		}
	}

	.donations__content {
		padding: 24px;
	}
}
