@import "~@automattic/calypso-color-schemes";

.pagination-control {
	margin: 0;
	display: flex;
	justify-content: center;
	width: 100%;

	li {
		display: inline-flex;
		margin: auto 4px;
		height: 18px;
		align-items: center;
		border: none;
	}

	li.pagination-control__last-item {
		margin-left: auto;
		height: 32px;
	}

	button.pagination-control__page {
		border: none;
		padding: 0;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		background-color: var(--color-neutral-10);

		&:hover {
			background-color: var(--color-neutral-40);
		}

		&:disabled {
			cursor: default;
		}

		&.is-current {
			background-color: var(--wp-admin-theme-color);
		}
	}
}
