.step-header {
	margin: 16px 0 24px 0;
	text-align: center;

	@include breakpoint( ">960px" ) {
		margin-bottom: 35px;

		&.is-without-subhead {
			margin-bottom: 24px;
		}
	}
}

.step-header__title {
	font-size: 24px;
	margin: 0 0 5px 0;
}

.step-header__subtitle {
	color: darken( $gray, 20 );
	font-size: 14px;

	@include breakpoint( "<480px" ) {
		margin: 0;
		padding: 0 20px;
	}
}
