# You don't need to fill in these values for Fastlane to run.
#
# However, if a lane requires some of these environment values and they are not set here, it will fail.
APP_STORE_CONNECT_API_KEY_KEY_ID=
APP_STORE_CONNECT_API_KEY_ISSUER_ID=
APP_STORE_CONNECT_API_KEY_KEY=
MATCH_PASSWORD=
MATCH_S3_ACCESS_KEY=
MATCH_S3_SECRET_ACCESS_KEY=
