.site-blocks__list {
	border-bottom: 1px solid var(--color-neutral-0);
	max-width: 480px;
}

.site-blocks__list-item {
	border-top: 1px solid var(--color-neutral-0);
	min-height: 40px;
	line-height: 40px;
	vertical-align: middle;
	display: flex;

	&.is-placeholder {
		display: block;
	}
}

.site-blocks__list-item-placeholder-text {
	@include placeholder();
	padding-right: 150px;
}

.site-blocks__remove-button {
	margin-left: auto;
}

.site-blocks__no-sites {
	margin-bottom: 0;
}
