@import './variables.scss';

$tiled-gallery-max-column-count: 20;

.wp-block-jetpack-tiled-gallery {
	margin: 0 auto;

	&.is-style-circle .tiled-gallery__item img {
		border-radius: 50%;
	}

	[data-align='left'] &,
	[data-align='right'] &,
	&.alignleft,
	&.alignright {
		max-width: ( $tiled-gallery-content-width / 2 );
		width: 100%;
	}

	&.is-style-square,
	&.is-style-circle {
		.tiled-gallery__row {
			flex-grow: 1;
			width: 100%;

			@for $cols from 1 through $tiled-gallery-max-column-count {
				&.columns-#{$cols} {
					.tiled-gallery__col {
						width: calc( ( 100% - ( #{$tiled-gallery-gutter} * ( #{$cols} - 1 ) ) ) / #{$cols} );
					}
				}
			}
		}
	}
}

.tiled-gallery__gallery {
	width: 100%;
	display: flex;
	padding: 0;
	flex-wrap: wrap;
}

.tiled-gallery__row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;

	& + & {
		margin-top: $tiled-gallery-gutter;
	}
}

.tiled-gallery__col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;

	& + & {
		margin-left: $tiled-gallery-gutter;
	}
}

.tiled-gallery__item {
	justify-content: center;
	position: relative;
	margin: 0;

	& + & {
		margin-top: $tiled-gallery-gutter;
	}

	> a > img,
	> img {
		display: block;
		height: auto;
		max-width: 100%;
		width: 100%;
	}

	figcaption {
		position: absolute;
		bottom: 0;
		width: 100%;
		max-height: 100%;
		overflow: auto;
		padding: 40px 10px 5px;
		color: $white;
		text-align: center;
		font-size: $root-font-size;
		// @TODO: conflicting linting rules
		// stylelint-disable function-parentheses-space-inside
		background: linear-gradient(
			0deg,
			rgba( $color: $tiled-gallery-caption-background-color, $alpha: 0.7 ) 0,
			rgba( $color: $tiled-gallery-caption-background-color, $alpha: 0.3 ) 60%,
			transparent
		);
		// stylelint-enable function-parentheses-space-inside
	}
}
