.signup__email-confirmation {
	max-width: 400px;
	margin: 50px auto 0 auto;
	position: relative;
	animation: zoom 2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

@keyframes zoom {
	0%, 80% {
		transform: scale( 0.95 ) translateY( 20px );
		opacity: 0;
	}
	100% {
		transform: scale( 1 ) translateY( 0 );
		opacity: 1;
	}
}

.email-confirmation__reminder {
	text-align: center;
	color: darken( $gray, 10 );
	margin: 0;
}

.email-confirmation__step {
	position: relative;
	min-height: 70px;
	box-sizing: border-box;
	width: 50%;
	padding: 24px 16px;
	display: inline-block;
	text-align: center;
}

.email-confirmation__step-illustration {
	display: block;
	margin: 0 auto;
	width: 64px;
}

.email-confirmation__step-title {
	font-size: 15px;
	line-height: 160%;
	margin-top: 8px;
	margin-bottom: 0;
	color: darken( $gray, 30 );
}

.email-confirmation__arrow {
	position: absolute;
		top: 32px;
		left: calc( 50% - 13px - 4px );
	fill: lighten( $gray, 20 );
	padding: 4px;
	//background: $white;
	box-shadow: 0 0 0 1px lighten( $gray, 20 );
	border-radius: 100%;
}

.email-confirmation__button {
	display: block;
	min-width: 240px;
	margin: 24px auto 48px auto;
	animation: processing 1s infinite linear;
}

@keyframes processing {
	0%, 100% {
		opacity: 1;
	}
	60% {
		opacity: 0.4;
	}
}


// Not entirely sure what this stuff is all about... -shaun

.signup-processing-screen__loader {
	animation: load8 1.1s infinite linear;
	border-top: 1.1em solid rgba( 255, 255, 255, 0.2 );
	border-right: 1.1em solid rgba( 255, 255, 255, 0.2 );
	border-bottom: 1.1em solid rgba( 255, 255, 255, 0.2 );
	border-left: 1.1em solid #ffffff;
	font-size: 5px;
	margin: 20px auto;
	position: relative;
	transform: translateZ( 0 );
	@include hide-content-accessibly;
}

.signup-processing-screen__loader, .signup-processing-screen__loader:after {
	border-radius: 50%;
	height: 10em;
	width: 10em;
}
@keyframes load8 {
	0% {
		transform: rotate( 0deg );
	}
	100% {
		transform: rotate( 360deg );
	}
}
