@import "@automattic/typography/styles/variables";

.theme-type-badge {
	display: flex;
	flex-basis: 100%;
	color: var(--color-neutral-60);
	font-size: $font-body-small;
	line-height: 20px;

	.theme-type-badge__content {
		margin: 0;
		vertical-align: middle;

		&.is-dot-org {
			color: var(--color-neutral-70);
			background-color: var(--color-neutral-5);
		}

		&.is-marketplace {
			background-color: var(--color-primary);
		}
	}
}

.theme-type-badge-tooltip,
.theme-type-badge-tooltip.premium-badge__popover.popover,
.theme-type-badge-tooltip.bundled-badge__popover {
	.popover__inner {
		background: #fff;
		color: var(--color-neutral-50);
		max-width: 245px;
		padding: 24px;
		text-align: left;
		border-radius: 4px;
		border: 0;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 3px 1px rgba(0, 0, 0, 0.04);
		font-size: $font-body-small;
	}

	.popover__arrow {
		display: none;
	}

	.theme-type-badge-tooltip__header {
		color: var(--color-neutral-100);
		font-weight: 500;
		line-height: 20px;
	}

	.components-button {
		font-size: inherit;
	}
}
