@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.domain-upsell {
	font-style: normal;
	padding: 15px;
	line-height: normal;
	position: absolute;
	z-index: 99998;
	left: 35%;
	right: 35%;

	@include breakpoint-deprecated( "<480px" ) {
		display: none;
	}

	&__content {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--studio-gray-60);
	}

	&__content-text {
		display: flex;
		align-items: center;
		border-radius: 24px; /* stylelint-disable-line scales/radii */
		padding: 6px 20px;
		column-gap: 10px;
		background: #f6f7f7;
	}

	&__icon {
		fill: var(--studio-gray-60);
	}
	&__button {
		text-decoration: underline;
		color: #3858e9;
	}

	&__button:hover,
	&__dismiss-icon:hover {
		cursor: pointer;
	}
}
