.get-apps__app-badge {
	display: inline-block;
	height: 35px;
	overflow: hidden;
	margin-left: 0.5rem;

	&:first-child {
		margin-left: 0;
	}

	img {
		height: 100%;
	}

	&.android-app-badge img {
		transform: scale( 1.5 ) translateX( -5px );
		transform-origin: left;
	}
}
