.auth-screen__heading {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.auth-screen__subheading {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: var(--color-text-subtle);
	margin: 0;
}

.auth-screen__notice {
	margin: 0;
}
