.google-workspace-price__discount-badge,
.google-workspace-price__trial-badge,
.professional-email-price__trial-badge {
	margin-bottom: 12px;
}

.price-information__discount,
.price-information__free-trial {
	color: var( --color-text-subtle );
	display: none;
	margin-bottom: 12px;
	margin-top: 3px;

	.is-expanded & {
		display: block;
	}

	button {
		margin-left: 3px;
		vertical-align: top;
	}
}

.google-workspace-price__unavailable {
	font-weight: 600;
	line-height: 24px;
}
