.google-workspace-price__discount {
	margin-bottom: 12px;
}

.google-workspace-price__unavailable {
	font-weight: 600;
	line-height: 24px;
}

.professional-email-price__discount {
	margin-bottom: 12px;
}
