/** @format */

.design-type__list {
	display: flex;
	flex-flow: row wrap;
	max-width: 100%;
}

.design-type__disclaimer {
	text-align: center;
	color: darken( $gray, 20 );
	font-size: 0.875em;
	width: 100%;
	padding: 1.8em;
}
