@import 'assets/stylesheets/gutenberg-base-styles';
@import '../mixins';

.gutenboarding-title {
	@include onboarding-heading-text-mobile;
	color: var( --mainColor );

	@include break-mobile {
		@include onboarding-heading-text;
	}
}

.gutenboarding-subtitle {
	@include onboarding-large-text;
	font-family: $default-font;
	letter-spacing: 0.2px;
	color: var( --studio-gray-60 );
	margin-top: 5px;

	@include break-small {
		margin-top: 0;
	}
}
