.template-block {
	min-height: 200px;
	// Prevent blur bleeding
	overflow: hidden;
	position: relative;
}

.template__block-container {
	&.is-hovered {
		cursor: pointer;
	}

	&.is-selected .components-disabled {
		filter: blur( 2px );
	}

	// Hide the block toolbar and border
	.block-editor-block-contextual-toolbar,
	.block-editor-block-list__block-mobile-toolbar,
	.block-editor-block-list__insertion-point,
	.block-editor-block-list__breadcrumb,
	.block-editor-block-list__block-edit::before {
		display: none;
	}
}

// Adjust the block content positioning without borders
@media only screen and ( min-width: 768px ) {
	.editor-styles-wrapper .wp-block.template__block-container[data-align='full'] {
		left: calc( -12.5% - 13px );
		max-width: calc( 125% + 116px );
		width: calc( 125% + 116px );
	}
}

.template-block__overlay {
	background: rgba( #f5f5f5, 0.8 );
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;

	.components-button.hidden {
		display: none;
	}
}

.template-block__loading {
	display: flex;
	align-items: center;
	color: #191e23;
}

// Hide the site logo description and buttons when not editing the Template
.block-editor-page:not( .post-type-wp_template ) {
	.fse-site-logo {
		.components-placeholder__fieldset, .components-placeholder__instructions {
			display: none;
		}
	}
}
