
.editor-deprecation-dialog {

	&.components-modal__frame {
		border: none;
	}

	.components-modal__content {
		@include breakpoint( '>660px' ) {
			width: 50%;
			padding: 32px;
		}
	}

	.components-modal__header {
		background-color: transparent;
		border-bottom: none;
		padding: 0;
		margin: 0 0 24px;
		height: auto;

		h1 {
			font-size: 28px;
			font-weight: 400;
			height: auto;
			line-height: 1.2;
			font-family: $serif;

			@include breakpoint( '>660px' ) {
				font-size: 32px;
			}
		}
	}

	p {
		margin-bottom: 24px;

		&.editor-deprecation-dialog__subhead {
			color: var( --color-neutral-50 );
		}
	}

	button {
		margin-right: 24px;
	}


	.dialog__content {
		padding: 0;

		@include breakpoint( '<660px' ) {
			padding: 0 24px;
		}

		@include breakpoint( '>660px' ) {
			width: 50%;
		}

		p {
			margin-bottom: 24px;

			&.editor-deprecation-dialog__subhead {
				color: var( --color-neutral-50 );
			}
		}
	}
}

.editor-deprecation-dialog__illustration {
	background: url( '/calypso/images/illustrations/block-library.svg' ) no-repeat;
	background-position: 50%;
	background-size: 320px;
	height: 180px;
	width: calc( 100% + 24px + 24px );
	margin: 0 -24px 24px;
	position: relative;

	@include breakpoint( '>660px' ) {
		background-size: cover;
		height: auto;
		width: 50%;
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	}
}
