@import '~@wordpress/base-styles/mixins';
@import '~@wordpress/base-styles/variables';
@import '~@wordpress/base-styles/breakpoints';
@import '~@wordpress/base-styles/z-index';
@import '~@automattic/typography/styles/variables';
@import '~@automattic/onboarding/styles/variables';
@import '~@automattic/onboarding/styles/mixins';

.focused-launch__input {
	.components-base-control__label {
		font-weight: bold;
	}
}

.focused-launch__label {
	font-weight: bold;
	margin-bottom: 8px;
	display: block;
}

.focused-launch__section {
	margin: 20px 0;
}

.focused-launch__caption {
	margin: 0;
}

.focused-launch__step {
	display: flex;
	justify-content: center;
	gap: 10%;
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out;
}

// default highlighting the all steps when nothing is in focus
.focused-launch__container:not( :focus-within ) {
	.focused-launch__step {
		opacity: 1;
	}
}

// highlight the focused step
.focused-launch__step:focus-within {
	opacity: 1;
}

.focused-launch__commentary {
	margin-left: 10px;
	border-left: 1px solid #eee;
	display: flex;
	align-items: center;
	flex: 0.4;
	padding: 0 5%;
}

.focused-launch__data-input {
	flex: 0.6;
}
