
@import '~@wordpress/base-styles/mixins';
@import '~@wordpress/base-styles/variables';
@import '~@wordpress/base-styles/breakpoints';

.focused-launch-container {
	padding: 0 20px;

	@include break-medium {
		padding: 0 10px;
	}
}

.focused-launch-details__back-button-wrapper {
	margin-bottom: 24px;
}

.focused-launch-details__header {
	margin-bottom: 30px;

    @include break-medium {
        margin-bottom: 55px;
    }
}
