.payment-logo {
	background-position: 0 center;
	background-repeat: no-repeat;
	background-size: 35px auto;
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	width: 35px;

	&.is-amex {
		background-image: url( '/calypso/images/upgrades/cc-amex.svg' );
	}

	&.is-discover {
		background-image: url( '/calypso/images/upgrades/cc-discover.svg' );
	}

	&.is-mastercard {
		background-image: url( '/calypso/images/upgrades/cc-mastercard.svg' );
	}

	&.is-visa {
		background-image: url( '/calypso/images/upgrades/cc-visa.svg' );
	}

	&.is-placeholder {
		background-image: url( '/calypso/images/upgrades/cc-placeholder.svg' );
	}

	&.is-paypal {
		background-image: url( '/calypso/images/upgrades/paypal.svg' );
		background-size: 70px;
		width: 70px;

		&.is-compact {
			width: 16px;
		}
	}
}
