.post-card__site-info-title {
	color: $gray;
	float: left;
	width: 100%;
}

.has-image .post-card__site-info-title {
	width: calc( 100% - 120px );
}

.post-card__site-info {
	color: $gray;
	display: block;
	font-size: 13px;
	margin-right: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	a {
		color: $gray;
		text-decoration: none;

		&:visited {
			color: inherit;
		}

		&:hover {
			color: $blue-wordpress;
		}
	}

	.site-icon {
		align-self: auto;
		float: left;
		display: inline-block;
		margin-right: 4px;
	}
}

.post-card__title {
	float: left;
	line-height: 1.2;
	margin-top: 6px;
	width: 98%;
}

.post-card__anchor {
	color: $gray-dark;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.4;
	@extend %content-font;

	&:visited {
		color: $gray-dark;
	}

	&:hover {
		color: $blue-wordpress;
	}
}

.post-card__thumbnail {
	border-radius: 2px;
	clear: right;
	float: right;
	max-height: 68px;
	max-width: 96px;
}

// Search cards
.post-card__search.card {
	position: relative;
	padding: 20px;

	&.has-thumbnail {
		padding-left: 250px;

		@include breakpoint( "660px-960px" ) {
			padding-left: 135px;
		}

		@include breakpoint( "<480px" ) {
			padding-left: 108px;
		}
	}
}

.post-card__search-title {
	@extend %content-font;
	display: inline;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;

	@include breakpoint( ">480px" ) {
		font-size: 24px;
		line-height: 28px;
	}
}

.post-card__search .post-card__search-title-link {
	color: inherit;

	&:hover {
		color: darken( $gray, 20% );
	}

	&:visited {
		color: $gray;
	}
}

.post-card__search-featured-image {
	display: block;
	position: absolute;
		bottom: 0;
		left: 0;
		top: 0;
	width: 230px;

	@include breakpoint( "660px-960px" ) {
		width: 115px;
	}

	@include breakpoint( "<480px" ) {
		width: 90px;
	}
}

.post-card__search-social {
	float: right;
	margin-bottom: 6px;
	padding-left: 20px;
}

.post-card__search .like-button .gridicon {
	top: 2px;
}

.post-card__search .comment-button .gridicon {
	top: 1px;
}

.post-card__search-byline {
	list-style: none;
	margin: 6px 0;
	padding: 0;
	font-size: 13px;

	.gravatar {
		vertical-align: text-bottom;
		margin: 0 4px 0 0;
	}
}

.post-card__search-byline-item {
	display: inline-block;
}

.post-card__author-and-site {
	color: lighten( $gray, 10% );
	margin-right: 10px;
}

.post-card__search-excerpt {
	@extend %content-font;
	font-size: 14px;
	margin-top: 6px;
}

// Custom styles for Follow button
.post-card__search .follow-button {
	border-style: none;
	font-size: 13px;
	margin: 0;
	padding: 0;
	position: relative;
		top: -2px;

	.gridicon {
		fill: lighten( $gray, 10% );
	}

	.follow-button__label {
		color: lighten( $gray, 10% );

		@include breakpoint( "<660px" )
			display: inline;
	}

	&:hover {

		.gridicon {
			fill: $blue-wordpress;
		}

		.follow-button__label {
			color: $blue-wordpress;
		}
	}

	&:focus {
		border-radius: 0;
	}
}
