.extended-header {
	.section-header__label {
		&::before {
			display: none;
		}
	}

	.extended-header__header {
		font-size: $font-title-small;
		margin-bottom: 0;
		padding-top: 8px;
	}

	.extended-header__header-description {
		color: var( --color-text-subtle );
		font-size: $font-body-extra-small;
		line-height: 18px;
		padding-bottom: 8px;
	}

	.section-header__actions {
		flex-shrink: 0;
	}

	.components-toggle-control {
		margin-top: 5px;

		.components-base-control__field {
			display: block;

			.components-form-toggle {
				margin-right: 0;
			}
		}
	}
}
