@import "@automattic/onboarding/styles/variables";
@import "@automattic/calypso-color-schemes/src/calypso-color-schemes";
@import "@automattic/onboarding/styles/mixins";

$design-button-primary-color: var(--color-primary);
$design-button-primary-hover-color: var(--color-primary-60);

.step-container.login-step {
	.components-text-control__input {
		font-size: $font-body-small;
		line-height: 17px;
		max-width: 400px;
	}

	.login__submit-button {
		background: $design-button-primary-color;
		border-color: $design-button-primary-color;
		padding: 9px 48px;
		border-radius: 4px;
		font-weight: 500;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;

		&:hover,
		&:focus {
			background: $design-button-primary-hover-color;
			border-color: $design-button-primary-hover-color;
		}
	}

	.login__title {
		@include onboarding-heading-text-mobile;
		text-align: center;

		@include break-mobile {
			@include onboarding-heading-text;
		}
	}

	.login__body {
		position: relative;
		padding: 44px 20px 0;
		text-align: center;

		@include break-mobile {
			padding: 0 20px 20px;
			position: absolute;
			top: 25%;
			left: 50%;
			width: 100%;
			max-width: 540px;
			transform: translateX(-50%);
		}
	}

	.login__legend {
		padding-bottom: 42px;

		& > p {
			@include onboarding-large-text;
			color: var(--studio-gray-40);
		}
	}

	.login__fieldset {
		border: 0;
		margin: 0;
		outline: 0;
		padding: 0;
		vertical-align: baseline;
	}

	.components-text-control__input {
		padding: 18px 14px;
		font-size: $font-body;
		line-height: 17px;
		border-radius: 0;
		border: 1px solid var(--studio-gray-10);
		box-sizing: border-box;
		width: 100%;
		max-width: 100%;

		&::placeholder {
			@include onboarding-medium-text;
		}

		@include break-mobile {
			@include onboarding-medium-text;
			max-width: 400px;
		}
	}

	.login__error-notice {
		max-width: 400px;
		margin: 10px auto;

		.components-notice__content {
			margin: 0;
		}
	}

	.login__login-link {
		@include onboarding-medium-text;
		margin: 4px 0 29px;
		color: var(--color-text-subtle);

		.login__link {
			@include onboarding-medium-text;
			color: var(--color-text-subtle);
		}

		a {
			text-decoration: underline;
		}
	}

	.login__link,
	.login__link a {
		@include onboarding-medium-text;
		color: var(--color-text-subtle);
	}

	.login__link a {
		text-decoration: underline;
	}

	.login__terms-of-service-link {
		@include onboarding-medium-text;
		text-align: center;
		color: var(--color-text-subtle);
		margin: 15px auto 20px;
		max-width: 400px;

		a {
			text-decoration: underline;
		}
	}

	.login__recaptcha_tos {
		margin: 20px auto 15px;

		@include break-small {
			display: none;
		}
	}

	// override spacing between input fields
	.components-base-control .components-base-control__field {
		margin-bottom: 10px;
	}

	//// Anchor Specific ////

	// 1024 wide container
	.login__anchor-body {
		position: relative;
		padding: 44px 20px 0;
		text-align: center;

		@include break-small {
			padding: 64px 20px 0;
		}

		@include break-medium {
			padding: 0 20px 20px;
			left: 50%;
			width: 100%;
			max-width: 1024px;
			transform: translateX(-50%);
		}
	}

	// "Create a WordPress.com account.." under main header
	.login__anchor-subheading {
		padding-bottom: 64px;

		& > p {
			@include onboarding-large-text;
			color: var(--color-text-subtle);
		}
	}

	// Flexbox Row used for 2 column layout
	.login__anchor-row {
		// One column for small displays
		display: block;

		// Two column for medium and larger
		@include break-medium {
			display: flex;
		}

		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	// Flexbox Col used for 2 column layout
	.login__anchor-col {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
		justify-content: center;
	}

	// Thin line between Flexbox Cols
	.login__anchor-separator {
		background: var(--studio-gray-5);
		width: 0;

		@include break-medium {
			width: 1px;
		}
	}

	// Container of left+right columns
	.login__anchor-col-container {
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		@include break-small {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		@include break-medium {
			padding-left: 2rem;
			padding-right: 2rem;
		}

		@include break-large {
			padding-left: 4rem;
			padding-right: 4rem;
		}

		&.is-right-col {
			text-align: left;
			margin-top: 3rem;

			@include break-medium {
				margin-top: 0;
			}
		}
	}

	// Div grouping together right heading "Turn your listeners.." with bullet points
	.login__anchor-col-right-group {
		margin-bottom: 2em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Right heading like "Turn your listeners.."
	.login__anchor-right-heading {
		font-size: 1.25rem;
		margin-bottom: 0.5rem;
	}

	// UL with Right bullet points
	ul.login__anchor-list {
		list-style: disc inside;
		color: var(--studio-gray-70);
		font-size: 0.875rem;

		& > li {
			margin-bottom: 0.5rem;
		}
	}

	.grecaptcha-badge {
		visibility: hidden;

		@include break-small {
			visibility: visible;
		}
	}
}

