.checklist-navigation {
	min-width: 80px;
}

.checklist-navigation__label {
	display: block;
	font-size: 12px;
	margin-bottom: 4px;
}

.checklist-navigation .progress-bar {
	display: block;
}

.checklist-navigation .progress-bar__progress {
	background-color: var( --color-primary );
}

.checklist-navigation .checklist-navigation__progress-bar-margin {
	margin: 0;
	width: 100%;
}
