.title-format-editor {
	margin-bottom: 20px;
}

.title-format-editor__header {
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
	margin-bottom: 6px;
}

.title-format-editor__title {
	font-weight: bold;
	flex: 1;
	margin-right: auto;
}

.title-format-editor__button {
	border-radius: 3px;
	background-color: lighten( $gray, 30% );
	color: darken( $gray, 30% );
	padding: 4px 8px;
	margin-left: 10px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;

	&:before {
		content: '+';
		margin-right: 4px;
		font-weight: 600;
	}

	&:hover {
		background-color: lighten( $gray, 20% );
	}
}

.title-format-editor__editor-wrapper {
	border: 1px solid $gray;
	padding: 6px 12px;
}

.title-format-editor__token {
	display: inline-flex;
	align-items: center;
	padding: 2px 6px;
	background-color: darken( $gray, 20% );
	color: $white;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background-color: $alert-red;
	}
}

.title-format-editor__token-close {
	margin-left: 10px;
	color: lighten( $gray, 10% );
	font-size: 10px;
}

.title-format-editor__preview {
	color: $gray;
	font-style: italic;
	margin-top: 5px;
	font-size: 13px;
}
