// because of the jetpack-cloud button overrides these rules must be more specific than usual
button.is-compact.activity-type-selector__main-button,
button.is-compact.activity-type-selector__main-button-active {
	border: 1px solid var( --studio-gray-10 );
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

button.is-compact.activity-type-selector__main-button {
	background: var( --studio-white );
	color: var( --studio-gray-30 );
}

button.is-compact.activity-type-selector__main-button-active {
	color: var( --studio-white );
	background: var( --studio-gray-80 );
}

.activity-type-selector__popover .popover__inner {
	padding: 16px;
	.activity-type-selector__popover-label {
		align-items: center;
		display: flex;
		font-size: 16px;
		margin-bottom: 8px;

		.activity-type-selector__popover-label-text {
			text-align: left;
			margin-left: 0;
		}
		// this rule is extremely specific to override other stylings
		input.activity-type-selector__popover-check-box.form-checkbox {
			margin-bottom: 2px;
			margin-right: 8px;
			&:checked::before {
				content: url( '/calypso/images/checkbox-icons/checkmark-jetpack.svg' );
			}
		}
	}

	.activity-type-selector__popover-buttons {
		display: flex;
		font-size: 12px;
		font-weight: 400;
		justify-content: space-between;
		line-height: 14px;
		margin-top: 16px;

		.button {
			width: 40%;
		}

		.activity-type-selector__popover-buttons-selection-button {
			color: var( --studio-gray-40 );

			.gridicon {
				margin-right: 3px;
			}
		}
	}
}
