.dialog.auto-renew-disabling-dialog {
	max-width: 440px;
}

.auto-renew-disabling-dialog__header {
	font-size: $font-title-medium;
	margin-bottom: 14px;
}

.dialog.auto-renew-disabling-dialog.atomic-follow-up {
	max-width: 600px;

	ul {
		list-style-type: none;
		margin: 0;
	}

	.button {
		margin-bottom: 8px;
		padding: 8px 10px;
		text-align: center;
		width: 100%;
	}
}
