.dialog.card.auto-renew-disabling-dialog {
	max-width: 90%;

	&.atomic-follow-up {
		ul {
			list-style-type: none;
			margin: 0;
		}

		.button {
			margin-bottom: 8px;
			padding: 8px 10px;
			text-align: center;
			width: 100%;
		}
	}

	& > .dialog__content {
		overflow-wrap: break-word;
	}
}

.auto-renew-disabling-dialog__header {
	font-size: $font-title-medium;
	margin-bottom: 14px;
}
@media (min-width: 660px) {
	.dialog.card.auto-renew-disabling-dialog {
		max-width: 600px;
	}
}
