.delta {
	align-items: center;
	display: flex;
	flex-direction: row;

	&.is-favorable {
		.delta__icon {
			background-color: #4ab866;
		}
	}
	&.is-unfavorable {
		.delta__icon {
			background-color: #d54e21;
		}
	}
	&.is-neutral {
		.delta__icon {
			background-color: #e9eff3;
		}
	}

	.delta__icon {
		width: 20px;
		height: 20px;
		border-radius: 5px;

		&.gridicon {
			fill: white;
			padding: 3px 1px;
			margin: 0 12px 0 0;
		}
	}

	.delta__suffix,
	.delta__value {
		align-items: center;
		color: #537994;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 14px;
		line-height: 14px;
	}
	.delta__suffix {
		margin-left: 6px;
	}
}
