.sidebar-unified__switcher {
	position: fixed;
	z-index: 1000;
	background-color: red;
	right: 0;
	bottom: 0;
	cursor: pointer;
	text-decoration: underline;
	font-size: 0.75rem;
	padding: 5px 10px;
}

.sidebar-unified__menu-loading {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.sidebar-unified__sparkline {
	width: 80px;
	height: 24px;
}

/*
 * Because the sparkline is an image, there's an exception here
 * where specific color schemes are targeted instead of using
 * CSS variables. This ensures that the sparkline can still be
 * seen (as white) on some of the darker color schemes.
 */
.is-classic-blue .sidebar__menu li.stats.selected .sidebar-unified__sparkline,
.is-powder-snow .sidebar__menu li.stats.selected .sidebar-unified__sparkline,
.is-nightfall .sidebar__menu li.stats.selected .sidebar-unified__sparkline {
	filter: brightness( 100 );
	-webkit-filter: brightness( 100 );
}
