@import "@wordpress/base-styles/variables";

.dashboard-summary-button-list {
	.dashboard-summary-button-list__children-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&.has-density-low {
		.dashboard-summary-button-list__children-list-item {
			& + & {
				margin-top: $grid-unit-30;
			}
		}
	}

	&.has-density-medium {
		.components-card__header {
			/* stylelint-disable-next-line scales/radii */
			border-radius: 7px 7px 0 0;
		}

		.dashboard-summary-button-list__children-list {
			li:last-child .summary-button {
				/* stylelint-disable-next-line scales/radii */
				border-radius: 0 0 7px 7px;
			}

			// Apply top border radius only if there's no header before children container.
			&:first-child {
				li:first-child .summary-button {
					/* stylelint-disable-next-line scales/radii */
					border-radius: 7px 7px 0 0;
				}
			}
		.dashboard-summary-button-list__children-list-item:last-child > * {
			// TODO: once the component uses React context, we should use that
			// to let the correct summary button component know that it's
			// the last child, and should not have a bottom border.
			border-bottom: none;
		}
	}
}
