.stored-credit-card {
	display: flex;
	flex-wrap: wrap;
	width: 270px;
	height: 150px;
	background: var( --studio-white );
	border-radius: 2px;
	padding: 1rem;
}

.stored-credit-card__primary-text {
	background: var( --color-masterbar-border );
	color: var( --color-masterbar-text );
	font-size: 0.75rem;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: 400;
}

.stored-credit-card__header {
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.stored-credit-card__header-left svg {
	filter: grayscale( 100% );
}

.stored-credit-card__header-right {
	display: flex;
}

.stored-credit-card__header-right svg {
	color: var( --color-primary );
	padding-top: 3px;
	padding-right: 5px;
}

.stored-credit-card__ellipsis button {
	padding: 0;
	margin-top: -4px;
	margin-left: 10px;
}

.stored-credit-card__footer {
	width: 100%;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

.stored-credit-card__footer-left,
.stored-credit-card__footer-right {
	align-self: flex-end;
}

.stored-credit-card__name {
	font-size: 0.875rem;
	color: var( --color-masterbar-text );
}

.stored-credit-card__number,
.stored-credit-card__expiry {
	font-size: 0.75rem;
	color: var( --color-masterbar-text );
}