@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

/**
 * Right to Left support
 */
html[dir="rtl"] {
	.import__onboarding-page {
		.list__importers-item-card svg:not(.importer__service-icon) {
			transform: rotate(180deg);
		}
	}
}

.import__onboarding-page {
	.list__wrapper {
		@include break-wide {
			max-width: 1032px;
		}

		.list__importers {
			margin: 0 auto 1.5rem auto;
			max-width: 433px;
		}
	}
}

.list__importers {
	.select-dropdown > div {
		width: 100%;
	}

	.select-dropdown__header-text {
		font-weight: 400;
	}

	.select-dropdown__header {
		border-radius: 4px;
	}

	.form-label {
		font-weight: 500;
	}
}

.list__importers-item-card {
	display: flex;
	width: 100%;
	padding: 1.5em;
	border: solid 1px var(--studio-gray-5);
	border-radius: 4px;
	margin-bottom: 0.5rem;
	align-items: center;

	h2 {
		flex-grow: 1;
		color: var(--studio-gray-100);
		/* stylelint-disable-next-line scales/font-sizes */
		font-size: 1.125rem;
		font-weight: 500;
		text-align: left;
	}

	.importer__service-icon {
		width: 32px;
		min-width: 32px !important;
		height: 32px;
		margin-inline-end: 0.5em !important;
		border-radius: 4px;
	}
}
