@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

/**
 * Right to Left support
 */
html[dir="rtl"] {
	.import__onboarding-page {
		.list__importer-action .action-card__button-container {
			button,
			a {
				text-align: left;

				svg {
					transform: rotate(180deg);
				}
			}
		}

		.importer__service-icon {
			float: right;
		}
	}
}

.import__onboarding-page {
	.list__wrapper {
		margin-left: auto !important;
		margin-right: auto !important;

		.import__heading {
			max-width: 420px;

			.onboarding-title {
				margin-bottom: 40px;
				width: 100%;
			}
		}

		@include break-wide {
			max-width: 1032px;
		}

		h3 {
			font-size: 1.125em; /* stylelint-disable-line declaration-property-unit-allowed-list */
			color: var(--studio-gray-90);
			margin-bottom: 1em;
		}

		img {
			display: none;

			@include break-small {
				display: block;
			}
		}

		ul {
			margin: 0;

			li {
				margin-bottom: 10px;
				list-style: none;
				/* stylelint-disable-next-line declaration-property-unit-allowed-list */
				line-height: 1.25em;
			}

			a,
			button {
				padding: 0;
				font-size: 0.875em; /* stylelint-disable-line declaration-property-unit-allowed-list */
				font-weight: 500;
				line-height: 20px;
				text-decoration: underline;
				color: var(--studio-gray-100);
			}
		}

		.importer__service-icon {
			width: 48px;
			min-width: 48px !important;
			height: 48px;
			margin-top: 10px;
			margin-right: 0;
			margin-inline-end: 1.5em !important;
			border-radius: 4px;
		}

		.list__importers-primary {
			margin-bottom: 1.5em;
		}

		.list__importers-secondary {
			padding: 0;

			@include break-small {
				padding-inline-start: 72px;
			}
		}

		.list__importer-action {
			position: relative;
			display: inline-block !important;
			width: calc(100% - 72px);

			button {
				background: none;
				width: 100%;
				position: absolute;
				margin: 0;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
	}
}
