.is-section-checkout-thank-you.has-no-sidebar {
	.layout__content {
		background-color: var( --studio-white );
		height: 100vh;
		padding: 0;
		@media ( max-width: 782px ) {
			padding: 0;
			background-color: var( --studio-white );
			height: 100vh;
			.layout__primary {
				height: 100vh;
				.marketplace-domain-upsell__root {
					height: calc( 100vh - 50px );
				}
			}
		}
		.checkout-thank-you {
			div {
				text-align: left;
			}
		}
	}
}
