.payment-method-list__body {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	align-content: flex-start;
}

.payment-method-list__stored-card {
	display: flex;
	flex-wrap: wrap;
	width: 270px;
	height: 150px;
	background: var( --studio-white );
	border-radius: 2px;
	padding: 1rem;
}

.payment-method-list__stored-card-primary-text {
	background: var( --color-masterbar-border );
	color: var( --color-masterbar-text );
	font-size: 0.75rem;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: 400;
}

.payment-method-list__stored-card-header {
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.payment-method-list__stored-card-header-left svg {
	filter: grayscale( 100% );
}

.payment-method-list__stored-card-header-right {
	display: flex;
}

.payment-method-list__stored-card-header-right svg {
	color: var( --color-primary );
	padding-top: 3px;
	padding-right: 5px;
}

.payment-method-list__stored-card-ellipsis button {
	padding: 0;
	margin-top: -4px;
	margin-left: 10px;
}

.payment-method-list__stored-card-footer {
	width: 100%;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

.payment-method-list__stored-card-footer-left,
.payment-method-list__stored-card-footer-right {
	align-self: flex-end;
}

.payment-method-list__stored-card-name {
	font-size: 0.875rem;
	color: var( --color-masterbar-text );
}

.payment-method-list__stored-card-number,
.payment-method-list__stored-card-expiry {
	font-size: 0.75rem;
	color: var( --color-masterbar-text );
}

.payment-method-list__add-card {
	width: 270px;
	height: 150px;
	box-shadow: none;
	border-radius: 2px;
	padding: 1rem;
	background: transparent;
	border: 1px dashed var( --studio-gray-5 );
	display: flex;
	cursor: pointer;
}

.payment-method-list__add-card-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.payment-method-list__add-card-text {
	display: block;
}

.payment-method-list__add-card-icon {
	display: block;
}
