.post-relative-time-status {
	display: flex;
	flex-wrap: wrap;

	.time,
	.status {
		display: inline-flex;
		align-items: center;
		margin-right: (11 / 12) * 1em;
	}

	.time .time-text {
		&::first-letter {
			text-transform: capitalize;
		}
	}

	.status .status-text {
		text-transform: capitalize;
	}

	.gridicon {
		margin-right: 8px;
	}

	// Apply colors on /posts/* cards
	.posts__list & {
		.is-sticky {
			color: $orange-jazzy;
		}
		.is-pending {
			color: $alert-yellow;
		}
		.is-scheduled {
			color: $blue-medium;
		}
		.is-trash {
			color: $alert-red;
		}
	}
}

.post-relative-time-status__time,
.post-relative-time-status__status {
	display: inline-block;
	margin-right: ( 11 / 12 ) * 1em;
}


.post-relative-time-status__time-text {
	display: inline-block;

	&::first-letter {
		text-transform: capitalize;
	}
}

.post-relative-time-status__status-text {
	text-transform: capitalize;
}
