.sidebar .calypso-notice.is-compact {
	display: flex;
	margin: -4px 8px 8px;
	border-radius: 2px;

	.calypso-notice__content {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.calypso-notice__text {
		display: inline;
		line-height: 1.3;
	}

	.calypso-notice__action {
		margin-left: auto;
		white-space: normal;
	}

	& + .upsell-nudge.banner.card.is-compact {
		margin-top: 8px;
	}
}
