$segmentedControlItemBorderRadius: 4px;
$barDarkColor: var(--color-primary-60);

.stats-widget-minichart {
	padding-bottom: 14px;
	border-bottom: 1px solid #c3c4c7;

	.stats-widget-minichart__chart-head {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 10px 20px;
		box-sizing: border-box;
	}

	.chart__legend {
		margin: 0;
		padding: 7px 0;
	}

	.chart__legend-option {
		.chart__legend-checkbox {
			display: none;
		}

		.chart__legend-color {
			width: 14px;
			height: 14px;
			vertical-align: middle;
			margin-top: -3px;

			&.is-dark-blue {
				background-color: $barDarkColor;
			}
		}
	}

	.chart__legend-label {
		font-size: $font-body-small;
		font-weight: 400;
		line-height: 24px;
		margin-top: -3px;
		vertical-align: middle;
		color: var(--studio-gray-100);
		letter-spacing: -0.02em;
	}

	.chart__y-axis {
		padding: 0 5px;
	}

	.chart__bar-section-inner {
		background-color: $barDarkColor;
	}

	.segmented-control {
		&.stats-navigation__intervals {
			height: 36px;
			min-width: 259px;
		}

		.segmented-control__item {
			&:first-of-type .segmented-control__link {
				border-top-left-radius: $segmentedControlItemBorderRadius;
				border-bottom-left-radius: $segmentedControlItemBorderRadius;
			}

			&:last-of-type .segmented-control__link {
				border-top-right-radius: $segmentedControlItemBorderRadius;
				border-bottom-right-radius: $segmentedControlItemBorderRadius;
			}

			// Black segmented controls.
			.segmented-control__link:hover {
				background-color: var(--color-neutral-0);
			}

			&.is-selected .segmented-control__link,
			&.is-selected .segmented-control__link:hover {
				background-color: var(--studio-black);
				border-color: var(--studio-black);
			}

			&.is-selected + .segmented-control__item .segmented-control__link {
				border-left-color: var(--studio-black);
			}
		}
	}
}
