@import "../styles/typography.scss";

.stats-widget-modules {
	margin-top: 24px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 24px;
}

.stats-widget-module__icon {
	margin-bottom: 16px;
}

.stats-widget-module__title {
	font-family: $font-sf-pro-text;
	font-weight: 500;
	font-size: $font-body-small;
	line-height: 20px;
	letter-spacing: -0.24px;
}

.stats-widget-module__value {
	margin-top: 4px;
	font-family: $font-sf-pro-display;
	font-weight: 400;
	font-size: $font-headline-small;
	line-height: 1;
	letter-spacing: -0.02em;
}
