$plan-features-header-banner-height: 20px;
$plan-features-sidebar-width: 272px;

/* Breakpoints 1150px, */

.plan-features__content {
	margin: -16px -16px 0 -16px;
	padding-top: $plan-features-header-banner-height;
}

.is-section-plans .plan-features__mobile {
	display: block;
	@media (min-width: $plan-features-sidebar-width + 480px) {
		display: none;
	}
}

.plan-features__notice {
	margin-bottom: 16px;
}

.plan-features__mobile {
	color: var( --color-text-subtle );
	margin: 0 16px;
	display: block;

	@include breakpoint( '>660px' ) {
		display: none;
	}

	.foldable-card {
		box-shadow: none;
	}

	.foldable-card.card.is-expanded {
		//original rule has this specificity
		margin: 0;
	}

	.foldable-card.is-expanded .foldable-card__content {
		//original rule has this specificity
		padding: 0;
	}

	.plan-features__header-banner {
		display: none;
	}

	.plan-features__item {
		border-bottom: solid 1px lighten( $gray, 27% );
		font-size: 14px;
	}

	.plan-features__item:last-child {
		border-bottom: none;
	}
}

.plan-features__mobile .plan-features__header .plan-features__header-figure,
.plan-features__table.has-1-cols .plan-features__header-figure,
.plan-features__table.has-2-cols .plan-features__header-figure {
	display: block;
	width: 50px;
	height: 50px;
}

.plan-features__table.has-2-cols {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.plan-features__table.has-2-cols {
	max-width: 720px;
}

.plan-features__table.has-1-cols {
	max-width: 337px;
}

.plan-features__mobile-plan {
	font-size: 14px;
	border: solid 1px lighten( $gray, 27% );
	background-color: $white;
	margin-bottom: 24px;
}

.is-section-plans .plan-features__table {
	display: none;
	@media (min-width: $plan-features-sidebar-width + 480px) {
		display: table;
	}
}

.plan-features__table {
	font-size: 14px;
	color: var( --color-text-subtle );
	border-spacing: 16px 0;
	margin-top: -16px;
	display: none;
	table-layout: fixed;

	@include breakpoint( '>660px' ) {
		display: table;
	}

	@include breakpoint( '<1040px' ) {
		border-spacing: 0;
		margin: 0 15px;
		width: calc( 100% - 30px );
	}
}

.plan-features__row {
	background: $white;
}

.plan-features__table-item {
	border-right: solid 1px lighten( $gray, 27% );
	border-left: solid 1px lighten( $gray, 27% );
	background-color: $white;
	position: relative;

	&.is-highlighted {
		border: 1px solid var( --color-primary );
		background-color: rgba( $blue-wordpress, 0.1 );
		position: relative;
		top: -1px;

		.plan-features__item-checkmark {
			fill: var( --color-primary );
		}

		&.has-partial-border::after {
			display: none;
		}
	}

	&.is-selected {
		display: table-cell;
	}
}

.plan-features__table-item.has-partial-border {

	&::after {
		content: '';
		display: block;
		height: 1px;
		width: calc( 100% - 48px );
		border-bottom: 1px solid lighten( $gray, 27% );
		position: absolute;
		bottom: 0;
		margin: 0 24px;

		@include breakpoint( '<1040px' ) {
			margin: 0 12px;
			width: calc( 100% - 24px );
		}
	}
}

.plan-features__table-item.has-border-bottom {
	border-bottom: solid 1px lighten( $gray, 27% );
}

.plan-features__table-item.has-border-top {
	border-top: solid 1px lighten( $gray, 27% );
}

.plan-features__table-item.is-placeholder {
	.spinner-line {
		margin: 0;
		position: absolute;
		top: -3px;
		width: 100%;
	}
}

.plan-features__table-item.is-bottom-buttons {
	padding-top: 33px;
}

.plan-features__table-item.is-top-buttons {
	padding-top: 8px;
}

.plan-features__header {
	position: relative;
	display: flex;
	align-items: flex-start;
	padding: 12px 24px 0 15px;
	border-bottom: solid 2px $gray-lighten-20;
	background-color: $white;

	@include breakpoint( '<960px' ) {
		padding: 12px 12px 0 12px;
	}

	.plans-features-main__group.is-wpcom & {
		&.is-blogger-plan {
			border-bottom: solid 2px var( --color-success );
		}

		&.is-personal-plan {
			border-bottom: solid 2px var( --color-primary );
		}

		&.is-premium-plan {
			border-bottom: solid 2px var( --color-warning );
		}

		&.is-business-plan {
			border-bottom: solid 2px $orange-jazzy;
		}

		&.is-ecommerce-plan {
			border-bottom: solid 2px $alert-purple;
		}
	}

	.plans-features-main__group.is-jetpack & {

		&.is-personal-plan {
			border-bottom: solid 2px var( --color-warning );
		}

		&.is-premium-plan {
			border-bottom: solid 2px var( --color-success );
		}

		&.is-business-plan {
			border-bottom: solid 2px $alert-purple;
		}
	}
}

.plan-features__header-figure {
	position: relative;
	width: 56px;
	height: 56px;
	margin-right: 15px;
	border-radius: 50%;
}

.is-section-plans .plan-features__header-figure {

	@include breakpoint( '<1280px' ) {
		width: 24px;
		height: 24px;
		margin-right: 10px;
	}
}

.plan-features__header-figure,
.plan-features__table.has-1-cols .plan-features__header-figure,
.plan-features__table.has-2-cols .plan-features__header-figure {

	@include breakpoint( '<1040px' ) {
		display: none;
	}
}

.plan-features__header-text {
	flex: 1;
	padding: 6px 0 0 0;
}

.plan-features__header-title {
	font-size: 22px;
	color: var( --color-primary );
	line-height: 0.7;

	@include breakpoint( '<960px' ) {
		font-size: 20px;
	}
}

.plan-features__header-price-group,
.plan-features__header-price-group-prices {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.plan-features__header-price-group {
	width: calc( 100% + 20px );

	@include breakpoint( '<960px' ) {
		width: calc( 100% + 10px );
	}
}

.plan-features__header-price-group-prices {
	max-width: calc( 100% - 20px );

	@include breakpoint( '<960px' ) {
		max-width: calc( 100% - 10px );
	}

	.plan-price.is-discounted {
		@include breakpoint( '>960px' ) {
			margin-right: 0;
		}
	}
}

.plan-features__header-credit-label {
	font-size: 11px;
	line-height: 20px;
	height: 20px;
	border-radius: 10px;
	color: $white;
	background: var( --color-success );
	font-weight: normal;
	vertical-align: middle;
	padding: 0 8px;
	margin-bottom: 4px;

	@include breakpoint( '>960px' ) {
		margin-left: 4px;
	}
	@include breakpoint( '>1280px' ) {
		margin-left: 8px;
	}
}

.plan-features__header-timeframe {
	margin-bottom: 1.4em;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	color: var( --color-text-subtle );
	line-height: normal;

	&.is-placeholder {

		@include placeholder( 23% );
		width: 140px;
		height: 12px;
		margin-bottom: 15px;

		@include breakpoint( '<960px' ) {
			margin-bottom: 9px;
		}
	}
}

.segmented-control.is-customer-type-toggle {
	background-color: transparent;
	margin: 50px auto 20px;
	max-width: 100%;
	width: 580px;

	.segmented-control__item {
		background-color: $gray-light;
		min-width: 50%;

		&:first-of-type {
			margin-right: 5px;

			@include breakpoint( '<660px' ) {
				margin: 0 15px 10px;
			}
		}

		&:last-of-type {
			margin-right: 5px;

			@include breakpoint( '<660px' ) {
				margin: 0 15px;
			}
		}

		&.is-selected + .segmented-control__item .segmented-control__link {
			border-left-color: $gray-lighten-10;

			&:hover {
				border-left-color: $gray-dark;
			}
		}
	}

	.segmented-control__link {
		border-radius: 6px;
		border: 2px solid $gray-lighten-10;
		color: $gray-dark;
		font-size: 15px;
		font-weight: 500;
		padding: 15px;

		&:hover {
			background-color: transparent;
			border: 2px solid $gray-dark;
		}
	}

	@include breakpoint( '<660px' ) {
		flex-wrap: wrap;
	}

    @include breakpoint( '<480px' ) {
		flex-wrap: wrap;
		margin-bottom: 9px;

		.segmented-control__item {
			width: 100%;
		}
	}

	&.is-primary .segmented-control__link:hover {
		background-color: transparent;
	}
}

.info-popover.plan-features__header-tip-info {
	position: relative;
		top: 4px;
		left: 3px;
	margin-top: -10px;
	margin-bottom: -10px;
	display: inline-block;
}

.plan-features__price {

	&.is-placeholder {

		@include placeholder( 23% );
			width: 45px;
			height: 25px;
			margin-top: 9px;
			margin-bottom: 5px;
	}
}
.plan-features__price-jetpack {

	&.is-placeholder {

		@include placeholder( 23% );
			height: 32px;
			margin-top: 5px;
			margin-bottom: 5px;
			width: 140px;

		@include breakpoint( '<960px' ) {
			height: 26px;
		}
	}
}

.plan-features__interval-type {
	margin-bottom: 1.4em;

	&.is-placeholder {
		height: 28px;

		@include breakpoint( '<660px' ) {
			height: auto;
		}
	}
}

.plan-features__header-banner {
	box-sizing: border-box;
	position: absolute;
	left: -1px;
	right: -1px;
	top: 0;
	transform: translateY( -21px );
	padding: 0 8px;
	background: $gray-dark;
	font-size: 10px;
	line-height: $plan-features-header-banner-height;
	text-align: center;
	text-transform: uppercase;
	color: $white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.plan-features__summary,
.plan-features__description {
	margin: 0;
	padding: 24px 24px 0 24px;

	@include breakpoint( '<1040px' ) {
		padding: 12px 12px 0 12px;
	}

	@include breakpoint( '<660px' ) {
		padding: 20px 20px 0 20px;
	}
}

.plan-features__targeted-description-heading {
	display: block;
	color: lighten( $gray-dark, 25% );
}

.plan-features__item {
	display: flex;
	margin: 0 24px;
	padding: 12px 0;
	font-size: 14px;
	color: $gray-dark;

	@include breakpoint( '<960px' ) {
		font-size: 12px;
	}

	@include breakpoint( '<1040px' ) {
		margin: 0 12px;
	}
}

.plan-features__item-title {
	flex: 1 0 0;
	width: 100%;
}

.plan-features__item-checkmark {
	flex: 0 1 auto;
	fill: var( --color-primary );
	margin-right: 10px;
}

.plan-features__item-tip-info {
	flex: 0 1 auto;
}

.popover__plan-features {
	.popover__inner {
		width: 200px;
	}
}

.plan-features__actions {
	padding: 0 24px 24px 24px;

	@include breakpoint( '<1040px' ) {
		padding: 0 12px 12px 12px;
	}

	@include breakpoint( '<660px' ) {
		padding: 0 20px 20px 20px;
		border-bottom: solid 1px $gray-light;
	}
}

.plan-features__actions-buttons {
	text-align: center;
}

.plan-features__actions-button {
	width: 100%;
	margin-top: 8px;

	@include breakpoint( '<660px' ) {
		margin-top: 20px;
	}
}

.plan-features__item-info {
	flex: 1 0 0;
	width: 100%;
}

.plan-features__item-title-outlined {
	font-weight: bold;
	display: block;
}

.plan-features__item-description {
	display: inline-block;
	margin-left: 10px;
}

/*= Plans in Signup
========================================*/

.price-toggle {
	width: 250px;
	margin: 0 auto 20px;

	& + .plans-features-main__group {
		padding-top: 8px;
	}
}

.plans-wrapper {
	margin: 0 auto;
	padding: 20px 0 10px;
	transform: translateY( -20px );
	overflow-x: auto;
}

.plan-features--signup {
	margin: 0 auto;

	.jetpack-connect__plans & {
		width: auto;

		@include breakpoint( '>660px' ) {
			max-width: 1000px;
		}
	}

	.signup__steps & {
		width: auto;

		@include breakpoint( '>660px' ) {
			max-width: 1100px;
		}
	}

	.plan-features__table {
		display: none;

		@include breakpoint( '>660px' ) {
			display: table;
			width: 100%;
			margin: 0 auto;
			padding: 0 16px;
		}

		@include breakpoint( '>1040px' ) {
			border-spacing: 15px 0 !important;
			padding: 0;
		}
	}

	.plan-features__content {
		margin: -16px 0 0 0;
	}

	.plan-features__header {
		padding-bottom: 12px;
	}

	.plan-features__header-title {
		color: $gray-dark;
		margin-bottom: 5px;
	}

	.plan-features__table-item {
		text-align: center;
	}

	.plan-features__table-item.has-border-bottom {
		border-bottom: 0;
	}

	.plan-features__graphic {
		float: right;
		width: 50px;
		height: 50px;
		margin: 16px 20px;

		@include breakpoint( '>660px' ) {
			float: none;
			width: 100px;
			height: 100px;
			margin: 20px auto;
		}
	}

	.plan-features__pricing,
	.plan-price.is-discounted {
		color: $gray-dark;
	}

	.plan-features__pricing {
		margin: 20px 20px -12px;
		padding: 0;

		@include breakpoint( '>660px' ) {
			margin-bottom: 0;
			padding: 0 12px;
		}
	}

	.is-placeholder {
		width: 60%;
		margin: 5px auto;
	}

	.plan-features__item {
		margin: 0 15px;
		text-align: left;
	}

	.plan-features__item-info {
		padding: 0 5px;
	}

	.plan-features__item-title {
		margin: 0;
	}

	.plan-features__actions {
		padding: 0 15px 15px;
	}

	.plan-features__actions-button {
		margin-top: 8px;

		&.disabled,
		&[disabled] {
			color: $gray;
		}
	}

	.plan-price.is-original:before {
		border-color: var( --color-success );
	}

	.plan-price,
	.plan-price.is-original {
		font-size: 1em;
	}

	.plan-features__header-price-group {
		display: inline;
	}

	.plan-features__row:last-of-type .plan-features__table-item {
		border-bottom: solid 1px lighten( $gray, 27% );
	}

	.jetpack-connect__hide-plan-icons .jetpack-connect__plans & .plan-features__pricing {
		@include breakpoint( '<660px' ) {
			padding-top: 0;
		}
	}

	.plan-features__header-price-group-prices {
		display: inline;
	}
}
