.components-modal__frame.sites-guide {
	width: 512px;

	&.is-loading {
		display: none;
	}

	.sites-guide__image {
		background-color: var(--studio-wordpress-blue-30);
		max-height: 300px;
		display: flex;
		flex-grow: 1;
		align-items: self-end;
		justify-content: center;
		padding: 20px 40px 0;

		img {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			max-height: 40vh;
			display: block;
		}
	}

	h1 {
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 24px;
		margin: 16px 0;
		padding: 8px 32px 0;
		color: #1e1e1e;
	}

	p {
		line-height: 20px;
		margin: 0 0 16px;
		padding: 0 32px;
		color: #1e1e1e;
	}
}
