.reader-popover.popover .popover__inner {
	background-color: var( --color-neutral-0 );
	border-color: var( --color-neutral-10 );
}

// Popover arrows
.reader-popover.popover.is-top .popover__arrow,
.reader-popover.popover.is-top-left .popover__arrow {

	&::before {
		border: 10px solid var( --color-neutral-0 );
		border-bottom: none;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-style: solid;
		content: ' ';
		margin-left: -10px;
		position: absolute;
			bottom: 2px;
			left: 50%;
	}
}

.reader-popover.popover.is-bottom .popover__arrow,
.reader-popover.popover.is-bottom-left .popover__arrow,
.reader-popover.popover.is-bottom-right .popover__arrow {

	&::before {
		border: 10px solid var( --color-neutral-0 );
		border-bottom-style: solid;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top: none;
		content: ' ';
		position: absolute;
			left: 50%;
			top: 2px;
	}
}

.reader-popover.popover.is-left .popover__arrow,
.reader-popover.popover.is-left-top .popover__arrow {

	&::before {
		border: 10px solid var( --color-neutral-0 );
		border-bottom-color: transparent;
		border-right: none;
		border-top-color: transparent;
		content: ' ';
		margin-top: -10px;
		position: absolute;
			top: 50%;
	}
}

.reader-popover__wrapper {
	display: flex;
	flex-direction: column;
	min-width: 200px;
}

.reader-popover__header {
	border-bottom: 1px solid var( --color-neutral-10 );
	color: var( --color-neutral-70 );
	display: flex;
	font-size: 14px;
	justify-content: flex-start;
	padding: 10px 0 10px 15px;
}
