.text-display-large {
  font-weight: 400;
  font-size: 32px;
}

.text-display-medium {
  font-weight: 400;
  font-size: 24px;
}

.text-display-small {
  font-weight: 400;
  font-size: 20px;
}

.text-subtitle {
  font-weight: 600;
  font-size: 16px;
}

.text-subtitle-small {
  font-weight: 600;
  font-size: 14px;
}

.text-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.text-body-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.text-button {
  font-weight: 600;
  font-size: 14px;
}

.text-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.text-title-small {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 16px;
}
