.use-your-domain-step__content {
	display: flex;

	@include breakpoint-deprecated( "<800px" ) {
		flex-flow: wrap;
	}

	&.use-your-domain-step__option {
		.use-your-domain-step__option-reasons {
			min-height: 26px;
		}
	}
}

.use-your-domain-step__option {
	display: flex;
	width: 100%;
	margin-top: 0;

	.use-your-domain-step__option-inner-wrap {
		display: flex;
		flex-basis: 100%;
		justify-content: space-between;
		flex-direction: column;
	}

	.use-your-domain-step__option-content {
		flex-direction: column;
		margin-top: 0;
	}

	.use-your-domain-step__option-action {
		flex-direction: column;
		margin-top: 0;
	}

	.use-your-domain-step__option-illustration {
		display: flex;
		justify-content: center;
		margin: 1em 0;
		max-height: 150px;

		@include breakpoint-deprecated( "<660px" ) {
			display: none;
		}
	}

	.use-your-domain-step__option-illustration img {
		max-height: 150px;
	}

	.use-your-domain-step__option-title,
	.use-your-domain-step__option-reasons {
		flex: 0 0 auto;
		align-self: flex-start;
		width: 100%;
	}

	.use-your-domain-step__option-title {
		font-size: $font-title-small;
		font-weight: 400;
		line-height: 1.4;
		margin-bottom: 0.25em;
	}

	.use-your-domain-step__option-reasons {
		margin-bottom: 1em;
	}

	.use-your-domain-step__option-reason {
		color: var(--color-text-subtle);
		padding: 0.25em 0;
		display: flex;
		align-items: baseline;

		.gridicon {
			color: var(--color-primary);
			margin-right: 0.5em;
			flex-shrink: 0;
			position: relative;
			top: 0.25em;
		}
	}

	.use-your-domain-step__option-button {
		margin-top: 1em;
		width: 100%;
	}

	.use-your-domain-step__learn-more {
		margin: 1em 0;
		text-align: center;
	}
}

.use-your-domain-step__footer {
	margin-top: 1em;
	text-align: center;
	color: var(--color-text);

	button {
		color: var(--color-link);
		cursor: pointer;
		font-size: inherit;

		&:hover,
		&:focus,
		&:active {
			color: var(--color-link-dark);
		}

		&:focus {
			outline: thin dotted;
		}
	}

	body.is-section-signup & {
		color: var(--color-text-inverted);

		button {
			color: var(--color-text-inverted);
			text-decoration: underline;

			&:hover,
			&:focus,
			&:active {
				color: var(--color-neutral-0);
			}
		}
	}
}
