@import "@automattic/color-studio/dist/color-variables";
@import "@automattic/typography/styles/variables";
@import "@wordpress/base-styles/breakpoints";

$blueberry-color: #2145e6;
$blueberry-hover-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));

@mixin question-options-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 28px;
	width: 100%;
}

@mixin question-option-control {
	display: flex;
	flex-basis: calc(100% - 48px);
	gap: 16px;
	align-items: center;
	border-radius: 2px;
	border: solid 1px $studio-gray-5;
	padding: 16px;
	cursor: pointer;

	&:hover {
		border-color: $blueberry-color;
	}

	&:focus-visible {
		outline: 1px solid $blueberry-color;
	}

	@media (min-width: $break-medium) {
		flex-basis: calc(50% - 48px);
	}
}

.question-step {
	&__content {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 44px;
	}

	&__continue-button.components-button.is-primary {
		background-color: $blueberry-color;
		border-color: $blueberry-color;
		padding: 8px 14px 8px 14px;
		height: 40px;

		&:not(:disabled) {
			&:hover,
			&:focus,
			&:active {
				background-color: $blueberry-hover-color;
				border-color: $blueberry-hover-color;
			}
		}
	}

	.question-options__container {
		@include question-options-container;

		.question-options__option-control {
			@include question-option-control;

			&.checked {
				border-color: $blueberry-color;
			}

			input[type="radio"] {
				height: 20px;
				width: 20px;
				min-width: 20px;
				margin: 0;
				border-color: $studio-gray-20;

				&:checked {
					border-color: $blueberry-color;
				}

				&:checked::before {
					margin: 2px;
					width: 14px;
					height: 14px;
					background-color: $blueberry-color;
				}
			}

			input[type="checkbox"] {
				height: 20px;
				width: 20px;
				min-width: 20px;
				margin: 0;
				border-color: $studio-gray-20;

				&:checked {
					border-color: $blueberry-color;
				}

				&:checked::before {
					margin: 1px;
					width: 16px;
					height: 16px;
					background-color: $blueberry-color;
				}
			}

			.question-options__option-label {
				label {
					font-size: $font-body;
					font-weight: 500;
					line-height: 24px;
					color: $studio-gray-100;
				}

				.question-options__option-help-text {
					display: block;
					font-size: $font-body-extra-small;
					font-weight: 400;
					line-height: 20px;
					color: $studio-gray-80;
					padding-top: 4px;
				}
			}
		}
	}
}
