@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.pressable-overview .hosting-dashboard-layout__body-wrapper {
	display: flex;
	flex-direction: column;
	gap: 64px;
	margin-block-start: 48px;
	margin-block-end: 64px;
}

.hosting-dashboard-layout__header-breadcrumb {
	@include breakpoint-deprecated( "<660px" ) {
		display: none;
	}
}

.pressable-overview__footer {
	text-align: center;
}
