@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.titan-set-up-thank-you__icon-external {
	margin-left: 4px;
}

.thank-you__step-cta {
	width: 100%;
	@include break-mobile {
		min-width: 144px;
		width: auto;
	}
}
