.profile-links__list {
	margin: 0;
	list-style: none;
}

.profile-links__no-links {
	display: block;
	font-style: italic;
	color: var( --color-neutral-light );
	margin-bottom: 0;
}

.profile-links .notice {
	margin-bottom: 1.5em;
}

.button.add-buttons__add-wp-site {
	margin-left: 8px;
}
