.editor-sidebar {
    position: fixed;
    top: 46px;
    right: -$sidebar-width-max;
    bottom: 0px;
	display: flex;
	flex-direction: column;
	z-index: z-index( 'root', '.editor-sidebar' );
	background: $gray-lighten-30;
	border-left: 1px solid darken( $sidebar-bg-color, 5% );
	border-top: 1px solid darken( $sidebar-bg-color, 5% );
	border-right: none;
	box-sizing: border-box;
	left: auto;
	transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
	overflow-x: hidden;

	.focus-sidebar & {
		transform: translateX( -$sidebar-width-max );
	}

	.focus-sidebar .is-loading & {
		transition: none;
	}

	@include breakpoint( ">660px" ) {
		border-right: 1px solid darken( $sidebar-bg-color, 5% );
		width: $sidebar-width-max;
	}


	@include breakpoint( "<660px" ) {
		position: relative;
		top: 0;
		left: 0;
		height: 0;
		transition: none;
		border-left: none;

		.focus-sidebar & {
			height: auto;
			transform: none;
			transition: none;
		}
	}
}

.editor-sidebar .sidebar__footer {
	align-items: center;
	padding: 0;
	border-top: 1px solid darken( $sidebar-bg-color, 10% );
	margin: auto 0 0;
	display: flex;
	flex-direction: row;
	padding-left: 10px;

	.button {
		&.inline-help {
			border-radius: 0;
			border-left: 1px solid #c8d7e1;
			flex: 0 1 60px;
			margin-right: 0;
			margin-left: auto;
			outline: 0;

			@include breakpoint( "<660px" ) {
				flex: 0 1 56px;
			}

			.gridicon {
				margin: 0 auto;
				float: none;
			}
		}

		&.is-active {
			background: $blue-medium;

			.gridicon {
				fill: $white;
			}
		}
	}
}

.editor-sidebar__header {
	align-items: center;
	background: $gray-lighten-30;
	color: $gray-dark;
	display: flex;
	flex-shrink: 0;
	font-size: 13px;
	font-weight: 500;
	justify-content: space-between;
	padding: 11px 15px 11px 16px;
}

.editor-sidebar__close.button.is-compact.is-borderless {
	display: none;
	align-self: center;
	line-height: 12px;
	padding: 8px;
	white-space: nowrap;
	max-width: 50%;

	@include breakpoint( ">660px" ) {
		display: block;
	}
}

.editor-sidebar__toggle-sidebar {
	margin-left: 16px;
	@include breakpoint( ">660px" ) {
		display: none;
	}
}

.editor-sidebar__nonscrolling-region {
	overflow: hidden;
}

.editor-sidebar__header-title {
	padding: 0;
	font-size: 13px;
	line-height: inherit;

	// Needed for extra specificity over .button style
	&.button {
		color: $gray-dark;

		&:hover {
			color: $blue-medium;
		}
	}
}
