$editor-sidebar-font-size: 13px;

.editor-sidebar {
	@extend .sidebar;
	z-index: z-index( 'root', '.editor-sidebar' );
	background: lighten( $gray, 30% );
	border-left: 1px solid darken( $sidebar-bg-color, 5% );
	border-top: 1px solid darken( $sidebar-bg-color, 5% );
	border-right: none;
	box-sizing: border-box;
	top: 93px;
	right: $sidebar-width-max;
	left: auto;
	transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);

	.focus-sidebar & {
		transform: translateX( -$sidebar-width-max );
	}

	.focus-sidebar .is-loading & {
		transition: none;
	}

	@include breakpoint( ">660px" ) {
		border-right: 1px solid darken( $sidebar-bg-color, 5% );
		width: $sidebar-width-max;
	}


	@include breakpoint( "<660px" ) {
		position: relative;
		top: 0;
		left: 0;
		height: 0;
		transition: none;
		border-left: none;

		.focus-sidebar & {
			height: auto;
			transform: none;
			transition: none;
		}
	}
}

// TODO: Find better name than `view`
.editor-sidebar__view {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.editor-sidebar__header {
	background: lighten( $gray, 30% );
	display: none;
	font-size: $editor-sidebar-font-size;
	color: $gray-dark;
	font-weight: 500;

	@include breakpoint( ">660px" ) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;
		padding: 11px 15px 11px 16px;
	}
}

.editor-sidebar__close.button.is-compact.is-borderless {
	display: none;
	align-self: center;
	line-height: 12px;
	padding: 8px;
	white-space: nowrap;
	max-width: 50%;

	@include breakpoint( ">660px" ) {
		display: block;
	}
}

.editor-sidebar__toggle-sidebar {
	margin-left: 16px;
	@include breakpoint( ">660px" ) {
		display: none;
	}
}

.editor-sidebar .editor-feedback-invitation {
	font-size: $editor-sidebar-font-size;
}

.editor-sidebar .editor-feedback-invitation__button {
	width: 100%;
}

.editor-sidebar__feedback-header-image-box {
	min-height: 100px;
}

.editor-sidebar__feedback-request-form {
	background: $white;
	padding: 16px;
}

.editor-sidebar__feedback-request-button {
	width: 100%;
}

.editor-sidebar__feedback-list-label {
	padding: 11px 16px;

	&.is-hidden {
		display: none;
	}
}
