// ==========================================================================
// Horizontal bar list
// ==========================================================================
@import "../styles/typography.scss";
@import "./stats-variables.scss";

.stats-card {
	border: 1px solid var(--studio-gray-5);
	border-radius: $border-radius;
	padding: $padding-outside 0;
	font-size: $row-font-size;
	font-weight: 500;
	line-height: $row-line-height;
	color: $font-color;

	.stats-card--header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 $padding-outside $header-spacer $padding-outside;

		.stats-card--header--title {
			font-size: $header-font-size;
			line-height: $header-line-height;
		}
	}

	.stats-card--footer {
		font-weight: 600;
		padding: $padding-outside $padding-outside 0;
		display: block;

		&:visited {
			color: $font-color;
		}
	}
}
