// ==========================================================================
// Horizontal bar list
// ==========================================================================
@import "@wordpress/base-styles/breakpoints";
@import "../styles/typography";
@import "./stats-variables";

.stats-card {
	border: 1px solid var(--studio-gray-5);
	border-radius: $border-radius;
	padding: $padding-outside 0;
	font-size: $row-font-size;
	font-weight: 500;
	line-height: $row-line-height;
	color: $font-color;
	background-color: var(--studio-white);

	@media (max-width: $break-medium) {
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}

	.stats-card--hero {
		padding-bottom: $card-vertical-space;

		@media (min-width: $break-medium) {
			min-height: 512px;
			min-width: 860px;
		}
	}

	.stats-card-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 $padding-outside $header-spacer $padding-outside;

		.stats-card-header__title {
			display: flex;
			align-items: center;
		}

		.stats-card-header__title,
		.stats-card-header__title:visited {
			font-size: $header-font-size;
			line-height: $header-line-height;
			color: var(--color-text);
		}

		.stats-card-header__title-nodes {
			margin-left: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
		}

		&.stats-card-header--split {
			display: block;
		}
		.stats-card--column-header {
			display: flex;
			justify-content: space-between;
			padding-top: $header-spacer;
		}
		.stats-card--column-header__left {
			display: flex;
			width: calc(100% - $value-column-width);
			justify-content: space-between;
		}
		.stats-card--column-header__right {
			width: $value-column-width;
			text-align: right;
		}
	}

	.stats-card-header--main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		// Add padding to wrapped elements in narrow viewports.
		row-gap: 16px;
	}

	.stats-card-header__additional {
		@include additional-columns-wrapper;
	}

	.stats-card--body-empty {
		padding: 0 $padding-outside;
		font-weight: 400;
		padding-top: 4px;
		color: var(--studio-gray-60);
	}

	.stats-card--footer {
		font-weight: 600;
		margin: $padding-outside $padding-outside 0;
		display: block;
		color: var(--color-text);

		&:visited {
			color: $font-color;
		}

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	&.stats-card__hasoverlay {
		display: grid;

		.stats-card__content,
		.stats-card__overlay {
			grid-column: 1;
			grid-row: 1;
		}

		.stats-card__content .stats-card--header-and-body .stats-card--body,
		.stats-card__content .stats-card-header--split .stats-card--column-header,
		.stats-card__content .stats-card--hero,
		.stats-card__content .stats-card--footer {
			filter: blur(10px);
			z-index: 0;
			margin-bottom: 24px;
		}

		.stats-card__overlay {
			z-index: 1;
		}
	}

	.stats-card__content {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
}

// TODO: update when cleaning stats/empty-module-traffic feature flag
// (stats-card--empty-variant should be added to the root of the card when isEmpty is passed = className shouldn't
// continue to set it - it's not compatible with footer actions)
.stats-card--empty-variant {
	.stats-card--header-and-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}

	.stats-card--footer {
		margin-top: 2px;
	}

	.stats-card--body-empty {
		display: flex;
		flex: 1 0 auto;
		align-items: center;
		justify-content: center;
	}
}

.stats-card-avatar {
	display: flex;

	.stats-card-avatar-image {
		width: $stats-avatar-size;
		height: $stats-avatar-size;
		border-radius: 50%;
	}
}

.stats-module__extended-toggle {
	display: flex;
	gap: 0 5px;
	justify-content: center;
	padding-top: 2px; // for focus ring for Jetpack
}
