/*
    Global styles for the subscription manager app
*/
@import "@wordpress/components/build-style/style";
@import "@automattic/calypso-color-schemes";
@import "@automattic/typography/styles/fonts";
@import "@automattic/color-studio/dist/color-variables";
@import "@wordpress/base-styles/breakpoints";
@import "calypso/assets/stylesheets/shared/loading";

body {
	background-color: $studio-white;
	font-family: $sans;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	// Basic stylings
	margin: 0;
	line-height: 1.5;

	h1,
	h2,
	h3,
	p {
		font-family: $sans;
		font-weight: 400;
		margin: 0;
	}

	a,
	a:visited {
		text-decoration: none;
		color: var(--color-link);
	}

	button {
		background-color: transparent;
		border: none;
	}

	ul {
		padding: 0;
	}

	.subscriptions-manager {
		&__list-actions-bar {
			margin-bottom: 57px;
		}
	}

	.search-component {
		max-width: 500px;

		border: 1px solid $studio-gray-10;
		border-radius: 2px;

		@media (max-width: $break-small) {
			visibility: hidden;
		}

		.subscriptions-manager__search-icon {
			margin-left: 18.5px;
			margin-right: 14px;
		}

		input.search-component__input[type="search"] {
			::placeholder {
				color: $studio-gray-50;
			}
		}
	}
}
