/*
    Global styles for the subscription manager app
*/
@import "@wordpress/components/build-style/style";
@import "@automattic/calypso-color-schemes";
@import "@automattic/typography/styles/fonts";
@import "@automattic/color-studio/dist/color-variables";
@import "@wordpress/base-styles/breakpoints";
@import "calypso/assets/stylesheets/shared/loading";

body {
	background-color: $studio-white;
	font-family: $sans;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	// Basic stylings
	margin: 0;
	line-height: 1.5;

	h1,
	h2,
	h3,
	p {
		font-family: $sans;
		font-weight: 400;
		margin: 0;
	}

	a,
	a:visited {
		text-decoration: none;
		color: var(--color-link);
	}

	button {
		background-color: transparent;
		border: none;
	}

	ul {
		padding: 0;
	}

	.green {
		fill: var(--color-success);
		vertical-align: text-bottom;
	}

	.red {
		fill: var(--color-error);
		vertical-align: text-bottom;
	}
}
