.upsell {
	padding: 16px;

	& > * {
		margin-bottom: 16px;
	}

	@include breakpoint( '>660px' ) {
		padding: 32px 64px;
		& > * {
			margin-bottom: 32px;
		}
	}
}

.upsell__header {
	display: flex;
	justify-content: center;
	@include breakpoint( '>660px' ) {
		justify-content: flex-start;
	}

	img {
		width: 72px;
	}
}

.upsell__title {
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 32px;
	@include breakpoint( '>660px' ) {
		font-size: 36px;
		line-height: 40px;
	}
}

.upsell__copy {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	@include breakpoint( '>660px' ) {
		font-size: 18px;
		line-height: 24px;
	}
}

.upsell__upgrade-button {
	text-align: center;
	width: 100%;

	@include breakpoint( '>660px' ) {
		text-align: auto;
		width: auto;
	}
}
