.settings__page-title {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -0.01rem;
    margin-bottom: 1rem;
}

.card.is-compact.settings__connected,
.card.is-compact.settings__disconnected {
    margin-bottom: 1.5rem;
}

.settings__connected .gridicon {
    display: inline-block;
    fill: green;
    width: 4rem;
    height: 4rem;
}

.settings__disconnected .gridicon {
    display: inline-block;
    fill: red;
    width: 4rem;
    height: 4rem;
}

.settings__details {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.settings__details-head {
    font-weight: 600;
    margin-bottom: 0.3rem;
}