.nux-launch-modal.step-final {
	// Try: Reveal site content behind
	.nux-launch-modal-body {
		background: transparent;
	}
}

.nux-final-preview-hint {
	background: var( --studio-blue-0 );
	width: 100%;
	position: absolute;
	left: 0;
	padding: 20px;
}
