doctype html
html(lang='en')
	head
		title WordPress.com
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='format-detection', content='telephone=no')
		meta(name='mobile-web-app-capable', content='yes')
		link(rel='shortcut icon', type='image/vnd.microsoft.icon', href='//s1.wp.com/i/favicon.ico', sizes='16x16 32x32 48x48')
		link(rel='shortcut icon', type='image/x-icon', href='//s1.wp.com/i/favicon.ico', sizes='16x16')
		link(rel='icon', type='image/x-icon', href='//s1.wp.com/i/favicon.ico', sizes='16x16')
		link(rel='profile', href='http://gmpg.org/xfn/11')
		link(rel='stylesheet', href='//s1.wp.com/i/fonts/merriweather/merriweather.css?v=20160210')
		link(rel='stylesheet', href='//s1.wp.com/i/noticons/noticons.css')
		link(rel='stylesheet', href=urls['style.css'])
	body
		#wpcom.wpcom-site
			div.wp(class='has-no-sidebar')
				div(class='layout__content', id='content')
					div(class='layout__primary', id='primary')
						div.empty-content
							img.empty-content__illustration(src='/calypso/images/drake/drake-404.svg')
							h2.empty-content__title Uh oh. Page not found.
							h3.empty-content__line.
								Sorry, the page you were looking for doesn't exist or has been moved.
							a(href='/' class='empty-content__action button button-primary') Return Home
