@mixin display-grid {
	display: -ms-grid;
	display: grid;
}
@mixin grid-template-columns( $cols, $gap, $fr ) {
	-ms-grid-columns: $fr $gap $fr $gap $fr $gap $fr $gap $fr $gap $fr $gap $fr $gap $fr $gap $fr $gap $fr $gap $fr $gap $fr;
	grid-template-columns: repeat( $cols, [col-start] minmax( 0, $fr ) );
	grid-column-gap: $gap;
}
@mixin grid-row( $row-start, $span ) {
	-ms-grid-row: $row-start;
	-ms-grid-row-span: $span;
		grid-row: $row-start / span $span;
}
@mixin grid-column( $col-start, $span ) {
	-ms-grid-column: $col-start * 2 - 1;
	-ms-grid-column-span: $span + ($span - 1);
		grid-column: $col-start / span $span;
}

@font-face {
	font-display: swap;
	font-family: 'Recoleta';
	font-weight: 400;
	src: url( 'https://s1.wp.com/i/fonts/recoleta/400.woff2' ) format( 'woff2' ),
	url( 'https://s1.wp.com/i/fonts/recoleta/400.woff' ) format( 'woff' );
}

.customer-home__heading {
	display: flex;

	@include breakpoint( '<660px' ) {
		margin-right: 16px;
	}

	.formatted-header {
		margin-right: 12px;
	}

	.formatted-header__title {
		font-family: 'Recoleta', $serif;
	}

	.formatted-header__subtitle {
		margin: 0;
	}

	.customer-home__view-site-button {
		margin: auto;
		margin-right: 0;

		.button {
			text-align: center;
			white-space: nowrap;
		}
	}
}

.customer-home__card-subheader {
	color: var( --color-text-subtle );
	font-size: 0.85rem;
	margin: -0.5rem 0 1rem;
}

.customer-home__layout {
	@include grid-row( 4, 1 );
	@include breakpoint( '>1040px' ) {
		@include grid-column( 1, 12 );
		@include display-grid;
		@include grid-template-columns( 12, 24px, 1fr );
		grid-gap: 24px;
	}
}
.customer-home__layout-col {
	.card-heading {
		margin-top: -8px;
	}

	a:last-child .vertical-nav-item {
		border-bottom: none;
	}
}
.customer-home__layout-col-left {
	@include breakpoint( '>1040px' ) {
		@include grid-column( 1, 8 );
	}
}
.customer-home__layout-col-right {
	.vertical-nav {
		margin-top: 0;
	}

	.vertical-nav-item {
		border-bottom: 1px solid var( --color-neutral-5 );
		box-shadow: none;
		padding: 12px 0;

		.gridicon {
			right: 0;
		}
	}
	@include breakpoint( '>1040px' ) {
		@include grid-column( 9, 4 );
	}
}

.customer-home__loading-placeholder {
	@include placeholder();
	@include grid-column( 1, 12 );
}

.customer-home__section-heading {
	font-family: 'Recoleta', serif;
	font-size: 1.25rem;
	margin-bottom: 0.25rem;

	@include breakpoint( '<660px' ) {
		padding: 0 16px;
	}
}
