.wc-home-placeholder {
	margin: -47px -32px -33px -33px;
	background-color: var(--studio-gray-0);
	height: calc(100vh - 33px);

	.wc-home-placeholder__header {
		background-color: var(--studio-white);
		height: 60px;
		display: flex;
		align-items: center;
	}

	.wc-home-placeholder__actions {
		display: flex;
		gap: 24px;
		margin-left: auto;
		margin-right: 24px;
	}

	.wc-home-placeholder__content {
		max-width: 682px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
	}

	.placeholder {
		@include placeholder();
		height: 16px;
		border-radius: 8px; /* stylelint-disable-line scales/radii */
	}

	.placeholder-title {
		width: 100px;
		margin-left: 40px;
		height: 24px;
	}

	.placeholder-action {
		width: 40px;
		height: 40px;
	}

	.placeholder-welcome {
		width: 300px;
		margin-bottom: 32px;
	}

	.placeholder-generic {
		margin-bottom: 24px;
	}
}
