.site-logs-container {
	// The logging API doesn't allow us to jump directly to a page, so hide page buttons.
	.pagination__page-number,
	.pagination__ellipsis {
		display: none;
	}
}

// This is to compensate the padding set by the wrapper .hosting-dashboard-item-view__content
.site-logs .dataviews-wrapper {
	margin-right: -48px;
	margin-left: -48px;
}

// TODO: this needs an upstream ticket.
.dataviews-wrapper table.dataviews-view-table[aria-busy='true'] {
	opacity: 0.5;
}
