@import "@wordpress/base-styles/breakpoints";

.issue-license__step-progress {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin-bottom: 40px;

	@include breakpoint-deprecated( "<660px" ) {
		.total-cost {
			display: none;
		}
	}
}
