@import "@wordpress/base-styles/breakpoints";

.feature-moved {
	padding: 0 24px;
	max-width: 784px;

	@include break-large {
		padding: 0 32px;
	}

	svg {
		display: none;

		@include break-large {
			display: block;
		}
	}

	.dashboard-callout {
		max-width: none;
	}

	.dashboard-callout__image img {
		object-fit: contain;
		object-position: top;
	}
}
