.editor-html-toolbar {
	border-color: lighten( $gray, 20% );
	border-style: solid;
	border-bottom-width: 1px;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
	position: relative;

	@media ( min-width: 930px ) {
		border-left-width: 1px;
		border-right-width: 1px;
	}

	.button {
		border-right: 1px solid lighten( $gray, 30% );
		color: darken( $gray, 20% );
		height: 26px;
		margin: 6px 0;
		padding: 4px 12px;
		text-transform: lowercase;
		min-width: 30px;

		&:hover {
			color: $gray-dark;
		}

		&:last-child {
			border: none;
		}
	}
}

.editor-html-toolbar__button-bold {
	font-weight: bold;
}
.editor-html-toolbar__button-italic {
	font-style: italic;
}
.editor-html-toolbar__button-link.button {
	color: $blue-wordpress;
	text-decoration: underline;
}
.editor-html-toolbar__button-del {
	text-decoration: line-through;
}
.editor-html-toolbar__button-ins {
	text-decoration: underline;
}
.editor-html-toolbar__button-code {
	font-family: $code;
}

.editor-html-toolbar__dialog .dialog__content {
	min-width: 40vw;
}
.editor-html-toolbar__dialog .post-selector {
	margin-bottom: 16px;
}
@include breakpoint( "<660px" ) {
	.editor-html-toolbar__dialog {
		width: 90%;
	}
	.editor-html-toolbar__dialog .dialog__content {
		min-width: none;
	}
}
