@import '~@wordpress/base-styles/breakpoints';
@import '~@automattic/onboarding/styles/mixins';
@import '~@automattic/typography/styles/variables';
@import '../variables.scss';

$plan-item-border-radius: 5px;

.plans-table {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.plan-item {
	display: inline-flex;
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: column;

	// Collapse shared borders for non-premium plan items.
	&:not( .is-popular ) {
		margin-top: -1px;
	}
}

.plan-item__viewport {
	width: 100%;
	height: 100%;
	padding: 20px;
	border: 1px solid $light-gray-500;

	@include break-medium {
		padding: 40px;
	}

	.plan-item.is-popular & {
		border-radius: $plan-item-border-radius;
	}

	.plan-item:first-of-type & {
		border-top-left-radius: $plan-item-border-radius;
		border-top-right-radius: $plan-item-border-radius;
	}

	.plan-item:last-of-type & {
		border-bottom-left-radius: $plan-item-border-radius;
		border-bottom-right-radius: $plan-item-border-radius;
	}
}

.plan-item:not( .is-open ) .plan-item__viewport {
	// Because .plan-item__summary acts as a button
	// to expand plan item, padding is applied there.
	padding: 0;
}

.plan-item__name {
	display: inline-block;
	font-size: $font-title-medium;

	@include break-medium {
		font-size: $font-title-large;
	}
}

.plan-item:not( .is-open ) .plan-item__name {
	font-size: $font-body;
}

.plan-item__domain-name {
	font-size: $font-body-small;
}

ul.plan-item__feature-item-group {
	margin: 0;
	column-count: 1;

	@include break-small {
		column-count: 2;
	}

	@include break-large {
		column-count: 3;
	}
}

.plan-item__mobile-expand-all-plans {
	// increase specificity
	&.components-button.is-link {
		margin: 20px auto;
		color: $dark-gray-500;
	}
}

.plan-item__badge {
	position: relative;
	top: -12px;
	height: 0;
	overflow: visible;
	text-align: center;

	> span {
		display: inline-block;
		height: 24px;
		line-height: 24px;
		padding: 0 14px;
		border-radius: 12px;
		background: black;
		color: white;
		text-align: center;
		text-transform: uppercase;
		font-size: $font-body-extra-small;
	}
}

.plan-item__price-amount {
	display: inline-block;
	font-size: $font-title-medium;
	font-weight: 600;

	@include break-medium {
		font-size: $font-title-large;
	}

	&.is-loading {
		max-width: 60px;
		@include onboarding-placeholder();
	}
}

.plan-item:not( .is-open ) .plan-item__price-amount {
	font-size: $font-body;
	font-weight: normal;
}

.plan-item__summary {
	display: flex;
	width: 100%;

	&::-webkit-details-marker {
		display: none;
	}
}

.plan-item:not( .is-open ) .plan-item__summary {
	align-items: baseline;
	padding: 20px;

	@include break-medium {
		padding: 20px 40px;
	}
}

.plan-item:not( .is-popular ) .plan-item__summary {
	cursor: pointer;
}

.plan-item__heading {
	display: flex;
}

.plan-item:not( .is-open ) .plan-item:not( .is-popular ) .plan-item__heading {
	display: flex;
	align-items: center;
}

.plan-item__price {
	margin-left: auto;
}

.plan-item:not( .is-open ) .plan-item__price {
	margin-left: 8px;
	color: var( --studio-gray-40 );
}

.plan-item__price-note {
	display: inline-block;
	font-size: $font-body;
	color: var( --studio-gray-40 );
	position: relative;
	top: -1px;
	margin-left: 1px;
}

.plan-item:not( .is-open ) .plan-item__price-note {
	display: none;
}

.plan-item__actions {
	margin: 15px 0 20px;

	@include break-medium {
		margin: 30px 0 40px;
	}
}

.plan-item__dropdown-chevron {
	flex: 1;
	text-align: right;
	position: relative;
	top: -4px;
	right: -8px;
}

.plan-item.is-open .plan-item__dropdown-chevron {
	display: none;
}

.plan-item__domain-summary {
	font-size: $font-body-small;
	line-height: 22px;
	margin-top: 10px;

	// overwrite button styles
	&.components-button.is-link {
		text-decoration: none;
		font-size: 14px;
		color: var( --studio-blue-40 );
		display: flex;
		align-items: flex-start;
	}

	// the tick
	svg:first-child {
		margin-right: 4px;
	}

	svg:first-child path {
		fill: rgb( 74, 161, 80 );

		// to make the tick thicker
		stroke: rgb( 74, 161, 80 );
	}
}

.plan-item.is-popular {
	order: -3;
}

.plan-item__domain-summary.is-picked {
	font-weight: bold;
}

.plan-item__domain-summary.is-cta {
	font-weight: bold;
	padding: 0;

	// overwrite button styles
	&.components-button.is-link {
		color: var( --studio-blue-40 );
	}

	// the tick
	svg:first-child path {
		fill: rgb( 74, 161, 80 );
		stroke: rgb( 74, 161, 80 );
		margin-top: 5px;
	}

	// the chevron
	svg:last-child {
		fill: var( --studio-blue-40 );
		stroke: var( --studio-blue-40 );
		margin-left: 8px;
		margin-top: 8px;
	}
}

.plan-item__domain-summary.components-button.is-link.is-free {
	font-weight: bold;
	color: rgb( 206, 134, 61 );
	text-decoration: line-through;

	// the tick
	svg path {
		fill: rgb( 206, 134, 61 );
		stroke: rgb( 206, 134, 61 );
	}
}

.plan-item__select-button.components-button {
	padding: 0 24px;
	height: 40px;
	border-radius: 5px;
}

.plan-item__feature-item {
	font-size: $font-body-small;
	color: $dark-gray-500;
	display: block;
	line-height: 28px;

	svg:first-child {
		display: inline-block;
		position: relative;
		top: 2px;
	}

	// the tick
	svg:first-child path {
		fill: rgb( 74, 161, 80 );
		stroke: rgb( 74, 161, 80 );
	}
}
