@import "@automattic/color-studio/dist/color-variables";

.subscriber-list-container {
	margin-bottom: 64px;

	&__header {
		margin-bottom: 32px;
		font-size: $font-title-small;
		line-height: 26px;

		.subscriber-list-container__title {
			font-weight: 500;
			color: $studio-gray-100;
		}

		.subscriber-list-container__social-count {
			color: var(--color-text-subtle);
			font-size: $font-body-small;
			margin-right: 4px;
		}

		.subscriber-list-container__subscriber-count {
			font-weight: 500;
			color: $studio-gray-40;
		}
	}

	.subscriber-list-container__pagination {
		margin-top: 48px;
	}

	.loading-placeholder {
		@include placeholder();
		display: inline-block;

		&.big {
			width: 50%;
		}

		&.small {
			width: 10%;
			margin-left: 5%;
		}

		&.hidden {
			background-color: transparent;
			animation: none;
		}
	}

	.subscriber-list__loading {
		.loading-placeholder {
			margin-bottom: 30px;
		}
	}
}
