.titan-management-nav .vertical-nav {
	margin-bottom: 1em;
	margin-top: 0;

	.vertical-nav-item span {
		color: var( --color-neutral-90 );
	}
}

.titan-management-nav__mailbox-setup-prompt {
	display: flex;

	span {
		flex-grow: 1;

		.gridicon {
			margin-right: 0.25em;
			vertical-align: text-bottom;
		}
	}

	.button .gridicon {
		margin-left: 0.25em;
		vertical-align: top;
	}
}

.titan-management-nav__foldable-card {
	margin-bottom: 0;
}

.titan-management-nav__foldable-card-header-icon {
	fill: var( --color-wordpress-com );
	margin-left: -2px;
	margin-right: 7px;
}

.titan-management-nav__foldable-card-header-text {
	display: flex;
	flex-direction: column;

	em {
		color: var( --color-neutral-50 );
		font-style: normal;
	}
}

.titan-management-nav__foldable-card-services {
	column-gap: 10px;
	display: grid;
	grid-template-columns: repeat( 7, 1fr );
	list-style: none;
	margin: 0;
	row-gap: 10px;

	@include breakpoint-deprecated( '<960px' ) {
		grid-template-columns: repeat( 4, 1fr );
	}

	a {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 10px;
		text-align: center;

		&:hover {
			background-color: #eee;
			border-radius: 5px; /* stylelint-disable-line scales/radii */
		}

		img {
			max-width: 30px;
		}

		strong {
			padding-top: 5px;
		}
	}
}
