@import '@wordpress/base-styles/colors';
@import '@wordpress/base-styles/variables';

.a8c-components-wp-button {
	&.is-secondary:not([aria-pressed="true"]) {
		color: $gray-900;
		box-shadow: inset 0 0 0 $border-width $gray-300;
		
		&:hover:not(:disabled, [aria-disabled="true"], :focus) {
			color: var(--wp-admin-theme-color);
			box-shadow: inset 0 0 0 $border-width $gray-300;
		}
		
		&:active,
		&:active:hover {
			background-color: $white;
		}
	}
} 