
.site-error-column {
	.sites-dataview__site-error {
		font-size: 0.75rem;

		.button {
			text-decoration: underline;
			font-size: 0.75rem;
			padding: 0;
			width: auto;
			position: relative;
			inset-block-start: 1px;
		}
	}
}

