.purchase-detail {
	box-shadow:
		0 0 0 1px color-mix(in srgb, var(--color-neutral-10) 50%, transparent),
		0 1px 2px var(--color-neutral-0);
	box-sizing: border-box;
	color: var(--color-text-subtle);
	height: 100%;

	&:last-child {
		border-bottom: none;
	}

	@include breakpoint-deprecated( ">480px" ) {
		border-radius: 2px;
		max-width: 700px;
		margin: 16px auto;
		text-align: left;

		.button:not(.clipboard-button) {
			width: auto;
		}
	}

	&.is-placeholder {
		.purchase-detail__button,
		.purchase-detail__description,
		.purchase-detail__title {
			@include placeholder( --color-neutral-10 );

			display: block;
		}

		.purchase-detail__button {
			border: none;
			width: 40%;
		}

		.purchase-detail__description {
			/* stylelint-disable-next-line declaration-property-unit-allowed-list */
			line-height: 2.5em;
			margin-top: 15px;
		}

		.purchase-detail__title {
			margin-top: 3px;
			width: 85%;

			@include breakpoint-deprecated( "<660px" ) {
				margin: 0 auto;
			}
		}
	}
}

.purchase-detail__content {
	padding: 32px;
	display: flex;

	@include breakpoint-deprecated( "<660px" ) {
		flex-wrap: wrap;
	}
}

.purchase-detail__image {
	width: 100%;
	flex-shrink: 0;

	@include breakpoint-deprecated( ">660px" ) {
		width: 178px;
	}
}

.purchase-detail__button {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
	@include breakpoint-deprecated( "<480px" ) {
		display: block;
		text-align: center;
	}
}

.purchase-detail__icon {
	background: var(--color-neutral-50);
	border-radius: 50%;
	color: var(--color-text-inverted);
	padding: 16px;
	width: 100%;
	flex-shrink: 0;
	margin-bottom: 20px;

	@include breakpoint-deprecated( ">660px" ) {
		order: 2;
		width: 178px;
	}

	.purchase-detail__notice-icon.gridicon {
		fill: var(--studio-blue-30);
		height: 24px;
		position: relative;
		right: -26px;
		top: -3px;
		width: 24px;

		@include breakpoint-deprecated( ">660px" ) {
			right: -42px;
			top: -6px;
		}
	}
}

.purchase-detail__icon,
.purchase-detail__icon .gridicon {
	width: 48px;
	height: 48px;
	margin: 0 auto;
}

.purchase-detail.custom-icon {
	.purchase-detail__icon {
		background: transparent;
		width: 128px;
		height: auto;
		margin-top: 0;
		padding: 0;

		@include breakpoint-deprecated( ">660px" ) {
			width: 150px;
		}
	}
}

.purchase-detail__title {
	clear: none;
	color: var(--color-text-subtle);
	font-size: $font-title-small;
}

.purchase-detail__description {
	color: var(--color-text-subtle);
	margin: 8px 0 16px;
}

.purchase-detail__text {
	flex-grow: 1;
	word-break: break-word;
	text-wrap: pretty;
}

.purchase-detail__body {
	width: 100%;
}

.purchase-detail__required-notice {
	background-color: var(--studio-blue-10);
	color: var(--color-text);
	font-size: $font-body-small;
	padding: 8px;
	text-align: center;
}
