.purchase-detail__info {
	color: var( --color-text-subtle );
	font-size: 13px;
	font-style: italic;
	font-weight: 400;
	margin-left: 8px;
	margin-top: 8px;

	@include a8c-breakpoint( '>660px' ) {
		margin-top: 0;
	}
}

.purchase-detail__info-icon {
	display: inline-block;
	margin-top: 2px;
	margin-right: 4px;
	float: left;
	height: 14px;
}
