@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/variables";

.plans-grid-next__intent-toggle {
	width: 432px;
	margin: 9px auto calc(#{$grid-unit-40} + 3px) auto;

	.components-toggle-group-control {
		width: 100%;
		border-radius: 2px;
		border: 1px solid #949494;
		background: var( --studio-white);
	}

	// Responsive: full width on smaller screens
	@media ( max-width: $break-small ) {
		width: calc(100% - 32px); // 100% minus 16px on each side
		margin: 0 auto 16px auto; // Center with bottom margin
	}
}
