.components-button.is-primary.overview__growth-accelerator-footer-schedule-call.a4a-onboarding-tour__schedule-a-call-cta {
	flex: 0;
}

.a4a-onboarding-tour-snackbar {
	position: fixed;
	bottom: 64px;
	right: 64px;

	.components-snackbar__icon {
		fill: var(--color-text-inverted);
	}

	.components-button.components-snackbar__action:hover {
		background-color: transparent;
	}
}
