$social-preview-text-color: #1e1e1e;
$social-preview-light-text-color: #757575;

.social-preview {
	padding: 0 0.5rem;
}

.social-preview__section {
	margin-bottom: 2rem;
	width: clamp(200px, 100%, 680px);
	margin-inline: auto;
}

.social-preview__section-heading {
	margin-top: 0;
	margin-bottom: 0.375rem;

	color: $social-preview-text-color;

	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.42;
}

.social-preview__section-desc {
	margin-top: 0;
	margin-bottom: 1rem;

	color: $social-preview-light-text-color;

	font-size: 0.75rem;
	line-height: 1.33;

	.components-external-link {
		display: inline-flex;
		align-items: center;
		gap: 0.25rem;
	}
}

