$sensei-color: #43af99;

.sensei .progress-bar__progress {
	background-color: $sensei-color;
}

.step-container.senseiPlan {
	.plan-item {
		&__viewport {
			border: none;
		}

		&__heading {
			justify-content: center;
		}
		&__price-amount,
		&__price-note,
		&__price-discount,
		&__actions {
			text-align: center;
		}

		&__select-button {
			width: 100%;
			background-color: $sensei-color;
			border: 1px solid darken($sensei-color, 10%);
			&:hover:not(:disabled) {
				background-color: darken($sensei-color, 10%);
				border: 1px solid darken($sensei-color, 10%);
			}
		}
	}

	.plans-feature-list {
		&__item {
			margin: 12px 0;
		}
		&__item-group {
			list-style: none;
		}
		&__item-annual-nudge {
			display: none;
		}
		&__item-bullet-icon path {
			fill: #008a20;
			stroke: #008a20;
		}
		&__item--requires-annual-enabled,
		&__item--requires-annual-disabled {
			.plans-feature-list__item-description {
				font-weight: 700;
			}
		}
		&__item--requires-annual-disabled {
			.plans-feature-list {
				&__item-description {
					color: #888;
				}
				&__item-annual-nudge {
					display: block;
				}
				&__item-bullet-icon path {
					fill: var(--studio-orange-40);
					stroke: var(--studio-orange-40);
				}
			}
		}
	}


	.plans-interval-toggle__popover:not(.plans-interval-toggle__popover--mobile) {
		display: none;
		@media ( min-width: 780px ) {
			display: block;
		}
	}
}
