@import "@wordpress/base-styles/mixins";
@import "@automattic/typography/styles/variables";
@import "calypso/assets/stylesheets/shared/mixins/breakpoints";
@import "calypso/components/jetpack-page-layout/admin-ui-page";

body.is-section-activity {
	@include admin-ui-page-layout;
	@include admin-ui-page-layout-constrained-content($max-width: 1040px);
	@include admin-ui-page-sticky-footer;

	.admin-ui-page {
		background: var(--color-surface-backdrop);
	}
}

main.activity-log-v2 {
	.filterbar {
		margin-left: 0;
		margin-right: 0;
	}

	.activity-card-list__date-group-date {
		@include breakpoint-deprecated( "<660px" ) {
			font-size: $font-title-small;
		}
	}

	.activity-card-list__date-group-content {
		.activity-card:last-child {
			@include breakpoint-deprecated( "<660px" ) {
				margin-bottom: 48px;
			}
		}
	}
}
