.hosting-overview__top-cards-wrapper {
	display: flex;
	gap: 33px;
	margin-bottom: 38px;
}

.hosting-overview__card {
	border-radius: 4px;
	border: 1px solid var(--Gray-Gray-5, #dcdcde);
	flex: 1;
	padding: 22px;
}

.hosting-overview__card-header {
	display: flex;
	gap: var(--grid-unit-15, 12px);
	margin-bottom: 16px;
}

.hosting-overview__card-title {
	color: var(--Gray-Gray-100, #101517);
	flex: 1;
	font-feature-settings: "clig" off, "liga" off;
	font-family: "SF Pro Display", $sans;
	font-size: $font-title-small;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.38px;
}

.hosting-overview__actions-list {
	list-style: none;
	margin: 0;
}

.hosting-overview__action {
	border-bottom: 1px solid var(--gutenberg-gray-100, #f0f0f0);
	padding: var(--grid-unit-15, 12px) 0;

	svg {
		color: var(--studio-gray-30);
		margin-right: 8px;
		width: 20px;
		height: 20px;
	}


	&:last-child {
		border-bottom: none;
	}
}

.hosting-overview__action-button {
	display: flex;
	justify-content: space-between;
	color: var(--Gray-Gray-100, #101517);
	font-family: "SF Pro Text", $sans;
	font-size: $font-body-small;
	font-style: normal;
	line-height: 20px;
	letter-spacing: -0.15px;

	&:hover,
	&:visited,
	&:active,
	&:focus {
		color: var(--Gray-Gray-100, #101517);
		text-decoration: none;
	}
}

.hosting-overview__action-text {
	display: flex;
	align-items: center;

	.hosting-overview__dashicon {
		color: var(--studio-gray-30);
		margin-right: 8px;
	}
}

a.hosting-overview__domain-management-link {
	color: var(--Primary-Blue, #007cba);
	font-family: "SF Pro Text", $sans;
	font-size: $font-body-extra-small;
	font-style: normal;
	line-height: 16px;
	text-decoration-line: underline;
}
