.is-section-people .empty-content .empty-content__title {
	font-size: $font-title-small;
	margin-bottom: 16px;
}

.is-section-people .info-popover__tooltip .popover__inner .support-info__privacy {
	display: none;
}
