.textarea {
    display: flex;
    width: 100%;
    border-radius: var(--radius-md);
    border: 0;
    background-color: var(--color-white);
    min-height: var(--spacing-10);
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    scrollbar-width: none;
    resize: none;
}

.textarea::placeholder {
    color: var(--color-muted-foreground);
    font-weight: var(--font-weight-medium);
}

.textarea:focus-visible {
    outline: none;
}

.textarea:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

