.deployment-card__row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 48px;
	margin-bottom: 8px;
}

.deployment-card__column-title {
	font-weight: 600;
}

.deployment-card__column {
	display: flex;
	flex-direction: column;
}
