/**
 * "popover" theme for `component/tip`.
 */

// not sure if we need this
.tip-hide {
	opacity: 0;
}

.popover {
	font-size: 11px;
	padding: 10px;
	z-index: z-index( 'root', '.popover' );
	position: absolute;
	/* default offset for edge-cases: https://github.com/component/tip/pull/12 */
	top: 0;
	left: 0 #{"/*rtl:ignore*/"};
	right: auto #{"/*rtl:ignore*/"};

	// class coming from `component/tip`
	.tip-inner {
		background-color: $white;
		border: 1px solid lighten( $gray, 20% );
		border-radius: 4px;
		box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.1 ),
			0 0 56px rgba( 0, 0, 0, 0.075 );
		text-align: center;
	}

	// class coming from `component/tip`
	.tip-arrow {
		border: 10px dashed lighten( $gray, 20% );
		height: 0;
		line-height: 0;
		position: absolute;
		width: 0;
		z-index: z-index( '.popover', '.popover .tip-arrow' );
	}

	&.fade {
		transition: opacity 100ms;
	}

	@mixin tip-arrow( $side ) {
		@if $side == "top" {
			$opposite-side: "bottom";
			$cross-side: "left";
			$cross-opposite-side: "right";
		} @else if $side == "bottom" {
			$opposite-side: "top";
			$cross-side: "left";
			$cross-opposite-side: "right";
		} @else if $side == "left" {
			$opposite-side: "right";
			$cross-side: "top";
			$cross-opposite-side: "bottom";
		} @else if $side == "right" {
			$opposite-side: "left";
			$cross-side: "top";
			$cross-opposite-side: "bottom";
		}

		&.tip-#{$side} .tip-arrow,
		&.tip-#{$side}-#{$cross-side} .tip-arrow,
		&.tip-#{$side}-#{$cross-opposite-side} .tip-arrow {
			@mixin shared-between-base-and-before {
				#{$cross-side}: 50% #{"/*rtl:ignore*/"};
				margin-#{$cross-side}: -10px#{"/*rtl:ignore*/"};
				border-#{$side}-style: solid#{"/*rtl:ignore*/"};
				border-#{$opposite-side}: none#{"/*rtl:ignore*/"};
				border-#{$cross-side}-color: transparent#{"/*rtl:ignore*/"};
				border-#{$cross-opposite-side}-color: transparent#{"/*rtl:ignore*/"};
			}

			#{$opposite-side}: 0 #{"/*rtl:ignore*/"};
			@include shared-between-base-and-before;

			&::before {
				#{$opposite-side}: 2px #{"/*rtl:ignore*/"};
				border: 10px solid $white;
				content: " ";
				position: absolute;
				@include shared-between-base-and-before;
			}
		}
	}

	@include tip-arrow( "top" );
	@include tip-arrow( "bottom" );
	@include tip-arrow( "left" );
	@include tip-arrow( "right" );

	&.tip-top-left,
	&.tip-bottom-left,
	&.tip-top-right,
	&.tip-bottom-right {
		padding-right: 0;
		padding-left: 0;
	}

	&.tip-top-left .tip-arrow,
	&.tip-bottom-left .tip-arrow {
		left: auto #{"/*rtl:ignore*/"};
		right: 5px #{"/*rtl:ignore*/"};
	}

	&.tip-top-right .tip-arrow,
	&.tip-bottom-right .tip-arrow {
		left: 15px #{"/*rtl:ignore*/"};
	}

	&.tip-top-left .tip-inner,
	&.tip-bottom-left .tip-inner {
		position: relative;
		left: 10px #{"/*rtl:ignore*/"};
	}

	&.tip-top-right .tip-inner,
	&.tip-bottom-right .tip-inner {
		position: relative;
		left: -10px #{"/*rtl:ignore*/"};
	}

	&.is-dialog-visible {
		z-index: z-index( 'root', 'popover.is-dialog-visible' ); /* Above .dialog */
	}
}

.popover__menu {
	display: flex;
	flex-direction: column;
	min-width: 200px;
}

.popover__menu-item {
	position: relative;
	background: inherit;
	border: none;
	border-radius: 0;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding: 8px 16px;
	text-align: left;
	text-decoration: none;
	line-height: normal;
	transition: all 0.05s ease-in-out;

	&:first-child {
		margin-top: 5px;
	}

	&,
	&:visited {
		color: $gray-dark;
	}

	&:hover,
	&:focus {
		background-color: $blue-medium;
		border: 0;
		box-shadow: none;
		color: white;

		.gridicon {
			color: $white;
		}
	}

	&[ disabled ]:hover,
	&[ disabled ]:focus {
		background: transparent;
		cursor: default;
	}

	&:last-child {
		margin-bottom: 5px;
	}

	&::-moz-focus-inner {
		border: 0;
	}

	// Menu Items with Icons
	&.has-icon {
		padding-left: 42px;
	}

	// with gridicons
	.gridicon {
		color: lighten( $gray, 10 );
		vertical-align: bottom;
		margin-right: 8px;
	}
}

.popover__menu-separator,
.popover__hr {
	margin: 8px 0;
	background: lighten( $gray, 30 );
}
