.import-preview__card {
	max-width: 360px;
	padding: rem( 16px );
	border-radius: 2px;

	.button {
		display: block;
		min-width: rem( 200px );
		margin: 0 auto;
	}

	.importer__service-icon {
		align-self: flex-start;
		object-fit: contain;
		min-width: 48px;
		width: 48px;
		height: 48px;
		border-radius: 0;
	}
}

.import-preview__header {
	display: flex;
	margin-bottom: 1.5em;
}

.import-preview__header-text {
	flex: 1 1 auto;
}

.import-preview__title {
	font-weight: 600;
}

.import-preview__url {
	font-size: $font-body-extra-small;
	color: var( --color-neutral-40 );
}

.import-preview__supported {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: auto;
	list-style: none;
}

.import-preview__supported-item {
	width: 50%;
	margin-bottom: 0.5em;
	font-size: rem( 14px );
}

.import-preview__checkmark {
	float: left;
	color: var( --color-success );
	vertical-align: middle;
}

.import-preview__supported-text {
	margin-left: rem( 26px );
}

.import-preview__unsupported {
	margin-top: 1.5em;
	font-size: rem( 14px );
	color: var( --color-neutral-40 );
	text-align: center;
}
