.get-apps__title {
	font-size: 24px;
	font-family: $serif;
	font-weight: 700;
	line-height: 32px;
	margin-bottom: 8px;

	@include breakpoint( ">480px" ) {
		margin-top: 24px;
	}
}

.get-apps__subheading {
	max-width: 500px;
	margin: 16px auto;
}

.get-apps__app {
	text-align: center;
	float: left;
}

.get-apps__app-icon {
	width: 96px;
	height: 96px;
	margin: 0 auto 16px auto;
	border-radius: 8px;
	background: lighten( $gray, 20% );
}

.get-apps__app {
	width: 100%;
	margin-bottom: 24px;
}

.get-apps__desktop .get-apps__app {
	@include breakpoint( ">480px" ) {
		width: 33%;
		margin-bottom: 0;
	}
}

.get-apps__mobile .get-apps__app {
	a img {
		width: auto;
		height: 40px;
	}

	@include breakpoint( ">480px" ) {
		width: 50%;
		margin-bottom: 0;
	}	
}