.checkout__domain-details-form-submit-button {
	clear: both;
}

.checkout__privacy-protection-checkbox {
	&.card {
		display: flex;
	}

	.gridicon {
		display: none;

		@include breakpoint( ">660px" ) {
			background: darken( $gray, 20% );
			border-radius: 50%;
			color: $white;
			display: block;
			padding: 15px;
		}
	}
}

.privacy-protection-checkbox__description {
	font-size: 13px;
	padding-left: 16px;

	@include breakpoint( ">660px" ) {
		padding-right: 48px;
	}
}

.checkout__privacy-protection-checkbox-heading {
	font-size: 15px;
}

.checkout__privacy-protection-checkbox-text {
	color: $gray;
	font-style: italic;
	margin: 4px 0 0 0;
}
