@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.dev-tools-overview {
	.hosting-dashboard-layout__body-wrapper {
		max-width: unset;
		padding-inline: 0;
		margin: 0;
	}
}

.dev-tools-overview__intro {
	@include body-large;
	max-width: 650px;
	padding: 32px 16px 0;

	@include break-medium {
		padding: 32px 64px 0;
	}
}

.dev-tools-overview__description {
	@include body-large;
}
