.term-form-dialog {
	max-height: 100%;
	overflow-y: auto;
}

.term-form-dialog .dialog__content {
	min-width: 40vw;
}

.term-form-dialog .form-input-validation {
	padding-bottom: 0;
}

@include breakpoint( "<660px" ) {
	.term-form-dialog {
		width: 90%;
	}

	.term-form-dialog .dialog__content {
		min-width: none;
	}
}

.term-form-dialog textarea {
	resize: vertical;
}
