.gifting-checkout-banner {
	margin: 0 auto 32px;
	height: 154px;
	width: 905px;
	background: url(calypso/assets/images/gifting/gifting-checkout-banner.jpg) no-repeat top left;
	background-size: 905px 154px;
}
