@import './style/base.scss';

.signup.is-importer {
	.import__onboarding-page {
		@include onboarding-block-margin;
	}

	// Navigation
	.step-wrapper {
		max-width: initial !important;
	}

	.step-wrapper__navigation {
		.step-wrapper__navigation-link.forward {
			border: none;
			background: none;
			text-decoration: underline;
			color: var( --studio-gray-100 );
			box-shadow: none;
			margin-left: 0;
		}
	}
}
