/** @format */

.daily-post-button .daily-post-button__button.button.is-primary {
	background: none;
	border: 0;
	color: $blue-medium;
	font-size: 14px;
	line-height: normal;
	margin: 9px 0 6px;
	padding: 0;

	.gridicon {
		fill: $blue-medium;
		height: 20px;
		margin-top: 0;
		margin-right: 5px;
		width: 20px;
	}
}
