:root {
	--color-wpcom: #{$muriel-blue-500};

	--color-jetpack-light: #{$muriel-jetpack-green-200};
	--color-jetpack: #{$muriel-jetpack-green-300};
	--color-jetpack-400: #{$muriel-jetpack-green-400};
	--color-jetpack-dark: #{$muriel-jetpack-green-500};
	--color-jetpack-onboarding-text: #{$muriel-white};
	--color-jetpack-onboarding-background: #1d232f;

	--color-woocommerce: #{$muriel-woo-purple-500};

	--color-email: #f8f8f8;
	--color-eventbrite: #ff8000;
	--color-facebook: #39579a;
	--color-gplus: #df4a32;
	--color-instagram: #d93174;
	--color-linkedin: #0976b4;
	--color-pinterest: #cc2127;
	--color-pocket: #ee4256;
	--color-print: #f8f8f8;
	--color-reddit: #5f99cf;
	--color-skype: #00aff0;
	--color-stumbleupon: #eb4924;
	--color-telegram: #0088cc;
	--color-tumblr: #35465c;
	--color-twitter: #55acee;
	--color-whatsapp: #43d854;
	--color-wordpress-org: #585c60;

	--color-podcasting: #9b4dd5;
}
