@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.overview__contact-support-button {
	width: 100%;
}

// Zendesk Chat Button
iframe#launcher {
	right: 24px !important;

	@include break-wide() {
		bottom: 24px !important;
	}
}

// Zendesk Chat Window
iframe[title="Messaging window"] {
	margin-right: 12px;

	@include break-wide() {
		margin-bottom: 8px;
	}
}
