body.wp-admin.agents-manager-sidebar-container--sidebar-open:not(.modal-open) {
	&:is([class*="jetpack_page_"], .toplevel_page_jetpack, .tools_page_advertising) {
		#wpwrap {
			background-color: inherit;
			position: inherit;
		}

		#wpbody {
			padding-left: 0;
		}
	}
}
