.upgrade_nudge-expanded {
	display: flex;
	flex-direction: column-reverse;

	@include breakpoint( ">960px" ) {
		flex-direction: row;
	}

	.upgrade_nudge-expanded__description {
		margin-bottom: 20px;

		@include breakpoint( ">960px" ) {
			margin-bottom: 0;
			width: 50%;
		}
	}

	.upgrade_nudge-expanded__business-plan-card {
		.plan-compare-card {
			width: 100%;
		}

		@include breakpoint( ">960px" ) {
			width: 50%;

			.plan-compare-card {
				width: 90%;
			}
		}
	}

	.upgrade_nudge-expanded__title {
		color: $blue-wordpress;
		display: flex;
		margin-bottom: 10px;
	}

	.upgrade_nudge-expanded__title-plan {
		width: 56px;
		height: 56px;
		border: solid 2px $border-ultra-light-gray;
		border-radius: 50%;
		align-self: center;
	}

	.upgrade_nudge-expanded__title-plan-icon {
		width: 54px;
		height: 54px;
		margin: 1px;
		background: url('/calypso/images/plans/plan-business.svg') no-repeat;
	}

	.upgrade_nudge-expanded__title-message {
		font-size: 22px;
		margin: 0 0 0 10px;
	}

	.upgrade_nudge-expanded__subtitle {
		margin-bottom: 10px;
	}

	.upgrade_nudge-expanded__features {
		list-style: none;
		margin: 0;
	}

	.upgrade_nudge-expanded__feature-item {
		display: flex;
		margin-bottom: 10px;
	}

	.upgrade_nudge-expanded__feature-item-checkmark {
		color: $blue-wordpress;
		flex: 0 0 auto;
		margin-right: 5px;
	}
}
