@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.videos-ui .videos-ui__onboarding-footer-bar {
	display: flex;
	padding: 0;

	.videos-ui__draft-first-post-link {
		text-decoration: underline;
	}
}

.videos-ui .videos-ui__onboarding-footer-bar.videos-ui__course-completed {
	display: flex;
	margin: auto;
	max-width: 1160px;

	.videos-ui__button {
		min-width: 136px;
	}

	p {
		font-size: $font-body;
		margin: 0;
		display: none;
		overflow: hidden;
	}

	.videos-ui__draft-first-post-link {
		display: none;
	}
}

@include break-small {
	.videos-ui .videos-ui__onboarding-footer-bar {
		display: none;
		.videos-ui__back-button {
			display: none;
		}
	}
	.videos-ui .videos-ui__onboarding-footer-bar.videos-ui__course-completed {
		p {
			display: block;
			margin-right: 20px;
		}
	}
}
