@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.videos-ui .videos-ui__onboarding-header-bar {
	.videos-ui__back-link,
	.videos-ui__draft-first-post-link {
		display: none;
	}
	.videos-ui__back-link {
		margin-left: 24px;
	}
	.videos-ui__draft-first-post-link {
		text-decoration: underline;
	}
	@include break-small {
		.videos-ui__back-link,
		.videos-ui__draft-first-post-link {
			display: inherit;
		}
	}
}
