.videos-ui__header-links {
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: $font-body-small;

    div,
    a {
        display: flex;
        color: #fff;
        align-items: center;
    }

    .videos-ui__back-link {
        margin-left: 24px;
    }

    .videos-ui__bar {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .videos-ui__bar-skip-link {
            text-decoration: underline;
        }
    }
}