@import '~@wordpress/base-styles/colors';
@import '~@wordpress/base-styles/mixins';
@import '~@wordpress/base-styles/variables';
@import '~@wordpress/base-styles/z-index';

.wpcom-editor-welcome-tour-container {
	background-color: $white;
	border-radius: 4px;
	bottom: 40px;
	display: inline;
	left: 40px;
	position: fixed;
}

.welcome-tour-card__heading,
.welcome-tour-card__subheading {
	font-size: $big-font-size;
	padding: $grid-unit-05 $grid-unit-20;
}

.wpcom-editor-welcome-tour__resume-btn {
	border-radius: 4px;
	box-shadow: 0px 2px 6px rgba( 60, 66, 87, 0.08 ), 0px 0px 0px 1px rgba( 60, 66, 87, 0.16 ),
		0px 1px 1px rgba( 0, 0, 0, 0.08 );
	background-color: $white;
	color: $black;

	&.components-button {
		height: 44px;
	}
}

.wpcom-editor-welcome-tour-card-frame {
	position: relative;

	// TODO update markup/css  if this isn't ok
	.components-guide__page-control {
		bottom: 0;
		left: 16px;
		position: absolute;
	}
}

.welcome-tour-card {
	max-width: 400px;
	.components-card__footer {
		border-top: none;
	}
}

.welcome-tour-card__overlay-controls {
	left: 0;
	padding: 12px;
	position: absolute;
	right: 0;
	.components-button {
		background: $dark-gray-700;
	}
}

.welcome-tour-card__next-btn {
	margin-left: 10px;
}
