@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.hosting-overview-features {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 48px;
	row-gap: 32px;

	@include break-large {
		grid-template-columns: 1fr 1fr;
	}
}

.hosting-overview-features__item {
	display: flex;
	flex-direction: row;
	gap: 32px;
	align-items: center;

}

.hosting-overview-features__item-icon {
	min-width: 48px;
	height: 48px;
	fill: var(--color-primary-40);
}

.hosting-overview-features__item-content {
	flex-grow: 1;
}

.hosting-overview-features__item-title {
	font-size: rem(18px);
	line-height: 1.4;
	font-weight: 500;
	margin-block-end: 8px;
}

.hosting-overview-features__item-description {
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
}
