@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@wordpress/base-styles/variables";

.hosting-overview-features {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;

	@include break-large {
		column-gap: 48px;
		row-gap: 32px;
		grid-template-columns: 1fr 1fr;
	}
}

.hosting-overview-features__item {
	display: flex;
	flex-direction: row;
	gap: 32px;
	align-items: center;
}

.hosting-overview-features__item-icon {
	min-width: 48px;
	height: 48px;
	fill: var(--color-primary-40);
}

.hosting-overview-features__item-content {
	flex-grow: 1;
}

.hosting-overview-features__item-title {
	@include heading-large;
	margin-block-end: 8px;
}

.hosting-overview-features__item-description {
	@include body-large;
}
