.cancel-purchase__card {
	h2 {
		color: $gray-dark;
		font-size: 21px;
		font-weight: 200;
		margin-bottom: 20px;
	}

	p {
		color: darken( $gray, 10% );
		font-size: 14px;
	}

	hr {
		background: $gray-light;
	}
}

.cancel-purchase__content {
	margin: 0;
	padding: 0 0 10px 0;

	@include breakpoint( ">660px" ) {
		width: 55%;
	}

	p {
		color: darken( $gray, 5% );
		display: block;
		font-size: 13px;
		line-height: 150%;
		margin-top: 5px;
	}

	hr {
		margin: 18px 0;
	}
}

.cancel-purchase__product-information .product-link {
	font-size: 14px;
}

.cancel-purchase__purchase-name {
	font-size: 16px;
	font-weight: 600;
}

.cancel-purchase__refund-information,
.cancel-purchase__support-information {
	font-size: 14px;
}

.cancel-purchase__site-title {
	font-size: 12px;
	text-transform: uppercase;
}

.cancel-purchase__section {
	color: darken( $gray, 20% );
	margin: 0;
}

.cancel-purchase__section-header {
	display: block;
	font-size: 16px;
	font-weight: 400;
}

.cancel-purchase__footer {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&:after {
		display:none;
	}
}

.cancel-purchase__refund-amount {
	color: $alert-green;
	font-size: 14px;
	margin: 0;
	padding: 0 10px 5px 0;
}

.cancel-purchase__button {
	@include breakpoint( "<660px" ) {
		width: 100%;
	}
}

.cancel-purchase-loading-placeholder__cancel-button {
	width: 30%;
}

.cancel-purchase-loading-placeholder__header {
	height: 36px;
	margin-bottom: 15px;
	width: 70%;
}

.cancel-purchase-loading-placeholder__reason {
	height: 12px;
	margin-bottom: 5px;
	width: 60%;
}

.cancel-purchase-loading-placeholder__subheader {
	height: 24px;
	margin-bottom: 10px;
	width: 50%;
}

.cancel-purchase__button-warning-dialog {
	max-width: 472px;
}
