<phpunit
	bootstrap="./bin/phpunit-bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Full Site Editing">
			<directory suffix="-test.php">./full-site-editing/tests/*</directory>
		</testsuite>
	</testsuites>
</phpunit>
