$mastodon-preview-width: 578px;
$mastodon-preview-text-color: #444b5d;
$mastodon-body-text-color: #000;
$mastodon-preview-background-color: #fff;
$mastodon-preview-font-family: "mastodon-font-sans-serif",sans-serif;
$mastodon-preview-accent-color: #3a3bff;
$mastodon-ui-text-color: #525a71;
