@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@automattic/typography/styles/variables";

$font-family: "SF Pro Text", $sans;

.pattern-assembler__preview {
	aspect-ratio: 3/4;
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	transition: all 0.2s;
	user-select: none;

	&.pattern-assembler__preview--fullscreen {
		cursor: pointer;
		position: relative;
		z-index: 1;

		&::before {
			background-color: rgba(var(--color-neutral-70-rgb), 0.8);
			bottom: 0;
			content: "";
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
		}

		&.pattern-assembler__preview--fullscreen-enter,
		&.pattern-assembler__preview--fullscreen-leave {
			.pattern-assembler__preview-frame {
				transition: all 0.2s;
			}
		}

		.pattern-assembler__preview-frame {
			--fullscreen-x-px: calc(50vw - calc(var(--fullscreen-x, 0) * 1px));
			--fullscreen-y-px: calc(50vh - calc(var(--fullscreen-y, 0) * 1px));
			--scale: 1.6;

			box-shadow:
				0 9.95778px 9.95778px 0 rgba(0, 0, 0, 0.02),
				0 21.57518px 16.59629px 0 rgba(0, 0, 0, 0.03);
			cursor: default;
			transform: translate(var(--fullscreen-x-px), var(--fullscreen-y-px)) scale(var(--scale));
			transition: none;

			@include break-medium {
				--scale: var(--fullscreen-scale, 1.8);
			}

			&:hover {
				background-color: #f8f8f8;
				border-color: #f8f8f8;
			}

			&-content {
				overflow-y: scroll;
			}
		}

		.pattern-assembler__preview-title {
			opacity: 0;
		}
	}

	.pattern-assembler__preview-container {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	.pattern-assembler__preview-frame {
		background-color: #f8f8f8;
		border: 10px solid #f8f8f8;
		border-radius: 13px;  /* stylelint-disable-line scales/radii */
		box-shadow:
			0 5.25469px 5.25469px 0 rgba(0, 0, 0, 0.02),
			0 11.38516px 8.75781px 0 rgba(0, 0, 0, 0.03);
		cursor: pointer;
		flex: 1;
		min-height: 350px;
		overflow: hidden;
		position: relative;
		transition: all 0.2s ease;

		&:hover {
			background-color: #ebebeb;
			border-color: #ebebeb;
		}

		&:focus-visible {
			outline: 2px solid var(--color-primary-light);
		}

		&-content {
			background: var(--page-preview-background, #f8f8f8);
			border-radius: 8.758px;  /* stylelint-disable-line scales/radii */
			bottom: 0;
			left: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			user-select: none;

			/**
			 * Hides the scrollbar to avoid the layout keeps changes forever
			 * See https://github.com/Automattic/wp-calypso/issues/78357.
			 */
			scrollbar-width: none;
			&::-webkit-scrollbar {
				display: none;
			}

			@include break-huge {
				overflow-y: scroll;
			}
		}
	}

	.pattern-assembler__preview-title {
		color: var(--studio-gray-100);
		font-family: $font-family;
		font-size: $font-body-large;
		line-height: 26px;
		margin-inline-end: 10px;
		margin-inline-start: 10px;
		margin-top: 16px;
	}
}
