:root {
	--scss-font-title-small: #{$font-title-small};
	--scss-font-body: #{$font-body};
	--scss-font-body-small: #{$font-body-small};
	--scss-font-body-extra-small: #{$font-body-extra-small};
}

.card-block {
	text-decoration: none;
}