// Mockup wrap
.site-mockup__wrap {
	margin: auto;
	padding: 0 16px;
	transition: max-width 0.2s ease-in-out;

	// This is temporary until we reduce the vertical
	// and info steps down to a single row.
	// position: relative;
	// z-index: 1000000; // Yea yea, I know... -shaun

	// Side by side layout uses flexbox to show
	// both mockups next to each other.
	@include breakpoint( '>960px' ) {
		padding: 16px;
		max-width: 1200px;
		display: flex;
		align-items: flex-start;

		.site-mockup__viewport.is-desktop {
			margin-right: 16px;

			// Forces the desktop preview to take up
			// all available horizontal space.
			flex-grow: 1;
		}
	}

	// Grouped layout shows a fixed-height mobile mockup
	// overlaid on top of the desktop mockup.
	// ==Currently not used
	@include breakpoint( '660px-960px' ) {
		position: relative;

		.site-mockup__viewport.is-mobile {
			position: absolute;
			top: 40px;
			right: 8px;
			box-shadow: 0 0 0 1px $gray, 0 4px 12px 0 rgba( 0, 0, 0, 0.3 );

			.site-mockup__body {
				height: 500px;
			}
		}
	}

	// Only show the mobile view at small
	// breakpoints.
	@include breakpoint( '<660px' ) {
		padding: 0 10px;

		.site-mockup__viewport.is-desktop {
			display: none;
		}

		.site-mockup__viewport.is-mobile {
			width: auto;
			margin: 15px auto;
			max-width: 380px;
		}
	}
}

// The mockups themselves, both mobile
// and desktop variants.
.site-mockup__viewport {
	margin: 0 auto;
	background: $white;
	position: relative;
	box-shadow: 0 0 0 1px $gray;
	transition: all 0.2s cubic-bezier( 0.175, 0.885, 0.32, 1.275 );

	// Hide the mockups until we have vertical
	// data to show.
	.is-empty & {
		opacity: 0;
		transform: translateY( 200px );
	}

	&.is-desktop {
		border-radius: 4px;
		height: 100%;
	}

	&.is-mobile {
		border-radius: 12px;
		width: 280px;
		transition-delay: 0.2s;
	}

	// Default, radcliffe-2 style variations
	// The following styles are placeholders only.
	&.is-business {
		&.is-default {
		}

		&.is-modern {
			.site-mockup__body {
				background-color: #eee;
			}
		}

		&.is-vintage {
			.site-mockup__body {
				background-color: #eae8dc;
			}
		}

		&.is-colorful {
			.site-mockup__body {
				background-color: #c9fffd;
			}
		}
	}
}
