.list-management-tags {
	.reader-list-item__icon {
		.gridicon {
			top: 0;
			height: 24px;
			width: 24px;
			padding: 10px;
		}
	}

	.reader-list-item__title, .reader-list-item__card.is-placeholder .reader-list-item__title {
		margin-top: 8px;
		margin-bottom: 8px;
	}
}

.list-management-description-edit {
	.notice {
		margin-bottom: 12px;
	}
}