.connect-branch__fields {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 16px;

	.select-dropdown__header {
		height: 40px;
	}
}

.connect-branch-card .form-fieldset {
	margin-bottom: 0;
}

.connect-branch__organization {
	display: flex;
	align-items: center;
}

.connect-branch__profile-picture {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-right: 8px;
}

.connect-branch__field {
	max-width: 100%;
	width: 100%;

	.select-dropdown__container {
		width: 100%;
	}
}

@media ( max-width: 860px ) {
	.connect-branch__fields {
		flex-direction: column;
	}
	.connect-branch__buttons {
		flex-direction: column;
	}
}

.connect-branch__repository-field .suggestions {
	position: absolute;
}

.connect-branch__repository-field {
	.spinner {
		right: 10px;
		width: unset !important;
		left: unset;
	}
	input {
		padding-left: 14px !important;
		padding-right: 42px;
	}
}

.connect-branch__buttons {
	margin-top: 32px;
}

.connect-branch-card .form-setting-explanation {
	margin-bottom: 20px;
	margin-top: 5px;
}

.spinner.connect-branch__loading {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 40px !important;
}
