/*rtl:ignore*/

.social-buttons__button {
	width: 100%;

	svg {
		margin-top: -2px;

		&.disabled {
			display: none;
		}
	}
}

.google__one-tap-loading {
	position: absolute;
}

.google__one-tap-sign-in-container {
	min-height: 62px;
}

.google__one-tap-sign-in-container iframe {
	transform-origin: top left;
}

.social-buttons__service-name {
	margin-left: 9px;
}

.social-buttons__error {
	.popover__inner {
		padding: 10px;
		max-width: 200px;
	}
}
