/*rtl:ignore*/

.social-buttons__button {
	width: 100%;

	svg {
		margin-top: -2px;

		&.disabled {
			display: none;
		}
	}
}

.google__sign-in-container:has(iframe[style*="width: 2"]) {
	transform: scale(1.5);
	transform-origin: top left;
	margin-bottom: 20px;
}

.social-buttons__service-name {
	margin-left: 9px;
}

.social-buttons__error {
	.popover__inner {
		padding: 10px;
		max-width: 200px;
	}
}
