.importer__importing-pane {
	h2 + p {
		margin-top: -10px;
	}

	.importer__import-progress {
		margin: 60px;

		.importer__import-progress-bar {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
			width: 160px;
			height: 5px;
			border-radius: 3px;
		}

		p {
			text-align: center;
		}
	}

	.importer__status-message {
		font-size: $font-body-small;
		color: var(--color-text-subtle);
		text-align: center;
		margin: 3em 0;
	}
}
