.site-boost-column__extra-button {
	margin-block-start: 1rem;
	margin-block-end: 0;
	width: 100%;
	padding: 10px 16px;
}

.site-boost-column__notice {
	padding: 12px 6px;
	font-size: rem(14px);

	a {
		color: var(--studio-black);
		text-decoration: underline;
		font-weight: 600;
	}
}
