
// The Emergent Paywall loads in an iframe, so we can't adjust its internal styles
// with the primary Calypso stylesheet. This file is bundled as a separate CSS file to be
// linked from inside the iframe.
//
// Emergent requires that all custom CSS files exist at a public web address
// So the CSS files Directlyhard-set to:
//
// Sandbox:    https://wpcalypso.wordpress.com/calypso/emergent-paywall.css
// Production: https://wordpress.com/calypso/emergent-paywall.css
//
// ## DEVELOPMENT ENVIRONMENT INSTRUCTIONS:
//
// To see local CSS changes you'll need to
// make your browser rewrite those CSS URLs to the local version:
//
// https://.wordpress.com/calypso/emergent-paywall.css -> http://calypso.localhost:3000/calypso/emergent-paywall.css
//
// You can accomplish this using a browser extension such as Switcharoo Redirector
// for Chrome: https://chrome.google.com/webstore/detail/switcheroo-redirector/cnmciclhnghalnpfhhleggldniplelbg
//
// An unfortunate side-effect is that the widget's iframe src is https, but this local
// CSS file is http. So most browsers will block the CSS by default to prevent mixed
// content. In order to see the custom CSS you will need to temporarily allow insecure
// content on the page. In Chrome for Mac you can issue this Terminal command:
//
// open -a Google\ Chrome --args --allow-running-insecure-content
//
// QUIT AND RESTART YOUR BROWSER NORMALLY WHEN YOU'RE DONE MAKING LOCAL CSS CHANGES.

@import 'shared/mixins/mixins';
@import 'shared/colors';
@import 'shared/extends-forms';
@import 'shared/forms';
@import 'shared/typography';
@import 'shared/functions';

* {
	font-family: $sans;
}

body {
	color: $gray-dark;
	-webkit-font-smoothing: subpixel-antialiased;
}

html,
input,
select,
textarea {
	font-family: $sans;
}

.html-iframe body {
	display: block;
}

.body-hosted {
	min-width: auto; // we allow it to grow for embedded off site iframe
	width: 100%;
	min-height: 100px;
	border: none;
	background-color: $white;

	.header {
		display: none;
	}

	a,
	a:visited {
		color: $blue-wordpress;
		text-decoration: none;
	}

	a:hover,
	a:focus,
	a:active {
		color: $link-highlight;
	}

	// Seen in the 2nd step, displays the payment method type
	.header2,
	.method-header {
		margin: 0 0 20px;

		strong,
		span {
			font-size: 24px !important;
			font-weight: 300;
		}

		img {
			max-height: 20px;
			margin-left: 10px;
		}
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 10px;

		.btn-tile-cont {
			flex: 1 0 40%;
			box-sizing: border-box;
			border-radius: 5px;
			border: 1px solid $gray;
			margin: 10px;

			.btn-tile {
				text-align: center;
				cursor: pointer;
				margin: 10px 0;

				.btn-tile-aggregates {
					overflow: hidden;
					height: 70px;
					margin-bottom: 15px;

					img {
						object-fit: contain;
						padding: 3px 1px;
						margin: 1px;
						width: 80px;
						height: 28px;
					}
				}

				.btn-tile-footer {
					font-size: 14px;
					text-transform: capitalize;
					font-weight: 500;
				}
			}

			&:hover {
				transition: all 150ms ease-in-out;
				border-color: $gray-darken-20;
			}
		}

		@include breakpoint( '<480px' ) {
			height: auto;

			.btn-tile-cont {
				flex: 100%;
				height: auto;
				padding: 4px;
				margin: 0 auto 25px;

				.btn-tile {
					.btn-tile-aggregates {
						max-height: 70px;
						height: auto;
						margin-bottom: 10px;
					}

					.btn-tile-footer {
						font-size: 16px;
					}
				}
			}
		}
	}

	.checkbox,
	div[ng-show='updateAddressCheckbox'] {
		clear: both;
		text-align: left;
		font-size: 14px;

		input {
			margin-right: 8px;
			height: 14px;
		}
	}

	.content {
		form {
			margin-bottom: 15px;

			div[simple-template='link-instrument'] {
				.display-icons {
					//Move the CC brands icons to the right of the cardNumber field
					position: absolute;
					top: 6px;
					left: 250px;

					.radio-highlight {
						display: inline-block;
						padding: 4px;

						&[title='rupayDebit'] {
							margin-right: 6px;
						}

						&[title='masterCardDebit'] {
							margin: 0 -10px;
						}

						img {
							height: 20px;
						}

						@include breakpoint( '<480px' ) {
							img {
								height: 10px;
							}
						}
					}
				}
			}

			div[simple-template='link-expiration'] {
				display: inline-flex;
				margin: 0 20px 5px 0;
				position: relative;
				top: -25px;

				// Hide a couple of empty fields on the card form so that the CVV can be next to the expiration
				~ div[simple-replace="{FIELD:'expirationMonth'}"] {
					display: none;
				}

				~ div[simple-replace="{FIELD:'expirationYear'}"] {
					display: none;
				}
			}

			div[simple-template='link-security-code'] {
				position: relative;
				top: -25px;
				margin-bottom: -5px;
			}

			div[simple-template='link-security-code'],
			div[simple-template='link-billToCity-and-billToPostalCode'],
			div[simple-template='link-province'] {
				display: inline-flex;
			}

			.form-group {
				margin: 5px 0 10px;

				label {
					display: block;
					font-size: 14px;
					font-weight: 600;
					margin-bottom: 5px;

					// Labels are lowercase.
					&::first-letter {
						text-transform: capitalize;
					}
				}

				&.select-inline {
					select {
						display: inline-block;
						min-width: 100px;
					}
				}

				.form-control {
					margin: 0;
					padding: 7px 14px;
					color: $gray-dark;
					font-size: 16px;
					line-height: 1.5;
					border: 1px solid $gray-lighten-20;
					background-color: $white;
					transition: all 150ms ease-in-out;
					box-sizing: border-box;

					&[name='accountHolder'],
					&[name='email'],
					&[name='document'],
					&[name='companyName'],
					&[name='billToStreetAddress'],
					&[name='billToStreetAddress2'] {
						width: 100%;
					}

					&[name='creditCardNumber'] {
						width: 310px;
					}

					&[name='billToCity'] {
						width: 300px;
						margin-right: 20px;
					}

					&[name='pin'] {
						width: 120px;
						margin-right: 20px;
					}
				}

				.ui-select-match > .form-control {
					min-height: 38px;
				}

				// Error label below each field
				.text-danger {
					color: $alert-red;
					margin: 0;
					padding: 4px 0;
				}
			}

			// Bottom block of text displayed when there are errors
			.alert-warning {
				margin-top: 30px;

				ul {
					list-style: disc;
					font-size: 12px;
					padding: 10px;
					margin-left: 20px;
				}
			}

			// Separator after the form fields
			.row-apart {
				height: 20px;
			}
		}

		// Back link
		a.btn-block {
			float: right;
			color: $blue-wordpress;
			cursor: pointer;
			margin-top: 16px;

			&:hover {
				color: mix( white, $blue-medium, 20 );
			}
		}

		// Buy/continue/resend OTP button
		button.btn-block,
		div[simple-template='link-password'] a.text-capitalize {
			text-transform: capitalize;
			background: $white;
			border-color: $gray-lighten-20;
			border-style: solid;
			border-width: 1px 1px 2px;
			color: $gray-dark;
			cursor: pointer;
			display: inline-block;
			margin: 0;
			outline: 0;
			overflow: hidden;
			font-weight: 500;
			text-overflow: ellipsis;
			text-decoration: none;
			vertical-align: top;
			box-sizing: border-box;
			font-size: 14px;
			line-height: 21px;
			border-radius: 4px;
			padding: 7px 14px 9px;
			appearance: none;

			&:hover {
				border-color: $gray-lighten-10;
			}

			&.btn-primary {
				background: $blue-medium;
				border-color: darken( $blue-medium, 8% );
				color: $white;

				&:hover {
					border-color: $blue-dark;
				}
			}
		}

		// Used to notify the user about enabling pop-ups
		.alert-info {
			margin-bottom: 20px;
		}

		// "Link your wallet"
		h2 {
			font-size: 20px;
			font-weight: 300;
		}

		form[ng-init='link=page.links.customerFormSubmit'] {
			// Back button on initial page load
			a.btn {
				display: none;
			}
		}
	}

	.content-alerts .alert {
		border: 1px solid lighten( $gray, 25% );
		font-size: 14px;
		margin-right: 0;
		border-radius: 8px;
		background: $alert-yellow;
		border-color: transparent;
		color: $white;
		a {
			color: $white;
		}
	}

	.footer {
		margin-top: 10px;
		background-color: $white;
		border: none;
		border-top: 1px solid $gray-light;

		.footer-inner {
			padding-bottom: 10px;
			text-align: center;
			font-size: 11px;

			.logo {
				display: none;
			}

			// Hide external billing support link.
			a:last-child {
				display: none;
			}

			a:nth-of-type( 2 )::after {
				position: relative;
				right: -4px;
				background: #fff;
				content: ' ';
			}
		}
	}

	.open > ul.display-none {
		display: none;
	}
}

.busy-container {
	text-align: center;
	margin: 0 auto;
	.busy-text {
		display: none;
	}
}

@keyframes rotate-spinner {
	100% {
		transform: rotate( 360deg );
	}
}

div[ng-show='busyIndicator'] {
	display: flex;
	align-items: center;
}

.busy-indicator,
.less-busy-indicator,
.less-busy-indicator::after,
.busy-indicator::after {
	display: block;
	margin: auto;
	box-sizing: border-box;
	border: 0.1em solid transparent;
	border-radius: 50%;
	animation: 3000ms linear infinite;
	animation-name: rotate-spinner;
}

.busy-indicator,
.less-busy-indicator {
	border-top-color: $blue-medium;
	width: 35px;
	height: 35px;
}

.busy-indicator::after,
.less-busy-indicator::after {
	content: '';
	width: 100%;
	height: 100%;
	border-top-color: $blue-medium;
	border-right-color: $blue-medium;
	opacity: 0.4;
}

/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.19.8 - 2017-04-18T05:43:43.881Z
 * License: MIT
 */

.ui-select-container {
	position: relative;

	.form-control {
		display: block;
	}
}

.display-icons-native {
	display: none;
}

/* Style when highlighting a search. */
.ui-select-highlight {
	font-weight: bold;
}

.ui-select-offscreen {
	clip: rect( 0 0 0 0 ) !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	outline: 0 !important;
	left: 0 !important;
	top: 0 !important;
}

.ui-select-choices-row:hover {
	background-color: $gray-light;
}

/* Bootstrap theme */

.ui-select-bootstrap .ui-select-toggle {
	position: relative;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
	position: absolute;
	height: 10px;
	top: 50%;
	right: 10px;
	margin-top: -2px;
}

/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
	/* Instead of relative */
	position: static;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
	border-radius: 4px; /* FIXME hardcoded value :-/ */
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
	border-radius: 4px !important; /* FIXME hardcoded value :-/ */
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.ui-select-bootstrap .ui-select-search-hidden {
	opacity: 0;
	height: 0;
	min-height: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.ui-select-bootstrap > .ui-select-match > .btn {
	/* Instead of center because of .btn */
	text-align: left !important;
}

.ui-select-bootstrap > .ui-select-match > .caret {
	position: absolute;
	top: 45%;
	right: 15px;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices {
	width: 100%;
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
	margin-top: -1px;
	background: $white;
	position: relative !important;
	top: 0 !important;
	border: 1px solid $gray-lighten-20;
}

.ui-select-bootstrap > .ui-select-no-choice {
	display: none;
}

body > .ui-select-bootstrap.open {
	z-index: 1000; /* Standard Bootstrap dropdown z-index */
}

.ui-select-multiple.ui-select-bootstrap {
	height: auto;
	padding: 3px 3px 0;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
	background-color: transparent !important; /* To prevent double background when disabled */
	border: none;
	outline: none;
	height: 1.666666em;
	margin-bottom: 3px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
	font-size: 1.6em;
	line-height: 0.75;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
	outline: 0;
	margin: 0 3px 3px 0;
}

.ui-select-multiple .ui-select-match-item {
	position: relative;
}

.ui-select-multiple .ui-select-match-item.dropping .ui-select-match-close {
	pointer-events: none;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-before::before {
	content: '';
	position: absolute;
	top: 0;
	right: 100%;
	height: 100%;
	margin-right: 2px;
	border-left: 1px solid #428bca;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-after::after {
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	height: 100%;
	margin-left: 2px;
	border-right: 1px solid #428bca;
}

.ui-select-bootstrap .ui-select-choices-row > span {
	cursor: pointer;
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.ui-select-bootstrap .ui-select-choices-row > span:hover,
.ui-select-bootstrap .ui-select-choices-row > span:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
	color: #fff;
	text-decoration: none;
	outline: 0;
	background-color: #428bca;
}

.ui-select-bootstrap .ui-select-choices-row.disabled > span,
.ui-select-bootstrap .ui-select-choices-row.active.disabled > span {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
}

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
	display: none !important;
}

/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
	border-color: $alert-red;
}

/* Handle up direction Bootstrap */
.ui-select-container[theme='bootstrap'].direction-up .ui-select-dropdown {
	box-shadow: 0 -4px 8px rgba( 0, 0, 0, 0.25 );
}

.ui-select-bootstrap {
	.ui-select-match-text {
		width: 100%;
		padding-right: 1em;
		span {
			display: inline-block;
			overflow: hidden;

			img {
				margin-left: 10px;
			}
		}
	}

	.ui-select-toggle > a.btn {
		position: absolute;
		height: 10px;
		right: 10px;
		margin-top: -2px;
	}
}

/* Spinner */
.ui-select-refreshing.glyphicon {
	position: absolute;
	right: 0;
	padding: 8px 27px;
}

@-webkit-keyframes ui-select-spin {
	0% {
		-webkit-transform: rotate( 0deg );
		transform: rotate( 0deg );
	}
	100% {
		-webkit-transform: rotate( 359deg );
		transform: rotate( 359deg );
	}
}
@keyframes ui-select-spin {
	0% {
		-webkit-transform: rotate( 0deg );
		transform: rotate( 0deg );
	}
	100% {
		-webkit-transform: rotate( 359deg );
		transform: rotate( 359deg );
	}
}

.ui-select-spin {
	-webkit-animation: ui-select-spin 2000ms infinite linear;
	animation: ui-select-spin 2000ms infinite linear;
}

.ui-select-refreshing.ng-animate {
	-webkit-animation: none 0ms;
}
