.remove-purchase__card {
	color: var( --color-primary );
	text-align: left;
	width: 100%;

	&:active,
	&:focus,
	&:hover {
		color: var( --color-link-dark );
	}

	.gridicons-trash {
		margin-block-start: -2px;
		margin-inline-start: -4px;
		margin-inline-end: 4px;
		vertical-align: middle;
	}
}
