.sidebar__sparkline {
	width: 80px;
	height: 24px;
}

/*
 * Because the sparkline is an image, there's an exception here
 * where specific color schemes are targeted instead of using
 * CSS variables. This ensures that the sparkline can still be
 * seen (as white) on some of the darker color schemes.
 */
.is-classic-blue .sidebar__menu li.stats.selected .sidebar__sparkline,
.is-powder-snow .sidebar__menu li.stats.selected .sidebar__sparkline,
.is-nightfall .sidebar__menu li.stats.selected .sidebar__sparkline {
	filter: brightness( 100 );
	-webkit-filter: brightness( 100 );
}
