@import "@wordpress/base-styles/mixins";
@import "@wordpress/base-styles/breakpoints";
@import "@automattic/onboarding/styles/mixins";

.step-route.site-migration-instructions {
	&:not(:has(> .step-container-v2)) {
		@include onboarding-block-margin;
	}

	.step-container {
		padding: 0 0 60px;

		@include break-large {
			padding: 0;
		}
	}

	@media ( max-width: $break-small ) {
		.launchpad-container__sidebar,
		.launchpad-container__main-content {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.site-migration-instructions__heading .circular__progress-bar {
	position: relative;
	margin-left: 0;
	margin-bottom: 16px;
	@include break-large {
		position: absolute;
		margin-left: 46px;
	}
}

.site-migration-instructions__steps {
	flex: 1;
	margin-bottom: 2.75rem;
}

.site-migration-instructions__container-without-preview {
	margin: 16px;

	@include break-large {
		max-width: 510px;
		margin: 60px auto;
		padding-right: 52px;
	}
}
