@import "@wordpress/base-styles/mixins";

.components-form-toggle.is-checked .components-form-toggle__track {
	background-color: var(--studio-jetpack-green-50);
}

.components-toggle-control .components-base-control__field {
	margin-bottom: 0;
}

.inline-flex-align-centre {
	display: inline-flex;
	align-items: center;
}

.toggle-activate-monitoring__toggle-button {
	@extend .inline-flex-align-centre;
}

.toggle-activate-monitoring__duration {
	@extend .inline-flex-align-centre;
	span {
		margin-inline-start: 1px;
	}
}
