.payment-methods {
	margin-bottom: 40px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;

	div {
		display: inline-block;
	}

	.payment-logo {
		margin-left: 5px;
	}
}

.payment-methods__methods {
	margin-top: 5px;

	@include a8c-breakpoint( '>480px' ) {
		margin-top: 0;
	}
}

.payment-methods__icon {
	margin-right: 3px;
}
