.container {
    display: flex;
    align-items: end;
    gap: var(--spacing);
}

.textareaContainer {
    flex: 1;
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    height: var(--spacing-10);
    gap: var(--spacing);
    align-items: center;
}

.button {
    border-radius: var(--radius-full);
}

.expandButton {
    color: var(--color-muted-foreground);
}

.expandButton:hover:not(:disabled) {
    color: var(--color-foreground);
}