.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-2);
  padding: var(--spacing-2) var(--spacing-1\.5);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.button {
    border-radius: var(--radius-sm);
}