@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.bulk-select {
	display: inline-block;
	.count {
		display: none;
	}
}

.site-bulk-select {
	position: relative;
}

.site-bulk-select__checkbox {
	display: inline-flex;
	align-items: center;
	position: absolute;
	inset-block-start: 50%;
	transform: translateY(-50%);
}

.site-bulk-select__bulk-select-label {
	display: inline-block;
	margin-inline-end: 16px;
	font-size: 0.75rem;
	font-weight: bold;
	margin-inline-start: 20px;
	position: relative;

	span {
		display: none;

		@include breakpoint-deprecated( ">960px" ) {
			display: inline;
		}
	}
}

