@import '@wordpress/base-styles/variables';

.preferences-helper__preference {
	font-size: $font-size-small;
	text-transform: none;
	font-weight: normal;
}

.preferences-helper__preference-content {
	padding-inline-start: $grid-unit-40;

	ul {
		margin: 0;
		padding: 0;

		li {
			margin-bottom: $grid-unit-10;
		}
	}
}

.environment.is-prefs:not(:hover) .preferences-helper__preferences {
	display: none;
}

.environment.is-prefs:hover .preferences-helper__preferences {
	display: block;
	inset-inline-end: 0;
	max-height: 80vh;
	overflow-y: scroll;
	position: absolute;
	bottom: 100%;
	margin: 0;
}

.preferences-helper__object {
	width: 100%;
}

.preferences-helper__property-row {
	width: 100%;
}

.preferences-helper__property-label {
	min-width: 100px;
	font-weight: 500;
	color: var( --color-neutral-60 );
}

.preferences-helper__nested-object {
	padding-inline-start: $grid-unit-20;
	border-inline-start: 2px solid var( --color-neutral-10 );
}