@import '@wordpress/base-styles/variables';
@import '@wordpress/base-styles/colors';

.dashboard-page-layout {
	margin: auto;
	padding: $grid-unit-60 $grid-unit-20;
}

.dashboard-page-layout__title {
	font-family: var(--dashboard-page-layout__title-font-family) !important;
	font-weight: var(--dashboard-page-layout__title-weight) !important;
}

.dasboard-page-layout__description {
	color: $gray-700 !important;
}
