@import "@automattic/typography/styles/variables";

.product-header {
	font-family: "SF Pro Display", $sans;
	color: var(--studio-black);
	.product-header__heading {
		font-family: inherit;
		font-size: $font-headline-small;
		line-height: 40px;
		font-weight: 700;
		margin-bottom: 16px;
	}

	.product-header__sub-heading {
		font-family: inherit;
		font-size: $font-title-small;
		line-height: 30px;
		font-weight: 500;
		margin-bottom: 1rem;
	}
}
