// Sparkline
// Making things sparky
.sparkline {
	.sparkline__line {
		fill: none;
		stroke: var( --color-primary );
		stroke-width: 1;
	}

	.sparkline__highlight {
		fill: var( --color-accent );
	}
}
