.stats-sparkline {
	padding: 5px 0 2px;
}

.stats-sparkline__bar {
	display: inline-block;
	background-color: var( --color-sidebar-gridicon-fill );
	width: 1px;
	height: 100%;
	transform-origin: 0% 100%;
	margin-left: 1px;

	&:first-child {
		margin-left: 0;
	}
}
