.importer-drag {
	.social-logo {
		border-radius: 4px;
	}

	.importer-header__service-info {
		color: var( --studio-gray-40 );

		.importer-header__service-title {
			color: var( --studio-gray-100 );
		}
	}

	.importer__uploading-pane-description {
		color: var( --studio-gray-40 );

		.inline-support-link {
			&::before {
				content: '\A';
			}

			white-space: pre;
			text-decoration: underline;
			color: var( --studio-gray-100 );
		}
	}

	.importer__uploading-pane {
		border-color: var( --studio-gray-10 );
		background-color: transparent;
		border-radius: 4px;
		color: var( --studio-gray-80 );
		margin-bottom: 0;
	}

	.importer__mapping-relation {
		display: none;
	}

	.importer__mapping-description {
		color: var( --studio-gray-50 );
	}
}
