@import '@wordpress/base-styles/_breakpoints.scss';
@import '@wordpress/base-styles/_mixins.scss';

$current-theme-border: 1px solid var( --color-border-subtle );

.current-theme {
	padding: 0;
	margin-bottom: 24px;
}

.current-theme__post-revamp {
	.current-theme__current {
		display: flex;
		flex-direction: column;

		@include break-xlarge {
			min-height: 112px;
			flex-direction: row;
		}
	}

	.current-theme__details {
		display: flex;
		flex-direction: column;
		font-size: $font-body-small;

		@include breakpoint-deprecated( '>660px' ) {
			flex-direction: row;
			font-size: $font-body;
		}
	}

	.current-theme__img {
		border-bottom: $current-theme-border;

		@include breakpoint-deprecated( '>660px' ) {
			border-right: $current-theme-border;
			border-bottom: none;
			max-height: 150px;
			width: auto;
		}
	}

	.current-theme__img-placeholder {
		color: transparent;
		background-color: var( --color-neutral-0 );
		animation: loading-fade 1.6s ease-in-out infinite;
		height: 100%;

		@include breakpoint-deprecated( '>660px' ) {
			width: 150px;
		}
	}

	.current-theme__title-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		flex-wrap: wrap;

		@include break-large {
			flex-wrap: initial;
		}

		@include breakpoint-deprecated( '>660px' ) {
			flex-direction: row-reverse;
			justify-content: flex-end;
			margin-top: -8px;
		}
	}

	.current-theme__badge-beta {
		margin-top: 8px;
	}

	.current-theme__label {
		font-size: $font-body-extra-small;
		color: var( --color-text-inverted );
		display: inline-block;
		background: var( --color-neutral-dark );
		white-space: nowrap;
		padding: 4px 12px;
		/* stylelint-disable-next-line scales/radii */
		border-radius: 120px;
		margin-bottom: 4px;
		margin-top: 8px;

		@include breakpoint-deprecated( '>660px' ) {
			align-self: center;
			margin-bottom: 0;
			margin-right: 8px;
		}
	}

	.current-theme__name {
		font-weight: 600;
		box-sizing: border-box;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: $font-body;
		max-width: 100%;
		margin-top: 8px;
		margin-right: 8px;

		@include breakpoint-deprecated( '>960px' ) {
			font-size: $font-title-small;
		}
	}

	.current-theme__placeholder {
		color: transparent;
		background-color: var( --color-neutral-0 );
		animation: loading-fade 1.6s ease-in-out infinite;
	}

	.current-theme__description {
		align-self: center;
		font-size: $font-body-small;
		padding: 16px;

		p {
			color: var( --color-text-subtle );
			margin: 8px 0 0;

			@include breakpoint-deprecated( '>660px' ) {
				margin-top: 12px;
			}
		}
	}

	.current-theme__actions {
		border-top: $current-theme-border;
		box-sizing: border-box;
		padding-top: 16px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		flex-grow: 1;

		@include break-xlarge {
			border-top: none;
			min-height: 112px;
			padding-top: 0;
		}
	}

	.current-theme__button {
		display: flex;
		margin-right: 10px;
		margin-bottom: 16px;
		font-weight: normal;
		position: relative;
		border-width: 1px;

		&:not( .is-primary ) {
			border: 1px solid var( --color-neutral-10 );
		}

		&:last-child {
			// Matches with .segmented-control padding in .theme-magic-search-card
			margin-right: 11px;
		}

		.gridicon {
			top: 0;
			margin: 0 5px 0 0;
		}
	}

	.current-theme__button-label {
		margin-left: 5px;
	}
}
