@import "@wordpress/base-styles/_breakpoints.scss";
@import "@wordpress/base-styles/_mixins.scss";

$current-theme-border: 1px solid var(--color-border-subtle);

.current-theme {
	padding: 0;
	margin: 0 0 24px;
	background: #fff;
	border-radius: 4px;
	box-shadow: none;
	filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.05));
	@include breakpoint-deprecated( "<660px" ) {
		margin: 0 16px 24px;
	}

	@include break-medium {
		border-radius: 0;
		box-shadow: 0 0 0 1px var(--color-border-subtle);
		filter: none;
	}
}

.current-theme__post-revamp {
	.current-theme__current {
		display: flex;
		flex-direction: column;

		@include break-xlarge {
			min-height: 112px;
			flex-direction: row;
		}

		&::after {
			content: "";
			display: block;
			height: 48px;
			width: 100%;
			border-top: $current-theme-border;

			@include break-medium {
				height: 69px;
			}
			@include break-xlarge {
				content: none;
			}
		}
	}

	.current-theme__details {
		padding: 16px;
		display: flex;
		flex-direction: row;
		font-size: $font-body-small;

		@include break-medium {
			padding: 0;
			flex-direction: row;
			font-size: $font-body;
			width: 100%;
		}
	}

	.current-theme__img {
		width: 100px;
		height: 78px;
		border-bottom: $current-theme-border;
		max-height: none;
		filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.04));
		border-radius: 4px;


		@include break-medium {
			height: auto;
			max-height: 160px;
			border-right: $current-theme-border;
			border-bottom: none;
			width: auto;
			filter: none;
			border-radius: 0;
		}

		@include break-large {
			max-height: 130px;
			width: auto;
		}
	}

	.current-theme__img-placeholder {
		color: transparent;
		background-color: var(--color-neutral-0);
		animation: loading-fade 1.6s ease-in-out infinite;
		height: 100%;

		@include breakpoint-deprecated( ">660px" ) {
			width: 150px;
		}
	}

	.current-theme__content-learn-more {
		display: none;
		@include break-medium {
			display: block;
		}
	}

	.current-theme__title-wrapper {
		display: flex;
		flex-direction: column;
		align-items: start;
		margin-top: 0;
		flex-wrap: wrap;

		@include break-large {
			flex-wrap: initial;
		}

		@include break-medium {
			flex-direction: row-reverse;
			justify-content: flex-end;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	.current-theme__badge-wrapper {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;

		@include break-small {
			margin-bottom: 6px;
		}
	}

	.current-theme__label {
		font-size: $font-body-extra-small;
		font-weight: 600;
		display: inline-block;
		text-transform: uppercase;

		color: var(--color-neutral-30);

		@include break-medium {
			font-weight: normal;
			text-transform: none;
			color: var(--color-text-inverted);
			display: inline-block;
			background: var(--color-neutral-dark);
			white-space: nowrap;
			padding: 4px 12px;
			border-radius: 120px; /* stylelint-disable-line scales/radii */
			margin-right: 8px;

			align-self: center;
			margin-bottom: 0;
		}
	}

	.current-theme__name {
		font-weight: 600;
		box-sizing: border-box;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: $font-body-large;
		max-width: 100%;
		margin-right: 8px;
		margin-bottom: 6px;

		@include break-medium {
			font-size: $font-body;
		}

		@include breakpoint-deprecated( ">960px" ) {
			font-size: $font-title-small;
		}
	}

	.current-theme__content-wrapper {
		display: none;


		@include break-medium {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.current-theme__placeholder {
		color: transparent;
		background-color: var(--color-neutral-0);
		animation: loading-fade 1.6s ease-in-out infinite;
	}

	.current-theme__description {
		align-self: flex-start;
		font-size: $font-body-small;
		margin: 12px 16px;
		width: 100%;

		@include break-medium {
			align-self: center;
			margin: 20px 16px 12px;
		}

		p {
			color: var(--color-text-subtle);
			margin-bottom: 0;
		}
	}

	.current-theme__more-info {
		@include break-medium {
			display: none;
		}
	}

	.current-theme__theme-customize {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 12px 0;
		color: var(--studio-neutral-100);
		display: flex;

		.gridicon {
			padding: 0 8px 0 16px;
		}
		.gridicons-chevron-right {
			position: absolute;
			right: 8px;
			color: var(--color-sidebar-gridicon-fil);
		}
	}

	.current-theme__theme-description {
		font-size: $font-body-small;
		line-height: 20px;
		padding: 0 16px 8px;
		letter-spacing: 0.32px;

		color: var(--color-text-subtle);
		max-height: 2.2em;
		overflow: hidden;
		margin-bottom: 0;

		span {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			position: relative;
		}

	}

	.current-theme__theme-description-link {
		font-weight: 500;
		font-size: $font-body-small;
		line-height: 20px;
		color: var(--studio-black);
		display: inline-block;
		border-bottom: 1px solid var(--studio-black);
		margin: 0 16px 16px;
	}

	.current-theme__actions {
		box-sizing: border-box;
		padding-top: 16px;
		display: none;
		align-items: flex-end;
		justify-content: flex-end;
		flex-grow: 1;
		position: absolute;
		bottom: 16px;
		right: 15px;

		@include break-medium {
			display: flex;
		}

		@include break-xlarge {
			padding-top: 0;
			position: initial;
		}
	}

	.current-theme__button {
		display: flex;
		margin-right: 10px;
		font-weight: normal;
		position: relative;
		border-width: 1px;

		&:not(.is-primary) {
			border: 1px solid var(--color-neutral-10);
		}

		&:last-child {
			// Matches with .segmented-control padding in .theme-magic-search-card
			margin-right: 11px;
		}

		.gridicon {
			top: 0;
			margin: 0 5px 0 0;
		}
	}

	.current-theme__button-label {
		margin-left: 5px;
	}
}
