.agent-manager-support-guide-wrapper {
	height: calc( 100% - 32px );
	display: flex;
	flex-direction: column;

	.agent-manager-support-guide-content {
		flex: 1;
		overflow-y: auto;
		scrollbar-color: var( --color-muted ) transparent;
		scroll-behavior: smooth;
	}

	.agent-manager-support-guide-footer {
		padding: 16px;
		display: flex;
		justify-content: stretch;

		button {
			flex: 1;
			justify-content: center;
		}
	}

	.help-center-article {
		color: var( --color-foreground );

		.help-center-article-content__header {
			&-title {
				color: var( --color-foreground );
			}

			&-link {
				color: var( --color-muted-foreground );
			}
		}

		.help-center-article-content__main,
		.help-center-article__error {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			ol,
			ul,
			button,
			ol.wp-block-list,
			a {
				color: var( --color-foreground );
			}

			.wp-block-a8c-support-table-of-contents {
				background-color: var( --color-muted );
			}
		}

		.help-center-feedback__form button {
			color: var( --color-foreground );
			fill: var( --color-foreground );
		}
	}
}

