.sticky-card {
	--margin-spacing: 40px;

	display: block;
	position: absolute;
	border-radius: 4px;
	min-width: 420px;

	box-shadow: 0 4px 15.7px 0 #0000001a;
	z-index: 1000;


	&.is-positioned-top-left {
		top: var(--margin-spacing);
		left: var(--margin-spacing);
	}


	&.is-positioned-top-right {
		top: var(--margin-spacing);
		right: var(--margin-spacing);
	}

	&.is-positioned-bottom-left {
		bottom: var(--margin-spacing);
		left: var(--margin-spacing);
	}

	&.is-positioned-bottom-right {
		bottom: var(--margin-spacing);
		right: var(--margin-spacing);
	}
}

.sticky-card__heading,
.sticky-card__body {
	padding: 16px;
}

.sticky-card__heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

