.table-header__container {
	background: $gray-light;
	padding: 8px 0;
	vertical-align: middle;
	font-size: 13px;
	font-weight: normal;

	td {
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid lighten( $gray, 20% );
	}
}
