.layout.is-section-oauth2-client {
	position: relative;
	min-height: 100%;

	.layout__content {
		padding: 0;
	}

	.masterbar {
		display: none;
	}
}

.oauth2-connect {
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: 432px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px 24px;
}

.oauth2-connect__switch-account-link {
	display: flex;
	justify-content: center;
	margin-block-start: 16px;

	.oauth2-connect__switch-account {
		text-align: center;
		padding: 0;
		height: auto;
		font-size: 13px;
		color: #1e1e1e;

		&:hover {
			color: #1e1e1e;
		}
	}
}

.oauth2-connect__loading,
.oauth2-connect__error {
	padding: 24px;
	text-align: center;
	font-size: 14px;
}

.oauth2-connect--loading {
	min-height: 400px;

	.oauth2-connect__loading {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		height: 400px;
		padding-top: 40px;
	}
}

.oauth2-connect__error {
	color: #d63638;
}

.oauth2-connect__success {
	border-left: 3px solid #008a20;
	background-color: #fff;
	padding: 12px 18px;
	display: flex;
	align-items: center;
	gap: 12px;
}

.oauth2-connect__success-icon {
	width: 46px;
	flex-shrink: 0;
}

.oauth2-connect__success-content {
	flex: 1;
}

.oauth2-connect__success-title {
	font-size: 14px;
	font-weight: 600;
	margin-block-end: 4px;
}

.oauth2-connect__success-description {
	font-size: 12px;
	font-weight: 400;
	color: #646970;
}
