/** @format */

.posts.main {
	display: block;
	max-width: 720px;
}

.posts__primary {
	max-width: 720px;
}

.posts .section-nav .gravatar {
	margin-left: 6px;
	vertical-align: middle;
}

.post__total-views {
	display: inline-flex;
	align-content: center;

	.stat-update-indicator {
		font-size: 14px;
		padding-top: 2px;
	}
}
