.suggestion-search {
	position: relative;

	.gridicon,
	.spinner {
		position: absolute;
		top: 10px;
		left: 10px;
		fill: var(--color-text-subtle);

		+ input.form-text-input {
			padding-left: 42px;
		}
	}

	.spinner {
		top: 12px;
		@include breakpoint-deprecated( "<660px" ) {
			top: 17px;
		}
	}
}
