.suggestion-search {
	position: relative;
	input {
		padding-left: 42px;
	}
	.gridicon {
		position: absolute;
		top: 10px;
		left: 10px;
		fill: var( --color-neutral-600 );

		// On smaller screens the input gets bigger,
		// so this icon needs to move down a bit.
		@include breakpoint( '<660px' ) {
			top: 16px;
		}

		&.is-loading {
			animation: rotation 1s linear infinite;
		}
	}
}
