@import 'assets/stylesheets/gutenberg-base-styles';

// This should match the timeout used in the component.
$onboarding-block-css-transition-duration: 750ms;

.onboarding-block__acquire-intent {
	align-items: center;
	background-color: var( --contrastColor );
	color: var( --mainColor );
	display: flex;
	font-family: $onboarding-brand-font-family;
	font-size: 64px;
	font-weight: 400;
	height: 100%;
	justify-content: center;
	left: 0%;
	letter-spacing: -0.4px;
	margin-top: 40px;
	position: fixed;
	tab-size: 4;
	top: 0;
	transition:
		color 0.5s ease-in-out 1s,
		background-color 0.5s ease-in-out 1s;
	width: 100%;
}

.onboarding-block__questions {
	display: inline-block;
	min-width: 800px;
	font-size: 64px;
	width: 70%;
	height: 300px;
}

.onboarding-block__questions-heading {
	margin-bottom: 10px;
	text-align: left;
	font-size: 64px;
}

.onboarding-block__footer {
	text-align: left;
}

.components-button.is-link.onboarding-block__question-skip {
	background-color: var( --mainColor );
	border-radius: 4px;
	color: var( --contrastColor );
	font-size: 16px;
	line-height: 2em;
	margin: 10px 0;
	padding: 8px 32px;
	position: relative;
	text-decoration: none;
	transition:
		color 0.5s ease-in-out 1s,
		background-color 0.5s ease-in-out 1s;

	&:focus {
		background-color: var( --highlightColor );
		box-shadow: none;
		color: var( --studio-gray-20 );
		outline: none;
	}
}

.onboarding-block__question input {
	background: transparent;
	font-family: $onboarding-brand-font-family;
	font-weight: 400;
}

.onboarding-block__background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	z-index: -1;
}

.onboarding-block__background.has-background::before {
	background-color: $white;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	transition: opacity $onboarding-block-css-transition-duration linear;
}

.onboarding-block__background-fade-enter {
	&.onboarding-block__background::before {
		opacity: 0.8;
	}
}

.onboarding-block__background-fade-enter,
.onboarding-block__background-fade-exit,
.onboarding-block__background-fade-exit-done {
	opacity: 0;
}

.onboarding-block__background-fade-enter,
.onboarding-block__background-fade-exit,
.onboarding-block__background-fade-enter-done {
	transition: opacity $onboarding-block-css-transition-duration linear;
}
