@import 'assets/stylesheets/gutenberg-base-styles';

.onboarding-block {
	margin: 0 20px;

	@include break-small {
		margin: 0 88px;
	}
}

.gutenboarding-page {
	transform-origin: center center;
}

.gutenboarding-page-enter {
	animation: gutenboarding-page-appear 0.5s ease-in forwards;
}

.gutenboarding-page-exit {
	animation: gutenboarding-page-appear 0.5s ease-in forwards;
	animation-direction: reverse;
}

@keyframes gutenboarding-page-appear {
	from {
		opacity: 0;
		transform: scale( 1.01 );
	}
	to {
		opacity: 1;
		transform: scale( 1 );
	}
}
