.reader-subscription-list-item__byline {
	color: darken( $gray, 30% );
}

.reader-subscription-list-item__link {
	color: $blue-medium;

	&:hover {
		color: $blue-light;
	}
}

.reader-subscription-list-item__by-text .reader-subscription-list-item__link {
	color: darken( $gray, 30% );
}

.reader-subscription-list-item .gravatar {
	float: left;
	margin: 2px 6px 0 0;
	height: 32px;
	min-height: 32px;
	width: 32px;
	min-width: 32px;
}

.reader-subscription-list-item {
	font-size: 14px;
	padding-bottom: 20px;
	display: flex;
}

.reader-subscription-list-item .follow-button {
	border: 0;
	border-radius: 0;
	float: right;
	padding: 0;

	.gridicon {
		fill: $blue-medium;
	}

	.follow-button__label {
		color: $blue-medium;
	}

	&.is-following {

		.gridicon {
			fill: $alert-green;
		}

		.follow-button__label {
			color: $alert-green;
		}
	}
}

.reader-subscription-list-item__settings-menu {
	color: $gray;
	float: right;
}

.reader-subscription-list-item__site-title {
	font-weight: 600;
}

.reader-subscription-list-item__options {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	width: 90px;
	min-width: 90px;
}

.reader-subscription-list-item__email-popout-wrapper {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	min-height: 150px;
}

.reader-subscription-list-item__email-popout-header {
	font-size: 14px;
	display: flex;
	padding-left: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	justify-content: flex-start;
	color: $gray-dark;
}

.reader-subscription-list-item__settings-menu-popout.popover .popover__inner {
	background-color: $gray-light;
	border-color: lighten( $gray, 20% );
}
.reader-subscription-list-item__settings-menu-popout.popover .popover__arrow:before {
	// border: 10px solid lighten( $gray-light, 20% ) !important; // this is actually the background of the arrow
}

.reader-subscription-list-item__header-separator {
	color: lighten( $gray, 20% );
	width: 100%;
	margin-bottom: 0;
}

.reader-subscription-list-item__email-popout-toggle {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-left: 15px;
	color: darken( $gray, 20% );
	font-size: 14px;
	color: $gray-dark;
}

.reader-subscription-list-item__email-popout-wrapper .segmented-control {
	padding-left: 15px;
	padding-right: 15px;
	background-color: inherit;
}

