.counted-textarea {
	border: 1px solid lighten( $gray, 20% );
	background-color: $gray-light;

	&.is-exceeding-acceptable-length {
		background: $alert-red;

		.counted-textarea__count-panel,
		.gridicons-info-outline {
			color: $white;
		}
	}
}

.counted-textarea__input {
	display: block;
	resize: vertical;
	border: none;
	padding: 8px;
}

.counted-textarea__count-panel {
	padding: 8px;
	font-size: 12px;
	color: darken( $gray, 20% );
}
