@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.email-product-price {
	color: var( --color-text );
	font-weight: 400;
	font-size: $font-body-small;
	line-height: 1;
	display: flex;
	flex-direction: column;
	text-align: right;

	@include breakpoint-deprecated( '>660px' ) {
		align-items: flex-end;
		font-size: $font-body;

		.featured-email-suggestions & {
			align-items: flex-start;
		}

		&.email-product-price__email-step-signup-flow {
			align-items: flex-start;
		}
	}

	@include breakpoint-deprecated( '<660px' ) {
		display: inline-block;
		font-size: $font-body-small;
		text-align: left;

		.is-white-signup &.email-product-price__email-step-signup-flow {
			display: flex;
			flex-direction: column-reverse;
			margin-top: 4px;
		}
	}

	.is-section-signup &:not( .email-product-price__email-step-signup-flow ) {
		@include breakpoint-deprecated( '>660px' ) {
			padding-left: 1em;
			padding-right: 2em;
		}
	}

	.is-section-emails & {
		@include breakpoint-deprecated( '>800px' ) {
			padding-left: 1em;
			padding-right: 2em;
		}
	}

	small {
		color: var( --color-text-subtle );
	}

	.email-product-price__free-price {
		font-size: $font-body-small;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: var(--color-text-subtle);
		font-width: normal;

		@include break-mobile {
			font-weight: 500; /* stylelint-disable-line */
		}
	}

	.email-product-price__free-text {
		color: var( --studio-green-60 );
		display: block;
	}
	.email-product-price__sale-price {
		display: block;

	}

	&.no-price .email-product-price__free-text,
	&.no-price .email-product-price__sale-price {
		@include breakpoint-deprecated( '>660px' ) {
			margin-left: 0;
		}
	}

	.email-product-price__price,
	.email-product-price__renewal-price {
		margin: auto 0;
	}

	.is-placeholder & {
		@include breakpoint-deprecated( '>660px' ) {
			display: none;
		}

		@include breakpoint-deprecated( '<660px' ) {
			animation: loading-fade 1.6s ease-in-out infinite;
			background-color: var( --color-neutral-0 );
			color: transparent;
		}
	}
}

.featured-email-suggestions {
	.email-product-price {
		.is-section-emails & {
			padding-left: 0;
		}

		&.is-free-email {
			padding-left: 0;
		}
	}
}
