
body.is-section-signup.is-white-signup .signup__step .segmented-control.price-toggle,
body.is-section-plans.is-section-plans .plans .segmented-control.price-toggle,
body.is-group-stepper .plans .segmented-control.price-toggle {
	background-color: #f2f2f2;
	border-radius: 6px; /* stylelint-disable-line scales/radii */
	margin-top: 16px;
	margin-top: 0;

	.segmented-control__item {
		border: 6px;
		padding: 2px;
		.segmented-control__link {
			color: var(--studio-gray-90);
			font-weight: 500;
			padding: 6px 11px;
			border: 1px solid #f2f2f2;
			border-radius: 5px; /* stylelint-disable-line scales/radii */
			&:hover {
				border: 1px solid var(--studio-gray-10);
				background-color: unset;
				border-radius: 5px; /* stylelint-disable-line scales/radii */
			}
			&:focus {
				box-shadow: 0 0 0 1px var(--studio-gray-90);
				outline: none;
			}
		}

		&.is-selected .segmented-control__link {
			color: var(--studio-gray-80);
			font-weight: 400;
			border: 0.5px solid rgba(0, 0, 0, 0.04);
			box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 3px 1px rgba(0, 0, 0, 0.04);
			border-radius: 5px; /* stylelint-disable-line scales/radii */
			background-color: var(--studio-white);
			&:hover {
				background-color: var(--studio-white);
				border-color: rgba(0, 0, 0, 0.04);
			}
		}

		.segmented-control__text {
			white-space: initial;
		}
	}
}

.notouch body.is-section-signup.is-white-signup .signup__step .segmented-control.price-toggle {
	border: solid 1px var(--studio-gray-5);
}

.notouch body.is-section-plans.is-section-plans .plans .segmented-control.price-toggle {
	margin: 8px auto 16px;
	max-width: fit-content;
}
