.button.license-lightbox__secondary-content-button {
	border: 2px solid var(--color-accent);
	font-weight: 700;
	font-size: 1rem;
	margin-block-end: 0;
	width: 100%;
	padding: 10px 16px;
}

.license-lightbox__secondary-checkout-heading {
	color: var(--studio-black);
	font-size: 1rem;
	font-weight: 700;
	margin-block-end: 8px;
}
