$jetpack-product-card-alt-color: var( --studio-wordpress-blue-30 );
$jetpack-product-card-alt-circle-size: 65px;
$jetpack-product-card-alt-icon-size: 55px;

.jetpack-product-card-alt {
	position: relative;

	box-sizing: border-box;
	margin: calc( 24px + #{$jetpack-product-card-alt-circle-size/2} ) 0 24px;

	background: var( --color-surface );
	border: 1px solid var( --color-border-subtle );
	border-left: none;
	border-right: none;

	// Top circle
	&::before {
		content: '';

		position: absolute;
		top: -$jetpack-product-card-alt-circle-size/2;
		left: calc( 50% - #{$jetpack-product-card-alt-circle-size/2} );

		display: block;
		box-sizing: border-box;
		width: $jetpack-product-card-alt-circle-size;
		height: $jetpack-product-card-alt-circle-size;

		background: inherit;
		border: 1px solid var( --color-border-subtle );
		border-radius: 50%;
	}

	// Mask for the bottom half of the circle
	&::after {
		content: '';

		position: absolute;
		top: 0;
		left: calc( 50% - #{$jetpack-product-card-alt-circle-size/2} );

		display: block;
		width: $jetpack-product-card-alt-circle-size;
		height: $jetpack-product-card-alt-circle-size/2;

		background: inherit;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.foldable-card {
		margin-bottom: 0;

		font-size: $font-body;

		background: var( --color-gray-0 );

		box-shadow: none;
		&.card.is-expanded {
			margin-top: 0;
		}
	}

	@media ( min-width: 660px ) {
		border-left: 1px solid var( --color-border-subtle );
		border-right: 1px solid var( --color-border-subtle );

		&:not( .with-nudge ) .foldable-card {
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}

		.foldable-card--square-border {
			border-radius: 0;
		}
	}
}

.jetpack-product-card-alt__summary {
	min-height: unset;

	@media ( min-width: 600px ) {
		min-height: 435px;
	}
}

.jetpack-product-card-alt__header {
	position: relative;

	padding: 42px 16px 12px;

	text-align: center;
}

.jetpack-product-card-alt .product-icon {
	position: absolute;
	top: -$jetpack-product-card-alt-icon-size/2;
	left: calc( 50% - #{$jetpack-product-card-alt-icon-size/2} );
	z-index: 1;

	width: $jetpack-product-card-alt-icon-size;
}

.jetpack-product-card-alt__product-name {
	margin-bottom: 6px;

	font-size: $font-title-medium;
	font-weight: 600;
	line-height: rem( 30px ) / $font-title-medium;
}

.jetpack-product-card-alt__product-type {
	font-style: italic;
	font-weight: 400;
}

.jetpack-product-card-alt__subheadline {
	margin-bottom: 16px;

	color: var( --color-neutral-50 );

	font-size: $font-body-extra-small;
	line-height: rem( 16px ) / $font-body-extra-small;

	@media ( min-width: 660px ) {
		font-size: $font-body-small;
	}
}

.jetpack-product-card-alt__price {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;
}

.jetpack-product-card-alt__from,
.jetpack-product-card-alt__billing-time-frame,
.jetpack-product-card-alt__expiration-date {
	display: block;

	color: var( --color-text-subtle );

	font-size: $font-body-extra-small;
	font-style: italic;
	line-height: 1;
}

.jetpack-product-card-alt__expiration-date {
	margin-top: 10px;

	color: var( --studio-pink-50 );

	text-align: right;
}

.jetpack-product-card-alt__from {
	margin: 0 8px 8px 0;
}

.jetpack-product-card-alt__raw-price {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 4px;

	:last-child {
		margin-right: 0;
	}
}

.jetpack-product-card-alt .plan-price {
	display: flex;

	border-color: $jetpack-product-card-alt-color;

	sup {
		margin-top: 13px;
		top: 13px;

		font-size: $font-title-small;
		font-weight: 400;
	}

	sup.plan-price__currency-symbol {
		left: -13px;
	}

	&.is-original::before {
		// Enable the overwrite of the border color by setting it to .plan-price
		border-color: inherit;
	}

	&.is-discounted {
		color: var( --color-text );

		.plan-price__currency-symbol {
			color: inherit;
		}
	}
}

.jetpack-product-card-alt .plan-price__integer {
	font-size: $font-headline-medium;
	font-weight: 600;
}

.jetpack-product-card-alt__body {
	padding: 0 16px;
}

.jetpack-product-card-alt__discount-message {
	margin: -20px 0 16px;

	color: var( --color-success-40 );

	font-style: italic;
}

.jetpack-product-card-alt__badge {
	display: block;

	margin: -10px 0 10px;

	min-height: 12px;

	color: var( --color-primary );

	font-size: $font-body-extra-small;
	font-style: italic;
	line-height: 1;
	text-align: center;
}

.jetpack-product-card-alt .button {
	width: 100%;
	margin-bottom: 30px;

	font-size: $font-body;
}

.jetpack-product-card-alt__description {
	margin-bottom: 10px;
	padding: 0 4px;
}

.jetpack-product-card-alt__search-price-popover {
	margin-bottom: 40px;
	margin-left: 24px;

	.gridicon {
		color: var( --studio-gray-20 );
	}
}

.jetpack-product-card-alt .foldable-card.is-expanded {
	margin-bottom: 0;
}

.jetpack-product-card-alt .foldable-card.is-expanded .foldable-card__content {
	padding: 0 16px 16px;

	border-top: none;
}

.jetpack-product-card-alt .foldable-card .foldable-card__header {
	color: var( --studio-gray-50 );

	.gridicon {
		fill: var( --studio-gray-50 );
	}
}

.jetpack-product-card-alt__features-category {
	margin: 8px 0 12px;
	padding-bottom: 6px;

	border-bottom: solid 1px var( --color-border-subtle );
	color: var( --studio-gray-70 );

	font-weight: 600;
}

.jetpack-product-card-alt__features-list {
	margin: 0;

	list-style-type: none;
}

.jetpack-product-card-alt__features-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
}

.jetpack-product-card-alt__features-subitems {
	margin-left: 36px;

	list-style-type: none;
}

.jetpack-product-card-alt__features-summary {
	display: flex;
	align-items: flex-start;
}

.jetpack-product-card-alt__features-text {
	flex: 1;
	margin: 0 16px 0 0;
}

.jetpack-product-card-alt__features-icon {
	margin-right: 14px;
	fill: var( --studio-gray-50 );
	&.gridicons-lock,
	&.gridicons-cloud-upload,
	&.material-icon-security,
	&.gridicons-bug {
		background: var( --studio-blue );
		fill: var( --studio-white );
		border-radius: 50%;
		padding: 5px;
		width: 15px;
		height: 15px;
	}
	&.gridicons-lock {
		background: var( --studio-purple-50 );
	}
	&.gridicons-checkmark {
		fill: $jetpack-product-card-alt-color;
	}
}

.jetpack-product-card-alt__feature-more {
	padding-top: 16px;
}

/* Prices Loading state */
.jetpack-product-card-alt__price-placeholder {
	@include placeholder( --color-neutral-10 );

	width: 100px;
	min-height: 72px;
	margin-bottom: 4px;
}

.jetpack-product-card-alt__time-frame-placeholder {
	@include placeholder( --color-neutral-10 );

	width: 100px;
	height: 12px;
}
