// Actions for Individual Comments
.comments__comment-actions {

	align-items: center;
	color: var( --color-text-subtle );
	display: flex;
	font-size: $font-body-small;
	justify-content: flex-start;
	list-style: none;

	.components-button {
		color: var( --color-text-subtle );
		display: inline-block;
		padding: 4px;
		height: auto;
		margin-right: 8px;
		cursor: pointer;
		font-size: $font-body-small;
		font-weight: 400;

		&.comments__comment-actions-reply {
			margin-left: -7px;
		}

		.gridicons-reply {
			margin-right: 2px;
			vertical-align: bottom;
		}

		svg.reader-star path {
			fill: none;
		}

		&:hover,
		button.is-active {
			color: var( --color-primary );

			svg.reader-star path {
				stroke: var(--color-link);
			}
		}

		&.comments__comment-actions-cancel-reply {
			float: right;
			margin-top: 2px;
			margin-right: 8px;
			padding-right: 0;
		}

		&.comments__comment-actions-read-more {
			color: var(--color-primary);
			margin: 0 10px 0 -3px;
			padding-left: 0;

			.comments__comment-actions-read-more-icon {
				fill: var( --color-primary );
				vertical-align: bottom;
			}
		}
	}
}
