// Add a New Comment Form
.comments__form {
	position: relative;
	padding: 0 0 0 42px;
	margin-top: 24px;

	.gravatar {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 48px;
	}

	input {
		font-size: $font-body-small;
		padding: 5px 10px;
	}

	// The inner working of these styles is covered here: http://alistapart.com/article/expanding-text-areas-made-elegant
	.expanding-area {
		position: relative;
		$initial-focused-height: 70px;

		pre,
		textarea {
			max-height: 400px;
			min-height: 33px;
			margin: 0;
			padding: 5px;
			font-size: $font-body-small;
			font-family: $serif;
			line-height: 21px;

			white-space: pre-wrap;
			word-wrap: break-word;
			word-break: break-word;
		}

		textarea {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			resize: none;
		}

		pre {
			border: 1px solid var( --color-neutral-light );
			box-sizing: border-box;
			display: block;
			visibility: hidden;
		}

		&.focused {
			min-height: $initial-focused-height;
		}
	}

	button:not(.components-button) {
		opacity: 0;
		position: absolute;
		margin: 16px 0 -19px;
		transition: all 0.2s ease-in-out;

		&.is-active {
			cursor: pointer;
		}

		&.is-visible {
			position: static;
			float: right;
			opacity: 1;
		}
	}

	button:focus {
		outline: dotted 1px var( --color-primary );
		color: var( --color-primary );
	}

	.comments__cancel-reply {
		font-size: $font-body-extra-small;
		cursor: pointer;
	}
}

// On /read/conversations, balance the space below and
// above the "Send" button.  The default negative margin
// of -19px is intended for the pages like
// /read/feeds/123456789/posts/9876543210.
.conversations__comment-list {
	.comments__form {
		button {
			margin-bottom: -9px;
		}
	}
}

.comments__form-closed {
	color: var( --color-text-subtle );
	margin-top: 20px;
	margin-bottom: -3px;
	font-family: $sans;
	text-align: center;
	border-top: 1px solid var( --color-neutral-0 );
	padding-top: 22px;
	font-size: $font-body-small;
}
