// Post comments line-clamping
.comments__comment-content-wrapper {
	position: relative;

	&.is-single-line,
	&.is-single-line .comments__comment-content {
		max-height: $font-body * 1.6;
	}

	&.is-excerpt,
	&.is-excerpt .comments__comment-content {
		max-height: $font-body * 1.6 * 3; // 3 lines
	}

	&.is-single-line .comments__comment-content,
	&.is-excerpt .comments__comment-content {
		overflow: hidden;
	}
}

// Hide certain elements in excerpt comments
.comments__comment-content-wrapper.is-excerpt {
	blockquote {
		display: none;
	}
}

.comments__comment-content-wrapper.is-excerpt .comments__comment-content p {
	margin-bottom: 0;
}

.comments__comment-content-wrapper.is-excerpt .comments__comment-content blockquote {
	margin: 10px 0 16px;
}

.comments__comment-content {
	@extend %rendered-block-content;
	line-height: 1.56;
}
