// Post comments line-clamping
.comments__comment-content-wrapper {
	position: relative;

	&.is-single-line,
	&.is-single-line .comments__comment-content {
		max-height: $font-body * 1.6;
	}

	&.is-excerpt,
	&.is-excerpt .comments__comment-content {
		max-height: $font-body * 1.6 * 3; // 3 lines
	}

	&.is-single-line .comments__comment-content,
	&.is-excerpt .comments__comment-content {
		overflow: hidden;
	}
}

// Hide certain elements in excerpt comments
.comments__comment-content-wrapper.is-excerpt {
	blockquote {
		display: none;
	}
}

.comments__comment-content-wrapper.is-excerpt .comments__comment-content p {
	margin-bottom: 0;
}

.comments__comment-content-wrapper.is-excerpt .comments__comment-content blockquote {
	margin: 10px 0 16px;
}

.comments__comment-content {
	@extend %content-font;
	margin: 0;
	padding-top: 16px;
	position: relative;
	font-size: 1rem;
	line-height: 1.7;
	overflow-wrap: break-word;
	word-wrap: break-word;

	h1 {
		font-size: $font-title-large;
		font-weight: 700;
		margin: 0 0 16px;
	}

	h2 {
		font-size: $font-title-medium;
		font-weight: 700;
		margin: 0 0 8px;
	}

	h3 {
		font-size: $font-title-small;
		font-weight: 700;
		margin: 0 0 8px;
	}

	h4 {
		font-size: $font-title-small;
		font-weight: 700;
		margin: 0 0 8px;
	}

	h5 {
		font-weight: 700;
	}

	p,
	> div {
		margin: 0 0 24px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	blockquote {
		padding: 0 24px 0 32px;
		margin: 16px 0 32px;
		border-left: 3px solid var( --color-neutral-0 );
		color: var( --color-neutral-50 );
		font-weight: 400;
		background: transparent;
	}

	aside {
		margin: 0;
		border: none;
		background: none;
		font-size: $font-body-small;
	}

	hr {
		background: var( --color-neutral-0 );
		margin: 24px 0;
	}

	img {
		max-width: 100%;
		height: auto;
		display: inline;
		margin: auto;

		&.emoji,
		&.emojify__emoji,
		&.wp-smiley {
			height: 1em;
			margin-bottom: 0;
		}
	}

	audio,
	video {
		display: block;
		width: 100%;
		margin: 24px auto;
	}

	iframe[class^='twitter-'],
	iframe[class^='instagram-'],
	.fb_iframe_widget {
		display: block;
		margin: 24px auto !important;
	}

	@include breakpoint-deprecated( '>660px' ) {
		.alignleft {
			max-width: 100%;
			float: left;
			margin-top: 12px;
			margin-bottom: 12px;
			margin-right: 32px;
		}

		.alignright {
			max-width: 100%;
			float: right;
			margin-top: 12px;
			margin-bottom: 12px;
			margin-left: 32px;
		}
	}

	@include breakpoint-deprecated( '<660px' ) {
		.alignleft,
		.alignright {
			clear: both;
			margin-top: 24px;
			margin-bottom: 24px;
		}
	}

	.aligncenter {
		clear: both;
		display: block;
		margin-top: 24px;
		margin-bottom: 24px;
		text-align: center;
	}

	.wp-caption.alignnone {
		clear: both;
		display: block;
		margin-top: 24px;
		margin-bottom: 24px;
	}

	.wp-caption {
		position: relative;
		max-width: 100%;

		&.alignright {
			float: right;
		}

		&.alignleft {
			float: left;
		}

		&.alignright,
		&.alignleft {
			max-width: 100%;

			@include breakpoint-deprecated( '>660px' ) {
				max-width: 50%;
			}

			img.alignright,
			img.alignleft {
				float: none;
			}
		}

		img {
			display: block;
			margin: 0 auto;

			&.emoji,
			&.emojify__emoji {
				display: inline;
			}
		}
	}

	.wp-caption-text,
	figure figcaption,
	figure .caption,
	.wp-caption .wp-media-credit {
		padding: 12px;
		margin: 0;
		font-size: $font-body-small;
		text-align: center;
		color: var( --color-neutral-40 );
	}

	// placeholder for videopress videos
	.video-plh-notice {
		position: relative;
		margin-bottom: 24px;
		padding: 11px 24px;
		border-radius: 2px;
		background: var( --color-neutral-0 );
		box-sizing: border-box;
		font-size: $font-body-small;
		line-height: 1.4285;
		animation: appear 0.3s ease-in-out;

		@include breakpoint-deprecated( '>660px' ) {
			padding: 13px 48px;
			font-size: inherit;
		}
	}

	sup,
	sub {
		vertical-align: baseline;
		position: relative;
		font-size: 0.875rem;
	}

	sup {
		top: -0.4em;
	}

	sub {
		bottom: -0.2em;
	}

	table th,
	table td {
		padding: 10px;
	}

	img:first-child {
		margin-top: 0;
	}

	// Gutenberg blocks
	.wp-block-image,
	.wp-block-embed {
		margin-bottom: 1em;
	}

	.wp-block-gallery {
		margin-left: 0;
		margin-bottom: 1em;
	}

	.blocks-gallery-caption {
		margin: auto;
	}

	.wp-block-buttons {
		margin: 0;
	}

	.wp-block-button {
		border-style: solid;
		font-family: $sans;
		border-width: 1px;
		cursor: pointer;
		display: inline-block;
		margin: 0;
		margin-right: 0.25em;
		margin-bottom: 0.6em;
		outline: 0;
		overflow: hidden;
		vertical-align: top;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 22px;
		border-radius: 2px;
		padding: 8px 14px;
		border-color: var( --color-neutral-10 );
	}

	.wp-block-table table {
		border-collapse: collapse;
	}

	.wp-block-table td,
	.wp-block-table th {
		border: 1px solid var( --color-neutral-10 );
		font-size: 1rem;
		line-height: 1.8;
	}

	.wp-block-table th {
		font-weight: bold;
		background: var( --color-neutral-0 );
	}

	.wp-block-button__link,
	.wp-block-button__link:hover {
		color: inherit;
	}

	// Import Gutenberg gallery styles
	@import '../reader-full-post/gutenberg-gallery.scss';

	.wp-block-embed .embed-vimeo {
		padding-top: 0;
		margin-bottom: 1.4em;
	}

	.wp-block-cover-image {
		display: none;
	}

	// iCloud embeds - force a min height because they're a bit slender by default
	.wp-block-embed__wrapper iframe[src*='icloud.com'] {
		min-height: 300px;
	}
}
