.purchase-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
	max-width: 90%;

	> p {
		margin: 1em 0;
	}
}

.purchase-modal__success {
	fill: var( --color-success );
	width: 48px;
	height: 48px;
}

