.drafts__heading {
	color: darken( $gray, 20% );
	font-family: $serif;
	font-size: 36px;
	font-weight: bold;
	margin: 0 0 30px;
}

.drafts .search {
	margin-bottom: 24px;
	position: static;

	input {
		display: block;
	}
}

.drafts__header {
	display: flex;
	flex-shrink: 0;
	justify-content: flex-end;
	align-items: center;
	padding: 0 14px 14px 6px;

	@include breakpoint( ">660px" ) {
		justify-content: space-between;
	}
}

.drafts__header .section-nav-group {
	display: inline-block;
	width: auto;
	margin-top: 0;
}

.drafts__author-filter .gravatar {
	margin-left: 6px;
	vertical-align: middle;
}
