@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.featured-item-card {
	background: linear-gradient(159.87deg, #f6f6f4 7.24%, #f7f4ea 64.73%, #ddedd5 116.53%);
	border-radius: 8px; /* stylelint-disable-line scales/radii */
	color: var(--gray-100);
	display: flex;
	flex-direction: column;
	font-size: $font-body-small;
	justify-content: space-between;
	line-height: 1;
	overflow: hidden;
	width: 100%;
	height: 100%;

	@include break-mobile {
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}

.featured-item-card--hero {
	min-height: 175px;
	position: relative;
	width: 100%;

	@include break-mobile {
		width: 33.6%;
	}

	@media (max-width: $break-mobile) {
		width: auto;
	}
}

.featured-item-card--body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 16px;
	width: 100%;

	@include break-mobile {
		padding: 24px;
		width: 66.6%;
	}

	@media (max-width: $break-mobile) {
		width: auto;
	}
}

.featured-item-card--title {
	font-size: $font-title-medium;
	font-weight: 700;
	line-height: 1;

	@include break-medium {
		font-size: $font-title-large;
	}
}

.featured-item-card--price {
	margin-top: 4px;
	margin-bottom: 8px;
}

.featured-item-card--desc {
	color: var(--gray-70);
	line-height: 1.5;

	p {
		display: inline-block;
		max-width: 55ch; // stylelint-disable-line unit-allowed-list
		margin: 0;
		font-style: normal;
		font-weight: 400;
		font-size: $font-body-small;
		line-height: 24px;
	}
}

.featured-item-card--footer {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin-top: 24px;
}

.featured-item-card--cta {
	min-width: 5.7em;
	border-width: 0;
}
