.featured-item-card {
	background: linear-gradient(
		159.87deg,
		#f6f6f4 7.24%,
		#f7f4ea 64.73%,
		#ddedd5 116.53%
	),
		#d9d9d9;
	border-radius: 4px;
	color: var( --gray-100 );
	display: flex;
	flex-direction: column;
	font-size: $font-body-small;
	justify-content: space-between;
	line-height: 1;
	margin: 0 0 16px;
	overflow: hidden;
	width: 100%;

	@media only screen and ( min-width: 468px ) {
		flex-direction: row-reverse;
		justify-content: space-between;
		margin: 0 0 16px;
	}
}

.featured-item-card--hero {
	min-height: 175px;
	position: relative;
	width: 100%;
	
	@media only screen and ( max-width: 468px ) {
		width: auto;
	}
	@media only screen and ( min-width: 768px ) {
		width: 33.6%;
	}
}

.featured-item-card--body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 16px;
	width: 100%;
	
	@media only screen and ( max-width: 468px ) {
		width: auto;
	}
	
	@media only screen and ( min-width: 768px ) {
		padding: 24px;
		width: 66.6%;
	}
}

.featured-item-card--title {
	font-size: $font-title-medium;
	font-weight: 700;
	margin: 0.5em 0;
}

.featured-item-card--desc {
	color: var( --gray-70 );
	line-height: 1.5;
	margin: 8px 0;
	p {
		display: inline-block;
		max-width: 55ch; // stylelint-disable unit-allowed-list
		padding-right: 8px;
		margin: 8px 0;
		font-style: normal;
		font-weight: 400;
		font-size: $font-body-small;
		line-height: 24px;
	}
}

.featured-item-card--learn-more {
	color: var( --gray-100 );
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 8px;
	text-decoration-line: underline;
	@media only screen and ( min-width: 768px ) {
		padding-bottom: 0;
	}
}

.featured-item-card--footer {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin-top: 4px;
}