@import "@wordpress/base-styles/breakpoints";

.subscriber-details-page.main {
	padding: 0 32px;
	@media (max-width: $break-large) {
		padding: 0 20px 30px;
	}
}

.subscriber-details-page__loading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 48px;
}

@media (max-width: $break-medium) {
	.is-section-subscribers .subscriber-details {
		margin-top: 108px;
		@media (max-width: $break-large) {
			margin-top: 0;
		}
	}
}
