@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';
@import '@wordpress/base-styles/variables';

.jetpack-free-welcome {
	&.main.is-wide-layout {
		max-width: 744px;
	}
	.jetpack-free-welcome__card {
		padding: 0;
		box-shadow: 0 0 40px 0 #00000014;

		width: 100%;
		max-width: none;

		> div.jetpack-free-welcome__card-main {
			box-sizing: border-box;
			padding: 26px;
			@include break-mobile {
				padding: 76px;
			}
		}

		.jetpack-logo {
			margin-bottom: 48px;
		}

		h1 {
			line-height: 1;
			@include break-mobile {
				font-size: $font-headline-medium;
			}
			+ p {
				font-size: 18px; /* stylelint-disable-line */
				line-height: 1.5rem;
				@include break-mobile {
					font-size: $font-title-medium;
					line-height: 2rem;
				}
			}
		}
		h2 {
			font-size: $font-title-medium;
			font-weight: 700;
			line-height: 1.75rem;
			padding-bottom: 16px;
		}

		a.jetpack-free-welcome__link,
		a.jetpack-free-welcome__feature-link {
			text-decoration: underline;
			color: var( --color-studio-black );
			&:hover {
				text-decoration: none;
			}
		}

		.jetpack-free-welcome__step {
			display: flex;
			align-items: flex-start;
			padding-bottom: 40px;

			&:last-of-type {
				padding-bottom: 0;
			}

			.jetpack-free-welcome__step-number {
				color: white;
				background-color: var( --studio-jetpack-green-40 );
				text-align: center;
				border-radius: 50%; /* stylelint-disable-line */
				font-size: $font-title-small;
				font-weight: 600;
				width: rem( 32px );
				height: rem( 32px );
			}
			.jetpack-free-welcome__step-content {
				flex: 1;
				padding: 0 10px 0 16px;
				p {
					@include break-mobile {
						font-size: 18px; /* stylelint-disable-line */
						line-height: 1.75rem;
					}
					margin: 0;
				}
			}
		}

		.jetpack-free-welcome__main-message {
			font-size: 2.25rem;
			font-weight: 700;
			margin-bottom: 24px;

			@include break-mobile {
				font-size: 3rem;
			}
		}

		.jetpack-free-welcome__features {
			margin: 0 0 0 10px;
			padding: 0 0 32px 5px;
			@include break-mobile {
				font-size: 18px; /* stylelint-disable-line */
				line-height: 2rem;
			}
		}

		.jetpack-free-welcome__feature-nav-button {
			position: relative;
			display: block;
			padding: 16px 64px 16px 24px;
			color: var( --color-studio-black );
			border: 2px solid var( --studio-jetpack-green-40 );
			border-radius: calc( 2px * 2 );
			text-decoration: none;

			span {
				display: block;

				&:last-of-type {
					font-weight: 600;
				}
			}

			&:hover,
				&:focus {
					//box-shadow: 0px 0px 40px rgba( 0, 0, 0, 0.08 );

					span:last-of-type {
						text-decoration: underline;
						text-decoration-thickness: 2px;
					}

					&::after {
						transform: translateY( -50% ) translateX( 8px );
					}
				}

			&::after {
				content: '→';
				position: absolute;
				top: 50%;
				right: 24px;
				font-size: $font-title-medium;
				font-weight: 600;
				color: var( --studio-jetpack-green-40 );
				transform: translateY( -50% );
				transition: transform 0.15s ease-out;
			}
		}
	}
}
