.flow-progress-indicator {
	display: flex;
	align-items: start;
	justify-content: start;

	color: $white;
	font-size: 14px;
	font-weight: 300;
	margin: 0 auto -12px;

	@include breakpoint( '<660px' ) {
		padding-top: 12px;
	}

	@include breakpoint( '>960px' ) {
		max-width: 960px;
	}
}

.flow-progress-indicator__rebrand-cities {
	display: none;
}
