.icann-verification {
	.button {
		margin-bottom: 15px;

		@include breakpoint( '<480px' ) {
			width: 100%;
		}
	}
}

.icann-verification__explanation {
	margin-bottom: 15px;
}

.domain-details-card {
	.icann-verification {
		margin-top: 16px;
	}
}
