.upsell-nudge {
	&.banner.card {
		border-left-color: var( --color-accent );
		background-color: var( --color-neutral-80 );
		color: var( --color-text-inverted );
		display: flex;
		align-items: center;

		a {
			color: var( --color-text-inverted );
		}

		&.is-compact {
			margin-bottom: 0;

			.banner__icon-circle {
				margin-right: 0.25em;
			}
			.dismissible-card__close-icon {
				margin-left: 0.25em;
			}
		}
	}

	&.banner.card .banner__icon-circle {
		width: auto;
		height: auto;
		color: var( --color-text-inverted );
		border-radius: 0;
		background: none;
		padding: 0;
	}

	&.banner.card .card__link-indicator {
		fill: var( --color-text-inverted );
	}

	.banner__content {
		margin-right: auto;
		color: var( --color-text-inverted );
	}

	.banner__title {
		color: var( --color-text-inverted );
		font-weight: normal;
	}

	.banner__action {
		margin-left: auto;
		margin-right: -5px;
	}

	.dismissible-card__close-icon {
		fill: var( --color-text-inverted );
		margin-left: 1em;
		margin-top: 0;
		position: relative;
		top: auto;
		right: auto;
		order: 2;
	}

	&.is-dismissible .banner__action {
		margin-right: 0;

		@include breakpoint( '>480px' ) {
			margin-top: 0;
		}
	}
}