.post-type-filter .section-nav-tab {
	box-sizing: border-box;
	height: 50px;
}

.post-type-filter .section-nav .gravatar {
	margin-left: 6px;
	vertical-align: middle;
}

@include breakpoint-deprecated( '660px-800px' ) {
	$width-search: 40px;
	$space-between-nav-and-search: 5px;

	.section-nav.has-pinned-items {
		padding-right: $space-between-nav-and-search + $width-search;
	}
	.section-nav__segmented .segmented-control {
		margin: 0;
	}
	.search.is-expanded-to-container {
		width: $width-search;
		svg {
			width: $width-search;
		}
	}
}
