@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.stats-no-content-banner__banner {
	.banner__content {
		.banner__action {
			margin-top: 14px;
			margin-right: 0;

			@include break-mobile {
				margin-right: 40px;
				margin-top: 0;

				a {
					width: 140px;
					margin-left: 10px;
				}
			}
		}
	}

	.dismissible-card__close-button {

		@include break-mobile {
			transform: translateY(-50%);
			top: 50%;
		}
	}

	.banner__icons {
		.banner__icon {
			display: none;
		}

		.banner__icon-no-circle {
			max-width: 48px;
			max-height: 48px;
			min-width: 48px;
			min-height: 48px;
		}
	}
}
