@import './tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reset & Box Model */
  *, ::before, ::after, ::backdrop, ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }

  /* Default Border & Outline Colors */
  * {
    border-color: var(--color-border);
    outline-color: var(--color-ring);
    @supports (color: color-mix(in lab, red, red)) {
      outline-color: color-mix(in oklab, var(--color-ring) 50%, transparent);
    }
  }

  /* Form Elements Reset */
  button, input, select, optgroup, textarea, ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }
}
