.dashboard-field-list {
	flex-wrap: wrap;
}

.dashboard-field-list-field {
	width: auto;
	flex-shrink: 0;
}

.dashboard-field-list-field:not(:last-child) {
	&::after {
		display: block;
		content: '•';
	}
}

.dashboard-field-list-field-children {
	flex: 1;
}