.editor-delete-post__tooltip .popover__inner {
	white-space: nowrap;
}

.editor-delete-post {
	display: block;
	margin-top: -7px;
}

.editor-delete-post__button.button.is-borderless {
	color: var( --color-text-subtle );
	padding: 0;

	&.is-trashing {
		color: var( --color-error );
		.gridicon {
			color: var( --color-error );
		}
	}

	&:hover,
	&:focus {
		color: var( --color-error );
		outline: none;

		.gridicon {
			color: var( --color-error );
		}
	}

	.gridicon {
		color: var( --color-text-subtle );
		margin-right: 4px;
	}
}
