.importer__mapping-header {
	border-bottom: 1px solid var( --color-neutral-light );
	margin-bottom: 0;
	padding-bottom: 8px;

	font-size: 11px;
	color: var( --color-neutral-light );

	@include clear-fix;
}

.importer__mapping-description {
	font-size: 14px;
	margin-bottom: 16px;

	strong {
		white-space: nowrap;
	}
}

.importer__mapping-source-title {
	float: left;
	display: inline-block;
}

.importer__mapping-target-title {
	float: right;
	display: inline-block;
}
