.importer__section-header {
	&.formatted-header {
		margin: 0 auto;
		max-width: 500px;
	}

	.formatted-header__title {
		text-transform: capitalize;
	}

	.formatted-header__subtitle {
		color: var( --color-neutral-dark );

		a {
			display: inline-block;
		}
	}
}
