.form-dimensions-input {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
		@include breakpoint( ">480px" ) {
			flex-wrap: nowrap;
		}

	.form-text-input-with-affixes {
		flex-grow: 2;
		flex-direction: row;
	}

	.form-text-input-with-affixes__suffix {
		@include breakpoint( "<480px" ) {
				border-left: none;
				border-top: 1px solid lighten( $gray, 20% );
			}
	}

	.form-dimensions-input__length,
	.form-dimensions-input__width {
		border-bottom-width: 0;
		@include breakpoint( ">480px" ) {
			border-right: 0;
			border-bottom-width: 1px;
		}
	}

	.form-dimensions-input__length,
	.form-dimensions-input__width,
	.form-dimensions-input__height {
		&:hover,
		&:focus {
			transform: scale(1);
		}

		&:focus + .form-dimensions-input__width:hover,
		&:focus + .form-text-input-with-affixes .form-dimensions-input__height:hover {
			transform: none;
		}
	}
}
