.highlight-cards.wordads {
	h1 {
		display: flex;
		flex-flow: nowrap;
		align-items: center;
	}
	.highlight-card {
		min-width: 240px;
	}
	.info-wrapper {
		display: flex;
		margin-left: 8px;
	}
	.info-icon {
		fill: var(--studio-gray-40);
	}
}

// Modified styling for Tools → Earn → View ad dashboard.
main.earn .highlight-cards.wordads {
	background-color: inherit;
	box-shadow: none;
	padding-bottom: 32px;
}

.tooltip-wordads {
	.highlight-card-tooltip-content {
		display: block;
		max-width: 260px;

		p:last-child {
			margin: 0;
		}
	}
}
