
// ==========================================================================
// Global form elements
// ==========================================================================

form {
	@extend %form;
}
input[type='text'],
input[type='email'],
textarea {
	@extend %form-field;
}
textarea {
	@extend %textarea;
	border-radius: 2px;
}

fieldset,
input[type='text'],
input[type='email'],
textarea,
label {
	box-sizing: border-box;
}

input[type='email'] {
	/*!rtl:ignore*/
	direction: ltr;
}
