@import '@wordpress/base-styles/variables';

.dashboard-secondary-menu__item.dashboard-secondary-menu__item {
	color: var( --dashboard-secondary-menu-item__color );
}

.dashboard-secondary-menu__divider {
	height: $grid-unit-30;
	border-left: $border-width solid $gray-100;
}
