.is-p-2-join-workspace .p2-step-wrapper {
	max-width: 620px;
}

.p2-join-workspace__workspace-list {
	margin-bottom: 2.5em;
}

.p2-join-workspace__workspace {
	display: grid;
	grid-template-columns: min-content auto min-content;
	grid-column-gap: 12px;
	padding: 0.75rem 1.5rem;
	border-top: 1px solid var( --p2-color-border-light );

	&:last-of-type {
		border-bottom: 1px solid var( --p2-color-border-light );
	}
}

.p2-join-workspace__workspace-icon {
	background: var( --p2-color-link );
	grid-area: 1 / 1 / span 2;
	color: var( --p2-color-white );
	font-weight: 500;
	font-size: 1.25rem;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
}

.p2-join-workspace__workspace-name {
	font-weight: 600;

	.p2-join-workspace__workspace-link {
		color: var( --p2-color-text );
	
		&:hover {
			color: var( --p2-color-text );
		}
	}
}

.p2-join-workspace__workspace-description {
	font-size: 0.75rem;
	color: var( --p2-color-border-medium );
	grid-area: 2 / 2;
	line-height: 0.5;
	
	> span::after {
		content: '·';
		padding: 0 0.5rem;
	}

	> span:last-of-type::after {
		content: '';
		padding: 0;
	}
}

.p2-join-workspace__action {
	grid-area: 1 / 3 / span 2;
	align-items: center;
	display: flex;
	justify-content: center;
}

.p2-join-workspace__action-join {
	background: var( --p2-color-background-light );
	border-radius: 18px; /* stylelint-disable-line scales/radii */
	padding: 0 1.5rem;
	font-weight: 500;

	&:hover {
		background: var( --p2-color-background-medium );
	}
}

.p2-join-workspace__create-workspace {
	background: var( --p2-color-background-light );
	padding: 1.2em;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	border-radius: 2px; /* stylelint-disable-line scales/radii */
}

.p2-join-workspace__create-workspace-header {
	font-size: 0.875rem;
	font-weight: 600;
}

.p2-join-workspace__create-workspace-subheader {
	font-size: 0.75rem;
}

.p2-join-workspace__create-workspace-action {
	grid-area: 1 / 2 / span 2;
	align-items: center;
	display: flex;
	justify-content: right;
	
	button:not( :disabled ) {
		background: var( --p2-color-link );
		color: var( --p2-color-white );
		border-radius: 18px; /* stylelint-disable-line scales/radii */
		padding: 0 1rem;

		&:hover {
			background: var( --p2-color-link-dark );
			color: var( --p2-color-white );
		}
	}
}

.p2-join-workspace__code-input {
	text-align: center;
}

.p2-join-workspace__code-input-label {
	margin-bottom: 1rem;
}

.p2-join-workspace__code-input-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	fieldset {
		border: none;
		text-align: center;
		margin-bottom: 2rem;
	}

	button.p2-join-workspace__code-input-submit,
	button.p2-join-workspace__code-input-cancel {
		max-width: 60%;
	}

	.p2-join-workspace__code-input-cancel {
		margin-top: 2rem;
		text-decoration: underline;
		color: var( --p2-color-link );

		&:hover {
			color: var( --p2-color-link-dark );
		}
	}
}

.p2-join-workspace__code-input-box,
.p2-join-workspace__code-input-separator {
	height: 4rem;
	width: 4rem;
	margin: 0 0.25rem;

}

.p2-join-workspace__code-input-box {
	border: 1px solid var( --p2-color-border-medium );
	font-size: 2rem;
	text-align: center;

	.has-error & {
		border-color: var( --p2-color-error );
	}
}

.p2-join-workspace__code-input-separator {
	&::before {
		content: '—';
	}
}

.p2-join-workspace__code-input-error {
	color: var( --p2-color-error );
	font-size: 0.875rem;
	margin-top: 0.5rem;
}

.p2-join-workspace__code-input,
.p2-join-workspace__workspace-list {
	button.components-button.is-busy {
		background-image: none;

		&::after {
			content: '';
			display: block;
			width: 24px;
			height: 24px;
			animation: p2-spinner 0.5s linear infinite;
			background: url( 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggb3BhY2l0eT0iMC4yIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxLjYzNjRDMTcuMzIyIDIxLjYzNjQgMjEuNjM2MyAxNy4zMjIgMjEuNjM2MyAxMkMyMS42MzYzIDYuNjc4IDE3LjMyMiAyLjM2MzY1IDEyIDIuMzYzNjVDNi42Nzc5MyAyLjM2MzY1IDIuMzYzNTkgNi42NzggMi4zNjM1OSAxMkMyLjM2MzU5IDE3LjMyMiA2LjY3NzkzIDIxLjYzNjQgMTIgMjEuNjM2NFpNMTIgMjMuNjM2NEMxOC40MjY1IDIzLjYzNjQgMjMuNjM2MyAxOC40MjY2IDIzLjYzNjMgMTJDMjMuNjM2MyA1LjU3MzQzIDE4LjQyNjUgMC4zNjM2NDcgMTIgMC4zNjM2NDdDNS41NzMzNiAwLjM2MzY0NyAwLjM2MzU4NiA1LjU3MzQzIDAuMzYzNTg2IDEyQzAuMzYzNTg2IDE4LjQyNjYgNS41NzMzNiAyMy42MzY0IDEyIDIzLjYzNjRaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNMTIgMi4zNjM2NUM2LjY3NzkzIDIuMzYzNjUgMi4zNjM1OSA2LjY3OCAyLjM2MzU5IDEySDAuMzYzNTg2QzAuMzYzNTg2IDUuNTczNDMgNS41NzMzNiAwLjM2MzY0NyAxMiAwLjM2MzY0N1YyLjM2MzY1WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+' )
				no-repeat 0 0;
		}
	}

	@keyframes p2-spinner {
		from {
			transform: rotate( 0deg );
		}
	
		to {
			transform: rotate( 360deg );
		}
	}
}
