@import "@wordpress/base-styles/breakpoints";

.site-preview__header {

	@media ( min-width: $break-large ) {

		.site-preview__header-favicon {
			margin-right: 24px;
			position: relative;
		}

	}

	@media ( max-width: $break-large ) {

		.sites-dataviews__site-favicon {
			border-radius: 2px;
		}
	}
}
