.editor-sticky.button {
	&.is-sticky {
		color: $orange-jazzy;
	}
}

.editor-sticky__explanation {
	display: block;
	font-size: 11px;
}

.editor-sticky__tooltip .popover__inner {
	white-space: nowrap;
}
