.sites-popover {
	font-size: 15px;
	width: 300px;
}

.sites-popover .popover__inner {
	position: relative;
	text-align: left;
	overflow: hidden;
}

.sites-popover .site-selector {
	position: relative;

	&.is-large {
		padding-top: 50px;
	}
}

.sites-popover.has-header .site-selector {
	position: relative;
}

.sites-popover.has-header .sites-popover__header {
	border-bottom: 1px solid lighten( $gray, 30% );
	color: darken( $gray, 10% );
	font-size: 12px;
	font-weight: bold;
	padding: 10px 10px 8px 8px;
}

.sites-popover .search {
	position: absolute;
		top: 0;
		right: 0;
		left: 0;
}

.sites-popover .site-selector__sites {
	overflow-y: auto;
	max-height: 70vh;
}

.sites-popover .site__content {
	text-decoration: none;
}

.sites-popover .site-selector__heading {
	margin-top: 16px;
}

.sites-popover .site-selector .site {
	&.is-selected {
		background-color: $gray;

		.site__title {
			color: $white;

			&::before {
				color: $white;
			}
		}

		.site__domain {
			color: $white;
		}
	}

	.notouch & {
		&:hover {
			background: $blue-medium;

			.site__badge {
				color: $white;
			}

			.site__title,
			.site__domain {
				color: white;
				&::after {
					@include long-content-fade( $color: $blue-medium );
				}
			}

			.site__title:before {
				color: white;
			}
		}
	}
}

.sites-popover .site-selector .site:not(.is-selected) .site-icon__img {
	opacity: 1;
	filter: none;
}
