.activity-log-item {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	position: relative;
	margin-top: 24px;

	.card {
		width: 300px;
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 200px;
		align-items: center;
		background: $white;
	}

	.activity-log-item__card .foldable-card__content {
		padding: 16px;
		font-size: 14px;
		color: darken( $gray, 20% );
	}

	.foldable-card .foldable-card__expand .gridicon {
		transform: none;
	}

	.foldable-card.is-expanded .foldable-card__expand .gridicon {
		transform: rotate( 180deg );
	}

	.foldable-card__main {
		flex: 5 1;
	}
}

.activity-log-item__type {
	align-self: flex-start;
	background: $gray-light;
	text-align: center;
	margin: -2px 22px 0 10px;
	padding: 4px 0 6px;
}

.activity-log-item__time {
	font-size: 11px;
	color: $gray;
	text-transform: uppercase;
	white-space: nowrap;
}

.activity-log-item__activity-icon {
	// General notice
	background: $gray;
	color: $white;
	display: flex;
	border-radius: 50%;
	padding: 12px;
	margin-top: 2px;

	// Success
	&.is-success {
		background: $alert-green;
	}

	// Warning
	&.is-warning {
		background: $alert-yellow;
	}

	// Error! OHNO!
	&.is-error {
		background: $alert-red;
	}
}

.activity-log-item__card-header {
	display: flex;
	flex: 1;
	align-items: center;
}

.activity-log-item__actor {
	display: flex;
	flex: 2 1;
	align-items: center;

	@include breakpoint( ">1040px" ) {
		flex: 1 1;
	}
}

.activity-log-item__actor .gravatar {
	float: left;
	margin-right: 16px;
}

.activity-log-item__actor-role {
	text-transform: uppercase;
	font-size: 12px;
	color: $gray;
}

.activity-log-item__title {
	flex: 3 1;
}

.activity-log-item__title-title {
	font-size: 14px;
}

.activity-log-item__title-subtitle {
	font-size: 12px;
	text-transform: uppercase;
	color: $gray;
}

.activity-log-item__action {
	flex-basis: 25%;
	text-align:right;
}

.activity-log-item__id {
	float: right;
	font-size: 11px;
	color: lighten( $gray, 20% );
	font-style: italic;
	margin-bottom: 4px;
	margin-right: -7px;
}
