.post-images {
	color: $gray;
	margin: 0 -24px 0 -24px;
	padding: 0;
	cursor: pointer;
}

.post-images__list {
	list-style: none;
	margin: 0;
	height: 130px;
	display: flex;
}

.post-images__item {
	display: block;
	flex: 1;
	margin: 0;
	border-right: 1px solid #fff;
}

.post-images__item:first-child {
	flex: 3
}

.post-images__image {
	height: 130px;
	width: 100%;
	object-fit: cover;
}

.post-images__item:last-child {
	border-right: none;
}
