.purchases-site {
	margin-bottom: 24px;

	.site-icon {
		display: inline-block;
		margin-right: 12px;
		vertical-align: middle;
	}
}

.purchases-site__slug {
	color: var( --color-neutral );
	font-size: $font-body-extra-small;
}

.purchases-site__slug {
	white-space: nowrap;

	@include breakpoint-deprecated( '<660px' ) {
		line-height: 15px;
	}
}

.concierge-banner {
	& .action-card__button-container {
		text-align: left;

		@include breakpoint-deprecated( '>960px' ) {
			text-align: center;
		}
	}

	& .action-card__illustration {
		@include breakpoint-deprecated( '>960px' ) {
			margin: -10px -20px 0;
		}
	}

	&.purchase-concierge .action-card__illustration {
		@include breakpoint-deprecated( '>960px' ) {
			margin-right: 20px;
		}
	}

	&.card {
		@include breakpoint-deprecated( '>480px' ) {
			padding: 10px;
			align-items: flex-start;
		}
	}

}
