.a4a-agent-studio-project-detail {
	.hosting-dashboard-layout__body-wrapper {
		max-width: 760px;
	}
}

.a4a-agent-studio-project-detail__content {
	margin-block-start: 24px;
}

.a4a-agent-studio-project-detail__client-name {
	color: var( --color-neutral-50 );
}
