.site-redirect-card {
	form label + input[type='text'] {
		margin-bottom: 10px;
	}

	&.fetching input[type='text'] {
		animation: pulse-light 0.8s ease-in-out infinite;
		background: var( --color-neutral-10 );
	}
}

.site-redirect__explanation {
	display: block;
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 13px;
	font-style: italic;
	color: var( --color-text-subtle );
}
