.hundred-year-plan {
	height: 100%;
	padding: 0;
	.signup-header {
		display: none;
	}
}


.step-container.hundred-year-plan.hundred-year-plan {
	max-width: none;
	height: 100%;
	padding: 0;
	.step-container__content {
		min-height: 100%;
	}

	.step-container__navigation.action-buttons.should-sticky-nav-buttons {
		background-color: transparent;
	}

	.step-container__navigation.action-buttons .step-container__navigation-logo {
		fill: #fff;
		stroke: #fff;
	}
}
