@import "@automattic/onboarding/styles/mixins";
@import "@wordpress/base-styles/breakpoints";

.continue-as-user {
	display: block;
	animation: 1s appear 0s ease-in;
	color: var(--color-text-subtle);
	font-size: $font-body-small;
	text-align: center;
	height: calc(65vh - 47px); /* The values here are set so that the Not-you line gets pushed to the bottom of the screen on mobile */
	margin: 48px auto 0;
	position: relative;
	max-width: 400px;
	min-height: 260px;

	@include break-medium {
		height: 48vh;
	}

	.continue-as-user__user-info {
		height: auto;
		align-self: flex-start;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		& > a.button {
			margin: 0 20px;
			border-radius: 4px;
		}
	}

	.continue-as-user__gravatar {
		display: inline;
		border: 1px solid #a7aaad;
	}

	.continue-as-user__change-user-link {
		color: var(--color-link);
		cursor: pointer;
		margin: auto;

		&:hover,
		&:focus,
		&:active {
			color: var(--color-link-dark);
		}
	}

	.continue-as-user__not-you {
		display: block;
		bottom: 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}

.is-white-login {
	.continue-as-user {
		height: auto;
	}
	.continue-as-user__not-you {
		position: static;
	}
}