.card.login__social {
	margin-bottom: 0;
}

.login__social-buttons {
	display: flex;
	flex-direction: column;

	.social-buttons__button:not( :first-of-type ) {
		margin-top: 10px;
	}
}

.login__social-tos {
	font-size: 11px;
	margin: 1.5em 0 0;
	text-align: center;
}
