.card.login__form {
	border-bottom: 0;
	margin-bottom: 0;
}

.login__form-userdata {
	margin: 5px 0;

	label {
		display: block;
		font-size: 16px;
		padding-bottom: 8px;
		margin: 10px 0;
	}
}

.login__form-action {
	margin-top: 10px;
}

.login__form-header-title {
	font-size: 20px;
	margin-bottom: 16px;
}
