.gmb-stats__metrics {
	@include breakpoint( '>1280px' ) {
		column-count: 2;
		column-gap: 16px;
	}

	.pie-chart__chart-drawing,
	.pie-chart__placeholder-drawing {
		max-width: 200px;
	}
}

.gmb-stats__metric {
	display: inline-block;
	margin-top: 1px; // Fixes shadow truncated at the top of the second column
	width: 100%;
}

.gmb-stats__chart {
	margin-top: 20px;
	position: relative;

	.pie-chart__legend {
		margin-top: 20px;
	}
}

.gmb-stats__chart-interval {
	margin-top: 10px;

	@include breakpoint( '<480px' ) {
		width: 100%;
	}
}
