@import "@wordpress/base-styles/breakpoints";
@import "@automattic/components/src/highlight-cards/variables.scss";

$barChartBorderRadius: 2px;
$yearBarChartBorderRadius: 4px;

.stats > .stats--new-main-chart {
	padding-top: $vertical-margin;
}

// For feature `stats/new-main-chart`
.stats--new-main-chart {
	.is-chart-tabs {
		margin-bottom: $vertical-margin;

		&.is-loading {
			// Extract .stats-module.is-loading from StatsModulePlaceholder
			.chart {
				display: none;
			}
		}
	}

	// Common Legend options
	.chart__legend {
		margin-bottom: 16px;

		@media ( max-width: $break-medium ) {
			padding: 0 16px;
		}

		.chart__legend-options {
			text-transform: none;
			letter-spacing: inherit;

			@media ( max-width: $break-mobile ) {
				display: none;
			}
		}

		.chart__legend-option {
			&:not(:first-child) {
				margin-left: 24px;
			}
		}

		.chart__legend-label {
			color: var(--studio-black);
			font-size: $font-body-small;
			font-weight: 400;
			line-height: 18px;
			padding: 0;

			&.is-selectable {
				&:hover,
				&:focus {
					color: var(--studio-black);
				}
			}

			.chart__legend-checkbox {
				width: 20px;
				height: 20px;
				background-color: var(--color-surface);
				border: 1px solid var(--color-neutral-10);
				border-radius: 2px;
				margin-right: 8px;

				&:checked::before {
					margin: 3px auto;
				}
			}
		}

		.chart__legend-color {
			width: 20px;
			height: 20px;
			margin: 0 8px 0 0;
			border-radius: 4px;
		}
	}

	.stats-module__placeholder.is-chart {
		height: 228px;
	}

	// Main Chart
	.chart {
		padding: 0 0 0 20px;
		background-color: inherit;

		.chart__bar {
			// Cancel the chart bar styles
			&.is-weekend {
				background: none;
			}

			&:hover {
				background-color: rgba(var(--color-neutral-rgb), 0.1);

				.chart__bar-section.is-bar {
					background-color: var(--color-primary);
				}
			}

			&.is-selected {
				background-color: rgba(var(--color-primary-rgb), 0.1);

				.chart__bar-section.is-bar {
					background-color: var(--color-primary);
				}

				.chart__bar-section-inner {
					background-color: var(--color-primary-dark);
				}
			}
		}

		.chart__bar-section {
			background-color: var(--color-primary);
			border-top-left-radius: $barChartBorderRadius;
			border-top-right-radius: $barChartBorderRadius;
		}

		.chart__bar-section-inner {
			border-top-left-radius: $barChartBorderRadius;
			border-top-right-radius: $barChartBorderRadius;
		}

		.chart__y-axis,
		.chart__x-axis-width-spacer {
			padding: 0 20px;
		}

		.chart__x-axis-label:not(.chart__x-axis-width-spacer) {
			font-weight: 400;
			line-height: 24px;
			color: var(--color-neutral-40);
		}
	}

	// Chart Tabs
	.stats-tabs {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 24px 0 16px;
		border: 0;

		&.is-enabled {
			background-color: inherit;
		}

		.stats-tab {
			width: 100%;

			// Keep the original mobile stats-tabs styles
			// Adjust new stats-tabs styling beyond the mobile layout
			@media ( min-width: $break-mobile ) {
				flex: 1;
				width: auto;
				border: 0;

				&:not(:first-child) {
					margin-left: 16px;
				}
			}

			a {
				display: block;
				background-color: var(--color-neutral-0);
				border: 1.5px solid transparent;
				border-radius: 4px;
				overflow: hidden;
				color: var(--studio-black);
				padding: 10px 0;

				@media ( max-width: $break-mobile ) {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				&:hover {
					color: var(--studio-black);
					background-color: var(--color-neutral-0);

					.label,
					.value {
						color: var(--studio-black);
					}
				}

				.label {
					color: var(--color-neutral-60);
					font-size: $font-body-small;
					line-height: 20px;
					text-transform: none;
					letter-spacing: -0.15px;
				}

				.value {
					color: var(--studio-black);
					font-size: $font-title-small;
					font-weight: 500;
					line-height: 30px;
					margin-left: 0;

					@media ( max-width: $break-mobile ) {
						margin-left: auto;

						// For mobile stats-tabs in Store page
						&:not(.store-stats-orders-chart__value):not(:last-child) {
							display: none;
						}
					}
				}

				.delta {
					justify-content: center;

					// For mobile stats-tabs in Store page
					@media ( max-width: $break-mobile ) {
						display: none;
					}
				}
			}

			&.is-low,
			&.is-selected,
			&.is-selected.is-low {
				a {
					&:hover {
						color: var(--studio-black);

						.label {
							color: var(--studio-black);
						}

						.value {
							color: var(--studio-black);
						}
					}
				}
			}

			&.is-selected,
			&.is-selected.is-low {
				a {
					color: var(--studio-black);
					border-color: var(--color-primary);
					background-color: var(--color-surface);

					// Keep the original mobile stats-tabs border styles
					@media ( max-width: $break-mobile ) {
						border-color: transparent;
					}

					.label {
						color: var(--studio-black);
					}

					.value {
						color: var(--studio-black);
					}
				}
			}
		}
	}

	&.is-period-year {
		.chart__bar-section {
			border-top-left-radius: $yearBarChartBorderRadius;
			border-top-right-radius: $yearBarChartBorderRadius;
		}

		.chart__bar-section-inner {
			border-top-left-radius: $yearBarChartBorderRadius;
			border-top-right-radius: $yearBarChartBorderRadius;
		}
	}
}
