@use "sass:math";
@import "calypso/my-sites/stats/modernized-tooltip-styles";
@import "calypso/my-sites/stats/modernized-chart-tabs-styles";
@import "calypso/my-sites/stats/modernized-layout-styles";
@import "calypso/my-sites/stats/theme-override-mixin";

$stats-card-min-width: 390px;

// Module container
@include breakpoint-deprecated( ">960px" ) {
	.stats__module-column {
		float: right;
		width: calc(50% - 4px);

		&:first-child {
			float: left;
		}

		&:last-child {
			clear: right;
		}
	}
}

@include breakpoint-deprecated( ">1280px" ) {
	.stats__module-column {
		width: calc(33% - 3px);

		&:last-child {
			clear: none;
			left: -10px;
			position: relative;
		}
	}
}

.old-stats-link .button .gridicon {
	margin-bottom: -2px;
	margin-left: 4px;
}

.stats-navigation__control {
	margin-right: 16px;

	@include breakpoint-deprecated( "<480px" ) {
		margin-right: 0;
	}
}

.stats__sticky-navigation.is-sticky .sticky-panel__content, .sticky-panel.is-sticky .sticky-panel__content {
	background: var(--studio-white);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 56px rgba(0, 0, 0, 0.075);

	.stats-period-navigation {
		margin: 9px 0;
	}
}


.stats-card {
	@media (max-width: $break-medium) {
		min-width: $stats-card-min-width;
	}
}

.stats__card {
	display: flex;
	background: var(--color-surface);
	box-shadow: 0 0 0 1px var(--color-border-subtle);
	position: relative;
	margin-bottom: 24px;

	.stats__card-text,
	.stats__card-illustration {
		box-sizing: border-box;
		padding: 24px;

		@include breakpoint-deprecated( ">1040px" ) {
			padding: 32px;
		}
	}

	.stats__card-text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.stats__card-illustration {
		width: 25%;
		align-self: auto;
		flex-shrink: 0;
		margin-left: auto;
	}

	.stats__card-title {
		@extend .wp-brand-font;
		font-size: $font-title-medium;
		line-height: 36px;
		margin-bottom: 4px;

		@include breakpoint-deprecated( ">800px" ) {
			line-height: 40px;
		}
	}

	.stats__card-description {
		margin-bottom: 24px;
		font-size: $font-body;
		line-height: 24px;
		color: var(--color-text);

		@include breakpoint-deprecated( ">800px" ) {
			line-height: 28px;
			margin-bottom: 32px;
		}
	}

	.stats__card-actions {
		display: flex;
		padding-top: 0;
		margin-top: auto;
		font-size: $font-body-small;
	}

	.stats__card-action {
		margin-right: 16px;
	}
}

.stats__private-site-banner {
	.banner__content {
		.banner__action {
			margin-top: 14px;
			margin-right: 0;
			@include breakpoint-deprecated( ">480px" ) {
				margin-right: 40px;
				margin-top: 0;

				a {
					width: 140px;
					margin-left: 10px;
				}
			}
		}
	}

	.dismissible-card__close-button {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		top: 50%;
		@include breakpoint-deprecated( ">480px" ) {
			top: unset;
			transform: unset;
			-webkit-transform: unset;
		}
	}
	.banner__icons {
		.banner__icon {
			display: none;
		}
		.banner__icon-no-circle {
			max-width: 48px;
			max-height: 48px;
			min-width: 48px;
			min-height: 48px;
		}
	}
}

.stats__parsely-banner {
	display: flex;
	font-size: $font-body-small;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	padding: 30px;
	margin-top: 16px;

	@include breakpoint-deprecated( ">960px" ) {
		flex-direction: row;
		align-items: center;
	}

	.formatted-header.is-left-align {
		margin: 0 0 16px;
	}

	& > div {
		flex: 1;
		margin-right: 30px;
	}

	img {
		margin-right: 30px;
		width: 45px;
		height: auto;
	}

	p {
		color: var(--color-text-subtle);
		@include breakpoint-deprecated( ">960px" ) {
			margin-bottom: 0;
		}
	}

	.button {
		margin-left: auto;
		justify-self: flex-end;

		@include breakpoint-deprecated( ">960px" ) {
			margin-left: 30px;
		}
	}

	&::after {
		display: none;
	}
}

// Stats section scoped styles
.is-section-stats {
	&.color-scheme.is-classic-dark {
		@include apply-improved-classic-dark-colors();
	}

	.sticky-panel.is-sticky {
		padding: 0;
	}

}

.list-emails {
	.horizontal-bar-list .horizontal-bar-list-item-bar::before {
		display: none;
	}

	.horizontal-bar-list-item--additional,
	.stats-card-header__additional {
		font-weight: 500;
	}
}

@import "calypso/my-sites/stats/grid-layout";
