@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.navigation-header {
	box-sizing: border-box;
	width: 100%;
	padding: 16px;
	margin-bottom: 32px;
	@include break-small {

		padding: 0 0 24px 0;
		margin-bottom: 16px;
	}

	.breadcrumbs-back {
		margin-top: 24px;
	}

	.breadcrumbs {
		margin-top: 24px;
	}
}

.navigation-header__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;

	> .formatted-header {
		flex: 1;
	}

	.formatted-header__title {
		font-family: Recoleta, "Noto Serif", Georgia, "Times New Roman", Times, serif;
		font-size: $font-title-medium;
		font-weight: 500;
		margin-bottom: 4px;
		min-height: 33px;
	}
	.formatted-header__subtitle {
		min-height: 20px;
		margin: 0;
	}
}

#primary header.navigation-header header.formatted-header {
	margin: 0;
}
