// Coming soon.

.domain-and-plan-package-header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 24px;
}
.domain-and-plan-package-header__back {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 24px;
}
