
.credit-card__stored-card {
	background-image: url( '/calypso/images/upgrades/cc-visa-disabled.svg' );
	background-position: 18px center;
	background-repeat: no-repeat;
	background-size: 60px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px 15px 15px 95px;
}

.credit-card__stored-card-name {
	color: $gray-darken-10;
	margin-right: 10px;
}

.credit-card__stored-card-number {
	color: $gray-dark;
	flex-basis: 100%;
	font-weight: 600;
}

.credit-card__stored-card-expiration-date {
	color: $gray-darken-10;
	font-style: italic;
	opacity: 0.7;
	white-space: nowrap;
}

$cc-brands: 'amex', 'diners', 'discover', 'jcb', 'mastercard', 'unionpay', 'visa';

@each $brand in $cc-brands {
	.credit-card__stored-card.is-#{$brand} {
		background-image: url( '/calypso/images/upgrades/cc-#{$brand}-disabled.svg' );
	}
}

.credit-card.is-selected {
	@each $brand in $cc-brands {
		.credit-card__stored-card.is-#{$brand} {
			background-image: url( '/calypso/images/upgrades/cc-#{$brand}.svg' );
		}
	}
}
