.jetpack-decorative-card {
	width: 100%;
	max-width: 360px;
	border-radius: 8px; /* stylelint-disable-line scales/radii */ // stylelint-disable-line scales/radii
	overflow: hidden;
	box-shadow: 0 0 40px var(--studio-gray-20);
	margin: 0 auto;
	margin-bottom: 3rem;

	&__header {
		height: 160px;
		position: relative;
		width: 100%;
	}

	&__header-image {
		display: block;
		object-fit: cover;
	}

	&__header-icon {
		display: block;
		position: absolute;
		top: 24px;
		left: 24px;
	}

	&__body {
		padding: 2rem;
		background: var(--studio-white);
		display: flex;
		justify-content: center;
	}
}
