/** @format */

.security-u2f-key__active-keys {
}

.security-u2f-key__list {
	list-style-type: none;
	margin: 0;
}

.security-u2f-key__item {
	display: flex;
	vertical-align: middle;

	&:hover {
		// TODO probably remove
		background: #ebebeb;
	}

	.security-u2f-key__item-information {
		flex-grow: 1;
		flex-shrink: 0;
		align-self: flex-start;

		.security-u2f-key__item-subtitle {
			color: #989898;
		}
	}

	.security-u2f-key__delete-key {
		flex-grow: 0;
		flex-shrink: 0;
		align-self: flex-end;
	}
}
