$modal-breakpoint-tablet: 1070px;
$modal-breakpoint-mobile: 480px;

.dialog__content.pre-cancellation-dialog {
	padding: 0;
	max-width: 500px;
	background: #fff;

	.pre-cancellation-dialog__close-button {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 9px;

		.gridicon {
			color: #000;
		}
	}

	.pre-cancellation-dialog__site-screenshot {
		width: 365px;
		height: 483px;
		padding: 48px 24px;

		&.site-thumbnail-loading {
			background-color: transparent;
			border: none;

		}
	}

	& + .dialog__action-buttons {
		&::before {
			background: none;
		}

		margin-left: 48px;
		margin-top: 32px;
		margin-bottom: 48px;
		border: none;
		background: transparent;
		text-align: left;
		padding: 0;

		@media ( max-width: $modal-breakpoint-mobile ) {
			margin-right: 48px;
		}
	}

	.pre-cancellation-dialog__grid-colmn {
		text-align: left;
		padding: 48px 48px 0;

		.formatted-header__title {
			font-size: 1.75rem;
			font-weight: inherit;
			margin-bottom: 0.75em;
		}

		.formatted-header.is-left-align,
		.formatted-header.is-right-align {
			margin: 0;
		}

		@media ( max-width: $modal-breakpoint-mobile ) {
			padding: 48px 24px 0;
		}
	}

	.pre-cancellation-dialog--refund {
		font-size: $font-body-small;
		margin: 0;
		padding: 0 10px 5px 0;
		margin-top: 20px;
	}

	.pre-cancellation-dialog__list-plan-features {
		list-style-type: none;
		margin: 10px 0;
		text-align: left;

		li {
			display: grid;
			grid-template-columns: 32px 1fr;
			margin-bottom: 5px;
		}
	}

	.pre-cancellation-dialog--support {
		font-size: $font-body-small;
		position: absolute;
		margin-top: -72px;
		margin-left: 48px;

		@media ( max-width: $modal-breakpoint-tablet ) {
			margin-top: 82px;
			margin-left: 0;
			margin-right: 0;
			text-align: center;
			width: 100%;
		}

		@media ( max-width: $modal-breakpoint-mobile ) {
			margin-top: 122px;
			margin-left: 0;
			margin-right: 0;
			text-align: center;
			width: 100%;
		}
	}

	.pre-cancellation-dialog__item-cross-small {
		color: #e65054;
		vertical-align: middle;
		margin-right: 10px;
	}

	&.--with-screenshot {
		max-width: $modal-breakpoint-tablet;

		@media ( max-width: $modal-breakpoint-tablet ) {
			max-width: 500px;
		}

		.pre-cancellation-dialog__grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			vertical-align: middle;
			text-align: center;

			@media ( max-width: $modal-breakpoint-tablet ) {
				display: block;
			}

			strong {
				overflow-wrap: anywhere;
			}
		}

		.pre-cancellation-dialog__grid-colmn:nth-child(2) {
			background: #f0f0f0;
			padding-bottom: 0;

			@media ( max-width: $modal-breakpoint-tablet ) {
				display: none;
			}
		}

		& + .dialog__action-buttons {
			margin-left: 48px;
			margin-top: -136px;
			margin-bottom: 52px;
			border: none;
			background: transparent;
			text-align: left;
			padding: 0;

			&::before {
				content: none;
			}

			button {
				margin-left: 0;
				margin-right: 10px;
			}

			@media ( max-width: $modal-breakpoint-tablet ) {
				margin-left: 48px;
				margin-top: 24px;
				margin-bottom: 92px;
			}

			@media ( max-width: $modal-breakpoint-mobile ) {
				margin-right: 48px;
			}
		}
	}

	&.--with-domain-feature {

		.pre-cancellation-dialog__grid-colmn {
			@media ( max-width: $modal-breakpoint-mobile ) {
				padding: 48px 24px;
			}
		}

		& + .dialog__action-buttons {
			margin-top: -67px;
			margin-bottom: 27px;
		}
	}
}
