.dashboard__site-survey-banner {
	&.banner.card {
		border-left-color: var(--color-jetpack);

		.banner__icon-circle {
			background-color: var(--color-jetpack);
		}

		.banner__icon-circle > img {
			width: 19px;
			height: 19px;
		}
	}
}
