@import "@wordpress/base-styles/breakpoints";
@import "@automattic/components/src/styles/typography.scss";

.date-control-picker-date {
	margin: 16px;

	// Internal layout
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.date-control-picker-shortcuts {
	margin: 10px 0;
}

.date-control-picker-shortcuts__list {
	list-style: none;
	margin: 0 12px;
}

.date-control-picker-shortcuts__shortcut {
	border-radius: 4px;

	&.is-selected {
		background-color: var(--color-accent-5);
	}

	&:hover {
		background-color: var(--color-primary-0);
	}

	.components-button {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}

.stats-date-control-picker-dates__inputs-input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px; // spacing between "From" and "To" groups

	label {
		margin-bottom: 0;
		text-align: left;
	}
}

.stats-date-control {
	display: flex;
	flex-direction: row-reverse;
}

.date-control-picker-date .stats-date-control-picker-dates__inputs .stats-date-control-picker-dates__inputs-input-group .components-base-control .components-base-control__field input.components-text-control__input {
	max-width: 120px;
}

.stats-date-control-picker {

	> .components-button {
		align-items: center;
		background: #fff;
		border: 1px solid var(--gray-gray-10, #c3c4c7);
		border-radius: 4px;
		color: var(--studio-black);
		display: flex;
		font-family: $font-sf-pro-display;
		font-size: 14px; // stylelint-disable-line declaration-property-unit-allowed-list
		font-style: normal;
		font-weight: 500;
		gap: 8px;
		justify-content: flex-end;
		letter-spacing: 0.32px;
		line-height: 20px;
		padding: var(--grid-unit-15, 12px) var(--grid-unit-20, 16px);
	}
}

.stats-date-control-picker-dates__inputs {

	align-items: flex-start; // this prevents flex children from stretching
	display: flex; // to position "From" and "To" groups side by side
	gap: 16px; // spacing between the "From" input and the "To" input

	input[type="text"] {
		font-family: $font-sf-pro-text;
		font-size: 14px; // stylelint-disable-line declaration-property-unit-allowed-list
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: -0.15px;
		border: 1px solid var(--gray-gray-10, #c3c4c7);
		background: var(--black-white-white, #fff);
		padding: 10px 16px;
		width: auto;
		max-width: 95%; // this is to ensure it doesn't overflow its container
		box-sizing: content-box; // this ensures padding isn't included in the total width
	}
}

.stats-date-control-picker__popover-content {
	display: flex;
	min-width: 320px;

}

.stats-date-control-picker-dates__buttons {
	display: flex;
	justify-content: flex-end;
}

// TODO: Add final colors to shortcuts.
