.jpo__site-type-wrapper {
	margin-left: auto;
	margin-right: auto;
}

.jpo__site-type-row {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.jpo__site-type-row .card {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.jpo__site-type-row .card:first-child {
	margin-right: 2%;
}

.jpo__site-type-row .card .button {
	text-transform: uppercase;
	font-size: 1.25rem;
	margin-bottom: 1rem;
	color: #58accb;
}

.jpo__site-type-description {
	font-size: 1.25rem;
	color: #b2c7cb;
}

.jpo__site-type-note {
	text-align: center;
}