.current-plan-thank-you {
	max-width: 720px;
	text-align: center;

	@include breakpoint( '>800px' ) {
		font-size: 16px;

		a {
			font-size: 14px;
		}
	}

	.progress-bar {
		max-width: 80%;
	}
}

.current-plan-thank-you__illustration {
	display: none;
	margin-bottom: 18px;

	@include breakpoint( '>480px' ) {
		display: inline;
		margin-bottom: 18px;
		width: 70%;
	}
	@include breakpoint( '>800px' ) {
		width: 52%;
	}
}

.current-plan-thank-you__title {
	font-size: 24px;
}
