.domain__main-placeholder {
	.domain-management-header__children {
		@include placeholder( 23% );

		@include breakpoint( '>480px' ) {
			max-width: 60%;
			margin: 0 auto;
		}
	}
}

.domain__main-placeholder-card {
	p {
		@include placeholder( 23% );
		margin-bottom: 0.5em;

		&:first-child {
			width: 35%;
		}
	}
}
