@import "@automattic/typography/styles/variables";

.share-site-modal__modal {
	max-width: 640px;

	.share-site-modal__modal-heading {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.share-site-modal__modal-domain-text {
		padding: 0 8px;
		margin: 0;
		color: var(--studio-gray-80);
		font-size: 1rem;
		line-height: 24px;
		// prevent text overflow
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.share-site-modal__modal-actions-buttons {
		justify-content: end;
		width: auto;
		min-width: 180px;
	}

	.share-site-modal__modal-site {
		padding: 8px;
		background: var(--studio-gray-0);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.launchpad__clipboard-button {
		opacity: 0;
	}

	.launchpad__clipboard-button:focus {
		opacity: 1;
	}

	.share-site-modal__modal-site:hover {
		.launchpad__clipboard-button {
			opacity: 1;
		}
	}

	.share-site-modal__modal-social {
		flex-wrap: wrap;
		margin: 0;
		list-style: none;
	}

	.share-site-modal__modal-copy-link,
	.share-site-modal__modal-share-link {
		gap: 4px;
		display: inline-flex;
		align-items: center;
		font-weight: 500;
		padding: 4px 8px;
		margin: 0 4px 4px 0;
		background-color: var(--studio-gray-0);
		/* stylelint-disable-next-line */
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.154px;
		color: #101517;
		.share-site-modal__modal-icon {
			background-color: #fff;
			border: 1px solid var(--studio-gray-90);
			border-radius: 100%;
			padding: 4px;
		}
	}

	.share-site-modal__modal-copy-link {
		background-color: #fff;
		margin: 0 0 0 4px;
	}

	.share-site-modal__modal-copy-link:disabled {
		opacity: 0.5;
	}

	.share-site-modal__modal-share-link:visited {
		color: #101517;
	}

	.share-site-modal__modal-share-link:hover:not(:disabled) {
		text-decoration: underline;
	}
}

.share-site-modal__popover {
	outline: none;
	z-index: 100000;
	.popover__inner {
		border: 0;
		box-shadow: none;
		border-radius: 2px;
		color: var(--color-text-inverted);
		background: var(--color-neutral-60);
		font-size: $font-body-extra-small;
		padding: 6px 10px;
		text-align: left;
	}

	.popover__arrow {
		display: none;
	}
}
