@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.product-grid__section {
	margin-bottom: 70px;
	padding-left: 20px;
	padding-right: 20px;

	@include breakpoint-deprecated( '>660px' ) {
		padding-left: 0;
		padding-right: 0;
	}
}

.product-grid__section:first-of-type > .product-grid__section-title {
	margin-bottom: 15px;
}

.product-grid__section-title {
	margin-top: 36px;
	margin-bottom: 20px;

	font-size: 2rem;
	font-weight: 700;
	letter-spacing: -1px;
	text-align: center;

	@include break-small {
		margin-top: 40px;
		margin-bottom: 40px;

		font-size: 2.25rem;
	}
}

.product-grid__plan-grid,
.product-grid__product-grid {
	margin: 0;

	list-style-type: none;

	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ) );
	gap: 16px;
}

.product-grid__plan-grid:not( .is-wrapping ) {
	margin-top: 72px;
	gap: 16px 0;

	// Considering there are 3 plans
	> li {
		&:first-child {
			position: relative;
			left: 8px;
		}

		&:last-child {
			position: relative;
			left: -8px;
		}
	}
}

.product-grid__product-grid {
	> li {
		height: 100%;
	}

	&.second-grid {
		margin: 16px 0;
	}
}

.product-grid__filter-bar {
	height: 63px;
	margin-bottom: 70px;

	@include break-small {
		margin-bottom: 50px;
	}
}

.product-grid__free {
	height: 100%;
	display: flex;
	gap: 16px;
	flex-wrap: wrap;

	.product-without-price {
		flex: 1 1 0;
		min-width: 300px;
	}

	&.add-top-margin {
		margin-block-start: 16px;
	}
}

.product-grid__more.is-detached {
	margin-top: 48px;
}

// Show both CRM and Free as full-width on narrow or mid-width screens
.jetpack-plans__iteration--only-realtime-products {
	.product-grid__free {
		margin-top: 16px;
		flex-direction: column;

		@include breakpoint-deprecated( '>660px' ) {
			flex-direction: initial;
		}
	}

	.jetpack-product-card.jetpack-free-card {
		margin: initial;
	}

	.product-grid__free .jetpack-crm-free-card .jetpack-product-card__body {
		.display-price {
			min-height: 133px;
		}

		@include breakpoint-deprecated( '>660px' ) {
			display: grid;
			grid-column-gap: 32px;
			grid-template-columns: 1fr 1fr;

			padding-block-end: 32px;

			.jetpack-product-card__product-name {
				grid-column: 1 / span 2;
				grid-row: 1;
			}

			.display-price {
				grid-column: 1;
				grid-row: 2;

				min-height: initial;
			}

			.display-price__above-price-text {
				margin-block-start: initial;
			}

			.jetpack-product-card__button {
				grid-column: 1;
				grid-row: 3;
				align-self: flex-end;
				margin-block-end: initial;
			}

			.jetpack-product-card__description {
				grid-column: 2;
				grid-row: 2;
				min-height: initial;
			}

			.jetpack-product-card__features {
				margin-block-end: initial;
			}

			.jetpack-product-card__features-list {
				grid-column: 2;
				grid-row: 3;

				margin-block-end: initial;
				margin-inline-end: initial;
			}

			.jetpack-product-card__features-item {
				&:first-child {
					margin-block-start: initial;
				}

				&:last-child {
					margin-block-end: initial;
				}
			}
		}
	}
}
