.plans {
	.compare-plans-link, .show-monthly-plans-link {
		clear: both;
		display: block;
		font-size: 12px;
		margin: 20px 0 20px 0;
		text-align: center;

		.gridicon {
			margin: -2px 3px 0 0;
			vertical-align: middle;
		}
	}
}
