@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@automattic/plans-grid-next/src/media-queries";

body.is-section-plans {
	.main {
		@include break-medium {
			padding-top: 24px;
		}
		// a formatted-header instance used within main (not as section header)
		.plans__formatted-header {
			&.is-domain-upsell {
				margin-top: 30px;
				display: flex;
				justify-content: center;

				.formatted-header__title,
				.formatted-header__subtitle {
					max-width: $break-medium;
				}

				.formatted-header__title {
					font-size: 2rem;
				}
			}
		}
	}

	.layout__content {
		@media (min-width: $break-small) {
			padding: 79px 0 0 0 !important;
		}
		@media (min-width: $break-medium) {
			padding-left: calc(var(--sidebar-width-max) + 1px) !important;
			padding-right: 0 !important;
		}
		@media (max-width: $break-medium) {
			.navigation-header {
				padding-left: max(calc(50% - 612px), 32px);
				padding-right: max(calc(50% - 612px), 32px);
			}
			.section-nav__panel {
				padding: 0 max(calc(50% - 612px), 32px);
			}
		}
		@media (max-width: $break-mobile) {
			.navigation-header {
				padding-left: max(calc(50% - 612px), 15px);
				padding-right: max(calc(50% - 612px), 15px);
			}
			.section-nav__panel {
				padding: 0 max(calc(50% - 612px), 15px);
			}
		}
	}
}
body.is-section-plans.is-domain-plan-package-flow {
	background: var(--color-body-background);

	.layout__content {
		padding-top: 0 !important;
		padding-left: 0 !important;
	}

	.plans__has-sidebar {
		.section-nav {
			display: none;
		}
	}

	.plans__header {
		display: block;
		overflow: auto;

		.formatted-header__title,
		.formatted-header__subtitle {
			max-width: unset;
		}

		h1 {
			font-family: $brand-serif;
			font-size: $font-headline-small;
		}

		p {
			font-size: $font-body;
			color: var(--color-text-subtle);
			text-align: center;
			padding: 0 10px;
			margin-bottom: 0;
			&:last-child {
				margin-bottom: 1.5em;
			}
			button {
				font-size: $font-body;
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}

	@include break-small {
		.plans__header {
			h1 {
				font-size: $font-headline-medium;
			}
			p {
				padding: 0 80px;
			}
		}
	}
}

// Modernized layout - currently used for all non-Jetpack sites.
$plans-background-color: #fdfdfd;
$plans-section-break-medium: $plans-2023-medium-breakpoint;
$plans-section-break-mobile: $plans-2023-small-breakpoint;

.is-section-plans {
	.layout__content {
		background-color: $plans-background-color;
	}

	.main.is-full-width-layout {
		max-width: calc(100% - 32px);
		padding-top: 0;
		width: 1224px;
	}

	.layout:not(.is-jetpack-site) .navigation {
		box-shadow: inset 0 -1px 0 #0000000d;
		background-color: var(--studio-white);

		.segmented-control {
			margin-left: 0;

			@media (min-width: $plans-section-break-medium) {
				margin-left: 16px;
			}
		}

		.section-nav {
			margin: 0;
			box-shadow: inset 0 -1px 0 #0000000d;
		}

		.section-nav-group__label {
			padding: 0;
		}

		.section-nav__panel {
			padding: 0;

			@media (max-width: $plans-section-break-medium) {
				padding: 0 16px;
			}
		}

		.section-nav-tab {
			&:not(:first-of-type) {
				margin-left: 16px;

				@media (max-width: $plans-section-break-mobile) {
					margin-left: 0;
				}
			}

			.section-nav-tab__link {
				padding: 8px 12px;
				font-size: $font-body-small;
				line-height: 20px;

				&:hover {
					color: var(--color-neutral-60);
					background-color: var(--color-surface);
				}

				@media (max-width: $plans-section-break-medium) {
					padding: 8px 0;
				}

				@media (max-width: $plans-section-break-mobile) {
					padding: 8px;
				}
			}

			@media (min-width: $plans-section-break-mobile) {
				.section-nav-tab__link {
					color: var(--color-neutral-60);
				}
				&.is-selected {
					border-bottom-color: var(--color-neutral-100);

					.section-nav-tab__link {
						color: var(--color-neutral-100);
					}
				}
			}
		}
	}
}
