.new-hosted-site .form-label {
	font-weight: 600 !important;
}

.new-hosted-site .form-radios-bar.is-thumbnail {
	flex-wrap: initial;
}

.new-hosted-site .plan-faq {
	max-width: 1240px;
	margin: 0 auto;
	padding-bottom: 128px;
}
