@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.onboarding-title {
	@include onboarding-heading-text-mobile;
	color: var( --mainColor );
	margin: 0;

	@include break-mobile {
		@include onboarding-heading-text-tablet;
	}

	@include break-xlarge {
		@include onboarding-heading-text;
	}
}

.onboarding-subtitle {
	@include onboarding-large-text;
	font-family: $default-font;
	font-weight: normal;
	letter-spacing: 0.2px;
	color: var( --studio-gray-60 );
	margin: 5px 0 0;

	@include break-small {
		margin-top: 0;
	}
}
