@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.themes__showcase {
	.theme-collection__container {
		margin: 0 -16px;

		@include breakpoint-deprecated( ">660px" ) {
			margin: 0 -32px;
		}
	}

	.theme-collection__meta {
		margin: 0 16px;

		@include breakpoint-deprecated( ">660px" ) {
			margin: 0 32px;
		}
	}

	.theme-collection__list-item.swiper-slide .card.theme-card {
		@include breakpoint-deprecated( ">660px" ) {
			padding: 0 0 0 32px;
		}

		@include break-xlarge {
			padding: 0 32px;
		}
	}
}
