@import "@wordpress/base-styles/breakpoints";
@import "@automattic/onboarding/styles/mixins";


.checkout-thank-you {

	.thank-you-help-center {
		color: var(--blue-blue-50, #0675c4);
	}

	.checkout-thank-you__header {
		.checkout-thank-you__header-content {
			.domain-header-buttons {
				margin-top: 32px;

				.is-secondary {
					border: 1px solid var(--studio-gray-10);
					box-shadow: none;
					color: var(--studio-gray-100);
					margin-right: 20px;

					@media (max-width: $break-medium ) {
						margin-right: 0;
					}

					&:hover {
						border: 1px solid var(--studio-gray-70);
					}
				}

				.components-button {
					border-radius: 4px;
					font-weight: 500;
					font-size: 0.875rem;
					height: 48px;
					justify-content: center;
					padding: 10px 24px;
					width: 240px;

					@media (max-width: $break-medium ) {
						width: 100%;
						justify-content: center;
					}
				}

				.manage-all-domains {
					color: var(--black-white-white, #fff);
					background: var(--blue-blue-50, #0675c4);

					&:hover {
						background: var(--studio-blue-60);
					}

					@media (max-width: $break-medium ) {
						width: 100%;
						margin-top: 20px;
					}
				}
			}

			.domain-complete-summary {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 32px;

				@media (max-width: $break-medium ) {
					margin-top: 30px;
				}
			}

			.domain-complete-list {
				margin: 0;

				.domain-complete-list-item {
					display: flex;
					padding: 20px 25px;
					justify-content: space-between;
					align-items: center;
					gap: 16px;
					border-radius: 2px;
					border: 1px solid var(--studio-gray-5);

					&.domain-complete-list-item-free {
						p {
							color: var(--green-green-50, #008a20);
						}
					}

					&:not(:first-child) {
						margin-top: 16px;
					}

					@media (max-width: $break-medium ) {
						align-items: flex-start;
						flex-direction: column;
					}

					h2 {
						font-weight: 500;
					}

					p {
						font-size: 0.875rem;
						margin-bottom: 0;
						text-align: left;
					}

					a.components-button {
						border-radius: 4px;
						border: 1px solid var(--studio-gray-10);
						padding: 10px 24px;
						color: #101517;
						box-shadow: none;
						font-weight: 500;

						&:hover {
							color: unset;
							box-shadow: none;
						}
					}
				}
			}

			div.checkout-thank-you__purchase-details-list {
				margin-left: 0;
				margin-right: 0;
				display: block;

				>div {
					margin-bottom: 50px;
					justify-content: space-between;
					flex-wrap: nowrap;

					@media (max-width: $break-medium ) {
						flex-direction: column;
						padding: 0;
						flex-wrap: wrap;
					}

					div.purchase-detail {
						flex: 1;
						width: unset;
						max-width: unset;
					}

					h3 {
						font-size: 1rem;
						font-weight: 500;
					}

					p {
						font-size: 0.875rem;
						margin-top: 5px;
						margin-bottom: 16px;
					}

					a {
						text-decoration: underline;
						font-size: 0.875rem;
						font-weight: 500;
					}

					.purchase-detail__button {
						svg {
							display: none;
						}
					}
				}
			}
		}
	}

	&.is-redesign-v2 {
		div.checkout-thank-you__purchase-details-list {
			>div {
				padding: 0 25px;
			}
		}
	}
}

.is-redesign-v2 {
	.checkout-thank-you__header-details {
		margin: 20px 0 0;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		align-items: center;
		gap: 16px;
		padding: 24px;
		border-radius: 2px;
		border: 1px solid var(--color-border-subtle);
		flex-wrap: wrap;

		div {
			min-width: auto;
		}

		@media ( min-width: 480px ) {
			padding: 20px 25px;
		}
	}

	.checkout-thank-you__header-details-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: 100%;
		text-align: left;
		@media ( min-width: 480px ) {
			flex-basis: initial;
		}
	}

	.checkout-thank-you__header-details-content-name {
		font-size: $font-body;
		font-weight: 500;
		line-height: 24px;
		color: var(--studio-gray-100);
		flex-grow: 1;
	}

	.checkout-thank-you__header-details-content-expiry {
		font-size: $font-body-small;
		line-height: 22px;
		color: var(--studio-gray-60);
	}

	.checkout-thank-you__header-details-buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		min-width: auto;
	}
}
