.editor-mobile-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $white;
	border-bottom: 1px lighten( $gray, 20% ) solid;

	@include breakpoint( ">660px" ) {
		display: none;
	}
}

.editor-mobile-navigation__actions {
	display: inline;
	line-height: 0;
}

.editor-mobile-navigation__tabs {
	display: inline-block;
	border-left: 1px lighten( $gray, 20% ) solid;
	border-right: 1px lighten( $gray, 20% ) solid;
}

.editor-mobile-navigation__icon {
	cursor: pointer;
	padding: 4px 12px;
	color: lighten( $gray, 10% );

	&:hover {
		color: $gray-dark;
	}

	&.is-selected {
		cursor: default;
		color: $gray-dark;
	}
}

.editor-mobile-navigation .editor-publish-button {
	margin-right: 12px;
}
