.editor-mobile-navigation {
	color: $gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $white;
	border-bottom: 1px lighten( $gray, 20% ) solid;

	@include breakpoint( ">660px" ) {
		display: none;
	}
}

.editor-mobile-navigation__actions {
	display: inline;
	line-height: 0;
}

.editor-mobile-navigation__icon {
	cursor: pointer;
	padding: 15px;

	&:hover {
		fill: $gray-dark;
	}

	&.is-selected {
		cursor: default;
		fill: $gray-dark;
	}

	&.separator-right {
		border-right: 1px lighten( $gray, 20% ) solid;
	}
}

.editor-mobile-navigation .editor-publish-button {
	margin-right: 12px;
}
