@import 'calypso/dashboard/app/dark-theme';

@mixin themes-dark-mode-color-scheme {
	@include dashboard-dark-theme-calypso-color-scheme;
	@include dashboard-dark-theme-color-palette-alias( 'theme-highlight-color', 'color-accent' );

	--color-success-dark: var( --color-success-70 );
	--color-success-light: var( --color-success-30 );
	--color-warning-dark: var( --color-warning-70 );
	--color-warning-light: var( --color-warning-30 );
	--color-error-dark: var( --color-error-70 );
	--color-error-light: var( --color-error-30 );
	--theme-text-color: var( --dashboard__text-color );
	--theme-base-color: var( --dashboard__background-color );
	--theme-submenu-text-color: var( --dashboard__text-muted-color );
	--theme-submenu-background-color: var( --dashboard-surface__background-color );
	--theme-icon-color: var( --dashboard__text-muted-color );
	--theme-notification-color: var( --wp-admin-theme-color );
}

@mixin themes-dark-mode-root {
	@include themes-dark-mode-color-scheme;

	@include dashboard-dark-theme-wpnc-panel;
	@include dashboard-dark-theme-community-translator;

	@include dashboard-dark-theme-masterbar;

	.global-styles-variations__header {
		.premium-badge {
			--studio-black: var( --dashboard-surface__background-color );
			--studio-white: var( --dashboard__text-color );
		}
	}

	.is-logged-out {
		--color-primary: var( --wp-admin-theme-color-darker-20 );
	}

	.card.theme-card.is-placeholder,
	.theme__sheet-placeholder {
		background-color: var( --dashboard-surface__border-color );
	}

	.theme-tier-badge .badge--info {
		background-color: var( --dashboard-item-selected__background-color );
		color: var( --wp-admin-theme-color-darker-20 );
	}

	.theme-download-card__external-icon {
		fill: currentColor;
	}

	.theme-card__image-container {
		background-color: color-mix( in srgb, var( --dashboard__text-color ) 12%, transparent );
		border-color: color-mix( in srgb, var( --dashboard__text-color ) 12%, transparent );
		box-shadow: 0 1px 4px 0 color-mix( in srgb, var( --dashboard__text-color ) 12%, transparent );
	}

	.theme__sheet-style-variations::after {
		@include long-content-fade(
			$direction: right,
			$size: 24px,
			$color: var( --dashboard__background-color )
		);
		right: -1px; // fixes a 1px gap between the fade and the edge of the container
	}

	.theme-download-card .button,
	.theme__sheet-demo-button {
		background-color: transparent;
		border-color: var( --dashboard-field__border-color );
		color: var( --dashboard__text-color );

		&:visited {
			color: var( --dashboard__text-color );
		}

		&:hover {
			background-color: transparent;
			border-color: var( --dashboard__text-muted-color );
			color: var( --dashboard__text-color );
		}
	}

	.theme__sheet-preview-demo-site.button {
		background: var( --dashboard-surface__background-color );
		border-color: var( --dashboard-field__border-color );
		color: var( --dashboard__text-color );

		&:visited {
			color: var( --dashboard__text-color );
		}

		&:focus,
		&:hover {
			background: var( --dashboard-surface__background-color );
			border-color: var( --dashboard__text-muted-color );
		}
	}

	.card.theme__sheet-card-support .components-button {
		--wp-components-color-accent: var( --wp-admin-theme-color );
		--wp-components-color-accent-darker-20: var( --color-accent-80 );
		background-color: transparent;

		&:hover {
			background-color: transparent;
		}
	}
	.components-card-footer.help-center__container-footer .button.help-center-contact-page__button {
		--wp-components-color-accent: var( --wp-admin-theme-color );
	}

	.theme__sheet-features-list {
		a,
		span {
			color: var( --color-text );
		}
	}

	.theme__sheet-web-preview,
	.theme__sheet-screenshot {
		background-color: var( --dashboard-surface__background-color );
		box-shadow: 0 0 0 1px var( --dashboard-surface__border-color );
	}

	.theme__sheet-web-preview .theme-preview__container--loading .theme-preview__frame-wrapper {
		background: var( --dashboard-surface__background-color );
	}

	.web-preview__close.button {
		border-inline-end-color: var( --dashboard-surface__border-color );
		color: var( --wp-components-color-accent-darker-20 );

		&:hover {
			color: var( --wp-components-color-accent-darker-40 );
		}
	}

	.theme-collection__carousel-controls {
		.theme-collection__see-all {
			color: var( --dashboard__text-color );

			&:focus,
			&:hover {
				color: var( --wp-components-color-accent-darker-20 );
			}
		}

		.theme-collection__carousel-nav-button {
			background-color: var( --dashboard-surface__background-color );
			border-color: var( --dashboard-surface__border-color );
			color: var( --dashboard__text-color );

			&:focus,
			&:hover {
				background-color: var( --dashboard-item-selected-hover__background-color );
				border-color: var( --wp-components-color-accent-darker-20 );
				color: var( --wp-components-color-accent-darker-20 );
			}
		}
	}
}
