.themes__switching-homepage-modal {
	min-height: 90px;
	max-width: 320px;
	margin: 0 auto;

	@include breakpoint( '<480px' ) {
		box-sizing: border-box;
		max-width: 100%;
	}

	+ .dialog__action-buttons {
		text-align: center;

		.button:first-child {
			margin-left: 0;
		}

		@include breakpoint( '<480px' ) {
			.button,
			.button:first-child {
				display: block;
				margin: 0 auto 10px;
				width: 100%;
			}
		}
	}

	h1 {
		display: block;
		font-weight: 300;
		line-height: 1.5em;
		margin-bottom: 0;
		text-align: center;
		height: auto;
	}
}
