.step-progress {
	display: flex;
	flex-direction: row;
	// justify-content: space-between;
	// position: relative;

	// &::before {
	// 	background: var( --color-neutral-70 );
	// 	content: '';
	// 	height: 2px;
	// 	left: 10%;
	// 	position: absolute;
	// 	top: 12px;
	// 	width: 85%;
	// 	z-index: 0;
	// }
}

.step-progress__element {
	display: flex;
	flex-direction: column;
}

.step-progress__element-visual,
.step-progress__element-step-name {
	display: flex;
	justify-content: center;
}

.step-progress__element-visual {
	position: relative;
	&::before {
		background: var( --color-neutral-70 );
		content: '';
		height: 3px;
		// left: 20%;
		position: absolute;
		top: 12px;
		width: 100%;
		z-index: 1;
	}
}

.step-progress__element-step-name-current,
.step-progress__element-step-name-complete,
.step-progress__element-step-name {
	margin-top: 9px;
	font-style: normal;
	font-weight: normal;
	font-size: 1;
	line-height: 24px;
}

.step-progress__element-step-name-complete,
.step-progress__element-step-name {
	color: var( --color-text-subtle );
}

.step-progress__element-number-current,
.step-progress__element-number-complete,
.step-progress__element-number {
	z-index: 2;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	font-weight: bold;
}

.step-progress__element-number-complete {
	background-color: var( --color-neutral-70 );
	border: 2px solid var( --color-neutral-70 );
	color: var( --studio-white );
}

.step-progress__element-number-current {
	background-color: var( --studio-white );
	border: 2px solid var( --color-neutral-70 );
	color: var( --color-neutral-70 );
}

.step-progress__element-number {
	background-color: var( --studio-white );
	border: 2px solid var( --color-neutral-10 );
	color: var( --color-neutral-10 );
}
