@import "../../variables";

.bluesky-preview__post-header {
	display: flex;
	align-items: start;
	gap: 4px;

	margin-bottom: 0.625rem;

	/* stylelint-disable-next-line scales/font-sizes */
	font-size: 0.9375rem;
	line-height: 1.47;

	&--displayname {
		font-size: 16px;
		letter-spacing: 0.25px;
		font-weight: 700;
		line-height: 19px;
		color: rgb(11, 15, 20);
	}

	&--username,
	&--separator,
	&--date {
		font-size: 15px;
		letter-spacing: 0.25px;
		font-weight: 400;
		color: rgb(66, 87, 108);
	}

}
