.media-library__date-range {
	position: relative;
	display: flex;
	align-items: baseline;
}

.media-library__date-range-span {
	margin: 0 8px 0 0;
	font-size: 0.9em;
	color: #666;
}

.media-library__date-range-btn {
}

.media-library__date-range-icon {
	margin-right: 5px;
}

.media-library__date-range-popover-inner {
	padding: 15px;
	width: 400px;
	max-width: 100%;
}
