/* stylelint-disable declaration-property-unit-allowed-list */

.launch-bar-global-styles-popover {
	position: absolute;
	width: 260px;
	top: 48px;
	font-size: 14px;
	background-color: #fff;
	padding: 16px;
	margin-left: -70px;
	line-height: 20px;
	color: #24282d;
	box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and ( max-width: 960px ) {
		margin-left: -100px;
	}
	@media screen and ( max-width: 550px ) {
		width: 70%;
		margin-left: 10%;
		left: 0;
	}

	.launch-bar-global-styles-upgrade-button {
		font-size: 14px;
		margin-top: 16px;
		background: #007cba;
		min-height: 36px;
		box-sizing: border-box;
		border-radius: 2px;
		width: 100%;
		justify-content: center;

		&:hover {
			background: #006ba1;
		}
	}

	.launch-bar-global-styles-preview-link {
		margin: 20px 0 0;
		padding: 0;
		min-height: auto;
		color: #0675c4;
		font-weight: 500;
		font-size: 12px;

		&:hover {
			background: #fff;
			color: #044b7a;
		}
	}
}
