.scan-upsell__content {
	padding-top: 40px;


}

.scan-upsell__icon {
	text-align: center;

	img {
		height: 72px;
		width: auto;
	}

	@include breakpoint-deprecated( '>660px' ) {
		text-align: start;
	}
}
