.l-block {
	padding: 5rem 0;

	&.is-mono-bg {
		background-color: #e9eff5;
	}

	&.animate {
		animation: l-block-fade-in 250ms ease-in;
	}
}

.l-block-content {
	max-width: 1224px;
	margin: 0 auto;
}

.l-block-section {
	padding: 1.5rem 0;
}

@keyframes l-block-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
