// Structure
.jetpack-new-site {
	max-width: 400px;
	margin: 35px auto 0;
	text-align: center;

	.formatted-header {
		margin-bottom: 16px;
	}
}

.jetpack-new-site__content {
	padding-bottom: 2em;
}

.jetpack-new-site__card {
	width: 100%;
	margin: 0px;
}

.jetpack-new-site__card-description {
	margin-bottom: 1em;
	color: lighten( $gray-dark, 25% );

	&:first-of-type {
		margin-top: 8px;
	}
}

.jetpack-new-site__card {
	.button {
		width: 100%;
		margin-top: 8px;
	}
}

.jetpack-new-site__connect-button.button {
	background-color: $green-jetpack;
	border-color: darken($green-jetpack, 5%);

	&:hover,
	&:focus {
		border-color: darken($green-jetpack, 30%);
	}

	&:focus {
		box-shadow: 0 0 0 2px lighten($green-jetpack, 25%);
	}

	&[disabled],
	&:disabled {
		background: tint($green-jetpack, 50%);
		border-color: tint($green-jetpack, 35%);
		color: $white;
	}
}

.jetpack-new-site__mobile-wpcom-site {
	.button {
		width: 100%;
	}
}

.jetpack-new-site__mobile-jetpack-site {
	.jetpack-connect__connect-button-card {
		margin: 16px 0 0;
		padding: 0;
		border: none;
	}
}

.jetpack-new-site__divider {
	position: relative;
	margin: 32px 0;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 1px;
		background: transparentize( $gray-lighten-20, .5 );
	}

	span {
		position: relative;
		z-index: 2;
		padding: 8px;
		font-style: italic;
		color: $gray;
		background: $white;
	}
}
