.stats-date-picker__refresh-status {
	line-height: 16px;

	.stats-date-picker__update-date {
		color: var( --color-text-subtle );
		display: inline-block;
		font-size: 13px;

		.gridicon {
			padding: 0 5px;
			vertical-align: bottom;
		}
	}
}

.stats-date-picker__last-update {
	color: var( --color-neutral-70 );
}
