@import "@wordpress/base-styles/breakpoints";

body.is-section-plans.is-ecommerce-trial-plan {
	&.color-scheme {
		--color-surface-backdrop: var(--color-surface);
	}

	.section-nav {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
	}

	.e-commerce-trial-plans__interval-toggle-wrapper {
		display: flex;
		justify-content: center;
		margin: 48px 0 32px 0;
		padding: 0 20px;

		.e-commerce-trial-plans__interval-toggle {
			font-weight: 500;
			max-width: -moz-fit-content;
			max-width: fit-content;
			width: auto;

			@media (max-width: $break-mobile) {
				max-width: 100%;
				width: 100%;
			}
		}
	}

	.e-commerce-trial-plans__banner-wrapper {
		margin: 20px 0;
	}

	.e-commerce-trial-plans__price-card {
		display: flex;
		flex-wrap: wrap;
		border-radius: 2px 2px 0 0;
		padding: 32px;
		margin: 40px 0 0 0;

		@media (max-width: $break-mobile) {
			flex-direction: column;
			// No margin-bottom to integrate with accordion
			margin: 20px 20px 0 20px;
			padding: 32px 20px;
		}

		.e-commerce-trial-plans__price-card-text {
			flex: 1;
			display: flex;
			flex-direction: column;

			.e-commerce-trial-plans__price-card-title {
				font-size: $font-title-medium;
			}

			.e-commerce-trial-plans__price-card-subtitle {
				flex: 1;
				font-size: $font-body-small;
				color: var(--color-neutral-80);
			}
		}

		.e-commerce-trial-plans__price-card-cta-wrapper {
			width: 100%;

			.e-commerce-trial-plans__price-card-cta {
				width: 135px;

				@media (max-width: $break-mobile) {
					width: 100%;
					margin-top: 25px;
					line-height: 30px;
				}
			}
		}

		.e-commerce-trial-plans__price-card-conditions {
			display: flex;
			flex-direction: column;
			text-align: right;

			@media (max-width: $break-mobile) {
				text-align: left;
			}

			.e-commerce-trial-plans__price-card-value {
				font-size: $font-title-large;
				font-weight: 500;

				@media (max-width: $break-mobile) {
					font-size: $font-headline-small;
					margin-top: 30px;
					font-weight: 400;
				}
			}

			.e-commerce-trial-plans__price-card-interval {
				color: var(--color-neutral-50);
				font-size: $font-body-extra-small;
			}

			.e-commerce-trial-plans__price-card-savings {
				color: var(--color-success-60);
				font-size: $font-body-extra-small;
				font-weight: 600;
				text-transform: uppercase;
				padding: 5px 0;
			}
		}
	}

	.e-commerce-trial-plans__features-wrapper {
		@media (max-width: $break-mobile) {
			padding: 0 20px;
		}
	}

	.e-commerce-trial-plans__cta-wrapper {
		text-align: center;
		margin: 45px 0;

		@media (max-width: $break-mobile) {
			padding: 0 20px;
			margin-top: 30px;
		}

		button {
			@media (max-width: $break-mobile) {
				width: 100%;
				line-height: 30px;
			}
		}
	}
}
