@import "@wordpress/base-styles/breakpoints";

body.is-section-plans.is-trial-plan {
	&.color-scheme {
		--color-surface-backdrop: #fff;
	}

	.section-nav {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
	}

	.e-commerce-trial-plans__trial-card {
		display: flex;
		padding: 40px;
		background-color: rgba(var(--color-neutral-0-rgb), 0.8);
		box-shadow: none;

		@media (max-width: $break-mobile) {
			padding: 24px;
			margin: 0 20px;
		}

		.e-commerce-trial-plans__trial-card-content {
			flex: 1;
			margin-top: 10px;

			.e-commerce-trial-plans__card-title {
				font-size: $font-title-medium;
				font-weight: 400;
				color: #000;
				margin: 0;

				@media (max-width: $break-mobile) {
					font-size: $font-body-small;
				}
			}

			.e-commerce-trial-plans__card-subtitle {
				font-size: $font-body;
				font-weight: 400;
				margin: 15px 0;
				color: var(--color-neutral-40);

				@media (max-width: $break-mobile) {
					font-size: $font-body-extra-small;
					color: var(--color-neutral-80);
				}
			}
		}

		.e-commerce-trial-plans__chart-wrapper {
			@media (max-width: $break-mobile) {
				display: none;
			}

			margin-left: 50px;
			padding: 0 20px;
			text-align: center;

			.e-commerce-trial-plans__chart-label {
				color: var(--color-neutral);
			}
		}
	}

	.e-commerce-trial-plans__interval-toggle-wrapper {
		display: flex;
		justify-content: center;
		// Margins from designs
		margin: 48px 0 32px 0;
		padding: 0 20px;

		.price-toggle {
			width: 240px;

			@media (max-width: $break-mobile) {
				width: 100%;
			}
		}
	}

	.e-commerce-trial-plans__price-card {
		display: flex;
		flex-wrap: wrap;
		border-radius: 2px 2px 0 0;
		padding: 32px;
		margin: 0;

		@media (max-width: $break-mobile) {
			flex-direction: column;
			margin: 0 20px;
			padding: 32px 20px;
		}

		.e-commerce-trial-plans__price-card-text {
			flex: 1;
			display: flex;
			flex-direction: column;

			.e-commerce-trial-plans__price-card-title {
				font-size: $font-title-medium;
			}

			.e-commerce-trial-plans__price-card-subtitle {
				flex: 1;
				font-size: $font-body-small;
				color: var(--color-neutral-80);
			}
		}

		.e-commerce-trial-plans__price-card-cta-wrapper {
			width: 100%;

			.e-commerce-trial-plans__price-card-cta {
				width: 135px;

				@media (max-width: $break-mobile) {
					width: 100%;
					margin-top: 25px;
					line-height: 30px;
				}
			}
		}

		.e-commerce-trial-plans__price-card-conditions {
			display: flex;
			flex-direction: column;
			text-align: right;

			@media (max-width: $break-mobile) {
				text-align: left;
			}

			.e-commerce-trial-plans__price-card-value {
				font-size: $font-title-large;
				font-weight: 500;

				@media (max-width: $break-mobile) {
					font-size: $font-headline-small;
					margin-top: 30px;
					font-weight: 400;
				}

				.e-commerce-trial-plans__price-card-value-symbol {
					@media (max-width: $break-mobile) {
						// Make a <sup> like style
						/* stylelint-disable-next-line declaration-property-unit-allowed-list */
						font-size: 70%;
						position: relative;
						top: -0.3em;
					}
				}
			}

			.e-commerce-trial-plans__price-card-interval {
				color: var(--color-neutral-50);
				font-size: $font-body-extra-small;
			}

			.e-commerce-trial-plans__price-card-savings {
				color: var(--color-success-60);
				font-size: $font-body-extra-small;
				font-weight: 600;
				padding: 5px 0;
			}
		}
	}

	.e-commerce-trial-plans__features-wrapper {
		@media (max-width: $break-mobile) {
			padding: 0 20px;
		}
	}

	.e-commerce-trial-plans__cta-wrapper {
		text-align: center;
		margin-top: 45px;

		@media (max-width: $break-mobile) {
			padding: 0 20px;
			margin-top: 30px;
		}

		button {
			@media (max-width: $break-mobile) {
				width: 100%;
				line-height: 30px;
			}
		}
	}
}
