@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

@mixin licensing-portal-bottom-action-bar() {
	position: fixed;
	inset-inline: 0;
	inset-block-end: 0;
	padding: 0.875rem 0.875rem 1.5rem;
	background: var(--color-light-backdrop);
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12);
	z-index: 20;

	.button {
		width: 100%;
		padding: 8px 24px;
		font-size: 1rem;
		white-space: nowrap;
	}

	@include breakpoint-deprecated( ">660px" ) {
		position: static;
		padding: 0;
		background: transparent;
		box-shadow: none;

		.button {
			width: auto;
		}
	}
}

@mixin licensing-portal-cursor-pagination() {
	.pagination__list-item.is-right,
	.pagination__list-item.is-left {
		opacity: 0.5;
		pointer-events: none;
	}

	&--has-prev {
		.pagination__list-item.is-left {
			opacity: 1;
			pointer-events: initial;
		}
	}

	&--has-next {
		.pagination__list-item.is-right {
			opacity: 1;
			pointer-events: initial;
		}
	}
}

// ==========================================================================
// Automattic for Agencies: Typography definitions
//
// See: https://a8cforagencies.wordpress.com/2024/05/28/consolidating-type-scale/
// ==========================================================================

/* Heading XXL */
@mixin a4a-font-heading-xxl (
	$font-size: rem(32px),
	$font-weight: 600,
	$line-height: 125%,
	$letter-spacing: -1px,
) {
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

/* Heading XL */
@mixin a4a-font-heading-xl (
	$font-size: rem(24px),
	$font-weight: 600,
	$line-height: 125%,
	$letter-spacing: -0.5px,
) {
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

/* Heading LG */
@mixin a4a-font-heading-lg (
	$font-size: rem(20px),
	$font-weight: 600,
	$line-height: 125%,
	$letter-spacing: -0.5px,
) {
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

/* Heading MD */
@mixin a4a-font-heading-md (
	$font-size: rem(16px),
	$font-weight: 500,
	$line-height: 125%,
) {
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
}

/* Body LG */
@mixin a4a-font-body-lg (
	$font-size: rem(16px),
	$font-weight: 400,
	$line-height: 150%,
) {
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
}

/* Body MD */
@mixin a4a-font-body-md (
	$font-size: rem(14px),
	$font-weight: 400,
	$line-height: 140%,
) {
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
}

/* Body SM */
@mixin a4a-font-body-sm (
	$font-size: rem(12px),
	$font-weight: 400,
	$line-height: 130%,
) {
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
}

/* Label / Button */
@mixin a4a-font-label-button (
	$font-size: rem(14px),
	$font-weight: 500,
	$line-height: 140%,
) {
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
}
