.step-wrapper {
	max-width: 960px;
	margin: 0 auto;


	&.is-wide-layout {
		max-width: 1040px;
	}
}

.signup__step {
	margin: 0 24px;
	position: absolute;
		left: 0;
		right: 0;

	@include breakpoint( "<480px" ) {
		margin: 0;
	}
}

.signup__step-enter {
	opacity: 0.01;

	.is-animated-content {
		transform: translate3d( 0, 32px, 0 );
	}
}

.signup__step-enter.signup__step-enter-active,
.signup__step-leave.signup__step-leave-active {
	pointer-events: none;
}

.signup__step-enter.signup__step-enter-active {
	opacity: 1;
	transition: .2s ease-in-out;
	transition-delay: .2s;

	.is-animated-content {
		transform: translate3d( 0, 0, 0 );
		transition: .2s ease-in-out;
		transition-delay: .2s;
	}
}

.signup__step-leave {
	opacity: 1;

	.is-animated-content {
		transform: translate3d( 0, 0, 0 );
	}
}

.signup__step-leave.signup__step-leave-active {
	opacity: 0.01;
	transition: .2s ease-in-out;

	.is-animated-content {
		transform: translate3d( 0, 32px, 0 ) scale( 0.9 );
		transition: .2s ease-in-out;
	}
}

.is-section-signup .layout__content {
	overflow: visible;
}
