.two-factor-authentication__verification-code-form-wrapper {
	padding: 0;
	button.is-primary {
		width: 404px !important;
	}
	.two-factor-authentication__actions {
		padding: 40px 0 40px 0;
		width: 404px;
		button {
			width: 100% !important;
		}
	}
	.two-factor-authentication__verification-code-form {
		margin-bottom: 40px;
	}
}
