.two-factor-authentication__push-notification-approval {
	width: 352px;
	margin: 0 auto;
	padding: 0;
}

.two-factor-authentication__info {
	text-align: left;
	text-wrap: pretty;
	margin-top: 16px;
}
