.site-logs-card .dataviews-pagination__page-select {
	display: none !important;
}

.site-logs {
	&__callout {
		position: relative;
		padding: 70px 0;

		&.is-activity {
			background: linear-gradient( 180deg, rgba( 255, 255, 255, 0 ) 1.13%, #fff 17.26% );
			padding: 75px 0 50px;
			margin-top: -65px;
			z-index: 2;
		}
	}

	&__callout-content {
		max-width: 889px;
		flex-basis: 889px;
		margin: 120px;
		padding: 50px 0;

		&.is-activity {
			margin: 70px 0 50px;
			padding: 0;
		}
	}
}
