.site-logs-card .dataviews-pagination__page-select {
	display: none !important;
}

.site-logs {
	&__server,
	&__php {
		.dashboard-callout {
			max-width: 886px;
			margin: 120px auto;
		}
	}
	&__activity {
		&-callout {
			position: relative;

			background: linear-gradient( 180deg, rgba( 255, 255, 255, 0 ) 1.13%, #fff 17.26% );
			padding: 75px 0 50px;
			margin-top: -65px;
			z-index: 2;

			&-content {
				max-width: 886px;
				flex-basis: 886px;
				padding: 50px 0;
				margin: 60px 0 40px;
			}
		}
	}
}
