/* stylelint-disable-next-line scss/load-no-partial-leading-underscore */
@import "@wordpress/base-styles/_variables";
@import "@automattic/color-studio/dist/color-variables";

/* stylelint-disable-next-line scss/load-no-partial-leading-underscore */
@import "calypso/assets/stylesheets/shared/_rendered-blocks";

// Style tiled galleries.
@import "tiled-gallery";

// Import styles for Jetpack Story block.
// This is a copy of Jetpack's extensions/blocks/story/player/style.scss, with
// some unnecessary styles removed.
@import "story";

// Import styles for carousel blocks (Newspack Post Carousel, Jetpack Slideshow).
@import "carousel";

.reader-full-post__story-content {
	@extend %rendered-block-content;
	font-family: $sans;
	padding-top: 16px;
	line-height: 1.7;
}

// Longreads-Specific Full Post View Styles
.blog-70135762 .reader-full-post__story-content {
	.publisher-intro img {
		float: left;
		margin: 0 20px 0 0;
	}

	.publisher-intro p:first-child {
		@include breakpoint-deprecated( "<660px" ) {
			margin-bottom: 0;
		}
	}
}

// WP.com support Full Post View Styles
.blog-9619154 .reader-full-post__story-content .toc-jump {
	display: none;
}

// Gallery block fix
.wp-block-gallery .blocks-gallery-item .blocks-gallery-item__caption {
	box-sizing: border-box;
}

// gizmodo fixes
.reader-full-post.feed-10080096 {
	.align--bleed {
		display: none;
	}
}

// Image display on Atavist posts
.feed-84614284 {
	img {
		display: block;
	}
}

// Hides Jetpack RP in Reader
.reader-full-post .jp-relatedposts-headline,
.reader-full-post .jp-relatedposts {
	display: none;
}

.is-reader-page .reader-full-post__story-content {
	padding-top: 0 !important;

	.wp-block-columns {
		margin-bottom: 24px;
	}

	.wp-block-jetpack-slideshow_slide img,
	.wp-block-media-text__media img,
	.wp-block-image img {
		border-radius: $radius-large;
		display: inherit;
	}

	.wp-block-gallery .wp-block-image,
	.image-wrapper {
		position: relative;

		figcaption {
			border-bottom-left-radius: $radius-large;
			border-bottom-right-radius: $radius-large;
		}
	}
	.image-wrapper img {
		border-radius: $radius-large;
		display: inherit;
		border: 1px solid $studio-gray-5;
	}
}

.reader-full-post .embed-youtube,
.reader-full-post .embed-vimeo {
	display: block;
	margin-bottom: 25px;
	position: relative;
	padding: 25px 0 56.25%;
	// We currently have to use !important here to override the inline style on the Youtube embed
	// - see https://github.com/Automattic/wp-calypso/issues/9615
	text-align: initial !important;

	iframe {
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.reader-full-post .embed-vimeo {
	margin-bottom: 0;
}

.reader-full-post .is-type-wp-embed {
	iframe {
		width: 100%;
	}
}

// Social Icons Styles
.wp-block-social-links .wp-social-link a,
.wp-block-social-links .wp-social-link a:hover {
	text-decoration: none;
	border-bottom: 0;
	box-shadow: none;
}
.wp-social-link {
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 36px; /* stylelint-disable-line scales/radii */
	margin-right: 8px;
	transition: transform 0.1s ease;
}
@media (prefers-reduced-motion: reduce) {
	.wp-social-link {
		transition-duration: 0s;
	}
}
.wp-social-link a {
	padding: 6px;
	display: block;
	line-height: 0;
	transition: transform 0.1s ease;
}
.wp-social-link a,
.wp-social-link a:active,
.wp-social-link a:hover,
.wp-social-link a:visited,
.wp-social-link svg {
	color: currentColor;
	fill: currentColor;
}
.wp-social-link:hover {
	transform: scale(1.1);
}
.wp-block-social-links {
	display: block;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
.wp-block-social-links li {
	display: inline-block;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link {
	background-color: #f0f0f0;
	color: #444;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-amazon {
	background-color: #f90;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-bandcamp {
	background-color: #1ea0c3;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-behance {
	background-color: #0757fe;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-codepen {
	background-color: #1e1f26;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-deviantart {
	background-color: #02e49b;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-dribbble {
	background-color: #e94c89;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-dropbox {
	background-color: #4280ff;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-etsy {
	background-color: #f45800;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook {
	background-color: #1778f2;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-fivehundredpx {
	background-color: #000;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-flickr {
	background-color: #0461dd;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-foursquare {
	background-color: #e65678;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-github {
	background-color: #24292d;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-goodreads {
	background-color: #eceadd;
	color: #382110;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-google {
	background-color: #ea4434;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram {
	background-color: #f00075;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-lastfm {
	background-color: #e21b24;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-linkedin {
	background-color: #0d66c2;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-mastodon {
	background-color: #3288d4;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-medium {
	background-color: #02ab6c;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-meetup {
	background-color: #f6405f;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-pinterest {
	background-color: #e60122;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-pocket {
	background-color: #ef4155;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-reddit {
	background-color: #fe4500;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-skype {
	background-color: #0478d7;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-snapchat {
	background-color: #fefc00;
	color: #fff;
	stroke: #000;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-soundcloud {
	background-color: #ff5600;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-spotify {
	background-color: #1bd760;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-tumblr {
	background-color: #011835;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitch {
	background-color: #6440a4;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter {
	background-color: #1da1f2;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-vimeo {
	background-color: #1eb7ea;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-vk {
	background-color: #4680c2;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-wordpress {
	background-color: #3499cd;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-yelp {
	background-color: #d32422;
	color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-youtube {
	background-color: #f00;
	color: #fff;
}
.wp-block-social-links.is-style-logos-only .wp-social-link {
	background: none;
	padding: 4px;
}
.wp-block-social-links.is-style-logos-only .wp-social-link svg {
	width: 28px;
	height: 28px;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-amazon {
	color: #f90;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-bandcamp {
	color: #1ea0c3;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-behance {
	color: #0757fe;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-codepen {
	color: #1e1f26;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-deviantart {
	color: #02e49b;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-dribbble {
	color: #e94c89;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-dropbox {
	color: #4280ff;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-etsy {
	color: #f45800;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-facebook {
	color: #1778f2;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-fivehundredpx {
	color: #000;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-flickr {
	color: #0461dd;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-foursquare {
	color: #e65678;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-github {
	color: #24292d;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-goodreads {
	color: #382110;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-google {
	color: #ea4434;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-instagram {
	color: #f00075;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-lastfm {
	color: #e21b24;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-linkedin {
	color: #0d66c2;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-mastodon {
	color: #3288d4;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-medium {
	color: #02ab6c;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-meetup {
	color: #f6405f;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-pinterest {
	color: #e60122;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-pocket {
	color: #ef4155;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-reddit {
	color: #fe4500;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-skype {
	color: #0478d7;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-snapchat {
	color: #fff;
	stroke: #000;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-soundcloud {
	color: #ff5600;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-spotify {
	color: #1bd760;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-tumblr {
	color: #011835;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-twitch {
	color: #6440a4;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-twitter {
	color: #1da1f2;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-vimeo {
	color: #1eb7ea;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-vk {
	color: #4680c2;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-wordpress {
	color: #3499cd;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-yelp {
	background-color: #d32422;
	color: #fff;
}
.wp-block-social-links.is-style-logos-only .wp-social-link-youtube {
	color: #f00;
}
.wp-block-social-links.is-style-pill-shape .wp-social-link {
	width: auto;
}
.wp-block-social-links.is-style-pill-shape .wp-social-link a {
	padding-left: 16px;
	padding-right: 16px;
}

// Writing Prompts Block Styles
.reader-full-post__story-content .jetpack-blogging-prompt {
	border: 1px solid var(--color-neutral-10);
	border-radius: 2px;
	box-sizing: border-box;
	margin-bottom: 24px;
	padding: 24px;

	&.is-style-quote {
		border: unset;
		border-left: 4px solid var(--color-neutral-80);
		margin-bottom: 16px;
		padding: 0 24px;
	}

	.jetpack-blogging-prompt__answers {
		display: flex;

		img {
			border: 2px solid #fff;
			border-radius: 50%;
			height: 24px;
			width: 24px;
		}

		.image-wrapper {
			height: 24px;
			width: 24px;
		}

		.image-wrapper:first-child,
		img:first-child {
			margin-left: -2px;
		}
		.image-wrapper:not(:first-child),
		img:not(:first-child) {
			margin-left: -12px;
		}
	}

	.jetpack-blogging-prompt__answers-link {
		color: var(--studio-gray-80);
		flex: 1;
		font-family: sans-serif;
		font-size: $font-body;
		margin-left: 8px;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.jetpack-blogging-prompt__label {
		font-family: sans-serif;
		font-size: $font-body-small;
		margin-bottom: 16px;
		padding-left: 22px;
		position: relative;

		&::before {
			// stylelint-disable-next-line function-url-quotes
			background-image: url("data:image/svg+xml,%3Csvg fill='none' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.3438 17.3438h-4.68755c-.08594 0-.15625.0703-.15625.1562v.625c0 .3457.2793.625.625.625h3.75c.3457 0 .625-.2793.625-.625v-.625c0-.0859-.0703-.1562-.1562-.1562zm-2.3438-16.0938c-3.53711 0-6.40625 2.86914-6.40625 6.40625 0 2.37105 1.28906 4.44145 3.20313 5.54885v2.2637c0 .3457.27929.625.625.625h5.15622c.3457 0 .625-.2793.625-.625v-2.2637c1.9141-1.1074 3.2032-3.1778 3.2032-5.54885 0-3.53711-2.8692-6.40625-6.4063-6.40625zm2.498 10.7383-.7011.4062v2.293h-3.59377v-2.293l-.70118-.4062c-1.53711-.8887-2.50195-2.52541-2.50195-4.33205 0-2.76172 2.23828-5 5-5 2.7617 0 5 2.23828 5 5 0 1.80664-.9648 3.44335-2.502 4.33205z' fill='%231e1e1e'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: 24px 24px;
			content: "";;
			display: inline-block;
			height: 24px;
			left: -5px;
			opacity: 0.65;
			position: absolute;
			width: 24px;
			top: 1px;

	.jetpack-blogging-prompt__text {
		font-size: $font-title-medium;
		margin-bottom: 24px;
	}
		}
	}
}
