.checkout {
	position: relative;

	.checkout__payment-box-container {
		margin-bottom: 0;
		padding: 0;
		width: 100%;
		overflow: hidden;

		&-appear,
		&-enter {
			height: 0;
			opacity: 0.01;
			transform: translateZ(0) scale(0.8);
		}

		&-appear-active,
		&-enter-active {
			height: auto;
			opacity: 1;
			transform: translateZ(0) scale(1);
			transition-property: height, opacity, transform;
			transition-duration: 400ms;
		}

		&:not( .domain-details ) {
			@include breakpoint( '<660px' ) {
				box-shadow: none;
			}
		}

		.is-empty {
			.payment-box-section, .checkout__payment-box-section {
				border: 1px solid $gray-lighten-30;
				margin: 5px 0;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;
				background-color: $white;
				padding: 10px;
			}

			.placeholder {
				animation: pulse-light 800ms ease-in-out infinite;
				background: $gray-lighten-20;
				width: 100%;
				height: 100%;
			}

			.payment-box__title {
				@extend .placeholder;
				height: 22px;
				width: 130px;

				::after {
					content: '';
				}

			}

			.payment-box__header {
				height: 16px;
				width: 170px;
				flex: 0 0 170px;
			}

			.placeholder-row {
				height: 40px;
				flex: 0 0 100%;
				margin-bottom: 15px;
			}

			.placeholder-col-narrow {
				height: 40px;
				flex: 1 1 auto;
				margin-bottom: 15px;

				@include breakpoint( '>480px' ) {
					flex: 2 1 auto;
				}
			}

			.placeholder-inline-pad {
				padding-right: 15px;
			}

			.placeholder-inline-pad-only-wide {
				@include breakpoint( '>480px' ) {
					padding-right: 15px;
				}
			}

			.placeholder-col-wide {
				height: 40px;
				margin-bottom: 15px;
				flex: 0 0 100%;

				@include breakpoint( '>480px' ) {
					flex: 6 3 auto;
				}
			}

			.placeholder-button {
				height: 50px;
				width: 100%;

				@include breakpoint ( '>480px' ) {
					width: 80px;
					height: 40px;
				}
			}

			.placeholder-button-container {
				margin-top: 55px;

				@include breakpoint( '>480px' ) {
						margin-top: 20px;
				}
			}

			.payment-box-hr {
				margin: 40px 0 20px;
				width: 100%;
				height: 0;
				border-bottom: 1px solid $gray-lighten-30;

				@include breakpoint( '<480px' ) {
					display: none;
				}
			}
		}
	}

	.payment-box {
		padding: 0;
	}

	.payment-box__content {
		min-height: 140px;
	}

	h5 {
		color: $gray-darken-10;
		font-size: 15px;
		font-weight: 600;
		opacity: 0.7;
		text-transform: uppercase;

		::after {
			@include noticon( '\f470', (13 / 12) * 1em );
			float: right;
		}
	}

	.checkout__box-padding {
		padding: 16px 8px;

		@include breakpoint( '>660px' ) {
			padding: 10px 30px 20px;
		}
	}

	.domain-details {
		.box-padding {
			@include breakpoint( '<660px' ) {
				padding: 16px;
			}
		}
	}

	form {
		margin-top: 5px;

		@include breakpoint( '>660px' ) {
			@include clear-fix;
		}
	}

	button[type=submit].button-pay, button[type=submit].checkout__button-pay {
		@include breakpoint( '<660px' ) {
			width: 100%;

			.wpcom-site & {
				min-height: 50px;
			}
		}

		@include breakpoint( '>660px' ) {
			clear: both;
			float: left;
		}
	}

	// Turn off number spinners
	input[type=number] {
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	// Floating labels
	// -----------------------------------

	.checkout-field, .checkout__checkout-field {
		margin-top: 15px;
		position: relative;

		select {
			font-size: 15px;
			width: 100%;
		}

		input[disabled] {
			cursor: not-allowed;
		}
	}

	.form-button {
		margin-top: 20px;

		@include breakpoint( '<660px' ) {
			margin-bottom: 20px;
		}
	}

	// Payment Boxes
	// =============================================

	.checkout-terms {
		color: $gray-darken-10;
		margin: 16px 0;
		padding: 0;

		@include breakpoint( '>660px' ) {
			padding: 0;
			text-align: left;
		}

		p {
			font-size: 12px;
			font-weight: 100;
			margin: 0;

			@include breakpoint( '>660px' ) {
				margin-left: 24px;
			}
		}

		.gridicon {
			float: left;

			@include breakpoint( '<660px' ) {
				display: none;
			}
		}
	}

	.cart-coupon {
		cursor: pointer;
		display: none;
		font-size: 14px;
		margin: 5px 0 0;
		padding: 10px 0;

		// On larger screens, users can use the coupon functionality present on the sidebar
		@include breakpoint( '<660px' ) {
			display: block;
			text-align: center;
		}

		input {
			margin-right: 15px;
			width: 50%;
		}
	}

	.payment-box-actions, .checkout__payment-box-actions {
		margin: 20px -30px 0 -30px;
		padding: 20px 30px 0;
		@include clear-fix;
	}

	.credit-card-payment-box {
		.payment-box-sections {
			background-color: $white;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);

			@include breakpoint( '>660px' ) {
				box-shadow: none;
			}
		}

		.payment-box-section {
			cursor: pointer;
			border-bottom: 1px solid $gray-lighten-30;

			&:first-of-type {
				border-top: 1px solid $gray-lighten-30;
			}

			&.selected {
				cursor: default;
			}
		}

		.payment-box-section-inner {
			border-left: 1px solid $gray-lighten-30;
			padding-left: 2px;
			position: relative;
			border-right: 1px solid $gray-lighten-30;
			min-height: 50px;
		}

		.payment-box-section.selected .payment-box-section-inner {
			background-color: #fafdf6;
			padding-left: 0;
		}

		.payment-box-section.selected:not( .no-stored-cards ) {
			.payment-box-section-inner {
				border-left: 3px solid $alert-green;
			}
			.checkout__new-card-fields {
				background-color: #fafdf6;
			}
		}

		.no-stored-cards .checkout__new-card-fields > .checkout-field:first-child {
			margin-top: 0;
		}

		.payment-box-section .checkout__new-card-toggle {
			box-shadow: none;
			cursor: pointer;
			font-size: 13px;
			position: absolute;
		}

		.payment-box-section .checkout__new-card-fields {
			background-color: $white;
			max-height: 0;
			overflow: hidden;
			padding: 0 15px 0 12px;
			position: relative;
			transition: all 500ms ease-in-out;
		}

		.payment-box-section.selected .checkout__new-card-fields {
			max-height: 100%;
			margin-bottom: 0;
			padding-top: 15px;
		}

		.checkout__new-card-toggle {
			color: $blue-wordpress;
			padding: 15px 15px 15px 12px;
			border: 0;
			background: transparent;
		}

		.checkout__new-card-header {
			color: $blue-medium;
			font-weight: 400;
			margin-bottom: 15px;
		}

		.all-fields-required {
			color: $gray-lighten-10;
			display: block;
			font-size: 12px;
			font-style: italic;

			@include breakpoint( '>660px' ) {
				top: 7px;
			}

			&.has-saved-cards {
				top: 18px;

				@include breakpoint( '>660px' ) {
					position: absolute;
						right: 18px;
				}
			}
		}
	}

	.checkout__summary-toggle {
		cursor: pointer;
		display: block;
		font-size: 14px;
		padding: 10px;
		text-align: center;

		@include breakpoint( '>660px' ) {
			display: none;
		}
	}

	// PayPal Payment Box
	// -----------------------------------

	.paypal-payment-box,
	.credits-payment-box {
		.payment-box-section, .checkout__payment-box-section {
			background-color: $white;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);

			@include breakpoint( '>660px' ) {
				border: 1px solid $gray-lighten-30;
				box-shadow: none;
			}
		}
	}

	.paypal-payment-box {
		.payment-box-section, .checkout__payment-box-section {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-bottom: 15px;
			padding-right: 15px;
		}

		.country,
		.postal-code {
			margin-left: 15px;
		}

		.country {
			flex-basis: auto;
			flex-grow: 3;
			flex-shrink: 0;

			label {
				display: none;
			}
		}

		.postal-code {
			flex-basis: 8em;
			flex-grow: 2;
			flex-shrink: 0;
			margin-top: 15px;

			label {
				display: none;
			}
		}
	}

	// Credits Payment Box
	// -----------------------------------
	.credits-payment-box {
		.payment-box-section {
			align-items: center;
			box-sizing: border-box;
			display: flex;
			min-height: 91px;
			padding: 20px 20px 20px 0;

			&::before {
				color: $blue-medium;
				margin: 0 10px;
				@include noticon( '\f205', 60px );
				@include breakpoint( '>660px' ) {
					margin: 0 20px;
				}
			}

			.checkout__payment-box-section-content {
				> h6 {
					color: $blue-medium;
					font-size: 18px;
				}

				> span {
					color: $gray-darken-10;
					font-size: 15px;
				}
			}
		}
	}

	// Supporting Text / Fine Print
	// -----------------------------------
	.supporting-text {
		border-top: 1px solid $gray-lighten-20;
		font-size: 13px;
		list-style: none;
		margin: 0;
		padding: 15px 0;
		@include clear-fix;

		@include breakpoint( '>660px' ) {
			border-bottom: 1px solid $gray-lighten-20;
			margin: 30px 0;
		}

		li {
			color: $gray-lighten-10;
			text-align: center;

			@include breakpoint( '>660px' ) {
				float: left;
				margin: 0 5%;
				width: 40%;
			}

			@include breakpoint( '<660px' ) {
				margin: 0;
				padding: 15px;
			}

			h6 {
				color: $gray-darken-20;
				font-size: 14px;
				font-weight: 600;
			}

			p {
				font-size: 12px;
				font-weight: 100;
				margin: 10px 0 0;
			}
		}
	}

	.credit-card-supporting-text__refund-link {
		white-space: nowrap;
		color: $gray-lighten-10;
		text-decoration: underline;
	}
}

.privacy-protection {
	background-color: $gray-light;
	float: left;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 10px;

	@include breakpoint( '>660px' ) {
		box-sizing: border-box;
		padding: 15px;
		width: 100%;

		section {
			display: flex;
		}
	}

	h6 {
		font-size: 16px;
		font-weight: 600;
	}

	label {
		background-color: $white;
		border: 3px solid $white;
		border-radius: 3px;
		display: block;
		margin-top: 10px;
		padding: 12px;
		transition: all 300ms ease-in-out;

		&.selected {
			border-color: #00aadc;
		}

		@include breakpoint( '>660px' ) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-top: 15px;
			width: 50%;

			&:last-child {
				margin-left: 15px;
			}
		}
	}

	strong {
		display: block;
		font-size: 14px;
		font-weight: normal;
		line-height: 130%;
	}

	p {
		color: #7096af;
		font-size: 11px;
		margin-bottom: 0;
		margin-top: 5px;
	}

	input {
		display: none;
	}

	button {
		margin-top: 10px;
		white-space: normal;
		width: 100%;
	}
}

// If there's no sidebar, we don't show the cart on the checkout page.

@include breakpoint( '>660px' ) {
	.pay-button, .checkout__pay-button {
		float: left;
	}
}

.credit-card-payment-box__switch-link {
	color: $link-highlight;
	font-style: italic;
	font-weight: 800;
	line-height: 40px;
	display: block;
	clear: both;
	font-size: 12px;
	padding-bottom: 5px;

	img {
		margin-left:8px;
	}

	&.ideal, &.giropay, &.bancontact, &.p24, &.alipay, &.eps {
		margin-left: 1em;
	}

	@include breakpoint( '<660px' ) {
		border-bottom: 1px solid $gray-lighten-30;
		margin: 10px 0 0;
		text-align: center;
	}

	@include breakpoint( '>960px' ) {
		float: right;
		clear: none;
	}
}

.credit-card-payment-box__switch-link-left {
	@include breakpoint( '>960px' ) {
		float: left;
		padding-left: 20px;
	}
}

@include breakpoint( '>660px' ) {
	.payment-box__payment-buttons {
		display: flex;
		align-items: center;
	}
}

.checkout__secure-payment {
	margin-top: 10px;
	color: $gray-lighten-10;

	@include breakpoint( '>660px' ) {
		margin-left: 10px;
		margin-top: 0;
		display: inline-block;
	}
}

.checkout__secure-payment-content {
	display: flex;
	align-items: center;
	justify-content: center;

	@include breakpoint( '>660px' ) {
		justify-content: left;
	}
}

.checkout__payment-chat-button-icon {
	color: $blue-wordpress;
	margin-right: 5px;
}

.checkout__payment-chat-button {
	@include breakpoint( '<660px' ) {
		width: 100%;
		text-align: center;
	}

	@include breakpoint( '>960px' ) {
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: right;
	}
}

.credits-payment-box .checkout__payment-chat-button {
	@include breakpoint( '>660px' ) {
		float: right;
	}
}

.checkout__domain-details-form-submit-button {
	clear: both;
}

.checkout__privacy-protection-price-text {
	color: $gray;
	margin: 4px 0 0;
	font-size: 15px;

	span {
		&.free-with-plan {
			text-decoration: line-through;
		}
	}
}

.checkout__privacy-protection-free-text {
	color: $alert-green;
	padding-left: 8px;
}

.checkout__credit-card-payment-box-progress-bar {
	color: $gray;
	font-size: 12px;
	padding-bottom: 1em;
	text-align: center;
}

.checkout__privacy-protection-radio {
	&.card {
		display: flex;
		flex-direction: column;
	}
}

.checkout__privacy-protection-radio-buttons {
	margin-top: 20px;
}

.checkout__privacy-protection-radio-button {
	display: flex;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.checkout__privacy-protection-radio-text {
	font-weight: normal;
	margin: 0 0 0 10px;

	span {
		&.free-with-plan {
			text-decoration: line-through;
		}
	}
}

.checkout__privacy-protection-radio-text-description {
	color: $gray-darken-20;
}

.checkout__privacy-protection-radio-price-text {
	color: $blue-wordpress;
	margin: 4px 0 0 10px;
	font-size: 15px;
}

.checkout__alternative-payment-methods {
	float: right;
}
.checkout__payment-box-container {

	.checkout__payment-box-title {
		padding: 20px 16px 14px 20px;
		font-weight: bold;
		display: none;
	}

	.select-dropdown__option {
		&:first-child {
			display: none;
		}
		.is-selected {
			background-color: $gray-light;
			color: $gray-dark;
		}
	}

	div.section-nav {
		margin-bottom: 0;

		.section-nav-tabs__list > span {
			font-weight: bold;
		}

		.section-nav-tab__link {
			color: $blue-wordpress;
			font-weight: bold;
		}

		.section-nav-tab.is-selected {
			border-bottom-color: $blue-wordpress;

			.section-nav-tab__link {
				color: $blue-wordpress;
				background-color: $gray-light;
			}
		}

		.select-dropdown__container {
			max-width: 500px;

			.select-dropdown__option {
				height: 50px;

				.select-dropdown__item {
					height: 50px;
				}
			}
		}
	}

	.checkout__provider {
		display: flex;
		align-items: center;
	}

	.checkout__paypal {
		width: 80px;
	}

	.checkout__giropay {
	  width: 80px;
      margin: -10px 0;
	}

	.checkout__bancontact {
	  width: 150px;
	  margin: -10px 0;
	}

  	.checkout__ideal {
    	width: 26px;
    	margin-bottom: 2px;
    	margin-right: 4px;
  	}

	.checkout__p24 {
		width: 80px;
		margin: -6px 0;
	}

	.checkout__alipay {
		width: 100px;
	}

	.checkout__eps{
		width: 70px;
		margin: -10px 0;
	}

	.checkout__credit-card {
		margin-right: 5px;
	}

	.select-dropdown__item-text {
		top: 4px;
		font-weight: bold;

		img {
			vertical-align: middle;
		}
	}

	@media (min-width: 481px) {
		div.section-nav {
			.section-nav-tabs__list {
				.checkout__payment-box-title {
					display: block;
				}
			}
			.section-nav-tab {
				&.is-selected {
					.section-nav-tab__link {
						color: $blue-wordpress;
						background-color: transparent;
					}
				}
			}
		}
	}

	@media (max-width: 480px) {
		.is-open .section-nav__panel {
			padding-bottom: 0;
		}
		.section-nav-group {
			margin-top: 0;
		}
	}
}
