.simpler-form.simpler-form.simpler-form.simpler-form.simpler-form.simpler-form {
    padding: 0 18px;
    max-width: 380px;
    margin: 0 auto;

    .signup-form__social {
        padding: 0;
    }

    .signup-form__separator {
        overflow: hidden;
        text-align: center;
        width: 100%;
        max-width: 400px;
        color: var( --p2-color-text-light );
        font-size: var( --p2-font-size-form-xxs );
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    .signup-form__separator::before {
        right: 0.5em;
        margin-left: -50%;
    }

    .signup-form__separator::after {
        left: 0.5em;
        margin-right: -50%;
    }

    .signup-form__separator::before,
    .signup-form__separator::after {
        background-color: var( --p2-color-border );
        content: '';
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    .button.button.button {
        border: 1px solid #dcdcde;
        box-sizing: border-box;
        /* stylelint-disable-next-line */
        border-radius: 4px; 

        font-style: normal;
        font-weight: normal;
        /* stylelint-disable-next-line */
        font-size: rem( 14px);

        letter-spacing: -0.154px;
        text-align: center;
        position: relative;
        line-height: 32px;
        padding-bottom: 6px;
        background-color: #fff;
        color: #333;
        width: 100%;
        height: auto;
        margin-bottom: 16px;

        svg {
            border: none;
            position: absolute;
            left: 0;
            top: 2px;
        }
        .gridicon {
            top: 16px;
            left: 12px;
            fill: #000;
        }
    }

    .logged-out-form {
        border: none;
        background-color: transparent;
        box-shadow: none;
        padding: 0;

        .button.button.is-primary {
            background-color: var( --color-accent );
            border-color: var( --color-accent );
            color: var( --color-text-inverted );
            margin: 24px 0 16px;
        }
    }

    .signup-form__social-buttons-tos,
    .signup-form__terms-of-service-link {
        line-height: 150%;
        letter-spacing: -0.154px;
        /* stylelint-disable-next-line */
        font-size: rem( 12px );
        color: var( --studio-gray-40 );

        a {
            color: var( --studio-gray-40 );
            text-decoration: underline;
        }
    }

    .signup-form__social-buttons-tos {
        margin: 16px 0;
    }

    .signup-form__recaptcha-tos {
        display: none;
    }

    .logged-out-form__footer {
        display: flex;
        flex-direction: column;

        .signup-form__terms-of-service-link {
            order: 2;
        }
    }
}
