.importer__import-progress {
	&.progress-bar {
		display: block;
		margin-bottom: 0.25em;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	.progress-bar__progress {
		background-color: var(--color-accent);
	}

	&.is-complete .progress-bar__progress {
		background-color: var(--color-success);
	}
}

.importer__import-progress-message {
	text-align: center;
	color: var(--color-text-subtle);
}

.importer__start {
	float: none !important;
}

.importer__import-spinner {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.importer__status-message {
	font-size: $font-body-small;
	color: var(--color-text-subtle);
	text-align: center;
	margin: 3em 0;
}
