:root {
	--p2-color-text-white: #ffffff;
	--p2-color-text: #00101c;
	--p2-color-text-red: #d63638;

	--p2-color-btn-primary: #0267ff;

	--p2-font-inter: inter -apple-system, system-ui, blinkmacsystemfont, 'Segoe UI', 'Roboto',
		'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
}
