.help-results {
	margin-top: 1px;
}

.help-results__header.card.is-compact,
.help-results__footer.card.is-compact {
	padding: 8px 16px;
}
.help-results__footer.card.is-compact {
	padding-left: 56px;
	@include breakpoint( "<480px" ) {
		padding-left: 48px;
	}
}

.help-results__header {
	font: 11px/16px $sans;
	font-weight: 600;
	text-transform: uppercase;
	color: darken( $gray, 20% );
	background: $gray-light;
}

.help-results__footer {
	font: 14px/24px $sans;
	color: $gray;
}

.help-result {
	&:hover {
		background-color: $blue-medium;
		.help-result__title,
		.help-result__description {
			color: $white;
		}
		.help-result__icon-path {
			fill: $white;
		}
	}
}

.help-result__wrapper {
	&:hover {
		background-color: $blue-medium;
	}
}

.help-result__icon {
	position: absolute;
	margin: -2px 16px 0px -8px;
}

.help-result__title {
	margin: -2px 0px 0px 32px;
	color: $blue-wordpress;
	font: 16px/20px $sans;
	font-weight: 600;
}

.help-result__description {
	color: darken( $gray, 20% );
	font: 14px/20px $sans;
	margin: 2px 0px 0px 32px;
}


