@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.dataviews-filters__view-actions {
	margin-bottom: 8px;
	padding-top: 2px;
}

.dataviews-pagination {
	background: #fff;
	border-top: 1px solid #f1f1f1;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	bottom: 0;
	color: var(--Gray-Gray-40, #787c82);
	font-size: 0.875rem;
	font-weight: 400;
	justify-content: space-between !important;
	margin-bottom: 1rem;
	padding: 12px 16px 12px 16px;
	position: fixed;
	width: calc(100% - 64px);

	.components-input-control__backdrop {
		border-color: var(--Gray-Gray-5, #dcdcde);
	}

	.components-input-control__container {
		padding: 0 5px;
	}

	@include breakpoint-deprecated( ">660px" ) {
		width: calc(100% - ( var(--sidebar-width-max) + 48px));
	}

	@include breakpoint-deprecated( ">1400px" ) {
		bottom: 0;
	}
}

.sites-dashboard {
	.dataviews-filter-summary__chip-container {
		color: var(--color-primary-60);
		height: 32px;
		white-space: nowrap;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 0;
		border-radius: 2px;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-flex;
		font-family: inherit;
		font-size: 0.813rem;  /* stylelint-disable-line */
		font-weight: 400;
		margin: 0;
		padding: 6px 4px 6px 16px;
		text-decoration: none;
		transition: box-shadow 0.1s linear;

		.dataviews-filter-summary__chip-remove {
			display: flex;
			align-items: center;
			cursor: pointer;
			fill: #757575;
			margin-left: 4px;


			svg {
				height: 22px;
				width: 22px;
			}
		}

		.dataviews-filter-summary__chip-remove:hover {
			color: var(--color-accent-60);
		}
	}

	.dataviews-filter-summary__chip-container:hover:not(:disabled) {
		box-shadow: inset 0 0 0 1px var(--color-neutral-20);
		color: var(--color-accent-60);
		background: rgba(var(--wp-admin-theme-color--rgb), 0.04);
	}

	.components-button.is-tertiary:not([aria-disabled="true"]) {
		color: var(--color-primary-60);
	}

	.sites-overview__content .dataviews-wrapper .dataviews-view-list li div div[role="gridcell"] {
		width: 100%;
	}

	.dataviews-wrapper {
		overflow-y: auto;
		max-height: calc(100vh - 210px);
	}

}

.dataviews-filter-summary__popover {

	.components-popover__content {
		display: table;
		border-collapse: collapse;
		font-size: 0.813rem; /* stylelint-disable-line */
		font-weight: 400;
		border-radius: 4px;
		box-shadow: rgb(221, 221, 221) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 0.7px 1px, rgba(0, 0, 0, 0.1) 0 1.2px 1.7px -0.2px, rgba(0, 0, 0, 0.1) 0 2.3px 3.3px -0.5px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		text-decoration: none;

		.components-flex {

			.dataviews-search-widget-listbox {

				.dataviews-search-widget-listitem {
					display: table-row;

					span {
						display: table-cell;
						white-space: nowrap;
						padding: 8px;
						box-sizing: border-box;
						vertical-align: middle;
						height: 42px; /* Height calculation: 24px for the checked icon + 16px total padding (8px top + 8px bottom) + 2px for top and bottom margins (1px each) */
					}

					span:last-child {
						padding-right: 20px;
					}

					.dataviews-search-widget-listitem-check {
						padding-right: 0;
					}

					.dataviews-search-widget-listitem-check svg {
						fill: #757575;
						display: block;
						margin-top: 1px;
					}
				}

				.dataviews-search-widget-listitem:hover {
					background: var(--color-sidebar-menu-hover-background);
					color: var(--color-sidebar-menu-hover-text);
				}
			}
		}
	}
}
