.pattern-list-renderer__pattern-list-item {
	padding: 0;

	.components-popover__content {
		white-space: normal;
		width: auto;
		max-width: 100%;
		margin: 0 auto;
	}

	// Force Tooltip from @wordpress/components to show on hover only, not on focus
	.components-popover {
		visibility: hidden;
	}

	&:hover .components-popover {
		visibility: visible;
	}
}

