@import "@automattic/typography/styles/variables";

.pattern-assembler__tooltip-dead-click {
	pointer-events: none;
	position: fixed !important;

	&-content {
		background: var(--studio-gray-100);
		border-radius: 4px;
		box-sizing: border-box;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
		color: #fff;
		font-size: $font-body-extra-small;
		left: 16px;
		opacity: 0;
		padding: 8px 10px;
		position: relative;
		top: 16px;
		white-space: nowrap;

		&--visible {
			opacity: 1;
		}
	}
}
