.pattern-assembler__pattern-action-bar {
	display: flex;
	align-items: center;
	gap: 0;
	position: absolute;
	top: 16px;
	left: 16px;
	height: 40px;
	padding: 0;
	border: 1px solid #1e1e1e;
	border-radius: 2px;
	box-sizing: border-box;
	background-color: #fff;
	z-index: 1;

	&.pattern-assembler__pattern-action-bar--overflow {
		transform: translate(-16px, calc(-100% - 16px - 12px));

		&::before {
			display: block;
		}
	}

	.pattern-action-bar__block {
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.pattern-action-bar__action {
		height: 40px;

		&.has-icon {
			min-width: 40px;
			max-width: 40px;
			padding: 0;
		}

		svg {
			fill: var(--studio-gray-80);
		}

		&:not(:disabled):hover {
			color: var(--studio-blue-50);

			svg {
				fill: var(--studio-blue-50);
			}
		}

		&--move-up,
		&--move-down {
			height: 13px;
			display: flex;
			align-items: center;
		}

		&--shuffle {
			&.has-icon {
				flex-direction: row;
				gap: 4px;
				line-height: 40px;
				max-width: none;
				padding: 0 12px;
			}
		}
	}

	> .pattern-action-bar__action:not(:first-child) {
		border-left: 1px solid #1e1e1e;
	}

	/**
	 * Increase the area of the action bar to keep the element active
	 * when hovering on the the action bar
	 */
	&::before {
		content: "";
		display: none;
		position: absolute;
		top: -12px;
		left: -12px;
		width: 100%;
		height: 100%;
		padding: 12px 12px 20px 12px;
		box-sizing: content-box;
		z-index: -1;
	}
}
