@import "@automattic/typography/styles/fonts";

.screen-activation {
	.screen-activation__heading {
		margin-bottom: 4px;
		font-size: $font-body-small;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: -0.15px;
		color: var(--color-neutral-100);
	}

	.screen-activation__description {
		font-size: $font-body-small;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: -0.15px;
		color: var(--color-neutral-100);
	}

	.screen-activation__checkbox {
		.components-base-control__field {
			display: flex;
			align-items: center;
			margin-bottom: 17px;
		}

		.components-checkbox-control__input[type="checkbox"] {
			border-color: var(--studio-gray-20);
		}
	}

	button.is-primary:disabled {
		color: var(--studio-white);
		background-color: var(--studio-gray-5);
	}
}
