@import "@automattic/typography/styles/fonts";

.screen-upsell {
	.screen-upsell__plan {
		margin: 10px 0 16px;

		.screen-upsell__plan-heading {
			margin-bottom: 8px;
			font-size: $font-title-small;
			font-weight: 500;
			line-height: 26px;
			color: var(--studio-gray-100, #101517);
		}

		.screen-upsell__plan-price {
			display: flex;

			.plan-price__integer {
				font-size: $font-title-large;
				font-weight: 500;
				color: var(--studio-gray-100, #101517);
			}

			.plan-price__currency-symbol {
				margin-top: 2px;
				font-size: $font-body;
				font-weight: 500;
				color: var(--studio-gray-100, #101517);
			}
		}

		.screen-upsell__plan-billing-time-frame {
			font-size: $font-body-extra-small;
			color: var(--studio-gray-70, #3c434a);
		}
	}

	.screen-upsell__features-heading {
		margin-bottom: 8px;
		font-size: $font-body-small;
		font-weight: 500;
		line-height: 20px;
	}

	ul.screen-upsell__features {
		margin: 0 0 40px;
		font-size: $font-body-small;
		list-style: none;

		li {
			display: flex;
			align-items: center;
			margin-top: 8px;
			gap: 16px;

			/** Highlight the “Free domain for one year” feature */
			&:first-child strong {
				font-weight: 600;
			}
		}

		strong {
			font-weight: normal;
		}

		svg {
			color: var(--studio-blue-50);
		}
	}

	.pattern-assembler__button + .pattern-assembler__button {
		margin-top: 8px;
	}
}
