.help-center__container-chat .chatbox-messages,
.help-center-article-content .help-center-feedback__form {
	.odie__transfer-chat {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: stretch;
		border: 1px solid var( --studio-gray-5 );
		border-radius: 16px;
		margin-top: 16px;

		button {
			display: flex;
			justify-content: space-between;
			padding: 16px;
			text-decoration: none;
			color: var( --studio-gray-100 );
			font-size: 0.875rem;
			font-weight: normal;
			align-items: center;
			transition: background-color 0.3s ease;
			line-height: 1.4;
			width: 100%;
			min-width: 0;
			box-sizing: border-box;
			border-bottom: 1px solid var( --studio-gray-5 );

			&:first-of-type {
				border-radius: 16px 16px 0 0;
			}

			&:last-of-type {
				border-radius: 0 0 16px 16px;
				border-bottom: none;
			}

			&:hover {
				background: color-mix( in srgb, #fff 98%, var( --wp-admin-theme-color, #3858e9 ) );
				color: var( --wp-components-color-accent, var( --wp-admin-theme-color, #3858e9 ) );
				fill: var( --wp-components-color-accent, var( --wp-admin-theme-color, #3858e9 ) );
				cursor: pointer;
			}

			.odie__transfer-chat--wait-time {
				font-size: 0.75rem;
				color: var( --studio-gray-50 );
				align-content: center;
			}
		}
	}

	.help-center__notice.cookie-warning {
		margin-top: 16px;
	}
}
