.editor-post-type {
	color: lighten( $gray, 10% );
	font-size: 11px;
	margin: 5px 0;
	text-align: center;
	text-transform: uppercase;

	&.is-loading {
		@include placeholder;
	}
}

@include breakpoint( "<480px" ) {
	.editor-post-type {
		display: none;
	}
}
