.backup-storage-space-upsell__title-text {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 16px;
}

a.backup-storage-space-upsell__button {
	color: #1e1e1e;
}

.backup-storage-space-upsell__button {
	border: 2px solid var( --studio-jetpack-green );
	border-radius: 2px;
	padding: 16px 24px;
	width: 100%;
	height: 100%;
	font-size: 1rem;

	&:hover {
		background: var( --color-accent-0 );
	}
}

.backup-storage-space-upsell__grid {
	display: grid;
	grid-template-columns: auto min-content;
	align-items: center;
	width: 100%;
	text-align: left;

	.gridicons-arrow-right {
		color: var( --studio-jetpack-green );
	}
}

.backup-storage-space-upsell__status-text {
	margin-bottom: 0.25rem;
}

.backup-storage-space-upsell__action-text {
	font-weight: bold;
}
