.backup-storage-space-upsell__title-text {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 16px;
}

.backup-storage-space-upsell__button.components-button {
	color: var( --color-text );
}

.backup-storage-space-upsell__button {
	border: 2px solid var( --studio-jetpack-green );
	border-radius: 4px;
	padding: 16px 24px;
	width: 100%;
	height: 100%;
	font-size: $font-body;

	&:hover,
	&:focus {
		background: none;

		.backup-storage-space-upsell__action-text {
			text-decoration: underline;
			text-decoration-thickness: 2px;
		}

		.backup-storage-space-upsell__action-arrow {
			transform: translateX( 8px );
		}
	}

	&:focus {
		box-shadow: none;
	}
}

.backup-storage-space-upsell__grid {
	display: grid;
	grid-template-columns: auto min-content;
	align-items: center;
	width: 100%;
	text-align: left;

	.gridicons-arrow-right {
		color: var( --color-primary );
	}
}

.backup-storage-space-upsell__status-text {
	margin-bottom: 0.25rem;
}

.backup-storage-space-upsell__action-text {
	font-weight: bold;
}

.backup-storage-space-upsell__action-arrow {
	transition: transform 0.15s ease-out;

	color: var( --studio-jetpack-green );
	font-size: $font-title-medium;
	font-weight: 600;
}
